<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="${catalog.Meta_Keywords}" />
	<meta name="description" content="${catalog.Meta_Description}" />
	<title>${catalog.meta_title}-${site.Meta_Keywords}</title>
	<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/redesign/re_header.css"/>
	<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/money/new_money.css"/>
	<cms:include file="block/kxb_custom_header.shtml" />
</head>

<body>

	<cms:include file="block/kxb_header_index_new_v2.shtml" />
	<!--位置信息 开始-->
<div class="wrapper">
		<div class="daohang">
			<span class="daohang_home"></span>
			<cms:link type="currentPosition"></cms:link>
		</div>
	</div>
<!--位置信息 结束-->
	<div class="money_warper cf">
		<div class="money_nav cf">
			<ul class="money_main_nav cf">
				<li class="mon_nav1">
					<a href="${Site.URL}/touzi-licai/">理财首页</a>
				</li>
				<li class="mon_nav2">
					<a href="${Site.URL}/touzi-licai/zhishi/" class="active">如何理财</a>
				</li>
				<li class="mon_nav3">
					<a href="${Site.URL}/touzi-licai/guihua/">理财规划</a>
				</li>
			</ul>
		</div> 
	<div class="money_warper_up">
		<div class="money_flash money_flash2 cf" >

			<div id="change_32" class="changeBox_a1">
			<cms:list item="Image"  cmsorder="1" name="如何理财广告" count="4">
			    <a target="_blank" class="a_bigImg" href="${Image.wangzhi}">
					<img src="${Site.StaticResourcePath}/${Image.Path}${Image.SrcFileName}" width="980" height="250"  alt=""/>
				</a>
			</cms:list>
				<a class="a_last" title="上一个" href="#">上一个</a>
				<a class="a_next" title="下一个" href="#">下一个</a>
				<ul class="ul_change_a2">
				<cms:list item="Image" cmsorder="2" name="如何理财广告" count="4">
				    <li>
						<span class="">&nbsp;</span>
					</li>
				</cms:list>
				</ul>
			</div>

		</div>
		<h2 class="money_ztitle cf">投资理财知识</h2>
		<div class="how_money_box cf">

			<div class="how_money_boxl">
				<img src="${Site.StaticResourcePath}/images/money/how_money_07.jpg" width="320" height="210"  alt=""/>
				<ul class="money_uls">
					<cms:list name="理财资讯"  cmsorder="3" item="article" level="all"count="6" tag="投资理财" type="rand">
					    <li class="money_lis">
							<a target="_blank" href="${Site.URL}/${Article.URL}" >${article.title|CharWidth=22}</a>
						</li>
					</cms:list>
				</ul>
			</div>
			<div class="how_money_boxr">
			<cms:list item="article"  cmsorder="4" name="理财资讯" level="all" count="5" tag="投资 如何理财" type="modifyzx">
				<dl class="licai_list">
						<dt  class="licai_list_tit">
							<a target="_blank" href="${Site.URL}/${Article.URL}">${article.title|CharWidth=22}</a>
						</dt>
						<dd class="licai_list_dd">
							<a target="_blank" href="${Site.URL}/${Article.URL}" rel="nofollow">${article.summary|CharWidth=100}</a>
						</dd>
				</dl>
			</cms:list>
			</div>
		</div>
		<h2 class="money_ztitle cf">保险理财知识</h2>
		<div class="how_money_box cf">

			<div class="how_money_boxl">
				<img src="${Site.StaticResourcePath}/images/money/how_money_11.jpg" width="320" height="210"  alt=""/>
				<ul class="money_uls">
				    <cms:list name="理财资讯"  cmsorder="5" item="article" level="all" count="6" tag="保险理财" type="rand">
					    <li class="money_lis">
							<a target="_blank" href="${Site.URL}/${Article.URL}">${article.title|CharWidth=22}</a>
						</li>
					</cms:list>
				</ul>
			</div>
			<div class="how_money_boxr">
				<cms:list item="article"  cmsorder="6" name="理财资讯" level="all" count="5" tag="保险如何理财" type="modifyzx">
					<dl class="licai_list">
							<dt  class="licai_list_tit">
								<a target="_blank" href="${Site.URL}/${Article.URL}">${article.title|CharWidth=22}</a>
							</dt>
							<dd class="licai_list_dd">
								<a target="_blank" href="${Site.URL}/${Article.URL}" rel="nofollow">${article.summary|CharWidth=100}</a>
							</dd>
					</dl>
				</cms:list>
			</div>
		</div>
		<h3 class="money_hot cf">热门推荐</h3>
		<div class="money_tj_box money_tj_up cf">
		  
		    <cms:list item="article"  cmsorder="7" level="all" count="2" hasAttribute="hot,newRecommend" name="理财保险">
				<dl class="money_tj <% if(i==0) write("money_bor_bg");%>">
				<dd>
					<h2 class="money_tj_titile">
						<a target="_blank" href="${Site.URL}/${Article.URL}">${article.title|CharWidth=15}</a>
					</h2>
					<p class="money_tj_des">${article.ERiskFeatures|CharWidth=60}</p>

				</dd>
				<dd class="money_tj_bom">
					<p class="money_tj_sy">
						预期年化收益率 <em>${article.ProfitRate}</em>
					</p>
					<a target="_blank" href="${Site.URL}/${Article.URL}" class="money_tj_go">查看详情</a>
				</dd>
				</dl>
          	 </cms:list>
			
		</div>
	</div>
</div>
	<div class="clear"></div>

<cms:include file="block/kxb_footer_new_common.shtml"></cms:include>
<cms:include file="block/community_v1.shtml" />

<script type="text/javascript" src="${Site.JsResourcePath}/js/jquery.soChange-min.js"></script>
<script src="${Site.JsResourcePath}/js/money.js"></script> 
</body>
</html>