@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}

body {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0 auto;
	padding: 0;
}

a:link,a:visited,a:active {
	color: #000;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #000;
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
}

img {
	border: 0px;
}

.font_f {
	font-size: 14px;
	font-family: "黑体";
}

.font_f:link,.font_f:visited,.font_f:active {
	text-decoration: none;
	color: #666666;
	font-size: 14px;
}

.font_f:hover {
	text-decoration: none;
	color: #CC6600;
	font-size: 14px;
}

.wrapper {
	width: 980px;
	margin: 0 auto;
}

.input {
	width: 146px;
	height: 32px;
	line-height: 32px;
	float: left;
	margin-left: 12px;

	/*background-image:url(../images/input.png); width:146px; height:32px; line-height:32px; float:left; margin-left:12px;*/
}

.toplink {
	width: 980px;
	margin: 0 auto;
	height: 31px;
	border-bottom: 1px solid #ccc;
}

.toplinkleft {
	width: 420px;
	float: left;
	height: 31px;
	line-height: 31px;
}

.toplinkleft span,.toplinkleft em {
	padding-right: 4px;
}

.toplinkleft span {
	color: #999;
}

.toplinkleft a:link,.toplinkleft a:visited,toplinkleft a:active {
	color: #999;
	text-decoration: none;
}

.toplinkleft a:hover {
	color: #999;
	text-decoration: underline;
}

.toplinkright {
	width: 560px;
	float: right;
	height: 31px;
	line-height: 31px;
	text-align: right;
}

.toplinkright span {
	padding-right: 4px;
	color: #999;
}

.head {
	height: 79px;
	border-bottom: 5px solid #F6BE01;
	width: 980px;
	margin: 0 auto;
}

.logo {
	width: 300px;
	float: left;
	height: 79px;
}

.logo img {
	margin-left: 6px;
	margin-top: 9px;
}

.headsearch {
	width: 395px;
	float: left;
	height: 79px;
}

.headserv {
	width: 186px;
	float: left;
	background: url(../image/headserv.gif) no-repeat 0 19px;
	height: 79px;
}

.headbuy {
	width: 99px;
	float: left;
	height: 69px;
	padding-top: 10px;
}

.headbuybtn01 {
	
}

.headbuybtn01 {
	padding-top: 3px;
}

.headbuycount {
	background: url(../image/headbuycontbg.gif) no-repeat;
	width: 24px;
	height: 17px;
	display: block;
	color: #fff;
	text-align: center;
	margin-top: -73px;
	margin-left: 65px;
	margin-left: 65px !important;
	_margin-left: 65px;
	position: relative;
}

*+html .headbuycount {
	margin-left: 65px !important;
	margin-top: -76px !important;
}

.headsearchinputarea {
	width: 360px;
	height: 36px;
	background: url(../image/headsearchbg.gif) no-repeat 0 16px;
	padding-top: 16px;
}

.headsearchinput {
	margin-left: 3px;
	margin-top: 3px;
	height: 22px;
	line-height: 22px;
	width: 263px;
	border: 1px solid #fff;
	background: none;
}

.headsearchbtn {
	width: 78px;
	height: 30px;
	border: none;
	cursor: pointer;
	margin-left: 9px;
	margin-top: 3px;
	background: url(../image/headsearchbtnbg.gif) repeat-x;
	font-size: 14px;
	font-weight: bold;
}

.headsearchkeyword {
	color: #999;
	padding-top: 9px;
}

.headsearchkeyword span {
	padding-right: 6px;
}

.nav {
	height: 63px;
	border-bottom: 1px solid #ccc;
	width: 980px;
	margin: 0 auto;
}

.navcont {
	height: 63px;
	width: 230px;
	background: url(../image/navbg.gif) repeat-x;
	float: left;
}

.navcont h3 {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #E0762C;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	background: url(../image/navtitbg01.gif) no-repeat 0 7px;
	padding-left: 14px;
}

.navcont h3 a:link,.navcont h3 a:visited,.navcont h3 a:active {
	font-size: 14px;
	color: #E0762C;
	text-decoration: none;
}

.navcont h3 a:hover {
	font-size: 14px;
	color: #E0762C;
	text-decoration: underline;
}

.navcont ul li {
	float: left;
	padding-right: 7px;
	color: #ccc;
	padding-top: 6px;
	height: 30px;
}

.navmarg {
	margin-left: 20px;
}

.navico01 img {
	margin-top: -4px;
	_margin-top: -41px;
	margin-left: -183px;
	_margin-left: 40px;
	position: inherit;
}

.navico02 img {
	margin-top: -12px;
	_margin-top: -47px;
	margin-left: -40px;
	_margin-left: 180px;
	position: inherit;
}

.navico03 img {
	margin-top: -4px;
	_margin-top: -41px;
	margin-left: -76px;
	_margin-left: 129px;
	position: inherit;
}

.adarea {
	width: 980px;
	margin: 0 auto;
	margin-top: 10px;
}

.ad01 {
	float: left;
}

.ad02 {
	float: left;
	margin-left: 10px;
}

.ad03 {
	float: right;
}

.ad04 {
	margin-top: 10px;
}

.ad05 {
	width: 980px;
	margin: 0 auto;
	margin-top: 10px;
}

.ad09 {
	margin-top: 15px;
}

.part1 {
	width: 980px;
	margin: 0 auto;
	margin-top: 10px;
}

.part1left {
	width: 230px;
	float: left;
}

.part1center {
	width: 481px;
	float: left;
	margin-left: 19px;
}

.part1right {
	width: 230px;
	float: right;
}

.part2 {
	width: 980px;
	margin: 0 auto;
	margin-top: 10px;
}

.part2left {
	width: 230px;
	float: left;
}

.part2center {
	width: 481px;
	float: left;
	margin-left: 19px;
}

.part2right {
	width: 230px;
	float: right;
}

.part3 {
	width: 980px;
	margin: 0 auto;
	margin-top: 10px;
}

.part3left {
	width: 730px;
	float: left;
}

.part3right {
	width: 230px;
	float: right;
}

.part4 {
	width: 980px;
	margin: 0 auto;
	margin-top: 10px;
}

.part4left {
	width: 730px;
	float: left;
}

.part4right {
	width: 230px;
	float: right;
}

.part5 {
	width: 980px;
	margin: 0 auto;
	margin-top: 10px;
}

.part5left {
	width: 730px;
	float: left;
}

.part5right {
	width: 230px;
	float: right;
}

.tjcp {
	height: 32px;
	line-height: 32px;
	background: #F98504;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-indent: 12px;
}

.tjcpcont {
	border: 1px solid #ccc;
	border-top: none;
}

.tjcpone h4 a:link,.tjcpone h4 a:visited,.tjcpone h4 a:active {
	font-weight: bold;
	text-decoration: none;
}

.tjcpone h4 a:hover {
	font-weight: bold;
	text-decoration: underline;
}

.tjcponeleft {
	width: 54px;
	float: left;
	padding-top: 6px;
	border-bottom: 1px solid #ccc;
	height: 56px;
}

.tjcponeleft img {
	border: 1px solid #ccc;
	padding: 1px;
}

.tjcponeright {
	padding-top: 6px;
	float: left;
	width: 156px;
	border-bottom: 1px solid #ccc;
	height: 56px;
}

.zeng {
	background: url(../image/ico02.gif) no-repeat 0 6px;
	padding-left: 22px;
	padding-top: 6px;
}

.tjcponeright span em {
	color: #CD2B2B;
	font-weight: bold;
	padding-left: 6px;
}

.produ01 {
	width: 730px;
	height: 191px;
	border-top: 2px solid #F98504;
	border-right: 1px solid #ccc;
	background: url(../image/indexprodubg01.gif) no-repeat;
}

.produ02 {
	width: 730px;
	height: 191px;
	border-top: 2px solid #F6BE01;
	border-right: 1px solid #ccc;
	background: url(../image/indexprodubg02.gif) no-repeat;
	margin-top: 10px;
}

.produ03 {
	width: 730px;
	height: 191px;
	border-top: 2px solid #9B5811;	
	border-right: 1px solid #ccc;
	background: url(../image/indexprodubg03.gif) no-repeat;
	margin-top: 10px;
}

.proleft {
	width: 140px;
	height: 191px;
	float: left;
}

.proleft a:link,.proleft a:visited,.proleft a:active {
	display: block;
	width: 140px;
	height: 20px;
	margin-top: 170px;
}

.proleft a:hover {
	display: block;
	width: 140px;
	height: 20px;
	margin-top: 170px;
}

.proright {
	width: 566px;
	float: right;
	padding: 0 12px;
	padding-right: 0px;
}

.produli {
	width: 260px;
	float: left;
	margin-right: 16px;
}

.produli h1 {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}

.produli h1 a:link,.produli h1 a:visited,.produli h1 a:active {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.produli h1 a:hover {
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}

.produli h2 {
	background: url(../image/indexprodubg.gif) no-repeat 36px 14px;
	height: 82px;
	padding-left: 36px;
	padding-top: 14px;
}

.sp01 {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
}

.sp01 img {
	padding: 2px;
}

.sp02 {
	display: block;
	float: left;
	width: 98px;
	height: 50px;
}

.sp02 img {
	padding: 2px;
}

.sp03 {
	display: block;
	float: left;
	width: 51px;
	height: 50px;
}

.sp03 img {
	padding: 2px;
}

.produli h3 {
	color: #999;
	text-indent: 24px;
	line-height: 21px;
}

.insinfor {
	border: 1px solid #ccc;
	border-top: none;
	height: 310px;
}

.insinfortit {
	background: url(../image/insinfortit.gif) no-repeat;
	width: 230px;
	height: 32px;
	line-height: 32px;
	text-align: right;
}

.insinfortit span {
	padding-right: 12px;
}

.insinforone {
	margin: 0 12px;
	border-bottom: 2px solid #ccc;
	padding-bottom: 6px;
}

.insinforone h3 {
	font-weight: bold;
	height: 28px;
	line-height: 28px;
	overflow: hidden;
}

.insinforone h3 a:link,.insinforone h3 a:visited,.insinforone h3 a:active
	{
	font-weight: bold;
	text-decoration: none;
}

.insinforone h3 a:hover {
	font-weight: bold;
	text-decoration: underline;
}

.insinforone p {
	color: #999;
	line-height: 20px;
}

ul.liststyle01 {
	margin: 0 12px;
	padding-bottom: 9px;
}

ul.liststyle01 li {
	height: 31px;
	line-height: 31px;
	border-bottom: 1px dotted #ccc;
	padding-left: 2px;
	overflow: hidden;
}

ul.liststyle02 {
	margin: 0 12px;
	padding-bottom: 9px;
	margin-left: 0;
}

ul.liststyle02 li {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px dotted #ccc;
	padding-left: 21px;
	overflow: hidden;
	background: url(../image/listico01.gif) no-repeat 6px 11px;
}

ul.liststyle03 {
	
}

ul.liststyle03 li {
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	width: 80px;
	float: left;
	background: url(../image/listico02.gif) no-repeat 16px 9px;
	padding-left: 29px;
	overflow: hidden;
}

ul.liststyle04 {
	margin: 0 12px;
	padding-bottom: 9px;
}

ul.liststyle04 li {
	height: 31px;
	line-height: 31px;
	border-bottom: 1px dotted #ccc;
	padding-left: 14px;
	overflow: hidden;
}

ul.liststyle05 {
	margin: 0 12px;
	padding-bottom: 9px;
}

ul.liststyle05 li {
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
}

ul.liststyle06 {
	margin: 0 12px;
	padding-bottom: 0px;
	margin-left: 3px;
}

ul.liststyle06 li {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
}

span.rank01,span.rank02,span.rank03,span.rank04,span.rank05 {
	height: 29px;
	display: block;
	overflow: hidden;
}

span.rank01 a:link,span.rank01 a:visited,span.rank01 a:active {
	background: url(../image/top5ico.gif) no-repeat 0px 6px;
	padding-left: 23px;
	height: 29px;
	line-height: 29px;
	display: block;
}

span.rank01 a:hover {
	background: url(../image/top5ico.gif) no-repeat 0px -144px;
	padding-left: 23px;
	height: 29px;
	line-height: 29px;
	display: block;
}

span.rank02 a:link,span.rank02 a:visited,span.rank02 a:active {
	background: url(../image/top5ico.gif) no-repeat 0px -22px;
	padding-left: 23px;
	height: 29px;
	line-height: 29px;
	display: block;
}

span.rank02 a:hover {
	background: url(../image/top5ico.gif) no-repeat 0px -173px;
	padding-left: 23px;
	height: 29px;
	line-height: 29px;
	display: block;
}

span.rank03 a:link,span.rank03 a:visited,span.rank03 a:active {
	background: url(../image/top5ico.gif) no-repeat 0px -51px;
	padding-left: 23px;
	height: 29px;
	line-height: 29px;
	display: block;
}

span.rank03 a:hover {
	background: url(../image/top5ico.gif) no-repeat 0px -202px;
	padding-left: 23px;
	height: 29px;
	line-height: 29px;
	display: block;
}

span.rank04 a:link,span.rank04 a:visited,span.rank04 a:active {
	background: url(../image/top5ico.gif) no-repeat 0px -82px;
	padding-left: 23px;
	height: 29px;
	line-height: 29px;
	display: block;
}

span.rank04 a:hover {
	background: url(../image/top5ico.gif) no-repeat 0px -232px;
	padding-left: 23px;
	height: 29px;
	line-height: 29px;
	display: block;
}

span.rank05 a:link,span.rank05 a:visited,span.rank05 a:active {
	background: url(../image/top5ico.gif) no-repeat 0px -112px;
	padding-left: 23px;
	height: 29px;
	line-height: 29px;
	display: block;
}

span.rank05 a:hover {
	background: url(../image/top5ico.gif) no-repeat 0px -261px;
	padding-left: 23px;
	height: 29px;
	line-height: 29px;
	display: block;
}

.infor01 {
	width: 240px;
	height: 283px;
	border-right: 1px dotted #ccc;
	border-top: 2px solid #F98504;
	float: left;
}

.infor02 {
	width: 240px;
	height: 283px;
	border-right: 1px dotted #ccc;
	border-top: 2px solid #F98504;
	float: left;
	margin-left: 3px;
}

.infor03 {
	width: 240px;
	height: 283px;
	border-top: 2px solid #F98504;
	float: left;
	margin-left: 3px;
}

.infortit01 {
	height: 39px;
	border-bottom: 1px solid #ccc;
}

.infortit01 img {
	margin-top: 9px;
	margin-left: 6px;
}

.more01 {
	height: 39px;
	line-height: 39px;
	margin-top: -39px;
	padding-right: 9px;
	text-align: right;
}

.more02 {
	text-align: right;
	padding-right: 12px;
	height: 40px;
	line-height: 40px;
}

.more03 {
	text-align: right;
	padding-right: 16px;
	height: 32px;
	line-height: 32px;
}

.more04 {
	text-align: right;
	padding-right: 6px;
	height: 32px;
	line-height: 32px;
	margin-top: -32px;
}

.qa {
	border-bottom: 2px solid #50673B;
}

.qa01 {
	height: 192px;
	background: url(../image/qabg.gif) no-repeat;
}

.qaq {
	padding-left: 40px;
	padding-top: 27px;
	color: #fff;
	padding-right: 12px;
	line-height: 21px;
	height: 42px;
	overflow: hidden;
}

.qaa {
	padding-left: 40px;
	padding-top: 7px;
	color: #fff;
	padding-right: 12px;
	line-height: 21px;
	height: 42px;
	overflow: hidden;
}

.cooperationtit {
	height: 32px;
}

.cooperationtit img {
	margin-top: 5px;
}

.cooprationcont {
	border-top: 2px solid #F98504;
	border-bottom: 1px solid #ccc;
	width: 720px;
}

.crbtnleft {
	width: 38px;
	height: 132px;
	float: left;
}

.crcont {
	width: 644px;
	height: 132px;
	float: left;
}

.crbtnright {
	width: 38px;
	height: 132px;
	float: right;
}

.frdlinktit {
	height: 32px;
	width: 230px;
}

.frdlinktit img {
	margin-top: 5px;
}

.frdlinkcont {
	width: 230px;
	border: 1px solid #ccc;
	border-top: 2px solid #F98504;
	padding-top: 12px;
}

.footwrap {
	width: 100%;
	height: 264px;
	border-top: 5px solid #F98504;
	background: #F2F2F2;
	margin-top: 39px;
}

.botlink {
	width: 978px;
	border: 1px solid #ccc;
	background: #fff;
	margin: 0 auto;
	margin-top: 16px;
	padding: 10px 0px;
	height: 124px;
}

.botlinkcont {
	width: 194px;
	float: left;
	border-right: 1px solid #ccc;
	height: 130px;   /*2012-10-12 新加的高度  调整FOOT竖线出框问题*/
}

.botlinkcont h3 {
	border-bottom: 1px solid #ccc;
	margin: 0px 10px;
	font-size: 14px;
	font-weight: bold;
	color: #E1762C;
	padding-left: 16px;
	padding-bottom: 6px;
	background: url(../image/ico01.gif) no-repeat 0px 6px;
}

.botlink02 {
	width: 980px;
	margin: 0 auto;
	margin-top: 17px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 12px;
	height: 20px;
}

.botlink02 ul {
	padding-left: 270px;
}

.botlink02 ul li {
	float: left;
	padding-right: 12px;
	color: #999;
}

.copyright {
	width: 980px;
	margin: 0 auto;
	padding-top: 12px;
}

.copyrightleft {
	width: 490px;
	float: left;
}

.copyrightright {
	width: 490px;
	float: right;
	text-align: right;
}

.daohang {
	width: 978px;
	height: 33px;
	_height: 31px;
	border: 1px solid #ccc;
	background: url(../images/Bg_1.gif) 0 -200px repeat-x;
	text-align: left;
	margin-top: 10px;
}

.daohang_home {
	display: block;
	float: left;
	width: 16px;
	height: 14px;
	background: url("../images/Ico_Home.gif");
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.daohang a,.daohang .separator {
	display: block;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 14px;
	font-family: "黑体";
	color: #666666;
}
.daohang a,.daohang .separator1 {
	display: block;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 12px;
	
}

.daohang p{
	display: block;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 13px;
	font-family: "黑体";
}

.insquery {
	width: 978px;
	margin: 0 auto;
	height: 63px;
	border: 1px solid #ccc;
	margin-top: 10px;
	background: url(../image/insquerybg.gif) repeat-x bottom;
}

.insquery h3 {
	width: 300px;
	float: left;
}

.insquery h3 img {
	margin-left: 27px;
	margin-top: 21px;
}

.insquery select {
	width: 120px;
	margin-left: 20px;
	height:23px;
	margin-bottom: 8px;
}

.insquery_text {
	margin-top:10px;
	margin-left:20px;
	width: 250px;
	height:19px;
	border: 1px solid #A9D9FD;
	margin-bottom: 8px;
	padding-top:2px;
	vtical-align:middle;
}

.insquerybtn {
	width: 70px;
	height: 30px;
	border: none;
	cursor: pointer;
	margin-left: 25px;
	margin-top: 12px;
	background: url(../image/insquerybtn.gif) no-repeat;
	margin-bottom: 8px;
}

.sul01 {
	width: 136px;
	float: left;
	margin-right: 6px;
}

hr {
	height: 100%;
}

.clear {
	background: none;
	clear: both;
	font-size: 0px;
	line-height: 0px;
}

h1,h2,h3,h4,h5,h6,p,ul,li,div,form,dl,dt,dd {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

ul,li {
	list-style: none;
}

i,em {
	font-style: normal;
}

img {
	border: 0;
}

table,td,th {
	border-collapse: collapse;
}

a:link,a:visited,a:active {
	color: #000;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: #000;
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.h6 {
	clear: both;
	font-size: 1px;
	height: 6px;
	line-height: 6px;
}

.h8 {
	clear: both;
	font-size: 1px;
	height: 8px;
	line-height: 1px;
}

.h10 {
	clear: both;
	font-size: 1px;
	height: 10px;
	line-height: 1px;
}

.h20 {
	clear: both;
	height: 20px;
}

.h30 {
	clear: both;
	height: 30px;
}

.h40 {
	clear: both;
	height: 40px;
}

.h50 {
	clear: both;
	height: 50px;
}

.h60 {
	clear: both;
	height: 60px;
}

.h70 {
	clear: both;
	height: 70px;
}

.h80 {
	clear: both;
	height: 80px;
}

.h90 {
	clear: both;
	height: 90px;
}

.h100 {
	clear: both;
	height: 100px;
}

.clear {
	background: none;
	clear: both;
	font-size: 0px;
	line-height: 0px;
}

.indent {
	text-indent: 24px;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.bgwhite {
	background: #fff;
}

.spanl span {
	padding-left: 20px;
}

.spanr span {
	padding-right: 20px;
}

.indent12 {
	text-indent: 24px;
}

.indent14 {
	text-indent: 28px;
}

.fontlink {
	color: #333;
}

.fontlink a:link,.fontlink a:visited,.fontlink a:active {
	color: #333;
	text-decoration: underline;
}

.fontlink a:hover {
	color: #666;
	text-decoration: underline;
}

.graylink {
	color: #666;
}

.font12 {
	font-size: 12px;
}

.font12 a:link,.font12 a:visited,.font12 a:active {
	font-size: 12px;
	text-decoration: none;
}

.font12 a:hover {
	font-size: 12px;
	text-decoration: underline;
}

.font14 {
	font-size: 14px;
}

.font14 a:link,.font14 a:visited,.font14 a:active {
	font-size: 14px;
	text-decoration: none;
}

.font14 a:hover {
	font-size: 14px;
	text-decoration: underline;
}

.red {
	color: #FF0000;
}

.red a:link,.red a:visited,.red a:active {
	color: #FF0000;
	font-size: 12px;
	text-decoration: none;
}

.red a:hover {
	color: #FF0000;
	font-size: 12px;
	text-decoration: underline;
}

.redd {
	color: #C00;
	font-size: 12px;
}

.redd a:link,.redd a:visited,.redd a:active {
	color: ##C00;
	font-size: 12px;
	text-decoration: none;
}

.redd a:hover {
	color: #C00;
	font-size: 12px;
	text-decoration: underline;
}

.redd14 {
	color: #cc0000;
}

.redlin14 a:link,.redlin14 a:visited,.redlin14 a:active {
	color: #cc0000;
	font-size: 14px;
	text-decoration: none;
}

.redlin14 a:hover {
	color: #cc0000;
	font-size: 14px;
	text-decoration: underline;
}

.green {
	color: #009933;
	font-size: 12px;
}

.green a:link,.green a:visited,.green a:active {
	color: #009933;
	font-size: 12px;
	text-decoration: none;
}

.green a:hover {
	color: #009933;
	font-size: 12px;
	text-decoration: underline;
}

.dred {
	color: #CC0000;
}

.orange {
	color: #FF6600;
}

.orange a:link,.orange a:visited,.orange a:active {
	color: #FF6600;
	font-size: 12px;
	text-decoration: none;
}

.orange a:hover {
	color: #FF6600;
	font-size: 12px;
	text-decoration: underline;
}

.orange14 {
	color: #FF6600;
	font-size: 14px;
}

.orange14 a:link,.orange14 a:visited,.orange14 a:active {
	color: #FF6600;
	font-size: 14px;
	text-decoration: none
}

.orange14 a:hover {
	color: #FF6600;
	font-size: 14px;
	text-decoration: underline;
}

.oranged {
	color: #E87400;
}

.oranged a:link,.oranged a:visited,.oranged a:active {
	color: #E87400;
	font-size: 12px;
	text-decoration: none;
}

.oranged a:hover {
	color: #E87400;
	font-size: 12px;
	text-decoration: underline;
}

.blue {
	color: #0066CC;
}

.blue a:link,.blue a:visited,.blue a:active {
	color: #0066CC;
	text-decoration: none;
}

.blue a:hover {
	color: #66CCFF;
	text-decoration: underline;
}

.blue14 {
	color: #0066CC;
	font-size: 14px;
}

.blue14 a:link,.blue14 a:visited,.blue14 a:active {
	color: #0066CC;
	text-decoration: none;
	font-size: 14px;
}

.blue14 a:hover {
	color: #66CCFF;
	text-decoration: underline;
	font-size: 14px;
}

.bluelink {
	color: #0066CC;
}

.bluelink a:link,.bluelink a:visited,.bluelink a:active {
	color: #0066CC;
	text-decoration: underline;
}

.bluelink a:hover {
	color: #66CCFF;
	text-decoration: underline;
}

.dblue {
	color: #0A3F8D;
}

.dblue a:link,.dblue a:visited,.dblue a:active {
	color: #0A3F8D;
	text-decoration: none;
}

.dblue a:hover {
	color: #0A3F8D;
	text-decoration: underline;
}

.gray {
	color: #666;
}

.gray a:link,.gray a:visited,.gray a:active {
	color: #666;
	text-decoration: none;
}

.gray a:hover {
	color: #666;
	text-decoration: underline;
}

.graylink {
	color: #666;
}

.graylink a:link,.graylink a:visited,.graylink a:active {
	color: #666;
	text-decoration: underline;
}

.graylink a:hover {
	color: #999;
	text-decoration: underline;
}

.fontunderline {
	color: #333;
	text-decoration: underline;
}

.fontunderline a:link,.fontunderline a:visited,.fontunderline a:active {
	color: #333;
	text-decoration: underline;
}

.fontunderline a:hover {
	color: #333;
	text-decoration: underline;
}

.blackunderline {
	color: #4d4d4d;
	text-decoration: underline;
}

.blackunderline a:link,.blackunderline a:visited,.blackunderline a:active
	{
	color: #4d4d4d;
	text-decoration: underline;
}

.blackunderline a:hover {
	color: #FF6600;
	text-decoration: underline;
}

.hand {
	cursor: hand;
}

.bgwhite {
	background: #fff;
}

.bggray {
	background: #eee;
}

.bggray2 {
	background: #f6f6f6;
}

.bggray3 {
	background: #E6E6E6;
}

.bglblue {
	background: #EFF5FE;
}

.bglblue {
	background: #EFF5FE;
}

.bglblue2 {
	background: #D1EAFE;
}

.bgorange {
	background: #FCF3E2;
}

.bgyellow {
	background: #FCF5E4;
}

.bodrbot {
	border-bottom: 1px solid #ccc;
}

.bodrtop {
	border-top: 1px solid #ccc;
}

.margt8 {
	margin-top: 8px;
}

.pl3 {
	padding-left: 3px;
}

.pl6 {
	padding-left: 6px;
}

.pl10 {
	padding-left: 10px;
}

.pl16 {
	padding-left: 16px;
}

.pr3 {
	padding-right: 3px;
}

.pr6 {
	padding-right: 6px;
}

.pr10 {
	padding-right: 10px;
}

.pr16 {
	padding-right: 16px;
}

.floatl {
	float: left;
}

.floatr {
	float: right;
}

ul.navsubul01 {
	width: 130px;
}

ul.navsubul01 li {
	
}

ul.navsubul02 {
	width: 130px;
}

ul.navsubul02 li {
	
}

ul.navsubul03 {
	width: 110px;
	padding-left: 10px;
	padding-right: 10px;
}

ul.navsubul03 li {
	width: 50px;
	float: left;
}

ul.navsubul04 {
	width: 110px;
	padding-left: 10px;
	padding-right: 10px;
}

ul.navsubul04 li {
	width: 50px;
	float: left;
}

ul.navsubul05 {
	width: 150px;
}

ul.navsubul05 li {
	width: 50px;
	float: left;
}

ul.navsubul06 {
	width: 120px;
	margin-right: 30px;
}

ul.navsubul06 li {
	
}

ul.navsubul01 a:link,ul.navsubul01 a:visited,ul.navsubul01 a:active {
	color: #744D24;
	text-decoration: none;
	font-size: 14px;
	font-family: "黑体";
}

ul.navsubul01 a:hover {
	color: #FF6600;
	text-decoration: none;
	font-size: 14px;
	font-family: "黑体";
}

ul.navsubul02 a:link,ul.navsubul02 a:visited,ul.navsubul02 a:active {
	color: #744D24;
	text-decoration: none;
	font-size: 14px;
	font-family: "黑体";
}

ul.navsubul02 a:hover {
	color: #FF6600;
	text-decoration: none;
	font-size: 14px;
	font-family: "黑体";
}

ul.navsubul03 a:link,ul.navsubul03 a:visited,ul.navsubul03 a:active {
	color: #744D24;
	text-decoration: none;
	font-size: 14px;
	font-family: "黑体";
}

ul.navsubul03 a:hover {
	color: #FF6600;
	text-decoration: none;
	font-size: 14px;
	font-family: "黑体";
}

ul.navsubul04 a:link,ul.navsubul04 a:visited,ul.navsubul04 a:active {
	color: #744D24;
	text-decoration: none;
	font-size: 14px;
	font-family: "黑体";
}

ul.navsubul04 a:hover {
	color: #FF6600;
	text-decoration: none;
	font-size: 14px;
	font-family: "黑体";
}

ul.navsubul05 a:link,ul.navsubul05 a:visited,ul.navsubul05 a:active {
	color: #744D24;
	text-decoration: none;
	font-size: 14px;
	font-family: "黑体";
}

ul.navsubul05 a:hover {
	color: #FF6600;
	text-decoration: none;
	font-size: 14px;
	font-family: "黑体";
}

ul.navsubul06 a:link,ul.navsubul06 a:visited,ul.navsubul06 a:active {
	color: #744D24;
	text-decoration: none;
	font-size: 14px;
	font-family: "黑体";
}

ul.navsubul06 a:hover {
	color: #FF6600;
	text-decoration: none;
	font-size: 14px;
	font-family: "黑体";
}

.banner_l ul li.nw01 {
	_width: 130px;
}

.banner_l ul li.nw02 {
	_width: 130px;
}

.banner_l ul li.nw03 {
	_width: 130px;
}

.banner_l ul li.nw04 {
	_width: 135px;
}

.banner_l ul li.nw05 {
	_width: 135px;
}

.banner_l ul li.nw06 {
	_width: 130px;
}

.link ul li.botlinkico01 {
	width: 160px;
	list-style: none;
	background-position: -4px -100px;
	background-image: url(../images/yellow_pic.gif);
	background-repeat: no-repeat;
	height: 50px;
	line-height: 50px;
}

.link ul li.botlinkico02 {
	width: 160px;
	list-style: none;
	background-position: -4px -55px;
	background-image: url(../images/yellow_pic.gif);
	background-repeat: no-repeat;
	height: 50px;
	line-height: 50px;
}

.link ul li.botlinkico03 {
	width: 160px;
	list-style: none;
	background-position: -4px -5px;
	background-image: url(../images/yellow_pic.gif);
	background-repeat: no-repeat;
	height: 50px;
	line-height: 50px;
}

.link ul li.botlinkico04 {
	width: 160px;
	list-style: none;
	background-position: -4px -150px;
	background-image: url(../images/yellow_pic.gif);
	background-repeat: no-repeat;
	height: 50px;
	line-height: 50px;
}

.link ul li.botlinkico05 {
	width: 160px;
	list-style: none;
	background-position: -4px -200px;
	background-image: url(../images/yellow_pic.gif);
	background-repeat: no-repeat;
	height: 50px;
	line-height: 50px;
}

.IndexColumnArea_3 {
	
}

.FocusPicArea_1 {
	padding-top: 15px;
	padding-bottom: 10px;
}

.IndexColumnArea_4 {
	background: url(../images/IndexImg.gif) 0 -242px no-repeat;
	width: 496px;
	height: 135px;
}

.IndexColumnArea_4 h4 {
	color: #2E368E;
	font-size: 14px;
	font-weight: bold;
	padding-top: 70px;
	padding-left: 190px;
}

.IndexColumnArea_4 h5 {
	padding-left: 190px;
	padding-top: 10px;
}

.IndexColumnArea_4 h5 .InputTxtArea {
	border: 1px solid #676767;
	height: 29px;
	line-height: 29px;
	color: #58595B;
	font-size: 14px;
	font-weight: bold;
	text-indent: 5px;
	margin-right: 2px;
}

.IndexColumnArea_4 h5 .Btn_1 {
	background: url(../images/BtnImg.gif) 0 -421px no-repeat;
	width: 107px;
	height: 31px;
	border: none;
	cursor: pointer;
}

.FocusPicArea_2 {
	padding-top: 10px;
}

.IndexColumnArea_5 {
	border: 5px solid #FAAF40;
	background: #FFFCC7;
	height: 125px;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 10px;
}

.IndexColumnArea_5 h2 {
	margin-top: 10px;
	margin-left: 15px;
	color: #F05A28;
	font-size: 15px;
	font-weight: bold;
}

.IndexColumnArea_5 h5 {
	float: left;
	margin-top: 10px;
	padding-left: 15px;
	width: 90px;
	color: #58595B;
}

.IndexColumnArea_5 h5 .Btn_2 {
	background: url(../images/BtnImg.gif) 0 -481px no-repeat;
	width: 69px;
	height: 24px;
	border: none;
	margin-top: 5px;
}

.IndexColumnArea_5 .ImgArea {
	float: left;
	width: 110px;
}

.IndexColumnArea_1 {
	width: 244px;
}

.IndexColumnArea_1 .TitleArea {
	background: url(../images/IndexImg.gif) 0 0 no-repeat;
	width: 244px;
	height: 43px;
}

.IndexColumnArea_1 .ColumnCont {
	border: 1px solid #f6931e;
}

.IndexColumnArea_1 .ColumnCont .TabTitleArea {
	background: url(../images/IndexImgBgLine.gif) 0 0 repeat-x;
	height: 25px;
	line-height: 25px;
	border-bottom: 1px solid #4d4d4d;
}

.IndexColumnArea_1 .ColumnCont .TabTitleArea li {
	float: left;
	padding-left: 6px;
	padding-right: 6px;
	font-family: '黑体';
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	cursor: pointer;
	height: 24px;
	line-height: 24px;
}

.IndexColumnArea_1 .ColumnCont .TabTitleArea li.Active {
	color: #000;
	background: #fff;
	border: 1px solid #4d4d4d;
	border-width: 0 1px;
	border-bottom: 1px solid #fff;
	position: relative;
	cursor: default;
}

.IndexColumnArea_1 .ColumnCont .TxtListArea ul {
	margin: 0;
	padding: 0;
}

.IndexColumnArea_1 .ColumnCont .TxtListArea li {
	text-align: center;
	padding: 0;
	margin: 0;
	clear: both;
}

.IndexColumnArea_1 .ColumnCont .TxtListArea li .ListNumberID_1 {
	width: 20px;
	float: left;
	background: #fc6f1f;
	color: #fff;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #e6e6e6;
}

.IndexColumnArea_1 .ColumnCont .TxtListArea li .ListNumberID_2 {
	width: 20px;
	float: left;
	background: #fd9524;
	color: #fff;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #e6e6e6;
}

.IndexColumnArea_1 .ColumnCont .TxtListArea li .ListNumberID_3 {
	width: 20px;
	float: left;
	background: #fbc63c;
	color: #fff;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #e6e6e6;
}

.IndexColumnArea_1 .ColumnCont .TxtListArea li .ListNumberID {
	width: 20px;
	float: left;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #e6e6e6;
}

.IndexColumnArea_1 .ColumnCont .TxtListArea li .ListTxt {
	float: left;
	border-left: 1px solid #cccccc;
	text-align: left;
	width: 210px;
	height: 44px;
	padding-left: 10px;
	font-family: '黑体';
	font-size: 15px;
	overflow: hidden;
	line-height: 44px;
	border-bottom: 1px solid #e6e6e6;
}

.valueStar,.valueStar i {
	background: url(../images/StarImg.gif) no-repeat 0 -30px;
	width: 62px;
	height: 12px;
	overflow: hidden;
	display: inline-block;
	margin: 0px 0px 0 0px;
	padding-right: 5px;
	Font-size: 1.08em
}

.valueStar i {
	background-position: 0 0px;
	overflow: hidden;
}

.searchInput {
	float: left;
	border: 1px solid #FFA309;
	height: 23px;
	padding-top: 7px;
	width: 270px;
	color: #666666;
	padding-left: 5px;
}

.logo_l {
	width: 440px;
	height: 107px;
	float: left;
	background-image: url(../images/logo.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}

/* CSS Document */
html,body,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style: none;
	font-style: normal;
}

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

.clear {
	height: 0;
	font-size: 0;
	line-height: 0;
	clear: both;
}

img {
	border: none;
}

.clearfix {
	display: block
}

.clearinl {
	display: inline-block;
}

input,textarea {
	outline: none;
	resize: none;
}
/*table{border-collapse:collapse;border-spacing:0}*/
a {
	color: #3a3a3a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.pos {
	position: relative;
}

.posA {
	position: absolute;
}

.fms {
	font-family: 宋体;
}

.fb {
	font-weight: bold;
}

.fn {
	font-weight: normal;
}

.f12 {
	font-size: 12px;
}

.f14 {
	font-size: 14px;
}

.f16 {
	font-size: 16px;
}

.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.tdlt {
	text-decoration: line-through
}

.tu {
	text-decoration: underline;
}

.lh150 {
	line-height: 150%;
}

.lh180 {
	line-height: 180%;
}

.lh200 {
	line-height: 200%;
}

.Height3 {
	height: 3px;
	line-height: 3px;
	font-size: 3px;
}

.w1000 {
	width: 1000px;
	margin: 0 auto;
}

.w1007 {
	width: 1007px;
	margin: 0 auto;
}

.w1030 {
	width: 1030px;
	margin: 0 auto;
}

.w190 {
	width: 190px;
}

.w244 {
	width: 244px;
}

.w245 {
	width: 245px;
}

.w496 {
	width: 496px;
}

.w757 {
	width: 757px;
}

.w800 {
	width: 780px;
}

.mr5 {
	margin-right: 5px;
}

.mr8 {
	margin-right: 8px;
}

.mr10 {
	margin-right: 10px;
}

.mr20 {
	margin-right: 20px;
}

.mt8 {
	margin-top: 8px;
}

.mt10 {
	margin-top: 10px;
}

.mt20 {
	margin-top: 20px;
}

.mt55 {
	margin-top: 60px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb20 {
	margin-bottom: 20px;
}

.ml10 {
	margin-left: 10px;
}

.pl20 {
	padding-left: 25px;
}

.fontCo11,.fontCo11 a {
	color: #ff0000;
	text-decoration: none;
} /*  红		*/
.fontCo11 a:hover {
	text-decoration: underline;
}

.fontCo12,.fontCo12 a {
	color: #0066cb;
	text-decoration: none;
} /*  蓝		*/
.fontCo12 a:hover {
	text-decoration: underline;
}

.fontCo13,.fontCo13 a {
	color: #808080;
	text-decoration: none;
} /*  灰		*/
.fontCo13 a:hover {
	text-decoration: underline;
}

.YellowLine {
	border-bottom: 1px solid #d9e021;
}

/*翻页样式*/
.PageArea {
	text-align: right;
	margin: 10px 0;
	color: #7c7879;
	height: 35px;
}

.PageArea ul {
	line-height: 23px;
	height: 23px;
	float: right;
	margin-right: 0px;
}

.PageArea li {
	float: left;
	border: 1px solid #cccccc;
	margin: 0 3px 0 0;
	padding: 0 8px;
}

.PageArea li.Active {
	border: none;
}

.PageArea li.Active a {
	color: #ff6600;
	font-weight: bold;
}

.PageArea li.Num {
	border: none;
	margin-right: 30px;
}

@charset "utf-8";
/* CSS Document */
.IndexColumnArea_2 {
	width: 244px;
}

.IndexColumnArea_2 .TitleArea {
	background: url(../images/IndexImg.gif) 0 -63px no-repeat;
	width: 242px;
	height: 35px;
	border: 1px solid #94451a;
	border-width: 1px 1px 0 1px;
	line-height: 35px;
	font-family: '黑体';
	font-size: 15px;
	color: #fff;
	text-shadow: -1px -1px 1px #6D2908;
	text-indent: 20px;
}

.IndexColumnArea_2 .ColumnCont {
	border: 1px solid #f6931e;
	border-width: 0px 1px 1px 1px;
}

.IndexColumnArea_2 .ColumnCont h4 {
	font-size: 15px;
	font-weight: bold;
	padding: 10px 15px;
}

.IndexColumnArea_2 .ColumnCont h5 {
	color: #FF0000;
	font-size: 12px;
	font-weight: bold;
	text-indent: 25px;
	background: url(../images/IndexImg.gif) 0 -120px no-repeat;
	height: 20px;
	line-height: 20px;
	margin-left: 15px;
}

.IndexColumnArea_2 .ColumnCont h6 {
	background: url(../images/IndexImg.gif) 0 -160px no-repeat;
	height: 40px;
	line-height: 40px;
	text-indent: 50px;
	margin-left: 15px;
	padding-bottom: 0px;
}

.IndexColumnArea_2 .ColumnCont h6 span {
	padding: 3px 10px;
	border: 1px solid #666666;
	margin-left: 15px;
	text-decoration: line-through;
	color: #B3B3B3;
}

.IndexColumnArea_2 .ColumnCont h6 strong {
	padding: 3px 10px;
	border: 1px solid #666666;
	border-width: 1px 1px 1px 0;
	background: #FFF3D6;
	color: #ED1C24;
}

.InquiryArea {
	background: url(../images/BtnImg.gif) 0px -728px no-repeat;
	width: 996px;
	height: 65px;
	margin-top: 10px;
}

.InquiryArea .ColumnCont {
	padding-top: 25px;
	padding-left: 214px;
}

.InquiryArea .ColumnCont select {
	width: 134px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #666;
	margin-left: 15px;
	float: left;
}

.InquiryArea .ColumnCont input {
	width: 100px;
	height: 35px;
	float: right;
	margin-right: 5px;
	background: none;
	border: none;
	cursor: pointer;
}

.IndexColumnArea_6 {
	background: url(../images/wholellifebg.jpg) 0 0 no-repeat;
	width: 1000px;
	height: 219px;
}

ul.wllink {
	padding-top: 130px;
}

ul.wllink li {
	display: block;
	float: left;
	width: 120px;
	height: 60px;
	cursor: pointer;
}

ul.wllink li a:link,ul.wllink li a:visited,ul.wllink li a:active {
	display: block;
	width: 120px;
	height: 60px;
	cursor: pointer;
}

ul.wllink li a:hover {
	display: block;
	width: 120px;
	height: 60px;
	cursor: pointer;
}

li.wll01 {
	margin-left: 20px;
}

li.wll02 {
	margin-left: 6px;
}

li.wll03 {
	margin-left: 9px;
}

li.wll04 {
	margin-left: 9px;
}

li.wll05 {
	margin-left: 9px;
}

li.wll06 {
	margin-left: 9px;
}

li.wll07 {
	margin-left: 12px;
}

.wlcont01 {
	background: url(../images/wholellifebg01.jpg) 0 0 no-repeat;
	width: 1000px;
	height: 199px;
	margin-top: -219px;
}

.wlcont02 {
	background: url(../images/wholellifebg02.jpg) 0 0 no-repeat;
	width: 1000px;
	height: 199px;
	margin-top: -219px;
}

.wlcont03 {
	background: url(../images/wholellifebg03.jpg) 0 0 no-repeat;
	width: 1000px;
	height: 199px;
	margin-top: -219px;
}

.wlcont04 {
	background: url(../images/wholellifebg04.jpg) 0 0 no-repeat;
	width: 1000px;
	height: 199px;
	margin-top: -219px;
}

.wlcont05 {
	background: url(../images/wholellifebg05.jpg) 0 0 no-repeat;
	width: 1000px;
	height: 199px;
	margin-top: -219px;
}

.wlcont06 {
	background: url(../images/wholellifebg06.jpg) 0 0 no-repeat;
	width: 1000px;
	height: 199px;
	margin-top: -219px;
}

.wlcont07 {
	background: url(../images/wholellifebg07.jpg) 0 0 no-repeat;
	width: 1000px;
	height: 199px;
	margin-top: -219px;
}

.IndexColumnArea_7 {
	
}

.IndexColumnArea_8 {
	margin-bottom: 5px;
}

.IndexColumnArea_8 .ColumnBg_1 {
	background: url(../images/IndexImg_2.gif) 0 0px no-repeat;
	width: 757px;
	height: 270px;
	position: relative;
}

.IndexColumnArea_8 .ColumnBg_2 {
	background: url(../images/IndexImg_2.gif) 0 -310px no-repeat;
	width: 757px;
	height: 270px;
	position: relative;
}

.IndexColumnArea_8 .ColumnBg_3 {
	background: url(../images/IndexImg_2.gif) 0 -630px no-repeat;
	width: 757px;
	height: 270px;
	position: relative;
}

.IndexColumnArea_8 .ColumnBg_1 .CornerIco,.IndexColumnArea_8 .ColumnBg_2 .CornerIco,.IndexColumnArea_8 .ColumnBg_3 .CornerIco
	{
	position: absolute;
	background: url(../images/Bg_2.gif) -430px -330px no-repeat;
	width: 102px;
	height: 106px;
	top: 0px;
	left: 651px;
}

.IndexColumnArea_8 .TitleArea {
	float: left;
	width: 200px;
	height: 265px; /* position:relative;*/
}

.IndexColumnArea_8 .TitleArea img {
	padding-top: 20px;
	padding-left: 16px;
}

.IndexColumnArea_8 .TitleArea h1 {
	font-size: 20px;
	color: #fff;
	text-shadow: -1px -1px 1px #351804;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
}

.IndexColumnArea_8 .TitleArea .Btn_3 {
	background: none;
	width: 117px;
	height: 35px;
	border: none;
	margin-top: 14px;
	cursor: pointer;
}
/*.IndexColumnArea_8 .TitleArea .Btn_4{background:none; width:117px; height:35px; border:none; margin-top:14px; cursor:pointer;}
.IndexColumnArea_8 .TitleArea .Btn_5{bottom:10px; position: absolute; background:url(../images/BtnImg.gif) -283px -528px no-repeat; width:117px; height:35px; border:none; left:40px; cursor:pointer;}*/
.IndexColumnArea_8 .ColumnCont {
	float: left;
	width: 540px;
	padding-top: 20px;
}

.IndexColumnArea_8 .ColumnCont .ContListArea {
	padding: 10px 20px 8px 10px;
	height: 105px;
}

.IndexColumnArea_8 .ColumnCont .ContListArea .PhotoArea {
	float: left;
	margin-right: 25px;
}

.IndexColumnArea_8 .ColumnCont .ContListArea .TxtListArea {
	float: left;
	width: 400px;
	margin-top: 0px;
}

.IndexColumnArea_8 .ColumnCont .ContListArea .TxtListArea h3 {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 5px;
	color: #222222;
}

.IndexColumnArea_8 .ColumnCont .ContListArea .TxtListArea .valueStar {
	
}

.IndexColumnArea_8 .ColumnCont .ContListArea .TxtListArea .valueStar,.valueStar i
	{
	background: url(../images/StarImg.gif) no-repeat 0 -30px;
	width: 62px;
	height: 12px;
	overflow: hidden;
	display: inline-block;
	margin: 0px 0px 0 0px;
	padding-right: 5px;
	Font-size: 1.08em
}

.IndexColumnArea_8 .ColumnCont .ContListArea .TxtListArea .valueStar i {
	background-position: 0 0px;
	overflow: hidden;
}

.IndexColumnArea_8 .ColumnCont .ContListArea .TxtListArea .PhotoImg {
	float: right;
	margin-right: 20px;
}

.IndexColumnArea_8 .ColumnCont .ContListArea .TxtListArea .TxtArea {
	line-height: 20px;
	color: #808185;
	font-size: 12px;
	margin-top: 13px;
}

.IndexColumnArea_9 {
	
}

.IndexColumnArea_9 .TitleArea {
	background: url(../images/Bg_2.gif) 0 -197px no-repeat;
	height: 34px;
	line-height: 34px;
	font-family: '微软雅黑';
	font-size: 16px;
	color: #fff;
	text-shadow: -1px -1px 1px #810C0C;
	text-indent: 25px;
}

.IndexColumnArea_9 .TitleArea .TitleTxt {
	float: left;
	height: 34px;
	line-height: 34px;
	font-family: "微软雅黑", "黑体";
	font-size: 16px;
	color: #fff;
}

.IndexColumnArea_9 .TitleArea .TitleMore {
	float: right;
	padding-right: 5px;
	background: url(../images/BtnImg.gif) -356px -594px no-repeat;
	width: 44px;
	height: 29px;
}

.IndexColumnArea_9 .TitleArea .TitleMore a {
	display: block;
	text-decoration: none;
	width: 44px;
	height: 24px;
}

.IndexColumnArea_9 .ColumnCont {
	border: 1px solid #f6931e;
}

.IndexColumnArea_9 .ColumnCont .TxtListArea {
	padding-bottom: 5px;
}

.IndexColumnArea_9 .ColumnCont .TxtListArea ul {
	
}

.IndexColumnArea_9 .ColumnCont .TxtListArea li {
	height: 37px;
	line-height: 37px;
	border-top: 1px dashed #faaf3c;
	padding-left: 15px;
	padding-right: 10px;
	color: #404041;
}

.IndexColumnArea_9 .ColumnCont .TxtListArea .FirstTitleArea {
	border: none;
	height: auto;
	line-height: 20px;
	padding-bottom: 5px;
	background: #ffefd8;
	max-height: 113px;
	min-height: 113px;
	height: 113px;
}

.IndexColumnArea_9 .ColumnCont .TxtListArea .FirstTitleArea h4 {
	color: #000;
	font-weight: bold;
	line-height: 34px;
	background: url(../images/IndexImg.gif) 0 -672px no-repeat;
	height: 41px;
	text-align: center;
}

.IndexColumnArea_9 .ColumnCont .TxtListArea .FirstTitleArea h5 {
	color: #6d6d6f;
	padding: 5px 10px 5px 15px;
}

.IndexColumnArea_9 .ColumnCont .TxtListArea .FirstTitleArea h5 a {
	color: #f15b29;
	text-decoration: underline;
}

.IndexColumnArea_10 {
	width: 746px;
	float: left;
	border: 1px solid #f8931d;
	background: #fff;
}

.IndexColumnArea_10 .TitleArea {
	background: url(../images/IndexImgBgLine.gif) 0 -55px repeat-x;
	height: 32px;
	line-height: 32px;
	border: 1px solid #c2272d;
}

.IndexColumnArea_10 .TitleArea li {
	float: left;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-shadow: -1px -1px 1px #810C0C;
	width: 146px;
	text-align: center;
	margin-right: 20px;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	font-family: "微软雅黑", "黑体";
	font-size: 16px;
}

.IndexColumnArea_10 .TitleArea li.Active {
	background: url(../images/Bg_2.gif) 0 -264px no-repeat;
	cursor: default;
}

.IndexColumnArea_10 .TitleArea li.TitleMore {
	float: right;
	padding-right: 0px;
	background: url(../images/BtnImg.gif) -356px -594px no-repeat;
	width: 44px;
	height: 29px;
	margin-right: 10px;
}

.IndexColumnArea_10 .TitleArea li.Hide {
	display: none;
}

.IndexColumnArea_10 .TitleArea li.TitleMore a {
	display: block;
	text-decoration: none;
	width: 44px;
	height: 24px;
}

.IndexColumnArea_10 .ContListArea ul {
	
}

.IndexColumnArea_10 .ContListArea ul.ListLeft {
	float: left;
	width: 312px;
	margin: 15px 10px;
	padding-right: 30px;
} /*2012-08-28 update*/
.IndexColumnArea_10 .ContListArea ul.ListRight {
	float: left;
	width: 330px;
	margin: 15px 10px;
}

.IndexColumnArea_10 .ContListArea li {
	border-bottom: 1px dashed #faaf3c;
	height: 38px;
	line-height: 38px;
	text-align: left;
	text-indent: 20px;
	font-size: 12px;
	color: #808080;
}

.IndexColumnArea_10 .ContListArea li a {
	color: #808080;
}

.IndexColumnArea_11 {
	width: 244px;
	float: right;
	background: #fff;
}

.IndexColumnArea_11 .TitleArea {
	background: url(../images/Bg_2.gif) 0 -320px no-repeat;
	height: 34px;
	line-height: 34px;
	font-family: '微软雅黑';
	font-size: 16px;
	color: #fff;
	text-shadow: -1px -1px 1px #810C0C;
	text-indent: 25px;
}

.IndexColumnArea_11 .TitleArea .TitleTxt {
	float: left;
	height: 34px;
	line-height: 34px;
	font-family: "微软雅黑", "黑体";
	font-size: 16px;
	color: #fff;
}

.IndexColumnArea_11 .TitleArea .TitleMore {
	float: right;
	background: url(../images/BtnImg.gif) -356px -594px no-repeat;
	width: 44px;
	height: 29px;
	margin-right: 5px;
}

.IndexColumnArea_11 .TitleArea .TitleMore a {
	display: block;
	text-decoration: none;
	width: 44px;
	height: 24px;
}

.IndexColumnArea_11 .ColumnCont {
	border: 1px solid #f7921e;
	border-top: 0;
	background: #faf5bd url(../images/Bg_2.gif) -1px -355px no-repeat;
	height: 265px;
	overflow: hidden;
	text-align: left;
}

.IndexColumnArea_11 .ColumnCont .TxtListArea li.FirstTitleArea {
	border: none;
	height: 125px;
	padding-left: 50px;
	padding-top: 28px;
	line-height: 20px;
	padding-bottom: 5px;
}

.IndexColumnArea_11 .ColumnCont .TxtListArea li.FirstTitleArea h5 {
	color: #fff;
	font-weight: bold;
	width: 160px;
	height: 40px;
	margin-bottom: 12px;
	overflow: hidden;
}

.IndexColumnArea_11 .ColumnCont .TxtListArea li {
	height: 35px;
	line-height: 35px;
	border-bottom: 1px dashed #faaf3c;
	padding-left: 25px;
	padding-right: 10px;
	color: #6d6e70;
}

.IndexColumnArea_12 {
	border: 1px solid #f7921e;
	background: #fff;
}

.IndexColumnArea_12 .TitleArea {
	height: 34px;
	line-height: 34px;
	font-family: "微软雅黑", "黑体";
	font-size: 16px;
	color: #F15A24;
	text-indent: 25px;
}

.IndexColumnArea_12 .TitleArea .TitleTxt {
	float: left;
	font-weight: bold;
	height: 34px;
	line-height: 34px;
	font-family: "微软雅黑", "黑体";
	font-size: 16px;
	color: #F15A24;
}

.IndexColumnArea_12 .TitleArea .ExplainTxt {
	float: right;
	padding-right: 5px;
	font-family: '宋体';
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	height: 34px;
	line-height: 34px;
}

.IndexColumnArea_12 .TitleArea .ExplainTxt strong {
	color: #F15A24;
}

.IndexColumnArea_12 .TitleArea .ExplainTxt a {
	font-size: 14px;
	font-weight: bold;
	text-shadow: none;
	color: #333333;
}

.IndexColumnArea_12 .TitleArea .TitleMore {
	float: right;
	padding-right: 0px;
	background: url(../images/BtnImg.gif) -356px -594px no-repeat;
	width: 44px;
	height: 29px;
	margin-right: 10px;
}

.IndexColumnArea_12 .TitleArea .TitleMore a {
	display: block;
	text-decoration: none;
	width: 44px;
	height: 24px;
}

.IndexColumnArea_12 .ColumnCont {
	text-align: left;
	margin-left: 40px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.IndexColumnArea_12 .ColumnCont img {
	margin-right: 30px;
	margin-bottom: 10px;
}

.IndexColumnArea_12 .ColumnCont a {
	height: 30px;
	line-height: 30px;
	color: #f15a25;
}

div.ListTxt a:link,div.ListTxt a:visited,div.ListTxt a:active {
	font-family: '黑体';
	font-size: 15px;
	text-decoration: none;
}

div.ListTxt a:hover {
	font-family: '黑体';
	font-size: 15px;
	text-decoration: underline;
}

/*2012-08-31 update new*/
ul.iproduli {
	background: red;
}

ul.iproduli li {
	width: 270px;
	float: left;
	height: 129px;
}

ul.iproduli li h3 {
	font-size: 14px;
	color: #555;
	overflow: hidden;
	padding-right: 22px;
	line-height: 16px;
	height: 16px;
}

ul.iproduli li h4 {
	padding-top: 6px;
	padding-bottom: 6px;
}

ul.iproduli li h5 span {
	font-size: 14px;
	color: #8A5D3B;
	width: 79px;
	height: 26px;
	border: 1px solid #ccc;
	float: left;
	line-height: 26px;
	text-align: center;
	background: url(../images/bg31.jpg) repeat-x;
}

ul.iproduli li h5 em {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #c1272d;
	width: 79px;
	height: 26px;
	border: 1px solid #ccc;
	float: left;
	line-height: 26px;
	text-align: center;
	border-left: none;
}

ul.iproduli li h6 {
	height: 26px;
	line-height: 26px;
	color: #808080;
}

ul.iproduli li h3 a:link,ul.iproduli li h3 a:visited,ul.iproduli li h3 a:active
	{
	font-size: 14px;
	color: #555;
	text-decoration: none;
}

ul.iproduli li h3 a:hover {
	font-size: 14px;
	color: #555;
	text-decoration: underline;
}

.linkt {
	width: 112px;
	height: 34px;
	margin-top: 210px;
	margin-left: 38px;
}

.linkt a:link,.linkt a:visited,.linkt a:active {
	width: 112px;
	height: 34px;
	display: block;
}

.linkt a:hover {
	width: 112px;
	height: 34px;
	display: block;
}

.ListNumberID_1 {
	width: 20px;
	float: left;
	background: #fc6f1f;
	color: #fff;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #e6e6e6;
}

.ListNumberID_2 {
	width: 20px;
	float: left;
	background: #fd9524;
	color: #fff;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #e6e6e6;
}

.ListNumberID_3 {
	width: 20px;
	float: left;
	background: #fbc63c;
	color: #fff;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #e6e6e6;
}

.ListNumberID {
	width: 20px;
	float: left;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #e6e6e6;
}

.ListTxt {
	float: left;
	border-left: 1px solid #cccccc;
	text-align: left;
	width: 210px;
	height: 44px;
	padding-left: 10px;
	font-family: '黑体';
	font-size: 15px;
	overflow: hidden;
	line-height: 44px;
	border-bottom: 1px solid #e6e6e6;
}

.ListColumnArea_1 {
	width: 244px;
}

.ListColumnArea_1 .ColumnCont {
	border: 1px solid #f6931e;
}

.ListColumnArea_1 .ColumnCont .TabTitleArea {
	background-image: url(../images/left_bg.gif);
	background-repeat: repeat-x;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
	font-weight: bolder;
	color: #FFFFFF;
	font-family: "宋体";
	text-align: center;
	text-align: left;
	text-indent: 20px;
}

.ListColumnArea_1 .ColumnCont .TxtListArea ul {
	margin: 0;
	padding: 0;
}

.ListColumnArea_1 .ColumnCont .TxtListArea li {
	text-align: center;
	padding: 0;
	margin: 0;
	clear: both;
}

.ListColumnArea_1 .ColumnCont .TxtListArea li .ListNumberID_1 {
	width: 20px;
	float: left;
	background: #fc6f1f;
	color: #fff;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #e6e6e6;
}

.ListColumnArea_1 .ColumnCont .TxtListArea li .ListNumberID_2 {
	width: 20px;
	float: left;
	background: #fd9524;
	color: #fff;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #e6e6e6;
}

.ListColumnArea_1 .ColumnCont .TxtListArea li .ListNumberID_3 {
	width: 20px;
	float: left;
	background: #fbc63c;
	color: #fff;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #e6e6e6;
}

.ListColumnArea_1 .ColumnCont .TxtListArea li .ListNumberID {
	width: 20px;
	float: left;
	height: 44px;
	line-height: 44px;
	border-bottom: 1px solid #e6e6e6;
}

.ListColumnArea_1 .ColumnCont .TxtListArea li .ListTxt {
	float: left;
	border-left: 1px solid #cccccc;
	text-align: left;
	width: 210px;
	height: 44px;
	padding-left: 10px;
	font-family: '黑体';
	font-size: 15px;
	overflow: hidden;
	line-height: 44px;
	border-bottom: 1px solid #e6e6e6;
}

.MallColumnArea_2 {
	float: left;
	width: 244px;
	margin-right: 8px;
}

.MallColumnArea_2 .TitleArea {
	background: url(../images/MallBgImg.gif) 0 -238px no-repeat;
	width: 244px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	margin-bottom: 1px;
}

.MallColumnArea_2 .TitleArea h3 {
	font-weight: bold;
	font-size: 14px;
	height: 39px;
	line-height: 39px;
}

.MallColumnArea_2 .ColumnCont {
	border: 1px solid #cccccc;
	height: 100%;
}

.MallColumnArea_2 .ColumnCont ul {
	margin: 0;
	padding: 0;
}

.MallColumnArea_2 .ColumnCont li {
	border-bottom: 1px solid #e6e6e6;
	text-align: center;
	margin-top: -2px;
}

.MallColumnArea_2 .ColumnCont li .ListNumberID_1 {
	width: 20px;
	float: left;
	background: #fc6f1f;
	color: #fff;
	height: 36px;
	padding-top: 18px;
}

.MallColumnArea_2 .ColumnCont li .ListNumberID_2 {
	width: 20px;
	float: left;
	background: #fd9524;
	color: #fff;
	height: 36px;
	padding-top: 18px;
}

.MallColumnArea_2 .ColumnCont li .ListNumberID_3 {
	width: 20px;
	float: left;
	background: #fbc63c;
	color: #fff;
	height: 36px;
	padding-top: 18px;
}

.MallColumnArea_2 .ColumnCont li .ListNumberID {
	width: 20px;
	float: left;
	height: 36px;
	padding-top: 18px;
}

.MallColumnArea_2 .ColumnCont li .ListTxt {
	float: left;
	border-left: 1px solid #cccccc;
	text-align: left;
	width: 210px;
	height: 54px;
	padding-left: 10px;
	font-family: '黑体';
	font-size: 15px;
	overflow: hidden;
}

.top5{border:1px solid #ccc; height:240px;}
.top5tit{height:30px;background:url(../image/top5titbg.gif) repeat-x bottom;}
.top5tit img{ margin-left:6px; margin-top:6px;}

.tab01{ padding-left:9px; padding-right:9px;}
.tab01 ul li{ float:left; height:50px; width:50px; text-align:center;color:#333; font-weight:bold; line-height:50px; cursor:pointer;}
.tab01 ul li.hover{ float:left; height:50px; width:50px; background:url(../image/tab01bg.gif) no-repeat bottom; color:#fff; font-weight:bold; line-height:50px;}

.wholelife{background:url(../image/wholellifebg.jpg) 0 0 no-repeat; width:980px; height:201px; margin:0 auto; margin-top:10px; padding-top:10px; text-align:left;}
ul.wllink{ padding-top:130px;width:980px; text-align:left;}
ul.wllink li{ display:block; float:left;width:120px; height:60px; cursor:pointer; float:left;}
	ul.wllink li a:link,ul.wllink li a:visited,ul.wllink li a:active{ display:block; width:120px; height:60px; cursor:pointer; background:red }
	ul.wllink li a:hover{ display:block;  width:120px; height:60px; cursor:pointer; background:blue  }
li.wll01{ margin-left:20px;}
li.wll02{ margin-left:6px;}
li.wll03{ margin-left:9px;}
li.wll04{ margin-left:9px;}
li.wll05{ margin-left:9px;}
li.wll06{ margin-left:9px;}
li.wll07{ margin-left:12px;}

.wlcont{ width:250px; height:112px; border:2px solid #E2762C; background:#EFF0E0; padding:5px;}
.wlleft{ width:98px; float:left; border-right:1px solid #E2762C; height:112px;}
.wlleft span{ display:block; background:#E2762C; height:22px; line-height:22px; text-align:center; font-size:14px; font-weight:bold; margin-top:30px; width:92px; color:#fff;}
.wlleft em{ display:block;  height:32px; line-height:32px; text-align:center; font-size:14px; font-weight:bold;  width:81px; color:#E2762C;}
.wlright{ width:143px; float:left; height:112px;margin-left:4px;}
ul.wllist{ margin-top:6px;}
ul.wllist li{ height:20px; line-height:20px; text-align:left; padding-left:6px;}
ul.wllist li span{  color:#E2762C;font-weight:bold; padding-right:6px;}
	ul.wllist li span a:link,ul.wllist li span a:visited,ul.wllist li span a:active{ color:#666; text-decoration:none; }
	ul.wllist li span a:hover{ color:#666; text-decoration:underline; }
.wlmore{ text-align:right; border-top:1px dotted #666; height:22px; line-height:22px; margin-top:6px;}

.position01{margin-left:139px; position:absolute; z-index:999999;}
.position02{margin-left:260px; position:absolute; z-index:999999; }
.position03{margin-left:381px; position:absolute; z-index:999999;}
.position04{margin-left:502px; position:absolute; z-index:999999; }
.position05{margin-left:623px; position:absolute; z-index:999999;}
.position06{margin-left:456px; position:absolute; z-index:999999;}
.position07{margin-left:576px; position:absolute; z-index:999999; }

.tabwl{ padding-left:120px; padding-right:9px; margin-top:40px;}
.tabwl ul li{ float:left; height:160px; width:120px; text-align:center;color:#333; font-weight:bold; line-height:50px; cursor:pointer;margin-right:1px;}
.tabwl ul li.hover{ float:left; height:160px; width:120px; text-align:center;color:#333; font-weight:bold; line-height:50px; cursor:pointer; margin-right:1px;}

.produli .h11 {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}

.produli .h11 a:link,.produli h11 a:visited,.produli h11 a:active {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.produli .h11 a:hover {
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}

.produli .h22 {
	background: url(../image/indexprodubg.gif) no-repeat 36px 14px;
	height: 82px;
	padding-left: 36px;
	padding-top: 14px;
}

.produli .h33 {
	color: #999;
	text-indent: 24px;
	line-height: 21px;
}

/*修改面包tree导航字体*/
daohang { width:978px; margin:0 auto; height:33px; border:1px solid #cdcdcd; background:#fff; line-height:33px; text-indent:14px; }
daohang .span{ margin-top: 9px; }
