@charset "utf-8";
/*
#@des:共用产品公司logo样式
*@maker:dongqi.guo 
*@time:2013-4-3-15:20
*@updatetime:2013-10-23-14:10 
*/
.CInsuranceCompany{display:block;width:97px;height:48px}
.icon_C1032{background:url(../images/logo/min/1032.gif)}
.icon_C1001{background:url(../images/logo/min/1001.gif)}
.icon_C1002{background:url(../images/logo/min/1002.gif)}
.icon_C1004{background:url(../images/logo/min/1004.gif)}
.icon_C1006{background:url(../images/logo/min/1006.gif)}
.icon_C1018{background:url(../images/logo/min/1018.gif)}
.icon_C1010{background:url(../images/logo/min/1010.gif)}
.icon_C1061{background:url(../images/logo/min/1061.gif)}
.icon_C1087{background:url(../images/logo/min/1087.gif)}
.icon_C2007{background:url(../images/logo/min/2007.gif)}
.icon_C2011{background:url(../images/logo/min/2011.gif)}
.icon_C2023{background:url(../images/logo/min/2023.gif)}
.icon_C2034{background:url(../images/logo/min/2034.gif)}
.icon_C1015{background:url(../images/logo/min/1015.gif)}
.icon_C2029{background:url(../images/logo/min/2029.gif)}
.icon_C1088{background:url(../images/logo/min/1088.gif)}
.icon_C2026{background:url(../images/logo/min/2026.gif)}
.icon_C2021{background:url(../images/logo/min/2021.gif)}
.icon_C2071{background:url(../images/logo/min/2071.gif)}
.icon_C1048{background:url(../images/logo/min/1048.gif)}
.icon_C1053{background:url(../images/logo/min/1053.gif)}
.icon_C1055{background:url(../images/logo/min/1055.gif)}
.icon_C2002{background:url(../images/logo/min/2002.gif)}
.icon_C2005{background:url(../images/logo/min/2005.gif)}
.icon_C2042{background:url(../images/logo/min/2042.gif)}
.icon_C2046{background:url(../images/logo/min/2046.gif)}
.icon_C2022{background:url(../images/logo/min/2022.gif)}
.icon_C2058{background:url(../images/logo/min/2058.gif)}
.icon_C2024{background:url(../images/logo/min/2024.gif)}
.icon_C2028{background:url(../images/logo/min/2028.gif)}
.icon_C1065{background:url(../images/logo/min/1065.gif)}
.icon_C1059{background:url(../images/logo/min/1059.gif)}
.icon_C1072{background:url(../images/logo/min/1072.gif)}
.icon_C1013{background:url(../images/logo/min/1013.gif)}
.icon_C1014{background:url(../images/logo/min/1014.gif)}
.icon_C1017{background:url(../images/logo/min/1017.gif)}
.icon_C1030{background:url(../images/logo/min/1030.gif)}
.icon_C1031{background:url(../images/logo/min/1031.gif)}
.icon_C1035{background:url(../images/logo/min/1035.gif)}
.icon_C1038{background:url(../images/logo/min/1038.gif)}
.icon_C1039{background:url(../images/logo/min/1039.gif)}
.icon_C1040{background:url(../images/logo/min/1040.gif)}
.icon_C1044{background:url(../images/logo/min/1044.gif)}
.icon_C1045{background:url(../images/logo/min/1045.gif)}
.icon_C1051{background:url(../images/logo/min/1051.gif)}
.icon_C1057{background:url(../images/logo/min/1057.gif)}
.icon_C2097{background:url(../images/logo/min/2097.gif)}
.icon_C0001{background:url(../images/logo/min/0001.gif)}
.icon_C0002{background:url(../images/logo/min/0002.gif)}
.icon_C0003{background:url(../images/logo/min/0003.gif)}
.icon_C0004{background:url(../images/logo/min/0004.gif)}
.icon_C0005{background:url(../images/logo/min/0005.gif)}
.icon_C0006{background:url(../images/logo/min/0006.gif)}
.icon_C2019{background:url(../images/logo/min/2019.gif)}
.icon_C1009{background:url(../images/logo/min/1009.gif)}
.icon_C1008{background:url(../images/logo/min/1008.gif)}
.icon_C2016{background:url(../images/logo/min/2016.gif)}
.icon_C2025{background:url(../images/logo/min/2025.gif)}
.icon_C2043{background:url(../images/logo/min/2043.gif)}
.icon_C1069{background:url(../images/logo/min/1069.gif)}
.icon_C2049{background:url(../images/logo/min/2049.gif)}
.icon_C1012{background:url(../images/logo/min/1012.gif)}
.icon_C1050{background:url(../images/logo/min/1050.gif)}
.icon_C1093{background:url(../images/logo/min/1093.gif)}
.icon_C1094{background:url(../images/logo/min/1094.gif)}
.icon_C2027{background:url(../images/logo/min/2027.gif)}
.icon_C2078{background:url(../images/logo/min/2078.gif)}
.icon_C1060{background:url(../images/logo/min/1060.gif)}
.icon_C1047{background:url(../images/logo/min/1047.gif)}
.icon_C1037{background:url(../images/logo/min/1037.gif)}
.icon_C1052{background:url(../images/logo/min/1052.gif)}
.icon_C1091{background:url(../images/logo/min/1091.gif)}
.icon_C1092{background:url(../images/logo/min/1092.gif)}
.icon_C2074{background:url(../images/logo/min/2074.gif)}
.icon_C2096{background:url(../images/logo/min/2096.gif)}
.icon_C2091{background:url(../images/logo/min/2091.gif)}
.icon_C2092{background:url(../images/logo/min/2092.gif)}
.icon_C2100{background:url(../images/logo/min/2100.gif)}
.icon_C1099{background:url(../images/logo/min/1099.gif)}
.icon_C1036{background:url(../images/logo/min/1036.gif)}
.icon_C1038{background:url(../images/logo/min/1038.gif)}
.icon_C0007{background:url(../images/logo/min/0007.gif)}
.icon_C2103{background:url(../images/logo/min/2103.gif)}
.icon_C2101{background:url(../images/logo/min/2101.gif)}
.icon_C2104{background:url(../images/logo/min/2104.gif)}
.icon_C2015{background:url(../images/logo/min/2015.gif)}
.icon_C2105{background:url(../images/logo/min/2105.gif)}
.icon_C2217{background:url(../images/logo/min/2217.gif)}
.icon_C2218{background:url(../images/logo/min/2218.gif)}
.icon_C2220{background:url(../images/logo/min/2220.gif)}
.icon_C2232{background:url(../images/logo/min/2232.gif)}
.icon_C2233{background:url(../images/logo/min/2233.gif)}
.icon_C2236{background:url(../images/logo/min/2236.gif)}
.icon_C2239{background:url(../images/logo/min/2239.gif)}
.icon_C2238{background:url(../images/logo/min/2238.gif)}
.icon_C2242{background:url(../images/logo/min/2242.gif)}
.icon_C2241{background:url(../images/logo/min/2241.gif)}
.icon_C2239{background:url(../images/logo/min/2217.gif)}
.icon_C2247{background:url(../images/logo/min/2247.gif)}
.icon_C2248{background:url(../images/logo/min/2248.gif)}
.icon_C2249{background:url(../images/logo/min/2249.gif)}
.icon_C2250{background:url(../images/logo/min/2250.gif)}
.icon_C2251{background:url(../images/logo/min/2251.gif)}
.icon_C2252{background:url(../images/logo/min/2252.gif)}
.icon_C2254{background:url(../images/logo/min/2254.gif)}
.icon_C2255{background:url(../images/logo/min/2255.gif)}
.icon_C2257{background:url(../images/logo/min/2257.gif)}
.icon_C2258{background:url(../images/logo/min/2258.gif)}
.icon_C2260{background:url(../images/logo/min/2260.gif)}

.companies_logo{width:203px;height:100px}
.max_icon_C1012{background:url(../images/logo/max/1012.gif)}
.max_icon_C1069{background:url(../images/logo/max/1069.gif)}
.max_icon_C2016{background:url(../images/logo/max/2016.gif)}
.max_icon_C0006{background:url(../images/logo/max/0006.gif)}
.max_icon_C2019{background:url(../images/logo/max/2019.gif)}
.max_icon_C1008{background:url(../images/logo/max/1008.gif)}
.max_icon_C1009{background:url(../images/logo/max/1009.gif)}
.max_icon_C1006{background:url(../images/logo/max/1006.gif)}
.max_icon_C1018{background:url(../images/logo/max/1018.gif)}
.max_icon_C1015{background:url(../images/logo/max/1015.gif)}
.max_icon_C1010{background:url(../images/logo/max/1010.gif)}
.max_icon_C1061{background:url(../images/logo/max/1061.gif)}
.max_icon_C1087{background:url(../images/logo/max/1087.gif)}
.max_icon_C1088{background:url(../images/logo/max/1088.gif)}
.max_icon_C2007{background:url(../images/logo/max/2007.gif)}
.max_icon_C2011{background:url(../images/logo/max/2011.gif)}
.max_icon_C2021{background:url(../images/logo/max/2021.gif)}
.max_icon_C2023{background:url(../images/logo/max/2023.gif)}
.max_icon_C2034{background:url(../images/logo/max/2034.gif)}
.max_icon_C2071{background:url(../images/logo/max/2071.gif)}
.max_icon_C1048{background:url(../images/logo/max/1048.gif)}
.max_icon_C2096{background:url(../images/logo/max/2096.gif)}
.max_icon_C1004{background:url(../images/logo/max/1004.gif)}
.max_icon_C1032{background:url(../images/logo/max/1032.gif)}
.max_icon_C2026{background:url(../images/logo/max/2026.gif)}
.max_icon_C2025{background:url(../images/logo/max/2025.gif)}
.max_icon_C2029{background:url(../images/logo/max/2029.gif)}
.max_icon_C1053{background:url(../images/logo/max/1053.gif)}
.max_icon_C1055{background:url(../images/logo/max/1055.gif)}
.max_icon_C2002{background:url(../images/logo/max/2002.gif)}
.max_icon_C2005{background:url(../images/logo/max/2005.gif)}
.max_icon_C2042{background:url(../images/logo/max/2042.gif)}
.max_icon_C2046{background:url(../images/logo/max/2046.gif)}
.max_icon_C2022{background:url(../images/logo/max/2022.gif)}
.max_icon_C2058{background:url(../images/logo/max/2058.gif)}
.max_icon_C2024{background:url(../images/logo/max/2024.gif)}
.max_icon_C2028{background:url(../images/logo/max/2028.gif)}
.max_icon_C1065{background:url(../images/logo/max/1065.gif)}
.max_icon_C1059{background:url(../images/logo/max/1059.gif)}
.max_icon_C1072{background:url(../images/logo/max/1072.gif)}
.max_icon_C1013{background:url(../images/logo/max/1013.gif)}
.max_icon_C1014{background:url(../images/logo/max/1014.gif)}
.max_icon_C1017{background:url(../images/logo/max/1017.gif)}
.max_icon_C1030{background:url(../images/logo/max/1030.gif)}
.max_icon_C1031{background:url(../images/logo/max/1031.gif)}
.max_icon_C1035{background:url(../images/logo/max/1035.gif)}
.max_icon_C1038{background:url(../images/logo/max/1038.gif)}
.max_icon_C1039{background:url(../images/logo/max/1039.gif)}
.max_icon_C1040{background:url(../images/logo/max/1040.gif)}
.max_icon_C1044{background:url(../images/logo/max/1044.gif)}
.max_icon_C1045{background:url(../images/logo/max/1045.gif)}
.max_icon_C1051{background:url(../images/logo/max/1051.gif)}
.max_icon_C2097{background:url(../images/logo/max/2097.gif)}
.max_icon_C1050{background:url(../images/logo/max/1050.gif)}
.max_icon_C2027{background:url(../images/logo/max/2027.gif)}
.max_icon_C1060{background:url(../images/logo/max/1060.gif)}
.max_icon_C1047{background:url(../images/logo/max/1047.gif)}
.max_icon_C0005{background:url(../images/logo/max/0005.gif)}
.max_icon_C1037{background:url(../images/logo/max/1037.gif)}
.max_icon_C1052{background:url(../images/logo/max/1052.gif)}
.max_icon_C0001{background:url(../images/logo/max/0001.gif)}
.max_icon_C1001{background:url(../images/logo/max/1001.gif)}
.max_icon_C1002{background:url(../images/logo/max/1002.gif)}
.max_icon_C1091{background:url(../images/logo/max/1091.gif)}
.max_icon_C1092{background:url(../images/logo/max/1092.gif)}
.max_icon_C1094{background:url(../images/logo/max/1094.gif)}
.max_icon_C1093{background:url(../images/logo/max/1093.gif)}
.max_icon_C2074{background:url(../images/logo/max/2074.gif)}
.max_icon_C2043{background:url(../images/logo/max/2043.gif)}
.max_icon_C2078{background:url(../images/logo/max/2078.gif)}
.max_icon_C2049{background:url(../images/logo/max/2049.gif)}
.max_icon_C1057{background:url(../images/logo/max/1057.gif)}
.max_icon_C0002{background:url(../images/logo/max/0002.gif)}
.max_icon_C0004{background:url(../images/logo/max/0004.gif)}
.max_icon_C0003{background:url(../images/logo/max/0003.gif)}
.max_icon_C2091{background:url(../images/logo/max/2091.gif)}
.max_icon_C2092{background:url(../images/logo/max/2092.gif)}
.max_icon_C2100{background:url(../images/logo/max/2100.gif)}
.max_icon_C1099{background:url(../images/logo/max/1099.gif)}
.max_icon_C1036{background:url(../images/logo/max/1036.gif)}
.max_icon_C1038{background:url(../images/logo/max/1038.gif)}
.max_icon_C0007{background:url(../images/logo/max/0007.gif)}
.max_icon_C2103{background:url(../images/logo/max/2103.gif)}
.max_icon_C2101{background:url(../images/logo/max/2101.gif)}
.max_icon_C2104{background:url(../images/logo/max/2104.gif)}
.max_icon_C2015{background:url(../images/logo/max/2015.gif)}
.max_icon_C2105{background:url(../images/logo/max/2105.gif)}
.max_icon_C2217{background:url(../images/logo/max/2217.gif)}
.max_icon_C2218{background:url(../images/logo/max/2218.gif)}
.max_icon_C2220{background:url(../images/logo/max/2220.gif)}
.max_icon_C2232{background:url(../images/logo/max/2232.gif)}
.max_icon_C2233{background:url(../images/logo/max/2233.gif)}
.max_icon_C2236{background:url(../images/logo/max/2236.gif)}
.max_icon_C2239{background:url(../images/logo/max/2239.gif)}
.max_icon_C2238{background:url(../images/logo/max/2238.gif)}
.max_icon_C2242{background:url(../images/logo/max/2242.gif)}
.max_icon_C2241{background:url(../images/logo/max/2241.gif)}
.max_icon_C2239{background:url(../images/logo/max/2217.gif)}
.max_icon_C2247{background:url(../images/logo/max/2247.gif)}
.max_icon_C2248{background:url(../images/logo/max/2248.gif)}
.max_icon_C2250{background:url(../images/logo/max/2250.gif)}
.max_icon_C2251{background:url(../images/logo/max/2251.gif)}
.max_icon_C2249{background:url(../images/logo/max/2249.gif)}
.max_icon_C2250{background:url(../images/logo/max/2250.gif)}
.max_icon_C2252{background:url(../images/logo/max/2252.gif)}
.max_icon_C2254{background:url(../images/logo/max/2254.gif)}
.max_icon_C2255{background:url(../images/logo/max/2255.gif)}
.max_icon_C2257{background:url(../images/logo/max/2257.gif)}
.max_icon_C2258{background:url(../images/logo/max/2258.gif)}
.max_icon_C2260{background:url(../images/logo/max/2260.gif)}
