@charset "utf-8";
/*
#@des:首页样式
*@maker:dongqi.guo
*@time:2015-6-25
*/
.g-weaper{ width:980px;}
.g-weaper1200{ width: 980px;}
.g-Home-banner{ width: 783px;}
.g-screen-tag{ width: 322px;}
.g-Guess-p{ width: 635px;}
.g-Guess-ul li{ width: 100px;}
.g-screen-tagul{ width: 77px;}
.g-screen-mod{  width: 234px;}
.divselect,.divselect cite{ width: 122px; background:url("../../images/redesign/home_isp_01.png") no-repeat 15px -775px}
.divselect ul{ width: 126px;}
.g-screen-btn{ width: 210px;}
.g-in-box{ width: 854px;}
.g-in-ul{ width: 95px;}
.g-in-shop{ width: 490px;}
.m-in-shopdes{ margin-left:32px;}
.m-in-box{ width: 243px;}
.g-eb-shop{ width: 242px;}
.m-in-img{ margin-left: 72px;}
.g-in-tit{ width: 875px;}
.g-claims{ width:720px;}
.g-strategy{ width:240px; }
.g-brand-logo{ width: 930px;    margin-left: 28px;}
.m-footer-dl{ margin-left: 40px;}
.g-screen-input{ width: 126px;}
.g-eb-shop{ width: 246px;}
.g-eb-dl{ padding-left: 55px;}
.g-eb-num{ left: 9px;}
.g-eb-go{ right: 27px;}
.g-screen-btn2{ width: 57px;}
.g-screen-input2{ width: 70px;}
.g-screen-td2{ width: 75px;}
.g-screen-td{width: 80px;}
.m-search{ width: 183px;}
.m-search-input{ width: 90px;}
    /*窄屏*/
  .g-intro.nar-screen { width: 509px; margin-left: 20px; border-right: 1px solid #e7e7e7; border-left: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7; }
  .g-intro.nar-screen .f-swiper { width: 509px;border-bottom: none; height: 286px; }
  .g-intro.nar-screen .swiper-slide { width: 509px; height: 286px; }
  .g-intro.nar-screen  .f-tagul4 { position:absolute; left: 30%; bottom: 30px; font-size: 0; height: 18px; overflow: hidden; float: none; width: 120px; border: none; background: none; z-index: 9999999; }
  .g-intro.nar-screen  .f-tagul4 span{ float: left; margin-right: 5px; border: none; width: 18px; height: 18px; line-height: 18px; background:url(../../images/redesign/home_isp_01.png) no-repeat  0 -843px; cursor: pointer; line-height: 0; }
  .g-intro.nar-screen  .f-tagul4 .swiper-active-switch { background-position: 0 -882px; }
  .g-intro.nar-screen  .f-incon4 { border-left: 1px solid #eee; margin-left: 20px; width: 496px; height: 286px;padding-left: 12px; }
  .g-intro.nar-screen .f-right { float: left; }
  .g-intro.nar-screen .f-icon { display: block; position: absolute; top:130px; left: 270px; width: 13px; height: 26px; z-index: 999999; }
  .g-intro.nar-screen .f-right img { width: 239px; height: 286px; margin-left: 10px; } 
  .g-intro.nar-screen .f-left { padding-left: 0; }
  .g-intro.nar-screen .t-ttl { padding-left: 20px; }
  .g-intro.nar-screen .t-list { padding-left: 20px; }
  .ac_results1{ width: 128px;}
  .code_wechar{ margin-left: 40px;}
  .codewechar{ margin-left: 20px;}
  .g-f-left{ width: 544px;}
  .g-footer2 .m-footer-dl{ width:84px}