<% DataTable dt_24 = TemplateData.getDocList("article","9413","current","newRecommend","null","1","null","null","null");
  if(dt_24==null){write("没有找到栏目。parent：null  catalog："+"9413");}else{
 int rdCnt=dt_24.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow article_24  = dt_24.getDataRow(i);
 int rdIdx=i;
%>

                    <p class="rnews_prg ellipsis">${article_24.title}</p>
                    <ul class="product_list">
                        ${article_24.DutyHTMLV3}
                    </ul>
                    <p class="prd_price rnews_prg"><span>￥</span><span name="R_Ajax_Prict_${article_24.RiskCode}">${article_24.InitPrem}</span></p>
                    <a class="prd_detail" href="${article_24.link}" target="_blank">去看看</a>
                    <%}}%>