<% DataTable dt_6 = TemplateData.getDocList("article","9459","current","hot","null","4","null","null","null");
  if(dt_6==null){write("没有找到栏目。parent：null  catalog："+"9459");}else{
 int rdCnt=dt_6.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow article_6  = dt_6.getDataRow(i);
 int rdIdx=i;
%>

	                        	<% if(i==0){%>
                        			<li class="cur">
		                                <a class="rnews_tl" href="${article_6.Link}" >${article_6.Title}</a>
		                                <p class="rnews_prg">${article_6.metadescription|CharWidth=38}</p>
		                                <a class="more_detail" href="${article_6.Link}">【详情】</a>
		                            </li>
                        		<% } else {%>
                        			<li>
		                                <a href="${article_6.Link}" >${article_6.Title}</a>
		                            </li>
                        		<% }%>
	                        <%}}%>