<% DataTable dt_11 = TemplateData.getDocList("article","保险知识/家财保险知识","current","null","firstpublish","5","null","null","12");
  if(dt_11==null){write("没有找到栏目。parent：null  catalog："+"保险知识/家财保险知识");}else{
 int rdCnt=dt_11.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow article_11  = dt_11.getDataRow(i);
 int rdIdx=i;
%>

				 			<li><a href="${Site.URL}/${article_11.URL}" target="_blank" >${article_11.title|substrwidth=30}</a><span class="que_time">${article_11.FirstPublishDate|Format=yyyy-MM-dd }</span></li>
						<%}}%>