<% DataTable dt_1 = TemplateData.getDocList("image","排名-栏目二","current","null","null","50","null","null","null");
  if(dt_1==null){write("没有找到栏目。parent：null  catalog："+"排名-栏目二");}else{
 int rdCnt=dt_1.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow image_1  = dt_1.getDataRow(i);
 int rdIdx=i;
%>
 
			<li class="<% if ((i+1)%5==0){write("cphover02 bodert");}else{write("cphover02 boderr");}%>"><a href="${image_1.CompanyLink}" target="_blank"><img src="${Site.StaticResourcePath}/${image_1.Path}${image_1.SrcFileName}" width="144" height="80" /><b>${image_1.Name|substrwidth=10}</b></a></li>
		<%}}%>