<% DataTable dt_12 = TemplateData.getDocList("article","9385","current","newRecommend","null","1","null","null","null");
  if(dt_12==null){write("没有找到栏目。parent：null  catalog："+"9385");}else{
 int rdCnt=dt_12.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow article_12  = dt_12.getDataRow(i);
 int rdIdx=i;
%>

                    <p class="rnews_prg ellipsis">${article_12.title}</p>
                    <ul class="product_list">
                        ${article_12.DutyHTMLV3}
                    </ul>
                    <p class="prd_price rnews_prg"><span>￥</span><span name="R_Ajax_Prict_${article_12.RiskCode}">${article_12.InitPrem}</span></p>
                    <a class="prd_detail" href="${article_12.link}" target="_blank">去看看</a>
                    <%}}%>