<% DataTable dt_0 = TemplateData.getDocList("article","保险知识","all","hp_recommend","modifyzx","2","null","null","null");
  if(dt_0==null){write("没有找到栏目。parent：null  catalog："+"保险知识");}else{
 int rdCnt=dt_0.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow article_0  = dt_0.getDataRow(i);
 int rdIdx=i;
%>

				<div class="rnews_zstab">
					<div class="news_zsImg">
                        <a href="${article_0.Link}" alt="" rel="nofollow">
                            <img src="${Site.StaticResourcePath}/${article_0.logo}" height="110" width="160" />
                        </a>
                    </div>
                    <div class="rnews_zsText">
                        <h2 class="rnews_tl">
                            <a href="${article_0.Link}" >${article_0.Title}</a>
                        </h2>
                        <p class="rnews_prg">${article_0.Summary|CharWidth=140}</p>
                        <span class="news_more">
                            <a href="${article_0.Link}" rel="nofollow" >阅读全文&nbsp;&gt;</a>
                        </span>
                    </div>
				</div>
				<%}}%>