<% DataTable dt_5 = TemplateData.getDocList("article","9409","all","null","rand","3","null","null","null");
  if(dt_5==null){write("没有找到栏目。parent：null  catalog："+"9409");}else{
 int rdCnt=dt_5.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow article_5  = dt_5.getDataRow(i);
 int rdIdx=i;
%>

							<li>
								<span class="news_xgcp_t"><a href="${article_5.Link}">${article_5.title}</a></span>
								<span class="news_xgcp_T">${article_5.AdaptPeopleInfo}</span>
							</li>
						<%}}%>