<% DataTable dt_1 = TemplateData.getDocList("article","意外保险","all","hot","null","5","null","null","null");
  if(dt_1==null){write("没有找到栏目。parent：null  catalog："+"意外保险");}else{
 int rdCnt=dt_1.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow article_1  = dt_1.getDataRow(i);
 int rdIdx=i;
%>
	
                        <li>
                        	<h4><a href="${article_1.Link}"><img src="${article_1.LogoLink}" alt="${article_1.title}" width="50" height="50" /></a></h4>
                        	<div class="hotproduright">
								<h5><a href="${article_1.Link}" title="${article_1.title}">${article_1.title|CharWidth=32}</a> </h5>
								<h6>${article_1.AdaptPeopleInfo}</h6>
							</div>
                        	                   
                        </li>                      
			<%}}%>