<% DataTable dt_10 = TemplateData.getDocList("article","公积金专题","current","null","null","1","null","null","null");
  if(dt_10==null){write("没有找到栏目。parent：null  catalog："+"公积金专题");}else{
 int rdCnt=dt_10.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow article_10  = dt_10.getDataRow(i);
 int rdIdx=i;
%>

	<div class="h20"><div class="bor_shadow_980"></div></div>
           <div class="grid-c">
				<div class="ad_980 boder_h">
           	    <a href="${article_10.adLink}" target="_blank"><img src="${Site.StaticResourcePath}/${article_10.ad}" width="978" height="148" /></a>
                </div>
                <div class="bor_shadow_980"></div>
		   </div>
    <%}}%>