<% DataTable dt_0 = TemplateData.getDocList("article","9420","current","newRecommend","null","5","null","null","null");
  if(dt_0==null){write("没有找到栏目。parent：null  catalog："+"9420");}else{
 int rdCnt=dt_0.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow article_0  = dt_0.getDataRow(i);
 int rdIdx=i;
%>

						<div class="c4">
							<span class="CInsuranceCompany icon_C${article_0.SupplierCode2}" onclick="hzpp('${article_0.SupplierCode2}');"></span><a href="${article_0.link}">${article_0.title}</a><br /> <span class="InitPrem">￥${article_0.InitPrem}</span>
						</div>
					<%}}%>