<% DataTable dt_1 = TemplateData.getDocList("image","人寿保险专题1","current","null","null","50","null","null","null");
  if(dt_1==null){write("没有找到栏目。parent：null  catalog："+"人寿保险专题1");}else{
 int rdCnt=dt_1.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow image_1  = dt_1.getDataRow(i);
 int rdIdx=i;
%>
 
				    <li>
						<div class="pic"><a href="${image_1.InsuranceCompanyLink}" target="_blank"><img src="${Site.StaticResourcePath}/${image_1.InsuranceSmallLogo}" width="97" height="48" id="${image_1.CompanyCode}"/></a></div>
						<h3><a href="${image_1.InsuranceCompanyLink}" target="_blank">${image_1.SmallLogoTitle}</a></h3>
						<p>${image_1.SmallLogoDescription|substrwidth=110}</p>
					  <span class="more10 orange"><a href="${image_1.InsuranceCompanyLink}" rel="nofollow" target="_blank">更多</a></span>
					</li>
				<%}}%>