<% DataTable dt_6 = TemplateData.getDocList("article","保险百科","all","recemmend","null","1","null","null","null");
  if(dt_6==null){write("没有找到栏目。parent：null  catalog："+"保险百科");}else{
 int rdCnt=dt_6.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow article_6  = dt_6.getDataRow(i);
 int rdIdx=i;
%>

                <div class="clear"><span class="ImgArea fl">
				<img src="${Site.StaticResourcePath}wwwroot/test/${article_6.logo}" width="180" height="157" alt="${article_6.title}" /></span></div>
                <div class="ImgArea fl">
                </div>
                <div class="HotTxtArea ">
                	<h2 class="w245">${article_6.Title}</h2>
                    <h5 class="w245">${article_6.Content} <a href="${article_6.Link}">[阅读全文]</a></h5>
                </div>
				<%}}%>