<% DataTable dt_1 = TemplateData.getDocList("article","9443","all","null","rand","5",""+catalog.getString("catalog_insknowledge")+"","null","null");
  if(dt_1==null){write("没有找到栏目。parent：null  catalog："+"9443");}else{
 int rdCnt=dt_1.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow article_1  = dt_1.getDataRow(i);
 int rdIdx=i;
%>

		          			<li>
		          		<a target="_blank" href="${article_1.Link}">${article_1.Title|CharWidth=16}</a>
		          			</li>
		          		<%}}%>