<% DataTable dt_14 = TemplateData.getDocList("article","9424","all","null","rand","3","null","null","null");
  if(dt_14==null){write("没有找到栏目。parent：null  catalog："+"9424");}else{
 int rdCnt=dt_14.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow article_14  = dt_14.getDataRow(i);
 int rdIdx=i;
%>

							<li>
								<span class="news_xgcp_t"><a href="${article_14.Link}">${article_14.title}</a></span>
								<span class="news_xgcp_T">${article_14.AdaptPeopleInfo}</span>
							</li>
						<%}}%>