<% DataTable dt_0 = TemplateData.getDocList("article","手机充值卡","current","newRecommend","null","10","null","null","null");
  if(dt_0==null){write("没有找到栏目。parent：null  catalog："+"手机充值卡");}else{
 int rdCnt=dt_0.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow article_0  = dt_0.getDataRow(i);
 int rdIdx=i;
%>

		        	        <% int index = i+1; %>
			                <li><% if(index<=3) { %>
								<div class="ListNumberID_<%=index%>"><%=index%></div> <% } else
								{%>
								<div class="ListNumberID"><%=index%></div> <% } %>
								<div class="ListTxt">
									<a href="${article_0.Link}" target="_top">${article_0.title}</a>
								</div>
								<div class="clear"></div></li>
						<%}}%>