<% DataTable dt_23 = TemplateData.getDocList("article","家财保险知识","all","hot","modifyzx","5","null","null","null");
  if(dt_23==null){write("没有找到栏目。parent：null  catalog："+"家财保险知识");}else{
 int rdCnt=dt_23.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow article_23  = dt_23.getDataRow(i);
 int rdIdx=i;
%>

                        		<% if(i==0){%>
                        			<li class="cur">
		                                <a class="rnews_tl" href="${article_23.Link}" >${article_23.Title}</a>
		                                <p class="rnews_prg">${article_23.Summary|CharWidth=45}</p>
		                                <a class="more_detail" href="${article_23.Link}">【详情】</a>
		                            </li>
                        		<% } else {%>
                        			<li>
		                                <a href="${article_23.Link}" >${article_23.Title}</a>
		                            </li>
                        		<% }%>
							<%}}%>