<% DataTable dt_2 = TemplateData.getDocList("article","保险品牌","all","null","null","50","exists(select 1 from zdcolumnvalue z1 where ZCArticle.id=z1.relaid and z1.textvalue='是' and z1.columncode='HasPartnership')","null","null");
  if(dt_2==null){write("没有找到栏目。parent：null  catalog："+"保险品牌");}else{
 int rdCnt=dt_2.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow article_2  = dt_2.getDataRow(i);
 int rdIdx=i;
%>

	    	    <li><a href="${article_2.Link}" ><img src="${Site.StaticResourcePath}/${article_2.CompanyLogo}" width="144" height="64" title="${article_2.LogoAlt}" /></a></li>
	            <%}}%>