<% DataTable dt_17 = TemplateData.getDocList("article","健康保险知识","all","hot","modifyzx","5","null","null","null");
  if(dt_17==null){write("没有找到栏目。parent：null  catalog："+"健康保险知识");}else{
 int rdCnt=dt_17.getRowCount();
 int pageCnt=0;
 for(int i=0;i<rdCnt;i++){
DataRow article_17  = dt_17.getDataRow(i);
 int rdIdx=i;
%>

                        		<% if(i==0){%>
                        			<li class="cur">
		                                <a class="rnews_tl" href="${article_17.Link}" >${article_17.Title}</a>
		                                <p class="rnews_prg">${article_17.Summary|CharWidth=45}</p>
		                                <a class="more_detail" href="${article_17.Link}">【详情】</a>
		                            </li>
                        		<% } else {%>
                        			<li>
		                                <a href="${article_17.Link}" >${article_17.Title}</a>
		                            </li>
                        		<% }%>
							<%}}%>