<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${catalog.Meta_Keywords}" />
<meta name="description" content="${catalog.Meta_Description}" />
<title>${catalog.meta_title}-${site.Meta_Keywords}</title>
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="canonical" href="${Site.URL}/zhishi/" />
<!--redesign/re_header.css头部脚部全站样式-->
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/redesign/re_header.css">
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/new_news.css">
<cms:include file="block/kxb_custom_header.shtml" />
</head>
<body class="knowledge">
<!--导航开始-->
<cms:include file="block/kxb_header_index_new_v2.shtml" includetype="virtual"/>
<!--导航结束-->
	<div class="wrapper">
		<div class="daohang">
			<span class="daohang_home"></span>
			<cms:link type="currentPositionList"></cms:link>
		</div> 
	</div> 
<div class="wrapper">
	<!--主体 开始-->
	<div class="top_box">
		<!--左边 开始-->
		<div class="news_left">
			<!--top 开始-->
			<div class="rnews_zsct" >
				<cms:list item="Article" level="all" count="2" name="保险知识" hasAttribute="hp_recommend" type = "modifyzx" >
				<div class="rnews_zstab">
					<div class="news_zsImg">
                        <a href="${Article.Link}" alt="" rel="nofollow">
                            <img src="${Site.StaticResourcePath}/${Article.logo}" height="110" width="160" />
                        </a>
                    </div>
                    <div class="rnews_zsText">
                        <h2 class="rnews_tl">
                            <a href="${Article.Link}" >${Article.Title}</a>
                        </h2>
                        <p class="rnews_prg">${Article.Summary|CharWidth=140}</p>
                        <span class="news_more">
                            <a href="${Article.Link}" rel="nofollow" >阅读全文&nbsp;&gt;</a>
                        </span>
                    </div>
				</div>
				</cms:list>
			</div>
		</div>
		<!--左边 结束-->
		<!--右边 开始-->
		<div class="news_right">
			<div class="columntit">热门标签</div>
			<div class="news_rmbj news_zsbj">
				<ul>
					<li>
						<cms:list item="customtable" name="zctag"  condition="order by rand()" count="51">
							<% if(i%3==0){%>
								<a class="news_color12" href="${Site.URL}${customtable.linkurl}" >${customtable.tag}</a>
							<% }else if(i%3==1){%>
								<a class="news_color13" href="${Site.URL}${customtable.linkurl}" >${customtable.tag}</a>
							<% }else if(i%3==2){%>
								<a class="news_color14" href="${Site.URL}${customtable.linkurl}" >${customtable.tag}</a>
							<% } %>
						</cms:list>
					</li>
				</ul>
			</div>
		</div>
		<!--右边 结束-->		
	</div>
	<div class="news_zsadImg">
		<cms:ad name="保险知识首页二次改版" custom="false" size="980*135" type="1"> 
			 {ZCMS:广告版位 矩形横幅 名称：开心保首页_下长}  
		</cms:ad>
    </div>
    <div class="trisection">
    	<!--认识保险 开始-->
    	<div class="news_box">
    		<div class="columntit">认识保险<div class="news_tab_qmore"><a href="${Site.URL}/zhishi/renshi/">更多&gt;&gt;</a></div></div>
    		<div class="tri_content">
    			<cms:list item="Article" level="all" count="1" name="认识保险" hasAttribute="hot" type = "modifyzx" >
    			<div class="tri_img">
                        <img src="${Site.StaticResourcePath}/${catalog.Image1}" width="320" height="88">
                </div>
                <div class="tri_detail">
                    <h2 class="tri_title ellipsis">
                        <a href="${Article.Link}">${Article.Title}</a>
                    </h2>
                    <div class="news_tab_zxT">
                        <p class="news_zxoverT rnews_prg">${Article.Summary|CharWidth=68}</p>
                        <span class="tri_more">
                            <a href="${Article.Link}" rel="nofollow">【&nbsp;详情&nbsp;】</a>
                        </span>
                    </div>
                </div>
            	</cms:list>
    			<div class="news_zxlist_r">
    				<ul class="product_list">
    					<cms:list item="Article" level="all" count="6" name="认识保险"  type = "firstpublish" >
						<li><a href="${Article.Link}" >${Article.Title}</a></li>
						</cms:list>
    				</ul>
    			</div>
    		</div>
    	</div>
    	<!--认识保险 结束-->	
    	<!--购买保险 开始-->
    	<div class="news_box">
    		<div class="columntit">购买保险<div class="news_tab_qmore"><a href="${Site.URL}/zhishi/goumai/">更多&gt;&gt;</a></div></div>
    		<div class="tri_content">
    			<cms:list item="Article" level="all" count="1" name="购买保险" hasAttribute="hot" type = "modifyzx" >
    			<div class="tri_img">
                        <img src="${Site.StaticResourcePath}/${catalog.Image2}" width="320" height="88">
                </div>
                <div class="tri_detail">
                    <h2 class="tri_title ellipsis">
                        <a href="${Article.Link}">${Article.Title}</a>
                    </h2>
                    <div class="news_tab_zxT">
                        <p class="news_zxoverT rnews_prg">${Article.Summary|CharWidth=68}</p>
                        <span class="tri_more">
                            <a href="${Article.Link}" rel="nofollow">【&nbsp;详情&nbsp;】</a>
                        </span>
                    </div>
                </div>
                </cms:list>
                <div class="news_zxlist_r">
                    <ul class="product_list">
                    	<cms:list item="Article" level="all" count="6" name="购买保险"  type = "firstpublish" >
                        <li><a href="${Article.Link}" >${Article.Title}</a></li>
						</cms:list>
					</ul>
				</div>
			</div>
		</div>
    	<!--购买保险 结束-->	
    	<!--保险理赔 开始-->		
    	<div class="news_box last">
            <div class="columntit">保险理赔<div class="news_tab_qmore"><a href="${Site.URL}/zhishi/lipei/">更多&gt;&gt;</a></div></div>
            <div class="tri_content">
    			<cms:list item="Article" level="all" count="1" name="9521" hasAttribute="hot" type = "modifyzx" >
    			<div class="tri_img">
                        <img src="${Site.StaticResourcePath}/${catalog.Image3}" width="320" height="88">
                </div>
                <div class="tri_detail">
                    <h2 class="tri_title ellipsis">
                        <a href="${Article.Link}">${Article.Title}</a>
                    </h2>
                    <div class="news_tab_zxT">
                        <p class="news_zxoverT rnews_prg">${Article.Summary|CharWidth=68}</p>
                        <span class="tri_more">
                            <a href="${Article.Link}" rel="nofollow">【&nbsp;详情&nbsp;】</a>
                        </span>
                    </div>
                </div>
    			</cms:list>
    			<div class="news_zxlist_r">
                    <ul class="product_list">
                    <cms:list item="Article" level="all" count="6" name="9521"  type = "firstpublish" >
						<li><a href="${Article.Link}" >${Article.Title}</a></li>
					</cms:list>	
                    </ul>
                </div>
    		</div>
    	</div>
    </div>
    <div class="news_wdct">
        <ul class="news_wdtab_t cf rnews_nav" >
            <li >
                <span id="hot_zstab1" class="hover" onclick="setTab('hot_zstab',1,6)">旅游险知识</span>
            </li>
            <li>
                <span id="hot_zstab2" onclick="setTab('hot_zstab',2,6)">意外险知识</span>
            </li>
            <li>
                <span id="hot_zstab3" onclick="setTab('hot_zstab',3,6)">车辆险知识</span>
            </li>
            <li>
                <span id="hot_zstab4" onclick="setTab('hot_zstab',4,6)">健康险知识</span>
            </li>
            <li>
                <span id="hot_zstab5" onclick="setTab('hot_zstab',5,6)">人寿险知识</span>
            </li>
            <li class="last">
                <span id="hot_zstab6" onclick="setTab('hot_zstab',6,6)">家财险知识</span>
            </li>
        </ul>
        <div class="news_zxtab_box">
            <div id="con_hot_zstab_1" >
            	<div class="news_zxtab_left">
            		<div class="news_zxImg">
                            <img src="${Site.StaticResourcePath}/${catalog.Image4}" width="110" height="160" />
                    </div>
					<div class="news_zxtl">
                        <ul class="product_list">
                        	<cms:list item="Article" level="all" count="5" name="旅游保险知识" hasAttribute="hot" type = "modifyzx" >
                        		<% if(i==0){%>
                        			<li class="cur">
		                                <a class="rnews_tl" href="${Article.Link}" >${Article.Title}</a>
		                                <p class="rnews_prg">${Article.Summary|CharWidth=45}</p>
		                                <a class="more_detail" href="${Article.Link}">【详情】</a>
		                            </li>
                        		<% } else {%>
                        			<li>
		                                <a href="${Article.Link}" >${Article.Title}</a>
		                            </li>
                        		<% }%>
							</cms:list>
                        </ul>
                    </div>
                </div>
                <div class="news_zxtab_m">
                    <h3 class="news_wdtjt">相关保险推荐</h3>
                    <cms:list item="article" name="9409" count="1" hasAttribute="newRecommend">
                    <p class="rnews_prg ellipsis">${article.title}</p>
                    <ul class="product_list">
                        ${article.DutyHTMLV3}
                    </ul>
                    <p class="prd_price rnews_prg"><span>￥</span><span name="R_Ajax_Prict_${article.RiskCode}">${article.InitPrem}</span></p>
                    <a class="prd_detail" href="${article.link}" target="_blank">去看看</a>
                    </cms:list>
                </div>
				<div class="news_zxtab_r" >
                    <ul class="product_list">
                    	<cms:list item="article" level="all"  name="9409" count="5" type="rand">
							<li><a href="${article.Link}" >${article.Title}</a></li>
						</cms:list>
                    </ul>
                </div>
                <div class="news_tab_qmore"><a href="${Site.URL}/zhishi/lvyoubaoxian/">更多&gt;&gt;</a></div>
            </div>
			<div id="con_hot_zstab_2" style="display:none;">
                <div  class="news_zxtab_left">
                    <div class="news_zxImg">
                            <img src="${Site.StaticResourcePath}/${catalog.Image5}" width="110" height="160" />
                    </div>
                    <div class="news_zxtl">
                        <ul class="product_list">
                        	<cms:list item="Article" level="all" count="5" name="意外保险知识" hasAttribute="hot" type = "modifyzx" >
                        		<% if(i==0){%>
                        			<li class="cur">
		                                <a class="rnews_tl" href="${Article.Link}" >${Article.Title}</a>
		                                <p class="rnews_prg">${Article.Summary|CharWidth=45}</p>
		                                <a class="more_detail" href="${Article.Link}">【详情】</a>
		                            </li>
                        		<% } else {%>
                        			<li>
		                                <a href="${Article.Link}" >${Article.Title}</a>
		                            </li>
                        		<% }%>
							</cms:list>
                        </ul>
                    </div>
                </div>
                <div class="news_zxtab_m">
                    <h3 class="news_wdtjt">相关保险推荐</h3>
                    <cms:list item="article" name="9385" count="1" hasAttribute="newRecommend">
                    <p class="rnews_prg ellipsis">${article.title}</p>
                    <ul class="product_list">
                        ${article.DutyHTMLV3}
                    </ul>
                    <p class="prd_price rnews_prg"><span>￥</span><span name="R_Ajax_Prict_${article.RiskCode}">${article.InitPrem}</span></p>
                    <a class="prd_detail" href="${article.link}" target="_blank">去看看</a>
                    </cms:list>
                </div>
                <div class="news_zxtab_r" >
                    <ul class="product_list">
                    	<cms:list item="article" level="all"  name="9385" count="5" type="rand">
							<li><a href="${Article.Link}" >${Article.Title}</a></li>
						</cms:list>
                    </ul>
                </div>
                <div class="news_tab_qmore"><a href="${Site.URL}/zhishi/yiwaibaoxianzhishi/">更多&gt;&gt;</a></div>
            </div>
			<div id="con_hot_zstab_3" style="display:none;">
				<div  class="news_zxtab_left">
                    <div class="news_zxImg">
                            <img src="${Site.StaticResourcePath}/${catalog.Image6}" width="110" height="160" />
                    </div>
                    <div class="news_zxtl">
                        <ul class="product_list">
                        	<cms:list item="Article" level="all" count="5" name="车辆保险知识" hasAttribute="hot" type = "modifyzx" >
                        		<% if(i==0){%>
                        			<li class="cur">
		                                <a class="rnews_tl" href="${Article.Link}" >${Article.Title}</a>
		                                <p class="rnews_prg">${Article.Summary|CharWidth=45}</p>
		                                <a class="more_detail" href="${Article.Link}">【详情】</a>
		                            </li>
                        		<% } else {%>
                        			<li>
		                                <a href="${Article.Link}" >${Article.Title}</a>
		                            </li>
                        		<% }%>
							</cms:list>
                        </ul>
                    </div>
                </div>
                <div class="news_zxtab_m">
                    <h3 class="news_wdtjt">相关保险推荐</h3>
                    <cms:list item="article" name="9385" count="1" hasAttribute="newRecommend">
                    <p class="rnews_prg ellipsis">${article.title}</p>
                    <ul class="product_list">
                        ${article.DutyHTMLV3}
                    </ul>
                    <p class="prd_price rnews_prg"><span>￥</span><span name="R_Ajax_Prict_${article.RiskCode}">${article.InitPrem}</span></p>
                    <a class="prd_detail" href="${article.link}" target="_blank">去看看</a>
                    </cms:list>
                </div>
                <div class="news_zxtab_r" >
                    <ul class="product_list">
                    	<cms:list item="friendlink" name="车辆产品知识首页" count="5">
							<li><a href="${friendlink.URL}" >${friendlink.Name}</a></li>
						</cms:list>
                    </ul>
                </div>
                <div class="news_tab_qmore"><a href="${Site.URL}/zhishi/cheliangbaoxian/">更多&gt;&gt;</a></div>
			</div>
			<div id="con_hot_zstab_4" style="display:none;">
				<div  class="news_zxtab_left">
                    <div class="news_zxImg">
                            <img src="${Site.StaticResourcePath}/${catalog.Image7}" width="110" height="160" />
                    </div>
                    <div class="news_zxtl">
                        <ul class="product_list">
                        	<cms:list item="Article" level="all" count="5" name="健康保险知识" hasAttribute="hot" type = "modifyzx" >
                        		<% if(i==0){%>
                        			<li class="cur">
		                                <a class="rnews_tl" href="${Article.Link}" >${Article.Title}</a>
		                                <p class="rnews_prg">${Article.Summary|CharWidth=45}</p>
		                                <a class="more_detail" href="${Article.Link}">【详情】</a>
		                            </li>
                        		<% } else {%>
                        			<li>
		                                <a href="${Article.Link}" >${Article.Title}</a>
		                            </li>
                        		<% }%>
							</cms:list>
                        </ul>
                    </div>
                </div>
                <div class="news_zxtab_m">
                    <h3 class="news_wdtjt">相关保险推荐</h3>
                    <cms:list item="article" name="9424" count="1" hasAttribute="newRecommend">
                    <p class="rnews_prg ellipsis">${article.title}</p>
                    <ul class="product_list">
                        ${article.DutyHTMLV3}
                    </ul>
                    <p class="prd_price rnews_prg"><span>￥</span><span name="R_Ajax_Prict_${article.RiskCode}">${article.InitPrem}</span></p>
                    <a class="prd_detail" href="${article.link}" target="_blank">去看看</a>
                    </cms:list>
                </div>
                <div class="news_zxtab_r" >
                    <ul class="product_list">
                    	<cms:list item="article" level="all"  name="9424" count="5" type="rand">
							<li><a href="${Article.Link}" >${Article.Title}</a></li>
						</cms:list>
                    </ul>
                </div>
                <div class="news_tab_qmore"><a href="${Site.URL}/zhishi/jiankangbaoxian/">更多&gt;&gt;</a></div>
			</div>
			<div id="con_hot_zstab_5" style="display:none;">
				<div  class="news_zxtab_left">
                    <div class="news_zxImg">
                            <img src="${Site.StaticResourcePath}/${catalog.Image8}" width="110" height="160" />
                    </div>
                    <div class="news_zxtl">
                        <ul class="product_list">
                        	<cms:list item="Article" level="all" count="5" name="人寿保险知识" hasAttribute="hot" type = "modifyzx" >
                        		<% if(i==0){%>
                        			<li class="cur">
		                                <a class="rnews_tl" href="${Article.Link}" >${Article.Title}</a>
		                                <p class="rnews_prg">${Article.Summary|CharWidth=45}</p>
		                                <a class="more_detail" href="${Article.Link}">【详情】</a>
		                            </li>
                        		<% } else {%>
                        			<li>
		                                <a href="${Article.Link}" >${Article.Title}</a>
		                            </li>
                        		<% }%>
							</cms:list>
                        </ul>
                    </div>
                </div>
                <div class="news_zxtab_m">
                    <h3 class="news_wdtjt">相关保险推荐</h3>
                    <cms:list item="article" name="9399" count="1" hasAttribute="newRecommend">
                    <p class="rnews_prg ellipsis">${article.title}</p>
                    <ul class="product_list">
                        ${article.DutyHTMLV3}
                    </ul>
                    <p class="prd_price rnews_prg"><span>￥</span><span name="R_Ajax_Prict_${article.RiskCode}">${article.InitPrem}</span></p>
                    <a class="prd_detail" href="${article.link}" target="_blank">去看看</a>
                    </cms:list>
                </div>
                <div class="news_zxtab_r" >
                    <ul class="product_list">
                    	<cms:list item="article" level="all"  name="9399" count="5" type="rand">
							<li><a href="${Article.Link}" >${Article.Title}</a></li>
						</cms:list>
                    </ul>
                </div>
                <div class="news_tab_qmore"><a href="${Site.URL}/zhishi/renshoubaoxianzhishi/">更多&gt;&gt;</a></div>
			</div>
			<div id="con_hot_zstab_6" style="display:none;">
				<div  class="news_zxtab_left">
                    <div class="news_zxImg">
                            <img src="${Site.StaticResourcePath}/${catalog.Image9}" width="110" height="160" />
                    </div>
                    <div class="news_zxtl">
                        <ul class="product_list">
                        	<cms:list item="Article" level="all" count="5" name="家财保险知识" hasAttribute="hot" type = "modifyzx" >
                        		<% if(i==0){%>
                        			<li class="cur">
		                                <a class="rnews_tl" href="${Article.Link}" >${Article.Title}</a>
		                                <p class="rnews_prg">${Article.Summary|CharWidth=45}</p>
		                                <a class="more_detail" href="${Article.Link}">【详情】</a>
		                            </li>
                        		<% } else {%>
                        			<li>
		                                <a href="${Article.Link}" >${Article.Title}</a>
		                            </li>
                        		<% }%>
							</cms:list>
                        </ul>
                    </div>
                </div>
                <div class="news_zxtab_m">
                    <h3 class="news_wdtjt">相关保险推荐</h3>
                    <cms:list item="article" name="9413" count="1" hasAttribute="newRecommend">
                    <p class="rnews_prg ellipsis">${article.title}</p>
                    <ul class="product_list">
                        ${article.DutyHTMLV3}
                    </ul>
                    <p class="prd_price rnews_prg"><span>￥</span><span name="R_Ajax_Prict_${article.RiskCode}">${article.InitPrem}</span></p>
                    <a class="prd_detail" href="${article.link}" target="_blank">去看看</a>
                    </cms:list>
                </div>
                <div class="news_zxtab_r" >
                    <ul class="product_list">
                    	<cms:list item="friendlink" name="家财产品知识首页" count="5">
							<li><a href="${friendlink.URL}" >${friendlink.Name}</a></li>
						</cms:list>
                    </ul>
                </div>
                <div class="news_tab_qmore"><a href="${Site.URL}/zhishi/jiacaibaoxianzhishi/">更多&gt;&gt;</a></div>
			</div>
		</div>
	</div>
	<div class="trisection">
		<div class="news_box">
            <h3 class="columntit">常用保险知识</h3>
            <div class="news_zscy">
                <div class="news_zscyP">
                    <img src="${Site.StaticResourcePath}/${catalog.Image10}" width="110" height="203" >
                </div>
            </div>
            <div class="news_zscyL">
                <ul class="product_list">
                	<cms:list item="Article" level="all" count="6" name="保险知识" condition=" Attribute is not null and  concat(',',Attribute,',')  like '%newRecommend%'" type = "modifyzx" >
						<li><a href="${Article.Link}" >${Article.Title}</a></li>
					</cms:list>
                </ul>
            </div>
        </div>
        <div class="news_box">
            <h3 class="columntit">精彩专题</h3>
            <div class="news_zscy">
                <div class="news_zscyP">
                    <img src="${Site.StaticResourcePath}/${catalog.Image11}" width="110" height="203" >
                </div>
            </div>
            <div class="news_zscyL">
                <ul class="product_list">
                	<cms:list item="article" level="all" name="保险专题" type="rand" count="6" >
						<li><a href="${article.link}" >${article.title}</a></li>
					</cms:list>
                </ul>
            </div>
        </div>
        <div class="news_box last">
            <div class="news_flash_a news_zsflash">
                <cms:imageplayer code="bxzs_index_two" type="0" width="320" height="250" />
            </div>
        </div>
    </div>
</div>
<!--主体 结束-->
<div class="h10"></div>
 <div class="wrapper">
    <div class="part6">
    <ul class="wrap_ul">
	<cms:list item="hotopic"  name="知识首页二次改版" >
		 <% if(i==0) write("<ul class=\"special_u1 clearfix special_li_21\" id=\"min_tag_hzpp1\" >");%> 
	</cms:list>	
		<cms:list item="hotopic"  name="知识首页二次改版" >
			<li class="special_li" ><em class="<% if(i==0) write("select_tab_hzpp1 first");%>"><span class="">${hotopic.name}</span></em></li>	
		</cms:list>
	</ul>
	<div class="new_special_box clearfix" id="tag_box_hzpp1"  >
		<cms:list item="hotopic"  name="知识首页二次改版" >
			<ul class="special_list clearfix" style="<% if(i!=0) write("display:none;");%>">
		 		<cms:sublist item="friendlink" count="50" >
			 		<li><a href="${friendlink.url}" >${friendlink.name}</a></li>
				</cms:sublist>		
			</ul>
		</cms:list>
	</div>
	</div>
 </div>

<div class="clear"></div>
<cms:include file="block/kxb_footer_new_common.shtml" includetype="virtual"/>
<cms:include file="block/community_v1.shtml" includetype="virtual"/>
<script type="text/javascript" src="${Site.JsResourcePath}/js/jquery.soChange-min.js"></script>
<script type="text/javascript">
jQuery(function(){
    //焦点图切换
        jQuery('#change_33 div.changeDiv').soChange({
            thumbObj:'#change_33 .ul_change_a2 span',
            thumbNowClass:'on',
            changeTime:4000//自定义切换时间为4000ms
        });
    });
</script>
<script language="JavaScript" src="${Site.JsResourcePath}/js/tabchange.js"></script>
</body>
</html>
<!-- Powered by CMS(中科软科技股份有限公司) 1.3.1.0 PublishDate 2013-04-16 15:32:45-->