<script type="text/javascript" src="${Site.JsResourcePath}/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/redesign/re_base.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/redesign/re_footer.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/jquery.cookie.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/login.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/redesign/re_header.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/jquery.form.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/jqueryupdate.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/artDialog.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/redesign/xiaoneng_CustomerService.js"></script>
<script type="text/javascript" src="http://dl.ntalker.com/js/xn6/ntkfstat.js?siteid=kf_9401" charset="utf-8"></script>

