<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${article.MetaKeywords}" />
<meta name="description" content="${article.MetaDescription}" />
<title>
<%
	String title = article.getString("MetaTitle");
	write(((null==title || "".equals(title)) ? article.getString("title"):title) + "-" + site.getString("Meta_Keywords"));
%>
</title>
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link href="${Site.StaticResourcePath}/style/help.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/redesign/re_header.css">
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/new_help.css">
<link rel="canonical" href="${Site.URL}/${Catalog.URL}" />
<cms:include file="block/kxb_custom_header.shtml" />
</head>
<body>
	<cms:include file="block/kxb_header_index_new_v2.shtml" />
	<div class="wrapper">

		<div class="daohang">
			<span class="daohang_home"></span>
			<cms:link type="currentPosition"></cms:link>
			<span class="separator">></span>
			<p>${Article.title}</p>
		</div>
		<div class="grid-c3f help_m">
			<div class="col-main">
				<div class="main-wrap">
				<div class="help_bor_h">
				<!--文章 开始-->
				 <div class="artical">
						<h3>${article.title}</h3>
						<div class="date">
							<span>作者：${article.author}</span><span>发布时间：${article.addTime}</span>
						</div>
						<div class="cont">${article.content}</div>
				</div>
				<!--文章 结束-->
				</div>		
				</div>
			</div>
			<!--Right begin  -->
			<div class="col-sub">
				<div class="help_right_box help_bor_h cf">
					<h3 class="help_titile">开心保客户服务</h3>
                    	<p class="help_d help_tel">4009-789-789</p>
                        <p class="help_d help_time">8:30—23:30</p>
                        <p class="help_d help_eml">kf@kaixinbao.com</p>
                    <h3 class="help_titile h_bor_t">下载</h3>
                    <div class="help_dow_list">
                <a href="${Site.URL}/about/bdxz/index.shtml" class="help_down" title="《保单变更和退保申请》">《保单变更和退保申请书》</a>
                <a href="${Site.URL}/about/bdxz/index.shtml" class="help_down" title="《理赔申请书》">《理赔申请书》</a>
		       		</div>
                    </div>
                    
                    <div class="help_right_box help_bor_h h_he_c cf">
					<h3 class="help_titile">常见问题<a target="_blank" href="${Site.URL}/wenda/" class="help_more">更多</a></h3>
					<ul class="help_list">
					<cms:list item="article" level="all"  name="保险问答" count="8" type = "firstpublish">
					   <% if("solve".equals(article.getString("isOk"))){ %>
						 <li><a target="_blank" href="${article.link}">${article.title}</a></li>
					   <%}%>
					</cms:list>
					</ul>
                    </div>
			</div>
			<!-- Right end -->
			<!--   Left  begin   -->
			<div class="col-extra">
				<div class="help_left help_bor_h cf" id="sidebar_help">
					<h3 class="help_titile">帮助中心</h3>
					<dl class="help_tree">
						<cms:list item="catalog" level="root" name="帮助中心" count="all">
							<dt>
								<span>${catalog.name}</span>
							</dt>
							<cms:sublist item="catalog" parent="ID" count="all">
								<dd>
									<a href="${catalog.link}">${catalog.name}</a>
								</dd>
							</cms:sublist>
						</cms:list>
					</dl>
				</div>
			</div>
			<!--   Left  end   -->
		</div>
	</div>
<cms:include file="block/kxb_footer_new_common.shtml"></cms:include>
<cms:include file="block/community_v1.shtml" />
<script src="${Site.JsResourcePath}/js/sidebar-follow-jquery.js"></script>
<script>
/*侧边栏跟随配置*/
(new SidebarFollow()).init({
	element: jQuery('#sidebar_help'),
	distanceToTop: 10
});
</script>
</body>
</html>

