<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../style/new/main.css" rel="stylesheet" type="text/css" />
<link href="../style/new/istory.css" rel="stylesheet" type="text/css" />
<link href="${Site.URL}/style_index/new/main.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/shop/css/login.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/shop/css/login1.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/shop/css/register.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/common/css/base.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/common/css/jquery.datepicker.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/common/css/jquery.zoomimage.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<title>首页故事 旅游险</title>
</head>
<body>
<cms:include file="block/kxb_headersygs.shtml" />
<div class="storytrav01wrap">
	<div class="storytravarea01"></div>
	<div class="storytravarea02"></div>
	<div class="storytravarea03"></div>
	<div class="storytravarea04"></div>
	<div class="storytravarea05"></div>
	<div class="storytravarea06"></div>
	<div class="storytravarea07"></div>
	<div class="storytravarea08"></div>
	<div class="storytravarea09"></div>
	<div class="storytravarea10"></div>
	<div class="storytravarea11"></div>
	<div class="storytravarea12"></div>
	<div class="storytravarea13"></div>
	<div class="storytravarea14"></div>
	<div class="storytravarea15"></div>
	<div class="storytravarea16"></div>
	<div class="storytravarea17">
		<div class="storytravarea17bg"></div>
		<div class="stramaincont">
			<div class="stracont01">
				<div class="stracont01left"><img src="../image/istory/istorytrapic01.jpg" width="366" height="544" /></div>
				<div class="stracont01right">
					<h3>让您的旅行更安全，请仔细阅读：</h3>
					<p>每逢假期我们都会选择镜内或者境外旅游缓解和放松身心压力，对于旅游安全问题是很多人忽视的，下面向大家介绍一下，有关旅游的安全常</p>
					<ul>
						<li><em>&nbsp;&nbsp;1.</em>出行前，了解好当地的天气情况，做好防暑降温降雨等准备。</li>
						<li><em>&nbsp;&nbsp;2.</em>不要忘记常备药品，如腹泻、感冒、胃痛药品等，有必要准备酒精棉携带。</li>
						<li><em>&nbsp;&nbsp;3.</em>搭乘飞机，飞机升降，不开手机，听从乘务员安排。</li>
						<li><em>&nbsp;&nbsp;4.</em>贵重物品，注意保管，切勿离手。</li>
						<li><em>&nbsp;&nbsp;5.</em>出入酒店，随手关门，火警铃响，请由紧急出口迅速离开，切勿搭乘电梯。</li>
						<li><em>&nbsp;&nbsp;6.</em>水上活动，穿着救生衣，听从指挥。</li>
						<li><em>&nbsp;&nbsp;7.</em>海边戏水，请勿超越安全警戒线，不熟悉水性者，切勿独自下水。</li>
						<li><em>&nbsp;&nbsp;8.</em>刺激性活动项目，身体状况不佳者请勿参加。</li>
						<li><em>&nbsp;&nbsp;9.</em>搭乘缆车时，请依序上下，听从工作人员指挥。</li>
						<li><em>10.</em>团体旅行，不可擅自脱队，征得全陪导游同意，并随身携带当地所住宿饭店信息。</li>
						<li><em>11.</em>景区游览前，谨记导游交代集中地点、时间、所乘游览巴士车号。</li>
						<li><em>12.</em>外出旅行，注意饮食卫生，保证身体健康。</li>
						<li><em>13.</em>夜间或自由活动时自行外出，请告知全陪导游或团友，应特别注意安全。</li>
						<li><em>14.</em>切勿在公共场所露财，购物时也勿当众清数钞票。</li>
						<li><em>15.</em>退房前，请检查您所携带的行李物品，特别注意您的证件和贵重财物。</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
			<div class="stracont02">
				<div class="stracont02left"><img src="../image/istory/istorytrapic02.jpg" width="366" height="337" /></div>
				<div class="stracont02right">
					<h3>给您一个解决方案，让旅行更安心！</h3>
					<h4><p>2011年6月22日，一名游客在成都旅游时被猴子扑到，脚扭伤，后到成都第二人民医院就诊，诊断结果为软组织严重受伤，医药、护理等费用近5000元。</p><p>这名游客在旅游前从朋友那听说要购买保险，于是在网上经过查阅，购买了旅游意外险，在这次旅客的意外中保险公司承担医疗费、护理费、误工费及经医师证明的营养费等，赔付金额为4249.28元。</p></h4>
					<h6>【开心保提示】购买旅游险可以让您在旅游中为自己多一份保障和踏实，一点点付出，让我们在旅游中可以玩的更放心，让我们在旅游中得到最高的保障，让我们一旦发生意外造成的损失降到最低，这些损失保险公司承担，只希望您能健康、快乐的旅行。</h6>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	
	<div class="storytravarea18">
		<div class="stravarea18wrap">
		<div class="straarea11">
			<h3>平安财险境内旅游产品（保障型）</h3>
			<h4><div class="stratab01"><span>16</span><em>元</em></div><div class="stratab02"><span>20</span><em>万</em></div><div class="stratab03"><a href="${Site.URL}/lvyou-baoxian/252553.shtml"><img src="../image/istory/trabtn01.jpg" width="103" height="44" /></a></div>
			</h4>
			<h5><span class="bgclr01">保障全面</span><span class="bgclr02">住院津贴</span><span class="bgclr03">延误补偿</span><span class="bgclr04">风险保障</span></h5>
			<h6><p> 出行意外风险全涵盖，提供飞机延误、高风险运动保障，惬意出行，后顾无忧。【适合乘坐飞机等交通工作做短期境内出行、且可能从事高风险运动的人士】。</p></h6>
		</div>
		
		<div class="straarea11 margleft01">
			<h3>平安财险畅行天下（全球）基础款</h3>
			<h4><div class="stratab01"><span>155</span><em>元</em></div><div class="stratab02"><span>30</span><em>万</em></div><div class="stratab03"><a href="${Site.URL}/lvyou-baoxian/252511.shtml"><img src="../image/istory/trabtn01.jpg" width="103" height="44" /></a></div>
			</h4>
			<h5><span class="bgclr01">保障全面</span><span class="bgclr02">紧急救援</span><span class="bgclr03">天数自选</span><span class="bgclr04">证件保险</span></h5>
			<h6><p> 全球旅行必备，涵盖意外保障、紧急救援责任，保额高，解决您的后顾之忧，保费低廉。【适合有签证需求，有风险意识的出境人士】.</p></h6>
		</div>
		
		<div class="straarea11 margleft02">
			<h3>太平养老国内旅行险C款</h3>
			<h4><div class="stratab01"><span>5</span><em>元</em></div><div class="stratab02"><span>30</span><em>万</em></div><div class="stratab03"><a href="${Site.URL}/lvyou-baoxian/254007.shtml"><img src="../image/istory/trabtn01.jpg" width="103" height="44" /></a></div>
			</h4>
			<h5><span class="bgclr01">旅游保障</span><span class="bgclr02"> 价格低廉</span><span class="bgclr03">保障全面</span><span class="bgclr04">天数自选</span></h5>
			<h6><p>  意外保障全面，根据出行天数进行选择，保费低，保障高。【适合短期个人意外保障，及短期国内出行人士】。</p></h6>
		</div>
		<div class="clear"></div>
		</div>
	</div>
	
<div class="h60"></div>
	
	
</div>

<cms:include file="block/kxb_footer_sygs.shtml" />
<script language="JavaScript" src="../js/tabchange.js"></script>
<!-- Baidu Button BEGIN --><script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=0&amp;uid=6456405" ></script><script type="text/javascript" id="bdshell_js"></script><script type="text/javascript">document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();</script><!-- Baidu Button END -->
<!-- 分享浮动层 开始 -->
<!-- <div class="sharefloats">
	<span><a href="#top"><img src="../image/istory/floatshare.gif" width="28" height="70" /></a></span></div> -->
<!-- 分享部浮动层 结束 -->
<!-- 回顶部浮动层 开始 -->
<!--<div class="servfloats">
	<span><a href="#top"><img src="../image/istory/floatservs.gif" width="28" height="70" /></a></span></div>-->
<!-- 回顶部浮动层 结束 -->
</body>
</html>












