<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../style/new/main.css" rel="stylesheet" type="text/css" />
<link href="../style/new/istory.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link href="${Site.URL}/style_index/new/main.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/shop/css/login.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/shop/css/login1.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/shop/css/register.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/common/css/base.css" rel="stylesheet" type="text/css" />
<title>首页故事 旅游险</title>
</head>
<body >
<cms:include file="block/kxb_headersygs.shtml" />

<div  style="margin:32px auto 0px" align="center">
     
	<img src="${site.url}/${catalog.imagepath}" width="1276" height="2186">


</div>
<cms:include file="block/kxb_footer_sygs.shtml" />
<!-- 分享浮动层 开始 -->



</body>
</html>








