<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${catalog.Meta_Keywords}" />
<meta name="description" content="${catalog.Meta_Description}" />
<link href="${Site.URL}/style/new/sales02.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<title>${catalog.meta_title}-${site.Meta_Keywords}</title>
</head>
<body>
<cms:include file="block/kxb_header3.shtml" />
<!-- 主体 开始 -->
<div class="wrapsl02">
	<div class="sl02area01"></div>
	<div class="sl02area02"></div>
	<div class="sl02area03"></div>
	<div class="sl02area04"></div>
	<div class="sl02area05"></div>
	<div class="sl02area06">
		<!-- JiaThis Button BEGIN -->
		<div class="cont" style="padding-top: 13px;">
		<div class="jiathis_style">
			<a class="jiathis_button_tsina"></a>
			<a class="jiathis_button_tqq"></a>
			<a class="jiathis_button_renren"></a>
			<a class="jiathis_button_qzone"></a>
			<a class="jiathis_button_xiaoyou"></a>
			<a href="http://www.jiathis.com/share?uid=1574313" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">更多</a>
			<a class="jiathis_counter_style"></a>
		</div>
		</div>
		<script type="text/javascript" src="http://v2.jiathis.com/code_mini/jia.js?uid=1574313" charset="utf-8"></script>
		<!-- JiaThis Button END -->
	</div>
	<div class="sl02area07"></div>
	<div class="sl02area08"></div>
	<div class="sl02area09"></div>
	<div class="sl02area10"></div>
	<div class="sl02area11"></div>
	<div class="sl02area12"></div>
	<div class="sl02area13"></div>
	<div class="sl02area14"></div>
	<div class="sl02floatarea">
		<div class="sl02faleft">
			<h3>开心保年末境外旅游险促销活动11月震撼启动！凡在11月1日～12月31日期间购买任一款境外旅游险产品（价格不限），开心保都将<span>赠送便携式旅行洗漱化妆包一个</span>，收纳零碎杂物，伴您贴心旅行。</h3>
			<h4><a href="${Site.URL}/lvyou-baoxian/jingwai/" target="_blank"><img src="${Site.URL}/image/sales02/linkpic01.gif" width="297" height="79" /></a><a href="${Site.URL}/lvyou-baoxian/shengenqianzheng/" target="_blank"><img src="${Site.URL}/image/sales02/linkpic02.gif" width="308" height="79" /></a></h4>
		</div>
		<div class="sl02faright">
			<h3>
				<p>年末用户专享，好礼实时放送。登</p>
				<p>陆开心保网站<span class="link01"><a href="${Site.URL}">www.kaixinbao.com</a></span></p>
				<p>注册会员并购买任一款境外旅游险</p>
				<p>即可参加活动，数量有限，先到先</p>
				<p>得哦！</p>
			</h3>
			<h4>活动时间</h4>
			<h5>2012年11月1日－12月31日</h5>
			<h4>活动对象</h4>
			<h5>开心保注册用户</h5>
			<h4>兑现时间</h4>
			<h5>起保日后10个工作日内递送</h5>
			<h6><a href="${Site.URL}/lvyou-baoxian/jingwai/" target="_blank"><img src="${Site.URL}/image/sales02/sl02btn01.gif" width="206" height="53" /></a></h6>
		</div>
	</div>
	<div class="sl02area15"></div>
	<div class="sl02area16"></div>
	<div class="sl02area17"></div>
	<div class="sl02area18"></div>
		<!--2012-10-29 update 开始-->
	<div class="sl02picarea">
		<div class="sl02pic01"><a href="${Site.URL}/lvyou-baoxian/jingwai/251805.shtml"><img src="${Site.URL}/image/sales02/pacx.gif" width="301" height="158" /></a></div>
		<div class="sl02pic02"><a href="${Site.URL}/lvyou-baoxian/256084.shtml"><img src="${Site.URL}/image/sales02/sl02pic02.jpg" width="301" height="158" /></a></div>
		<div class="sl02pic03"><a href="${Site.URL}/lvyou-baoxian/jingwai/251797.shtml"><img src="${Site.URL}/image/sales02/dongnanya.gif" width="301" height="158" /></a></div>
		<div class="clear"></div>
	</div>
	<!--2012-10-29 update 结束-->
	<div class="sl02area19">
		<div class="cont">
			<ul class="list01">
				<li>超值保障</li>
				<li>全球医疗</li>
				<li>全程救援</li>
				<li>多种计划</li>
			</ul>
			<ul class="list02">
				<li>超值保障</li>
				<li>全球医疗</li>
				<li>全程救援</li>
				<li>多种计划</li>
			</ul>
			<ul class="list03">
				<li>保费低廉</li>
				<li>保障全面</li>
				<li>紧急救援</li>
				<li>天数自选</li>
			</ul>
		</div>
	</div>
	<div class="sl02area20">
		<div class="cont">
			<div class="btnarea01"><img src="${Site.URL}/image/sales02/logopa.gif" width="162" height="50" /><a href="${Site.URL}/lvyou-baoxian/jingwai/251805.shtml" target="_blank"><img src="${Site.URL}/image/sales02/sl02btn02.gif" width="116" height="50" /></a></div>
			<div class="btnarea02" style="padding-bottom: 0px; padding-top: 8px; padding-left: 30px;"><img src="${Site.URL}/image/sales02/logotp.gif" width="162" height="50" /><a href="${Site.URL}/lvyou-baoxian/256084.shtml" target="_blank"><img src="${Site.URL}/image/sales02/sl02btn02.gif" width="116" height="50" /></a></div>
			<div class="btnarea03"><img src="${Site.URL}/image/sales02/logopa.gif" width="162" height="50" /><a href="${Site.URL}/lvyou-baoxian/jingwai/251797.shtml" target="_blank"><img src="${Site.URL}/image/sales02/sl02btn02.gif" width="116" height="50" /></a></div>
		</div>
	</div>
	<div class="sl02area21"></div>
</div>
<!-- 主体 结束 -->

<cms:include file="block/kxb_footer_new_common.shtml" />
<cms:include file="block/community_v1.shtml" />
</body>
</html>
















