<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../style/new/main.css" rel="stylesheet" type="text/css" />
<link href="../style/new/istory.css" rel="stylesheet" type="text/css" />
<link href="${Site.URL}/style_index/new/main.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/shop/css/login.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/shop/css/login1.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/shop/css/register.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/common/css/base.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/common/css/jquery.datepicker.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/common/css/jquery.zoomimage.css" rel="stylesheet" type="text/css" />
<style type="text/css">	
.sezjacleft img{ margin-top:18px;}
</style>
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<title>首页故事 意外险</title>
</head>
<body onload="start();">
		<cms:include file="block/kxb_headersygs.shtml" />
<div class="storyac01wrap">
	<div class="stracarea01"></div>
	<div class="stracarea02"></div>
	<div class="stracarea03"></div>
	<div class="stracarea04">
		<div class="sezjac" id="con_one_1" style="display:none;">
			<div class="sezjacleft"><img src="../image/istory/cpic_logo.gif" width="97" height="48" align="absmiddle" /></div>
			<div class="sezjacright">
				<h3 style="font-family:'Microsoft YaHei'!important;">太平洋财险驾意人生</h3>
				<h4><span>多种组合 </span><span>保障全面</span></h4>
				<h5><a href="${Site.URL}/yiwai-baoxian/255432.shtml"><img src="../image/istory/istorybtn01.jpg" width="86" height="25" align="absmiddle" /></a></h5>
				<p>为非营运机动车驾驶人员提供的专业指向性保险。</p>
			</div>
		</div>		
		<div class="sezjac" id="con_one_2">
			<div class="sezjacleft"><img src="../image/istory/pingan_logo.gif" width="97" height="48" align="absmiddle" /></div>
			<div class="sezjacright">
				<h3 style="font-family:'Microsoft YaHei'!important;">平安财险交通意外险</h3>
				<h4><span>保障全面 </span><span>旅行必备</span></h4>
				<h5><a href="${Site.URL}/yiwai-baoxian/251351.shtml"><img src="../image/istory/istorybtn01.jpg" width="86" height="25" align="absmiddle" /></a></h5>
				<p>涵盖飞机、火车、地铁、轻轨、轮船、汽车意外伤害责任，保障额度高，保费低，短期旅行必备。限购4份。</p>
			</div>
		</div>
		
		<div class="sezjac" id="con_one_3" style="display:none;">
			<div class="sezjacleft"><img src="../image/istory/companylogoa02.jpg" width="96" height="46" align="absmiddle" /></div>
			<div class="sezjacright">
				<h3 style="font-family:'Microsoft YaHei'!important;">晚年安顺意外险A款</h3>
				<h4><span>老年专享</span><span>意外医疗</span></h4>
				<h5><a href="${Site.URL}/yiwai-baoxian/251352.shtml"><img src="../image/istory/istorybtn01.jpg" width="86" height="25" align="absmiddle" /></a></h5>
				<p>专为中晚年设计，保障乘坐交通工具期间以及公园内意外伤害责任，保费低。限购2份。</p>
			</div>
		</div>		
	</div>	
	<div class="tabstrwrap02">		
		<div class="tabstr02">
                    <ul> 
                        <li id="one1" onMouseOver="setTabSYGS('one',1,3)"></li>
                        <li id="one2" onMouseOver="setTabSYGS('one',2,3)" class="hover"></li>
						<li id="one3" onMouseOver="setTabSYGS('one',3,3)"></li>
                    </ul>
                    <div class="clear"></div>
          </div>
	</div>
<div class="tabcontstr">
	<div class="stracarea05" style="font-family:'Microsoft YaHei'!important;">生活安全要重视!</div>
	<div class="stracarea06">
		<div class="stracarea06cont">
			<h3>　　有资料显示，在全球范围内，每年约有350万人死于意外伤害事故，约占人类死亡总数的6%，是除自然死亡以外人类生命与健康的第一杀手。在我们的生活中要培养安全意识，尤其是儿童，提高警惕非常重要。以下常识请时时注意：</h3>
			<div class="straclistcont">
				<table width="100%">
				<tbody>
					<tr>
						<th valign="middle">1.</th>
						<td valign="middle">离家前或入睡前，抽出几分钟时间对家中进行一次安全检查，看水龙头是否关好、电器、煤气是否关闭、防盗门是否锁好、车辆是否放好等等。</td>
					</tr>
					<tr>
						<th valign="middle">2.</th>
						<td valign="middle">离家外出遇到陌生人递烟敬酒送饮料或请你吃饭时要婉言谢绝，警惕其中有麻醉药，以防麻醉后被害。</td>
					</tr>
					<tr>
						<th valign="middle">3.</th>
						<td valign="middle">家长要尽早教会儿童自己保护自己的如下一些本领。孩子应记住自己及家长的姓名、居住地址、家庭电话，以便丢失后不致无路可去。</td>
					</tr>
					<tr>
						<th valign="middle">4.</th>
						<td valign="middle">儿童独自在家，要关闭好防盗门及窗户，不给陌生人开门。</td>
					</tr>
					<tr>
						<th valign="middle">5.</th>
						<td valign="middle">教育孩子家长不在身边或自行外出时，不接受陌生人的礼品及玩物，不接受陌生人的各种邀请，以防止上当受骗。</td>
					</tr>
					<tr>
						<th valign="middle">6.</th>
						<td valign="middle">儿童不要自行点燃煤气、开电器，过马路要走过街天桥，学会马路上红绿灯使用的规定。</td>
					</tr>
					<tr>
						<th valign="middle">7.</th>
						<td valign="middle">天空闪电，雷雨即至，必须采取预防措施，不可在雨中行走，不能站在孤立的大树下和高处，不要依在墙壁旁边，不站在电灯的正下面，停止使用电话等。</td>
					</tr>
					<tr>
						<th valign="middle">8.</th>
						<td valign="middle">狂犬病是对人类危害最大的急性传染病，死亡率几乎１００％，不少人的误区，认为疯狗咬伤会得狂犬病，外观健康的狗咬伤无害，其实，一些健康狗的唾液中也带有狂犬病毒，不可麻痹大意。</td>
					</tr>
					<tr>
						<th valign="middle">9.</th>
						<td valign="middle">上下楼梯或走路不小心扭伤了脚脖，切不可进行热敷或对创伤部位用力按摩，应首先用冷水敷，以减少破裂血管出血或向外渗液，然后再加压包扎，并减少活动，最好将患脚抬高。</td>
					</tr>
					<tr>
						<th valign="middle">10.</th>
						<td valign="middle">小虫不小心钻入耳道，应迅速用手电筒照射耳朵，小虫见光后往往会自动爬出，倘若不行，可用手紧紧捂住耳朵，使小虫缺氧闷死，然后向耳内滴２～３滴麻油并将耳朵朝下，死亡的小虫随油流出，切不可用火柴棒、耳挖等物乱掏，使小虫受惊继续深钻，穿破鼓膜，引起耳聋。</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="stracarea07">
		<h3 style="font-family:'Microsoft YaHei'!important;">给您一个解决方案，让您更安心舒心！</h3>
		<h4>
			<p>张先生，今年32岁，为家中的经济支柱。投保意外伤害保险6万元、附加意外医疗5000元，年交保费306元。11月18日上午张先生接到朋友的电话，朋友家准备盖房子，但需要先拆除原来的老宅子，张先生欣然答应。下午大家伙干的热火朝天，张先生这时接了一个电话，因为房前人多太吵，张先生到屋子后侧接电话，这时突然一声巨响，已经拆除了一半的后窗户垂直砸到张先生的左腰部及腿部，随后张先生眼前一黑晕倒在地……</p><p>醒来时张先生已经躺在医院病房中，医生诊断为左股骨粗隆间骨折，住院8天。客户住院后因经济原因保守治疗未行手术治疗，合计花费5900余元。出院后客户及时收集理赔申请资料，客户12月16日提出理赔申请，保险公司，12月21日出具理赔结论并快速理赔，本案合计给付金额5000元。</p>
		</h4>
	</div>
	<div class="stracarea08">
 <h3>开心保提示您</h3>
		<h4>
		<p>	生活中，常常有些意外事故毫无征兆地不期而至，虽然事故的发生与否与购买保险毫无关系，但事故一旦发生，是否购买了保险的结果却不大一样。没有保险保障，整个家庭不但要遭受精神上的打击，同时还将面临经济上的窘迫与困境。如果事先都准备了适当的保险，就无疑筑起了一道坚固的经济保障防线。</p>
		</h4>
	</div>
</div>	
</div>
<cms:include file="block/kxb_footer_sygs.shtml" />
<script type="text/javascript" src="${Site.URL}/js/footer.js"></script>
<script language="JavaScript" src="../js/tabchange.js"></script>
<!-- 分享浮动层 开始 -->
<!-- <div class="sharefloats">
	<span><a href="#top"><img src="../image/istory/floatshare.gif" width="28" height="70" /></a></span></div> -->
<!-- 分享部浮动层 结束 -->
<!-- 回顶部浮动层 开始 -->
<!-- <div class="servfloats">
	<span><a href="#top"><img src="../image/istory/floatservs.gif" width="28" height="70" /></a></span></div> -->
<!-- 回顶部浮动层 结束 -->

</body>
</html>

