<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../style/new/main.css" rel="stylesheet" type="text/css" />
<link href="../style/new/istory.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link href="${Site.URL}/style_index/new/main.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/shop/css/login.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/shop/css/login1.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/shop/css/register.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/common/css/base.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/common/css/jquery.datepicker.css" rel="stylesheet" type="text/css" />
<link href="${Site.prop6}/template/common/css/jquery.zoomimage.css" rel="stylesheet" type="text/css" />
<title>首页故事 少儿险</title>
</head>
<body onload="newStart();">
	<cms:include file="block/kxb_headersygs.shtml" />
<div class="story01wrap">
	<div class="strarea01"></div>
	<div class="strarea02"></div>
	<div class="strarea03"></div>
	<div class="strarea04"></div>
	<div class="strarea05"></div>
	<div class="strarea06"></div>
	<div class="strarea07"></div>
	<div class="strarea08">
		<div class="segdcid" id="segdcidd">
		<div class="sezj" id="con_one_1">
			<h3 style="margin-left:-20px;font-family:'Microsoft YaHei'!important;">成长快乐少儿保险</h3>
			<h4><span>专属少儿</span><span>身故医疗保障全 </span><span>保费低保障高</span></h4>
			<p>意外和医疗兼顾，意外医疗保额高达3万，一次购买全年保障，保费低廉，关爱有佳。&nbsp;&nbsp;<a href="${Site.URL}/yiwai-baoxian/251336.shtml"><img src="../image/istory/istorybtn01.jpg" width="86" height="25" align="absmiddle" /></a></p>
		</div>
		
		<div class="sezj" id="con_one_2" style="display:none;">
			<h3 style="margin-left:-20px;font-family:'Microsoft YaHei'!important;">交通工具意外保险</h3>
			<h4><span>保障全面</span><span>保费低廉 </span><span> 全年呵护自由行</span></h4>
			<p>涵盖飞机、火车、地铁、轻轨、轮船、汽车意外伤害责任，保障额度高，保费低。&nbsp;&nbsp;<a href="${Site.URL}/yiwai-baoxian/251338.shtml"><img src="../image/istory/istorybtn01.jpg" width="86" height="25" align="absmiddle" /></a></p>
		</div>
		</div>
	<div class="tabstrwrap">		
		<div class="tabstr">
                    <ul> 
                        <li id="one1" onMouseOver="setTabSYGS('one',1,2)" class="hover"></li>
                        <li id="one2" onMouseOver="setTabSYGS('one',2,2)"></li>
                    </ul>
                    <div class="clear"></div>
          </div>
	</div>		
	</div>
	<div class="strarea09">
		<p>天下父母，总希望孩子有一个辉煌的人生。引导孩子迈出人生的第一步，赢得健康快乐是所有父母的心愿。对孩子的成长，父母要做怎样的规划呢？一是要注意孩子的身心健康安全；二是要为孩子的教育婚嫁创业做好准备。</p>
	</div>
	<div class="strarea10"></div>
	<div class="strtable">
		<ul class="strtableli01">
			<li class="strtltit">
				<table width="120">
				<tbody>
					<tr><td height="180" valign="middle">阶段</td>
					</tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">孩子的需要或行为</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">在这一阶段孩子的需要得到满足</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">家长未来能在这一阶段满足孩子的需要</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">由于孩子的需要未能从家长那里得到满足，长大后可能会出现以下的个性/特征</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">与此阶段有关的心理障碍</td></tr>
				</tbody></table>
			</li>
		</ul>
		
		<ul class="strtableli02">
			<li class="strtltit">
				<table width="120">
				<tbody>
					<tr><td height="180" valign="middle">第一阶段0至1岁信任与不信任</td>
					</tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">肚饿被喂食物,受惊被拥抱,哭泣被拥抱,让孩子知道他的重要性及家长多么需要他</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">孩子会觉得生长在一个安全的地方，长大后，会是一个开朗及信任别人的人</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">孩子会觉得生长在一个不安全的地方</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">1.表现出一种异乎寻常及极度害怕被遗弃的表现2.拼命地寻找一个依赖对象：3.需要别人照顾：深信不能信任任何人。</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">竭力维持毁灭性的感情那关系。而且展示偏执狂妄的倾向，入暴饮暴食，较过分的需要别人的夸奖。</td></tr>
				</tbody></table>
			</li>
		</ul>
		
		<ul class="strtableli03">
			<li class="strtltit">
				<table width="120">
				<tbody>
					<tr><td height="180" valign="middle">第二阶段2至3岁资助与羞愧</td>
					</tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">孩子开始学习如何控制自己的生理机能及注意到身体的能力及限制（如控制大小便）</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">如果有家长支持及受到尊重的对待。他会获得充满自主能力的感觉及觉得他自己对这个世界有一份影响力</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">若孩子在这个成长阶段中得不到鼓励，或受到恶意的批评及嘲笑，尤其是在他尝试学习如何控制大小便的过程中，他很容易会产生害羞及惭愧的感觉。</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">1，经常觉得自卑，无及既不可爱；2，不相信自己在世界上有存在的理由；3，把自己塑造成一个必须依靠别人的人；4，觉得自己生存的权利取决于对别人的重要性；5，经常做出不恰当的道歉。</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">不知道自己真正需要什么，不能拒绝别人的要求，害怕有断的经验，害怕面对别人的愤怒。</td></tr>
				</tbody></table>
			</li>
		</ul>
		<ul class="strtableli02">
			<li class="strtltit">
				<table width="120">
				<tbody>
					<tr><td height="180" valign="middle">第三阶段4至5岁主动性与内疚
					</td>
					</tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">1，喜欢幻想，创造及按照自己的主意行事；2，发展出主动性。</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">如果在这阶段受到家长的支持，他会说出他的想法及表达他的情绪，并且他会发展出一份健康的好奇心。</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">如果在这阶段，家长不支持他，反而因他作出新的尝试而处罚他，他会觉得内疚，有犯罪感，因而停止她的主动性，或会秘密的做。</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">1，害怕犯错；2，感到无助及内疚；3只懂得安慰别人；4，回避风险；5隐瞒错误。</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">1，不能认识或表达内心的感受；2，害怕说出内心的事情；3，对感情关系负上过分的责任；4，不断地去讨好别人。</td></tr>
				</tbody></table>
			</li>
		</ul>
		
		<ul class="strtableli03">
			<li class="strtltit">
				<table width="120">
				<tbody>
					<tr><td height="180" valign="middle">第四阶段6至11岁勤勉与自卑</td>
					</tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">这一阶段的孩子，会开始与别人竞争及比较。</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">如果老师和家长鼓励孩子学习及表示孩子与其他孩子一样有同样的能力，孩子将会受到激励而变得有活力。</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">如果老师和家长经常严厉地批评或忽略了孩子，孩子会不信任自己，或者不会自觉地做事，他会产生不配做某件事或不及别人的感觉。</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">1，避免参与任何的竞赛或极度喜欢与别人竞争；2，觉得不安全及不如别人；3，对自己或别人吹毛求疵。</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">1，凡事要求完美；2，经常拖延或歇搁；3，不知如何达到目标。</td></tr>
				</tbody></table>
			</li>
		</ul>
		
				<ul class="strtableli02">
			<li class="strtltit">
				<table width="120">
				<tbody>
					<tr><td height="180" valign="middle">第五阶段12至21岁身份与对角色的困惑</td>
					</tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">青春期：1，找出他自己怎样去适合这世界；2，接受自己身体生理上的变化；3，界定自己对异性的身份；4，界定在同性和同辈里的身份；5，找出人生应怎样度过。</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">若这阶段容许他去探索他自己的梦想及感觉、改变想法及尝试新的方向，他会发展成为一个接受自己的人。</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">若家长及身边的成人不支持他，又不引导他去探索，而只是过早地强逼他进入某一角色，他会形成反叛的个性或者变成一个轻浮的人。</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">1，不正确的表现出青春期的行为；2，对自己人生角色感到矛盾；3，不能订立人生目标；4，依靠情感关系或事业成就去肯定自己的身份。</td></tr>
				</tbody></table>
			</li>
			<li>
				<table width="169">
				<tbody>
					<tr><td height="180" valign="middle">1，需要不断的谈恋爱；2，需要凭存在的东西、认识多少人及工作成就去确定自己的人生目标。</td></tr>
				</tbody></table>
			</li>
		</ul>
		
	</div>
	<div class="guanai">
		<div class="guanaileft">
			<h3><img src="../image/istory/istorytit01.jpg" width="413" height="26" /></h3>
			<div class="contstr01">
				<div class="contstr01cont">
				<p>刘女士(化名)保险意识很强，在儿子小明(化名)刚过完2周岁生日的时候，就向保险公司为儿子投保了一份储蓄与健康保障兼顾的保险。<br/>  2010年5月的一天，刘女士突然发现儿子有些发热，并且口腔、手和脚生出一些疹子。刘女士带着小明到儿童医院输液，治疗了两天仍不见好转。刘女士开始怀疑，儿子是不是患上了时下还在流行的“手足口病”？忧心忡忡的刘女士带着小明来到传染病医院。果然，小明被确诊为“手足口病”，并且当天就住院治疗。办完入院手续，刘女士拨打了报案电话，电话中心的工作人员认真记录了出险情况，然后提醒刘女士保留理赔申请的单据和注意合同约定的医疗和用药标准。刘女士将医疗和用药标准向医生做了说明。经过一个星期的治疗，小明恢复了健康。
　　<br/>  小明出院后，刘女士向保险公司提出了理赔申请。仅一天，保险公司就完成了审核，向刘女士发出了赔付通知。虽然小明没有参加居民社会医疗保险，但由于刘女士投保的是附加住院费用型，并且用药和治疗费用均符合约定的社保标准，因此获得了住院医疗费用100%的赔付。</p>
				</div>
			</div>
			<div class="h10"></div>
		</div>
		<div class="guanairight">
			<div class="guanairightcont">
				<h3><img src="../image/istory/istorytit02.jpg" width="133" height="25" /></h3>
				<div class="contstr02">
					<div class="contstr02cont">
				<p>婴、幼儿由于身体和免疫系统尚处于待发育完善当中，在天气变化快的季节，非常容易患上急性呼吸道感染、腹泻等疾病，因此在夏、秋季节，短时间也可能会多次患病。保险公司专门对儿童设计了多款的意外、健康、教育等类型的产品。体现了保险公司对宝宝贴心、无微不至的关爱。</p>
				</div>
			</div>
			<div class="h10"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="strarea11"></div>

</div>
<cms:include file="block/kxb_footer_sygs.shtml" />
<script language="JavaScript" src="../js/tabchange.js"></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-34720431-1']);
_gaq.push(['_setDomainName', 'kaixinbao.com']);
_gaq.push(['_addOrganic', 'm.baidu.com', 'word']);
_gaq.push(['_addOrganic', 'wap.baidu.com', 'word']);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'baidu', 'ie']);
_gaq.push(['_addOrganic', 'baidu', 'wd']);
_gaq.push(['_addOrganic', 'so.360.cn', 'q']);
_gaq.push(['_addOrganic', 'so', 'ie']);
_gaq.push(['_addOrganic', 'so.com', 'q']);
_gaq.push(['_addOrganic', 'm.so.com', 'q']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', 'soso.com', 'w']);
_gaq.push(['_addOrganic', 'wap.soso.com', 'key']);
_gaq.push(['_addOrganic', 'wap.sogou.com', 'keyword']);
_gaq.push(['_addOrganic', 'youdao', 'q']);
_gaq.push(['_addOrganic', 'm.yisou.com', 'q']);
_gaq.push(['_addOrganic', 'jike.com', 'q']);
_gaq.push(['_addOrganic', 'glb.uc.cn', 'keyword']);
_gaq.push(['_trackPageview']);
  
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- Baidu Button BEGIN -->
<script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=0&amp;uid=6456405" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
</script>
<!-- Baidu Button END -->
<!-- 分享浮动层 开始 -->
<!-- <div class="sharefloats">
	<span><a href="#top"><img src="../image/istory/floatshare.gif" width="28" height="70" /></a></span></div> -->
<!-- 分享部浮动层 结束 -->
<!-- 回顶部浮动层 开始 -->
<div class="servfloats">
	<span><a href="#top"><img src="../image/istory/floatservs.gif" width="28" height="70" /></a></span></div>
<!-- 回顶部浮动层 结束 -->

</body>
</html>


