<!--位置信息 开始-->
<div class="wrapper">
		<div class="daohang">
			<span class="daohang_home"></span>
			<cms:link type="currentPositionList"></cms:link>
		</div>
	</div>
<!--位置信息 结束-->
<!--主体 开始-->
<div class="wrap980 mainbgl336">
	<!--左边 开始-->
	<div class="left336">
		<!--问答分类 开始-->
		<div class="columntit">问答分类</div>
		<div class="columnsubtit marg01">保险咨询</div>
		<ul class="columnclass">
			<cms:list item="Catalog" level="child" name="保险咨询">
				<li><a href="${Site.URL}/${Catalog.URL}" target="_blank">${Catalog.Name}</a></li>
			</cms:list>	
		</ul>
		<div class="h10"></div>
		<div class="columnsubtit">险种咨询</div>
		<ul class="columnclass">
			<cms:list item="Catalog" level="child" name="险种咨询">
				<li><a href="${Site.URL}/${Catalog.URL}" target="_blank">${Catalog.Name}</a></li>
			</cms:list>
		</ul>
		<div class="h10"></div>
		<div class="columnsubtit">网站相关</div>
		<ul class="columnclass">
			<cms:list item="Catalog" level="child" name="网站相关">
				<li><a href="${Site.URL}/${Catalog.URL}" target="_blank">${Catalog.Name}</a></li>
			</cms:list>
		</ul>
		<div class="h10"></div>
		<!--问答分类 结束-->
		<!--热销保险产品 开始-->
		<div class="columntit graybordert">热销保险产品</div>
		<ul class="hotprodu">
			<cms:list item="article" level="none" count="5" hasAttribute="hot" condition=" (cataloginnercode like '002313000002%' or cataloginnercode like '002313000003%') and status='30'">
				<li>
					<h4><a href="${article.link}" title="${article.title}"><img src="${Site.ProductResourcePath}${Article.ProductLogo}" alt="${Article.title}" width="50" height="50"/></a></h4>
				  	<div class="hotproduright">
						<h5><a href="${article.link}" title="${article.title}" >${article.title}</a></h5>
						<h6>${Article.AdaptPeopleInfo|substrwidth=17}</h6>
					</div>
				</li>
			</cms:list>
		</ul>
		<!--热销保险产品 结束-->
		<cms:include file="/block/kxb_zs_right.shtml" />
	</div>
	<!--左边 结束-->
	<!--右边 开始-->
	<div class="right644">
		<!--问答搜索 开始-->
		<div class="qasearcharea">
			<form action="${Site.prop6}/Search/bxwd_SearchResult.jsp">
				<input type="hidden" name="id" value="26" id="id" />
				<input type="hidden" name="site" value="221" />
				<div class="qasearcharealeft"><input name="" type="text" class="qasearchinput" value="请输入保险问题进行搜索..." onclick="this.className='qasearchinputclick'" onfocus="if(this.value=='请输入保险问题进行搜索...'){this.value='';}" onblur="if(this.value==''){this.value='请输入保险问题进行搜索...';this.className ='qasearchinput';}" /></div>
				<div class="qasearcharearight"><input name="" type="submit" value=" " class="btnsa" onmouseover="this.className='btnsaover'" onmouseout="this.className='btnsa'" />&nbsp;&nbsp;<input name="" type="button" value=" " class="btnask" onmouseover="this.className='btnaskover'" onmouseout="this.className='btnask'" onclick="location.href='<cms:link type='Catalog' name='我要提问'/>'"/></div>
			</form>	
		</div>
		<!--问答搜索 结束-->
		<!--标签头部 开始-->
		<div class="produtab"> 
             <ul id="produtablist"> 
                <li id="one1" onmouseover="setTab('one',1,2)" title="所有问题"><span onmouseover="setTabBg01()">所有问题</span></li>
				<li id="one2" onMouseOver="setTab('one',2,2)" title="热点问题"><span onmouseover="setTabBg02()">热点问题</span></li>
             </ul>
        </div>
		<!--标签头部 结束-->
		<!--已解决问题 开始-->
		<div class="tabcont" id="con_one_1">
			<ul class="qalist">
				<cms:list item="Article" level="all" page="true" pagesize="10" >
				<li>
					<div class="${article.isOk}">
						<div class="qastatus"></div>
						<div class="qalisttitarea">
							<h3><a href="${article.link}" target="_blank">${article.title}</a></h3>
							<h4>${Article.author} | 发起于 ${Article.AskTime|Format=yyyy-MM-dd }</h4>
							<div class="h0"></div>			
						</div>
						<div class="qalistacont"><b>
						<%write("solve".equals(article.getString("isOk"))? "答:":" "); %>
						
						</b>
						<%write("solve".equals(article.getString("isOk"))?article.getString("content"):article.getString("cainadaan")); %>
						</div>
					</div>
				</li>	
				</cms:list>	
			</ul>
			<div class="h0"></div>			
			<!--问答搜索 开始-->
		<div class="qasearcharea02">
		<form action="${Site.prop6}/Search/bxwd_SearchResult.jsp">
			<input type="hidden" name="id" value="26" id="id" />
			<input type="hidden" name="site" value="221" />
			<div class="qasearcharealeft"><input name="" type="text" class="qasearchinput" value="请输入保险问题进行搜索..." onfocus="if(this.value=='请输入保险问题进行搜索...'){this.value='';}" onclick="this.className='qasearchinputclick'" onblur="if(this.value==''){this.value='请输入保险问题进行搜索...';this.className ='qasearchinput';}"  /></div>
			<div class="qasearcharearight"><input name="" type="submit" value=" " class="btnsa" onmouseover="this.className='btnsaover'" onmouseout="this.className='btnsa'" />&nbsp;&nbsp;<input name="" type="button" value=" " class="btnask" onmouseover="this.className='btnaskover'" onmouseout="this.className='btnask'" onclick="location.href='<cms:link type='Catalog' name='我要提问'/>'"/></div>
		</form>
		</div>
		<!--问答搜索 结束-->
			<!--页码 开始-->
			<div class="plpage1">
				<div id="plpagecont">${PageBar1}</div>
				<div class="clear"></div>
			</div>
			<!--页码 结束-->
		</div>
		<!--已解决问题 结束-->
		<!--待解决问题 开始-->
		<div class="tabcont" id="con_one_2" style="display:none;">
			<ul class="qalist">
				<cms:list item="Article" level="all" count="10" type="rand" >
					<li>
						<div class="${article.isOk}">
						<div class="qastatus"></div>
						<div class="qalisttitarea">
							<h3><a href="${article.link}" target="_blank">${article.title}</a></h3>
							<h4>${Article.author} | 发起于 ${Article.AskTime|Format=yyyy-MM-dd }</h4>
							<div class="h0"></div>			
						</div>
						<div class="qalistacont"><b>
								<%write("solve".equals(article.getString("isOk"))? "答:":" "); %>
								
								</b>
								<%write("solve".equals(article.getString("isOk"))?article.getString("content"):article.getString("cainadaan")); %>
								</div>
						</div>			
					</li>
				</cms:list>
			</ul>
			<div class="h0"></div>			
			<!--问答搜索 开始-->
		<div class="qasearcharea02">
		<form action="${Site.prop6}/Search/bxwd_SearchResult.jsp">
			<input type="hidden" name="id" value="26" id="id" />
			<input type="hidden" name="site" value="221" />
			<div class="qasearcharealeft"><input name="" type="text" class="qasearchinput" value="请输入保险问题进行搜索..." onfocus="if(this.value=='请输入保险问题进行搜索...'){this.value='';}" onclick="this.className='qasearchinputclick'" onblur="if(this.value==''){this.value='请输入保险问题进行搜索...';this.className ='qasearchinput';}"/></div>
			<div class="qasearcharearight"><input name="" type="submit" value=" " class="btnsa" onmouseover="this.className='btnsaover'" onmouseout="this.className='btnsa'" />&nbsp;&nbsp;<input name="" type="button" value=" " class="btnask" onmouseover="this.className='btnaskover'" onmouseout="this.className='btnask'" /></div>
		</form>	
		</div>
		<!--问答搜索 结束-->
		</div>
		<!--待解决问题 结束-->
			<!--人气产品搜索词 开始-->
			<div class="hotprodukeywordtit graybordert">人气产品搜索词</div>
			<ul class="hotprodukeyword">
				<cms:list item="friendlink" name="人气产品搜索词">
					<li><a href="${friendlink.URL}" target="_blank">${friendlink.Name|CharWidth=7}</a></li>
				</cms:list>
			</ul>
			<div class="h20"></div>
			<!--人气产品搜索词 结束-->
	</div>
	<div class="h10"></div>
	<!--右边 结束-->    
</div>
<!--主体 结束-->
<div class="clear"></div>
<div class="part6">
	<ul>
	<cms:list item="hotopic"  name="问答列表页" >
		 <% if(i==0) write("<ul class=\"special_u1 clearfix special_li_21\" id=\"min_tag_hzpp1\" >");%> 
	</cms:list>	
		<cms:list item="hotopic"  name="问答列表页" >
			<li class="special_li" ><em class="<% if(i==0) write("select_tab_hzpp1 first");%>"><span class="">${hotopic.name}</span></em></li>	
		</cms:list>
	</ul>
	<div class="new_special_box clearfix" id="tag_box_hzpp1"  >
		<cms:list item="hotopic"  name="问答列表页" >
			<ul class="special_list clearfix" style="<% if(i!=0) write("display:none;");%>">
		 		<cms:sublist item="friendlink" count="50" >
			 		<li><a href="${friendlink.url}" >${friendlink.name}</a></li>
				</cms:sublist>		
			</ul>
		</cms:list>
	</div>
</div>
<cms:include file="block/community_v1.shtml" />
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<script language="JavaScript" src="${Site.JsResourcePath}/js/tabchange.js"></script>
<script type="text/javascript">
//tab背景切换
function setTabBg01(){ 
	document.getElementById("produtablist").style.backgroundPosition="0 0";
}
function setTabBg02(){
	document.getElementById("produtablist").style.backgroundPosition="0 -34px";
}
</script>
