<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${article.MetaKeywords}" />
<meta name="description" content="${article.MetaDescription}" />
<title>
<%
	String title = article.getString("MetaTitle");  
	write(((null==title || "".equals(title)) ? article.getString("title"):title) + "-" + site.getString("Meta_Keywords"));
%>
</title>

<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/new_header.css" />
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/new_listv2.css" />
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/new_logo.css"/>
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/new_detail.css" />
<link href="${Site.StaticResourcePath}/style/skins/default.css" rel="stylesheet" type="text/css" />

<script type="">
var isCpsProduct = '${Article.isCpsProduct}'; 
var riskCode = '${Article.RiskCode}';
var artTitle = '${Article.title}';
var artSalesVolume = '${Article.SalesVolume}'; 
var productType = "A02";
var catID = "9415";
var productDetailFlag="true";
var complicatedFlag = '${Article.ComplicatedFlag}';
var AppFacDutyRela = ${Article.AppFacDutyRela};
var AppFacDutyDef = ${Article.AppFacDutyDef};
</script>
<style type="">
.wrapper {
    margin: 0 auto;
    width: auto;
}
.content_right_up {
	float: left;
	height: auto;
	margin-left: 10px;
}
</style>
<%
	String canonicalProduct = article.getString("CanonicalProduct");
	if (canonicalProduct != null && !"".equals(canonicalProduct)) {
		String path = com.sinosoft.product.Filtrate.getUrl(canonicalProduct, "1");
		if (path != null && !"".equals(path)) {
			String link = "<link rel='canonical' href='" + path + "'/>";
		    write(link);
		}
	}
%>
<cms:include file="block/kxb_custom_header.shtml" />
</head>
<body onload="mysethash();">
	<iframe id="iframeA" name="iframeA" src="" width="0" height="0"
		style="display: none;"></iframe>
	<div class="wrapper">
		<div class="content">
			<div class="content_left_up">
				<div class="bnr_box">
					<p class="ttl">${Article.title}</p>
					<div class="bnr_price">
						<em>价格：</em>
						<span id="txt_price"><em>￥</em>00.00</span>
					</div>
					<p class="btn" ><a onClick='doBuy();return(VL_FileDL(this));return false;' exturl='http://www.kaixinbao.com/gm' href='javascript:void(0);'  rel='nofollow' vlpageid='gm'" >直接购买</a></p>
				</div>
			</div>
			<!-- 侧边栏结束 -->
			<input type="hidden" name="RiskCode" id="RiskCode" value="${Article.RiskCode}" />
			<input type="hidden" name="price" id="price" value="${Article.InitPrem}" />
			<input type="hidden" name="pTypeName" id="pTypeName" value="${Article.RiskBreadcrumb}" />
			<input id="ProductType" type="hidden" value="${Catalog.ProductType}" name="ProductType" />
			
			<div class="content_right_up">
				<div class="cp_gscon">
					<div class="cp_img_show">
						<p id="Activity_${Article.RiskCode}">${article.ProductActive}
						</p>

						<img width="190" height="190" style="display: inline;"
							data-original="${article.LogoLink}" class="lazy"
							src="${article.LogoLink}" alt="${article.title}" />
					</div>
				</div>

				<div class="cp_descon">
					<div class="cp_titile_con">
						<h1>${Article.title}</h1>
						<em><span class="SalesVolume" id="SalesV_${Article.RiskCode}">销量：加载中...</span></em>
					</div>
					<div class="clear"></div>
					<div id="content">
					
					<% 
		            	String tCalHTML = article.getString("CalHTML");
		            	String tRiskCode = article.getString("RiskCode");
		            	String tSplitRiskCode = article.getString("SplitRiskCode");
		            	if(tSplitRiskCode!=null && tSplitRiskCode!=""){
			            	String newPlanHTML = com.sinosoft.product.Filtrate.getCalHTML(tRiskCode,tSplitRiskCode,"0");
			            	if(tCalHTML.indexOf("sinosofttfosonis")!=-1){
			            	   tCalHTML=tCalHTML.replace("sinosofttfosonis",newPlanHTML);
			            	}
		            	}
		            	if (tCalHTML.indexOf("_ProductUrl")!=-1) {
		            		tCalHTML = com.sinosoft.product.Filtrate.getProductUrl(tCalHTML,"0");
		            	}
		            	write(tCalHTML);
		        	 %>
					</div>
					<div class="crowd clearfix">
						<em class="cp_title_ms">可购份数：</em>
						<p>每名被保险人最多可购买${Article.limcountNumber}份</p>
					</div>
					<div class="clear"></div>
					<div class="price_con clearfix">
						<em class="cp_title_ms">价格：</em>
						<ul class="price">
							${Article.prodcutMarkPrice}
						</ul>
					</div>
					<div class="clear"></div>
					<div class="tb_yh clearfix">
					</div>
					<div class="clear h8"></div>
					<div class="button_b clearfix" id="button_b clearfix">
						<span  onClick="doBuy();" class="button_b1">直接购买</span>
						<span class="error_btn" style="display:none">该产品已下架</span>
						
					</div>
					<div class="clear"></div>
					
				</div>
				<div class="clear"></div>
					<!-- 公告 -->
			        <div class="gg_box" style="display:none">
			          <span class="gg_box_title">公告：</span>
			            <ul class="gg_lists">
			            </ul>
			        </div>
			        <!-- 公告end -->
                     <!--隐藏属性 style="display:none" -->
			          <div class="error_shop_tj cf" id="error_div" style="display:none">
			           		<h4 class="error_titile"><b>为您精心挑选了其他${catalog.name}产品：</b><a id="gengduo" href="###" target="_blank">还是没有你想要的，查看更多>></a></h4>
					          
				       	   <div id="ajaxProduct">
<!--					            <img src="../images/loading2.gif" width="70" height="70" class="loading" />-->
				       	   </div> 	
          			  </div>

				<div class="cp_contents">
					<p id="min_tag" class="title fixed_nav">
						<em><a class="selects_tag" href="javascript:void(0);">产品详情</a> </em>
						<em><a href="javascript:void(0);" class="">投保示例</a> </em>
						<em><a class="" href="javascript:void(0);">理赔服务</a> </em>
					</p>
					<div class="cp_des" id="tag_box">
						<div class="cp_xq_con">
							<div class="ccp_box_con ccp_box_con_up">
							<div class="li_list li_list_up">
							${Article.ProductDetailFront}
							</div>
							${Article.ProductDetailBright}
						    <div class="li_list li_list_up">
						    ${Article.ProductDetailTail}
							</div>
							</div>
							<div class="bor_h"></div>
							<div class="ccp_box_con">
								<h3 class="n_title ">
									保障权益 <em>如果您对保障权益有任何疑问，请点击<a vlpageid="xiaoneng" exturl="http://www.kaixinbao.com/xiaoneng" id="qqwap2" onclick="return(VL_FileDL(this));return false;"
										href="javascript:void(0);"
										rel="nofollow">在线客服</a> </em>
								</h3>
								${Article.DutyHTML1}
							</div>

						<div class="bor_h"></div>
						<div class="ccp_box_con">
							<h3 class="n_title ">产品特色</h3>
							<p>${Article.ERiskFeatures}</p>
						</div>
						<div class="bor_h"></div>
						<%
							String Instruction = article.getString("Instruction");
							if(null==Instruction || "".equals(Instruction))  {  
						%>
						<div class="ccp_box_con">
							<h3 class="n_title ">开心保提示</h3>
							<ul class="zr_list_conbs">
								<li><em>1、</em>开心保网站上的投保责任描述仅供了解产品使用，详细内容请参阅相关条款。</li>
								<li><em>2、</em>18周岁以下的被保险人，其以死亡为给付责任的保险金额不得超出中国保监会所规定的10万元限额。</li>
								<li><em>3、</em>经开心保购买的产品，将提供电子保单，若需要纸质保单请联系客服人员。</li>
								<li><em>4、</em>对于办理签证使用的产品，其电子保单彩色打印后可用于办理签证。根据签证实际情况，建议您提前准备一份保单复印件给使馆备份；</li>
								<li><em>5、</em>对于保障期在一年以内的非寿险产品，不办理撤保、退保和加保，敬请谅解。</li>
								<li><em>6、</em>对于签证使用的产品，不承保处于战乱国家。</li>
								<li><em>7、</em>经开心保购买产品的顾客，若发生保险事故，开心保将尽全力协助办理理赔服务（4009-789-789）。</li>
							</ul>
						</div>
						<%} else { 
							write(article.getString("Instruction") );
					    } %>
					    <div class="ccp_box_zy">
					    ${Article.Doc2}
					    </div>
						<div class="bor_h"></div>
						<div  class="ccp_box_con">
							<h3 class="n_title ">理赔服务</h3>
							<img src="${Site.StaticResourcePath}/style/shop/images/desc_03.jpg" width="678"
								height="225" alt="一站式服务，理赔更安心" title="一站式服务，理赔更安心">
								<h4 class="ccp_titles_t">1、理赔办理流程</h4> <img
								src="${Site.StaticResourcePath}/style/shop/images/desc_07.gif" width="431" height="27">
									<div class="clear"></div>
									<p class="bz_list_con">
										<b>第一步：</b>发生保险事故后，请第一时间理赔报案。您可以直接向保险公司报案，也可以请开心保协助报案。开心保为您开通客服专线4009-789-789、在线客服以及客服邮箱
										kf@kaixinbao.com等多种报案协助申请方式。<br>
									</p>
									<p class="bz_list_con">
										<b style="float: left;">第二步：</b>请您根据<帮助中心>-<理赔帮助>中关于理赔材料说明，收集、整理、提交理赔材料进行理赔申请。为了最大程度缩短理赔时间，理赔材料齐全后，可直接快递至相应保险公司。<br>
									</p>
									<p class="bz_list_con">
										<b>第三步：</b>保险公司收到申请材料以后，会开启"开心保理赔特别通道"，会很快的完成理赔案件的审核。<br>
									</p>
									<p class="bz_list_con">
										<b>第四步：</b>理赔审核完成后，理赔结果会及时通知您！也请您及时查看您申请理赔的银行账户，确认钱款是否及时到帐。<br>
									</p>
									<h4 class="ccp_titles_t">2、理赔申请指引</h4>
									<p>
										保险公司报案理赔专线：${Article.Phone}<br>
									</p>
									<p>
										   理赔申请书：
										<ul  class="bxtk_list_box">
										   <li>下载：
											<cms:list item="attachment"  name="理赔申请书/${Article.CompanyShortName}"> 
											<span class="${attachment.Suffix}"><a href="${Site.URL}/${attachment.Path}${attachment.SrcFileName}">${attachment.Name}</a></span>
									        </cms:list>
										   </li>
										</ul>
							       </p>
									<h4 class="ccp_titles_t">3、理赔温馨提示</h4>
									<p>
										出于对客户健康的关怀，保险公司通常都会要求客户选择医疗质量高的公立二级甲等（县区级）以上医院进行就诊治疗，在接诊医生询问事故经过或者伤病历史时，应如实说明并请医生在病历上记录。（若特殊原因无法按照要求选择医院时，请拨打报案电话向保险公司垂询）<br>
											发生交通工具等意外伤害事故，如有公安交警、急救中心、司法鉴定等相关机构介入处理的，请注意索要和保管好相应的证明、急救病历和鉴定报告等书面材料，作为事后申请理赔的重要依据。
									</p>
						</div>
						<div class="bor_h"></div>
						<div class="ccp_box_con">
							<h3 class="n_title ">保险条款</h3>
							<p>
								保险责任请参考产品对应条款，并敬请特别留意条款中的 <span class="col_reds">"责任免除"</span>
								部分。
							</p>
							<ul class="bxtk_list_box">
								${Article.Doc1}${Article.Doc5}
							</ul>
						</div>
						<div class="bor_h"></div>
						${Article.termInformation}
						<div class="bor_h"></div>
                         <div class="ccp_box_con" style="display:none;" id="ccp_box_con">
	                    <h3 class="n_title ">保险条款<span class="gx_com">非常感谢您选择开心保，为了确保能联系到您，请准确填写以下信息</span></h3> 
                        </div>
						
					</div>

					<div class="cp_tbsl_con" style="display: none">
						<div class="ccp_box_con">
							<h3 class="n_title ">投保示例</h3>
							<p>${Article.toubaoshili}
							</p>
						</div>
					</div>

					<div class="cp_lpfu_con" style="display: none">
						<div class="ccp_box_con">
							<h3 class="n_title ">理赔服务</h3>
							<img src="${Site.StaticResourcePath}/style/shop/images/desc_03.jpg" width="678"
								height="225" alt="一站式服务，理赔更安心" title="一站式服务，理赔更安心">
								<h4 class="ccp_titles_t">1、理赔办理流程</h4> <img
								src="${Site.StaticResourcePath}/style/shop/images/desc_07.gif" width="431" height="27">
									<div class="clear"></div>
									<p class="bz_list_con">
										<b>第一步：</b>发生保险事故后，请第一时间理赔报案。您可以直接向保险公司报案，也可以请开心保协助报案。开心保为您开通客服专线4009-789-789、在线客服以及客服邮箱
										kf@kaixinbao.com等多种报案协助申请方式；<br>
									</p>
									<p class="bz_list_con">
										<b style="float: left;">第二步：</b>请您根据<帮助中心>-<理赔帮助>中关于理赔材料说明，收集、整理、提交理赔材料进行理赔申请。为了最大程度缩短理赔时间，理赔材料齐全后，可直接快递至相应保险公司。<br>
									</p>
									<p class="bz_list_con">
										<b>第三步：</b>保险公司收到申请材料以后，会开启"开心保理赔特别通道"，会很快的完成理赔案件的审核。<br>
									</p>
									<p class="bz_list_con">
										<b>第四步：</b>理赔审核完成后，理赔结果会及时通知您！也请您及时查看您申请理赔的银行账户，确认钱款是否及时到帐。<br>
									</p>
									<h4 class="ccp_titles_t">2、理赔申请指引</h4>
									<p>
										保险公司报案理赔专线：${Article.Phone}<br>
									</p>
									<p>
										   理赔申请书：
										<ul  class="bxtk_list_box">
										   <li>下载：
											<cms:list item="attachment"  name="理赔申请书/${Article.CompanyShortName}"> 
											<span class="${attachment.Suffix}"><a href="${Site.URL}/${attachment.Path}${attachment.SrcFileName}">${attachment.Name}</a></span>
									        </cms:list>
										   </li>
										</ul>
							       </p>
									<h4 class="ccp_titles_t">3、理赔温馨提示</h4>
									<p>
										出于对客户健康的关怀，保险公司通常都会要求客户选择医疗质量高的公立二级甲等（县区级）以上医院进行就诊治疗，在接诊医生询问事故经过或者伤病历史时，应如实说明并请医生在病历上记录。（若特殊原因无法按照要求选择医院时，请拨打报案电话向保险公司垂询）<br>
											发生交通工具等意外伤害事故，如有公安交警、急救中心、司法鉴定等相关机构介入处理的，请注意索要和保管好相应的证明、急救病历和鉴定报告等书面材料，作为事后申请理赔的重要依据。
									</p>
						</div>
					</div>

				</div>
				<div class="ligm_consf" id="ligm_consf">
					<div class="button_b clearfix">
						<span class="button_b1" onClick="doBuy();">直接购买</span>
						<span class="error_btn" style="display:none">该产品已下架</span>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="h20"></div>
</div>
	<div class="clear"></div>
		<!-- 维析分组代码   -->
<script type="text/javascript">VLTrace_custom_getparam='u1=productdetail';</script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/LAB.min.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/weixitrack.js"></script>
<script type="text/javascript">
	$LAB = $LAB.script("${Site.JsResourcePath}/js/jquery-1.4.2.min.js").wait()//确保顺序加载
	.script("${Site.JsResourcePath}/js/jquery.cookie.js").wait()
	.script("${Site.JsResourcePath}/js/jquery.form.js").wait()
	.script("${Site.JsResourcePath}/js/jqueryupdate.js").wait()
	.script("${Site.JsResourcePath}/js/template/common/js/base.js").wait()
	.script("${Site.JsResourcePath}/js/header1.js").wait()
	.script("${Site.JsResourcePath}/js/footer.js").wait()
	.script("${Site.JsResourcePath}/js/artDialog.js").wait()
	.script("${Site.JsResourcePath}/js/login.js").wait()
	.script("${Site.JsResourcePath}/js/template/shop/js/My97DatePicker/WdatePicker.js").wait()
	.script("${Site.JsResourcePath}/js/iframeTools.js").wait()
	.script("${Site.JsResourcePath}/js/jquery.qtip.js").wait()
	.script("${Site.JsResourcePath}/js/premcalculate.js").wait()
	.script("${Site.JsResourcePath}/js/productCompare.js").wait()
	.script("${Site.JsResourcePath}/js/jquery.poshytip.js").wait()
	.script("${Site.JsResourcePath}/js/iframe.js").wait()
	.script("${Site.JsResourcePath}/js/detail_bxsc_v2.js").wait(function(){
		jQuery(".fixed_nav").fixedNavigation();
		jQuery(".bnr_box").fixedBanner({ navElm : "#min_tag" }).selectDropDown();
		jQuery(".bz_time").complexProduct();
	});
</script>
<script type="text/javascript">

		var productType = "A02";
		var catID = "9415";
	 
		var bxhzUrl = window.location.search;  
		bxhzUrl = bxhzUrl.replace("?", "");
		var coopStr = bxhzUrl.split("@");
		var p_url = coopStr[1];
		function doBuy(){
			var rootEle = document.getElementById("divRiskAppFactor_" + "${Article.RiskCode}");
			var tempURL = "";
			if (rootEle != null) {
		var dc = new DataCollection();
		var ulNodeList = rootEle.getElementsByTagName("UL");
		for ( var i = 0; i < ulNodeList.length; i++) {
			for ( var j = 0; j < ulNodeList[i].childNodes.length; j++) {
				if (ulNodeList[i].childNodes[j].className == "li_selected") {
					var param = ulNodeList[i].id;
					param = param.substring(param.indexOf("_")+1);
					var nameval = ulNodeList[i].childNodes[j].firstChild.getAttribute("name");
					if(nameval == null){
						if(jQuery("#LiDayItemAuto").html() == null  || jQuery("#LiDayItemAuto").html() == 'undefined' || jQuery("#LiDayItemAuto").html() == '自主选择'){
							var txtStartDay = jQuery("#txtStartDay").val();
							var txtEndDay = jQuery("#txtEndDay").val();

							if(txtStartDay == null || txtStartDay == ''){
								jQuery("#DayE").html("请选择出发日期");
								jQuery('#DayE').show();
								jQuery.ajaxLoadImg.hide('showid');
								return false;
							}
							if(txtEndDay == null || txtEndDay == ''){
								jQuery("#DayE").html("请选择结束日期");
								jQuery('#DayE').show();
								jQuery.ajaxLoadImg.hide('showid');
								return false;
							}
							jQuery("#DayE").html("请计算天数");
							jQuery('#DayE').show();
							jQuery.ajaxLoadImg.hide('showid');
							return false;
						}

						var day = parseInt(getDay(jQuery("#LiDayItemAuto").html()));
						if(day <= 0){
							jQuery("#DayE").html("天数只能选择大于等于1天");
							jQuery('#DayE').show();
							jQuery.ajaxLoadImg.hide('showid');
							return false;
						}
						tempURL += "@"+param + "="+encodeURIComponent(day+"X");
					}else{
						tempURL += "@"+param + "="+encodeURIComponent(encodeURIComponent(ulNodeList[i].childNodes[j].firstChild.getAttribute("name")));
					}
					continue;
				}else if(ulNodeList[i].childNodes[j].id == "birthday_li_id"){//My97DatePicker  时间控件
					var param = ulNodeList[i].id;
					param = param.substring(param.indexOf("_")+1);
					tempURL += "@"+param + "="+encodeURIComponent(encodeURIComponent(jQuery("#inpRiskAppFactor_TextAge").val()));
				}
			}

		}
		// 份数特殊处理
		if (jQuery(".shop_oknum > .number").length > 0) {
			tempURL += "@Mult=" + jQuery(".shop_oknum > .number").val();
		}
	}
	
	
			var supplierCode=${Article.SupplierCode};
			var isCpsProduct = '${Article.isCpsProduct}';
			var url = "";
			if(isCpsProduct=="01"){
				_gaq.push(['_trackEvent', 'CPS','TO']);
				url ="${Site.prop6}/shop/order_cps!recordJump.action?productId=${Article.RiskCode}";
				var jump_url ="${Site.URL}/wj/Site/bxscOrder_jump.jsp?orderURL="+url+"&channel="+coopStr[0];

				   if(coopStr.length >= 3){
		  		 	  jump_url +=  "&LastUrl=" + coopStr[2];
				   }
				   
		  		   top.location.href = jump_url;
			}else{
				if (complicatedFlag == 'Y') {
					var param = {};
					var selectedLi = jQuery(".bz_time .li_selected");
					var selectedTd = jQuery("#gh_tables td.CDutyCol2").find("select, span");
					var jAutoSelDay = jQuery(".cp_descon #UlDayBelongs > ul > li > span:not(#LiDayItemAuto)");
					var jDaySel = jQuery("#LiDayItemAuto");
					var plantemp = "";
					/**/ 
					selectedLi.each(function(i, v) {
						var _key, _val;
						
						if(jQuery(v).children().attr("id") == "LiDayItemAuto") {
							var _nowNum = parseInt(jDaySel.text());
							var maxDayScope = jQuery(jAutoSelDay[jAutoSelDay.length - 2]).text().slice(0, -1).split("-");
							var selDayMax;
							
							if(maxDayScope.length == 1) { 
								selDayMax = maxDayScope[0]
							} else if (maxDayScope.length > 1) {
								selDayMax = maxDayScope[1]
							}
							
							jAutoSelDay.each(function(i, u) {
								if(i == jAutoSelDay.length - 1) return;
								
								var dayScope = jQuery(u).text().slice(0, -1).split("-");

								if((dayScope.length == 1 && _nowNum == dayScope[0]) || (dayScope.length > 1 && _nowNum >= dayScope[0] && _nowNum <= dayScope[1])) {
									_val = jQuery(u).attr("name");
								}	
							});
							
							if (_nowNum > selDayMax) {
								jDaySel.parent().removeClass("li_selected");
								jDaySel.text("自主选择▼");
								jAutoSelDay.eq(jAutoSelDay.length -1).parent().addClass("li_selected");
								_val = jAutoSelDay.eq(jAutoSelDay.length -1).attr("name");
							}
						} else {
							_val = jQuery(v).children().attr("name");
						}
						
						_key = jQuery(v).parent().attr("id");
						
						param[""+ _key +""] = _val;
						if (_key.indexOf("Plan") > 0) {
							plantemp = _val;
						}
					});
					var duty = "";
					selectedTd.each(function(i, v) {
						var _key = v.id.slice(0, v.id.indexOf("_"));
						var _val;
						
						if(v.nodeName == "SELECT") {
							_val = jQuery(v).val();	
						} else if(v.nodeName == "SPAN") {
							_val = jQuery(v).text();	
						}
						
						if(_val.search(/不投保/) != -1) {
							_val = 0;
						} else if(_val.search(/万/) != -1) {
							_val = parseFloat(_val)*10000;
						} else if(_val.search(/元\/天/) != -1) {
							_val = parseFloat(_val);
							if (riskCode.indexOf("2100") >= 0) {
								_val = _val * 180;
							}
						} else if(_val.search(/-/) != -1) {
							return;
						} else if(_val.search(/是/) != -1) {
							_val = parseFloat(1);
						} else if(_val.search(/否/) != -1) {
							_val = parseFloat(0);
						} else if(parseInt(_val.split("/")[0]) != -1) {
							var var1 = parseInt(_val.split("/")[1]);
							_val = parseFloat(_val.split("/")[0]);
							if(_val == 500 && var1 == 6) {
								_val = 500.0;
							}
						}
						duty +=  _key + '-' + _val +',';
					});
					param["RiskCode"] = riskCode;
					var hidDutyInfo = document.getElementById("hidDutyInfo");
					if (typeof(hidDutyInfo) != "undefined" && hidDutyInfo != null) {
						param["duty"] = duty.substring(0,duty.length-1) + "@" + hidDutyInfo.value;
					} else {
						param["duty"] = duty.substring(0,duty.length-1) ;
					}
					
					try{
						var duty1='',duty2='';
					  if (riskCode == "224801001") {
                var planVal = "";
                selectedLi.each(function(i, v) {
                    var _key, _val;
                    _val = jQuery(v).children().attr("name");
                    _key = jQuery(v).parent().attr("id");
                    if (_key.indexOf("Plan") > 0) {
                        planVal = _val;
                        duty1 = "224801001001-" + _val
                    }
                    if (_key == "duty" && _val == "0") {
                        duty2 = "224801001002-" + _val
                    } else {
                        if (_key == "duty" && _val != "0") {
                            duty2 = "224801001002-" + planVal
                        }
                    }
                });
                
                var _duty02 = jQuery("#224801001002_02").val();
								if(_duty02 && typeof(_duty02) != 'undefined'){
									if( _duty02 =='投保' ){
										duty2 ='224801001002-'+ planVal;
									} else {
										duty2 ='224801001002-0';
									}
								}
                
                param.duty = duty1 + "," + duty2
            }
          }catch(E){
          	//alert(E)
          } 
          
					jQuery.ajax({
						type: "GET",
						url: '${Site.prop6}/shop/filter!dutySave.action',
						data: param,
						dataType: "json",
						success: function(data){
							if(data && data.status == '1'){
								tempURL += "@complicatedFlag=Y@dutyTempSerials="+data.serials;
								url="${Site.prop6}/shop/order_config_new!buyNow.action?productId=${Article.RiskCode}"+tempURL;
								var jump_url ="${Site.URL}/wj/Site/bxscOrder_jump.jsp?orderURL="+url+"&channel="+coopStr[0];

								   if(coopStr.length >= 3){
						  		 	  jump_url +=  "&LastUrl=" + coopStr[2];
								   }
								   
						  		   top.location.href = jump_url;
						 }else {
							 alert(data.msg);
							 return;
						 }
						}
					});
				} else {
					url="${Site.prop6}/shop/order_config_new!buyNow.action?productId=${Article.RiskCode}"+tempURL+"&complicatedFlag=N";
					var jump_url ="${Site.URL}/wj/Site/bxscOrder_jump.jsp?orderURL="+url+"&channel="+coopStr[0];

					   if(coopStr.length >= 3){
			  		 	  jump_url +=  "&LastUrl=" + coopStr[2];
					   }
					   
			  		   top.location.href = jump_url;
				}
				
			}
		}

	</script>

</body>
</html>