 	<!-- 关于我们 --> 
	<section id="about_us">
		<ul class="about_list">
			<li>
				<span class="icon sign_01"></span>
				<span class="ttl">官方认证</span>
				<span class="txt">中国保监会<br />首批认证品牌</span>
			</li>
			<li>
				<span class="icon sign_02"></span>
				<span class="ttl">业界评价</span>
				<span class="txt">2013最佳<br />保险中介</span>
			</li>
			<li>
				<span class="icon sign_03"></span>
				<span class="ttl">用户认可</span>
				<span class="txt">200万<br />用户的选择</span>
			</li>
			<li>
				<span class="icon sign_04"></span>
				<span class="ttl">战略合作</span>
				<span class="txt">30家知名保险<br />合作伙伴</span>
			</li>
		</ul>
		<p class="banner"><img src="http://mresource.kaixinbao.com/images/common/bnr_about_us.jpg" /></p>
	</section>
   <!-- 、关于我们 -->
   <!--尾部 -->
	<footer id="footer_box">
		<ul class="link_list">
			<li><a rel="nofollow" href="${Site.WapURL}" exturl="${Site.WapURL}/wfsy" onClick="javascript:void(0);return(VL_FileDL(this));return false;" vlpageid="wfsy">首页</a></li>
			<li><a rel="nofollow" href="${Site.WapURL}/about.shtml" exturl="${Site.WapURL}/wfgykxb" onClick="javascript:void(0);return(VL_FileDL(this));return false;" vlpageid="wfgykxb">关于开心保</a></li>
			<li><a rel="nofollow" href="${Site.WapURL}/contact.shtml" exturl="${Site.WapURL}/wflxwm" onClick="javascript:void(0);return(VL_FileDL(this));return false;" vlpageid="wflxwm">联系我们</a></li>
			<li><a rel="nofollow" href="${Site.WapURL}/recommend.shtml" exturl="${Site.WapURL}/wfwxtj" onClick="javascript:void(0);return(VL_FileDL(this));return false;" vlpageid="wfwxtj">微信推荐</a></li>
			<li><a rel="nofollow" href="${Site.WapURL}/ditu/sitemap.xml" exturl="${Site.WapURL}/wfsite" onClick="javascript:void(0);return(VL_FileDL(this));return false;" vlpageid="wfsite">sitemap</a></li>
		</ul>
		<p>wap.kaixinbao.com&nbsp;&nbsp;开心保保险网</p>
	</footer>
	   <!--、尾部 -->