<!DOCTYPE html>
<script type="text/javascript" src="${Site.StaticResourcePath}/js/min-jquery.js"></script>
<script type="text/javascript" src="${Site.StaticResourcePath}/js/template/common/js/jquery.jqDnR.js"></script>
<script type="text/javascript" src="${Site.StaticResourcePath}/js/template/common/js/jquery.jqModal.js"></script>
<script type="text/javascript" src="${Site.StaticResourcePath}/js/redesign/re_base.js"></script>
<script type="text/javascript" src="${Site.StaticResourcePath}/js/redesign/re_footer.js"></script>
<script type="text/javascript" src="${Site.StaticResourcePath}/js/jquery.cookie.js"></script>
<script type="text/javascript" src="${Site.StaticResourcePath}/js/login.js"></script>
<script type="text/javascript" src="${Site.StaticResourcePath}/js/redesign/re_header.js"></script>
<script type="text/javascript" src="http://dl.ntalker.com/js/xn6/ntkfstat.js?siteid=kf_9401" charset="utf-8"></script> 