<!-- 邮件模板-公共头 start-->
<tr>
	<td align="right" height="20px;"><font
		style="padding-right: 15px; color: #999999; font-size: 12px;">为了保证正常收到开心保网发送的保单信息，请将<a
		href="mailto:KF@kaixinbao.com"
		style="text-decoration: none; color: #F15717;">kf@kaixinbao.com</a>加入到您的通讯录</font>
	</td>
</tr>
<tr>
	<td align=center><a href="http://www.kaixinbao.com/"
		target="_blank"> <img
		src="${Site.StaticResourcePath}/image/header_s_03.gif"
		width="617" height="51" style="display: block; border: none;"
		alt="开心保-客服电话：4009-789-789"></a></td>
</tr>
<tr>
	<td
		style="font-family: microsoft yahei; color: #ED6D00; font-size: 16px; font-weight: bold"
		height=40>
	<table border="0" cellspacing="0" cellpadding="0"
		style="width: 600px; border-bottom: 2px solid #F15717" align="center">
		<tr>
			<td height="35px;" align="center"><a href="http://www.kaixinbao.com" target="_blank"
				style="color: #6A6A6A; font-size: 14px;">首页</a></td>
			<td align="center"><a
				href="http://www.kaixinbao.com/lvyou-baoxian/" target="_blank"
				style="color: #6A6A6A; font-size: 14px; text-decoration: none;">旅游险</a></td>
			<td align="center"><a
				href="http://www.kaixinbao.com/yiwai-baoxian/" target="_blank"
				style="color: #6A6A6A; font-size: 14px; text-decoration: none;">意外险</a></td>
			<td align="center"><a
				href="http://www.kaixinbao.com/jiankang-baoxian/" target="_blank"
				style="color: #6A6A6A; font-size: 14px; text-decoration: none;">健康险</a></td>
			<td align="center"><a
				href="http://www.kaixinbao.com/renshou-baoxian/" target="_blank"
				style="color: #6A6A6A; font-size: 14px; text-decoration: none;">寿险</a></td>
			<td align="center"><a
				href="http://www.kaixinbao.com/jiacai-baoxian/" target="_blank"
				style="color: #6A6A6A; font-size: 14px; text-decoration: none;">家财险</a></td>
			<td align="center"><a href="http://www.kaixinbao.com/chexian/"
				target="_blank"
				style="color: #6A6A6A; font-size: 14px; text-decoration: none;">车险</a></td>
			<td align="center"><a href="http://www.kaixinbao.com/tx/"
				target="_blank"
				style="color: #6A6A6A; font-size: 14px; text-decoration: none;">团体险</a></td>
			<td align="center"><a
				href="http://www.kaixinbao.com/touzi-licai/" target="_blank"
				style="color: #6A6A6A; font-size: 14px; text-decoration: none;">理财险</a></td>
		</tr>
	</table>
	</td>
</tr>
<!-- 邮件模板-公共头 start-->
