<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="${catalog.Meta_Keywords}" />
<meta name="description" content="${catalog.Meta_Description}" />
<title>${catalog.meta_title}-${site.Meta_Keywords}</title>
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/redesign/re_header.css">
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/new_help.css">
<cms:include file="block/kxb_custom_header.shtml" />
</head> 

<body>
<cms:include file="block/kxb_header_index_new_v2.shtml" />
<!--导航开始-->
<div class="wrapper">
		<div class="daohang">
			<span class="daohang_home"></span>
			<cms:link type="currentPositionList"></cms:link>
		</div>
<!--导航结束-->
<cms:include file="block/help_common_header.shtml" />           
        <div class="grid-c3f help_m">
			<div class="col-main">
				<div class="main-wrap">
					<div class="help_bor_h">
                    	<h3 class="help_titile2">保单帮助</h3>
                      <div class="help_con">
<b id="yxxg1">保单送达说明</b>
<p>
1.开心保网所有保险产品均为您提供电子保单。电子保单与纸质保单具有相同的法律效力，同时电子保单具有低碳环保、管理方便、安全省心等优势和特点，可作为理赔的有效凭证。
</p>
<p>
2.在订单支付成功后约30分钟，电子保单会发送到投保时填写的投保人邮箱中，届时请注意查收。（有的邮箱有过滤功能，如果收件箱没收到，请查看保单邮件是否在垃圾邮件中。）
</p>
<p>
3.在开心保网成功购买境外旅游保险、申根签证险保险等在办理签证时，可以将电子保单彩色打印后，作为保险凭证材料使用 </p>
<p>
4.若需要提供纸质保单，请致电开心保客服4009-789-789或点击在线客服，确认您的信息后，由客服人员为您尽快安排寄送。纸单通常是以快递方式送达，时效约为2-4个工作日。 
</p>

<span class="help_sm"><b>特别说明：</b>有的保险公司因寄送纸单产生的邮寄费用，可能会由客户承担，届时客服会向您具体说明。</span>
<br>
<br>
 <b id="yxxg2">保单变更说明</b>
<div class="clear h10"></div>
<dl class="help_sm_dls">
    <dt><em class="help_dl_one"></em>联系开心保客服</dt>
    <dd>在保单生效前，致电开心保客服4009-789-789或点击在线客服，提供订单相关信息。</dd>
    <dt><em></em>开心保变更处理</dt>
    <dd>按照客户提供的最新信息，进行变更处理。</dd>
    <dt><em class="help_dl_end"></em>保单变更成功</dt>
    <dd>变更成功后，会将新的电子保单发送到投保人邮箱中，届时请以新的保单为准，原保单作废。</dd>
  </dl> 
  <span class="help_sm"><b>特别说明：</b>有的保险公司因保单变更产生的邮寄单证或其他费用，可能会由客户承担，届时客服会向您具体说明。</span>
  <br>
  <br>
  <b id="yxxg3">保单取消说明</b>
  <div class="clear h10"></div>
  <dl class="help_sm_dls">
    <dt><em class="help_dl_one"></em>联系开心保客服</dt>
    <dd>在申请取消保单前，请致电开心保客服4009-789-789或点击“在线客服”咨询，在确定可以取消后，由客服人员协助您办理取消保单事宜。</dd>
    <dt><em></em>填写申请表</dt>
    <dd>请点击<a href="${Site.StaticResourcePath}/保单批改申请书.pdf">下载《保单批改申请书》</a>，认真填写。</dd>
    <dt><em></em>提交退保材料</dt>
    <dd>将填写好的《保单批改申请书》与投保身份证（反正面）扫描件或照片一并发送到开心保网客服邮箱内bq@kaixinbao.com。
        <br>
        签证保险在起保(生效)后提供拒签证明可全额退还保费。<br>
        为了保障客户的权益，开心保只受理通过投保时填写投保人邮箱发送来的申请材料。
        </dd>
    <dt><em></em>退保申请办理</dt>
    <dd>开心保为您转办处理退保并追踪进度。</dd>
    <dt><em class="help_dl_end2"></em>退保完成</dt>
    <dd>保办理成功后，保费会退还到您当时支付的账户中，届时请注意查收。</dd>
  </dl> 
  <span class="help_sm"><b>特别说明：</b><p>办理保单取消需要保证充足的操作时间，为了保障使您的权益，请提前2个工作日提交申请，逾期不保证保单顺利取消。保单取消后，您就不再享有保险保障，因此在提出取消申请前请您慎重考虑。<br>有的保险公司因保单变更产生的邮寄单证或其他费用，可能会由客户承担，届时客服会向您具体说明。</p></span>
                  
                      </div>
                    </div>
				</div>
			</div>
			<cms:include file="block/help_common_sidebar.shtml" />
		</div>
        
        
        
        </div>



<cms:include file="block/kxb_footer_new_common.shtml" />
<cms:include file="block/community_v1.shtml" />
 
<script src="${Site.JsResourcePath}/js/sidebar-follow-jquery.js"></script>
<script>
/*侧边栏跟随配置*/
(new SidebarFollow()).init({
	element: jQuery('#sidebar_help'),
	distanceToTop: 10
});
  
  jQuery(document).ready(function() {
	  jQuery(".help_tree").each(function(i, v) {
		  jQuery(v).find("dd").each(function(j, o) {
			 if (jQuery(o).find("a").attr("href").indexOf(window.location.href) >=0) {
				 jQuery(v).addClass("help_select").siblings().removeClass("help_select");
			 }
		  })
	  });
	  jQuery(".help_tree dt").click(function(){
	        var jPar = jQuery(this).parent();

	        if(!jPar.hasClass("help_select")){
	            jPar.addClass("help_select")
	                .siblings()
	                .removeClass("help_select");
	        }
	    });
  });
</script>

</body>
</html>
