<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${catalog.Meta_Keywords}" />
<meta name="description" content="${catalog.Meta_Description}" />
<title>${catalog.meta_title}-${site.Meta_Keywords}</title>
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link href="${Site.StaticResourcePath}/style/IntegralMallSty.css" rel="stylesheet" type="text/css" />
<link href="${Site.StaticResourcePath}/style/StyCss.css" rel="stylesheet" type="text/css" />
<link href="${Site.StaticResourcePath}/style/BaikeSty.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/redesign/re_header.css">
<cms:include file="block/kxb_custom_header.shtml" />
</head>
<body>
<cms:include file="block/kxb_header_index_new_v2.shtml" />
<div class="wrapper">
	
		<div class="daohang">
			<span class="daohang_home"></span>
			<cms:link type="currentPositionList"></cms:link>
		</div>
    	<div class="clear"></div>
	
    <div><!--   Left  begin   -->
    	<div class="MallColumnArea_2 mb10 mt10"><!--     手机充值卡类兑换排行  begin   -->
    	<div class="TitleArea">
        	<h3>手机充值卡类兑换排行</h3>
        </div>
        <div class="ColumnCont">
        	 <ul>
        	    <cms:list item="Article" count="10" hasAttribute="newRecommend">
        	        <% int index = i+1; %>
	                <li>
	                   <% if(index<=3) { %>
	                   		 <div class="ListNumberID_<%=index%>"><%=index%></div>
	                   <% } else {%>
	                   		 <div class="ListNumberID"><%=index%></div>
	                   <% } %>
	                    <div class="ListTxt"><a href="${Article.Link}" target="_top">${Article.title}</a></div>
	                    <div class="clear"></div>
	                </li>
                </cms:list>
            </ul>
        </div>
    	</div>
    </div>
	<div class="MallColumnArea_3 mt10" ><!--     手机充值卡  begin   -->
    	<div class="TitleArea">
        	<h3>手机充值卡</h3>
        </div>
	</div>
	<div class="wrappointlist">
		<ul class="pointlist" >
               <cms:list item="Article" level="current" pagesize="12" page="true">
					<li>
						<div class="picwrap">
							<a href="${Article.Link}" target="_top">
							<img src="${Site.StaticResourcePath}/${Article.logo}" width="120" height="90" alt="${Article.title}" /></a>
						</div>
						<p><a href="${Article.Link}" target="_blank">${Article.title}</a></p>
						<p class="txt300">开心果：<b>${article.kaixinguo}</b></p>
						<div class="btn"><a href="${Article.Link}" target="_blank"><img src="${Site.StaticResourcePath}/images/pointbtn01.gif" /></a></div>
					</li>
			  </cms:list>
				
			  
  		</ul>
		<div class="clear"></div>
		<div class="PageArea"  > 
             ${PageBreakBar} 
             <div class="clear"></div>
        </div>
	</div>
    <div class="clear"></div>    	
</div>
<cms:include file="block/kxb_footer_new_common.shtml" />
<cms:include file="block/community_v1.shtml" />
</body>
</html>
