<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${article.MetaKeywords}" />
<meta name="description" content="${article.MetaDescription}" />
<%
	String RiskCode = article.getString("RiskCode");
	String WapURL = site.getString("WapURL");
	
	cn.com.sinosoft.action.shop.SalesVolumeAction sv = new cn.com.sinosoft.action.shop.SalesVolumeAction();
	String wapFlag = sv.isWapProduct(RiskCode);
	String canonicalProduct = article.getString("CanonicalProduct");
	if (canonicalProduct != null && !"".equals(canonicalProduct)) {
		String path = com.sinosoft.product.Filtrate.getUrl(canonicalProduct, "1");
		if (path != null && !"".equals(path)) {
			String link = "<link rel='canonical' href='" + path + "'/>";
		    write(link);
		}
	}
	
	String _description = article.getString("AdaptPeopleInfo");
	_description = _description.replaceAll("\r|\n", "");
	
	String specialPremCalFlag = com.sinosoft.product.Filtrate.getSpecialPremCalFlag(RiskCode);
%> 
<title>
<%
	String title = article.getString("MetaTitle");  
	write(((null==title || "".equals(title)) ? article.getString("title"):title) + "-" + site.getString("Meta_Keywords"));
%> 
</title>
<link rel="stylesheet" href="${Site.StaticResourcePath}/style/redesign/re_header.css"/>
<link rel="stylesheet" type="text/css"  href="${Site.StaticResourcePath}/style/skins/default.css" />
<link rel="stylesheet" href="${Site.StaticResourcePath}/style/wj_kxb/mod_intro.css"/>
<link rel="stylesheet" href="${Site.StaticResourcePath}/style/wj_kxb/calendar.css" />
<link rel="shortcut icon" href="favicon.ico"/>

<script type="">
var specialPremCalFlag = '<%=specialPremCalFlag%>';
var isCpsProduct = '${Article.isCpsProduct}';
var riskCode = '${Article.RiskCode}';
var artTitle = '${Article.title}';
var catID = '${Catalog.ID}';
var productDetailFlag="true";
var complicatedFlag = '${Article.ComplicatedFlag}';
var AppFacDutyRela = ${Article.AppFacDutyRela};
var AppFacDutyDef = ${Article.AppFacDutyDef};
var LongInsurance = '${Article.LongInsurance}';

</script>
<cms:include file="block/kxb_custom_header.shtml" />
</head>

<body class="detail cash_value">
<cms:include file="block/kxb_header_index_new_v2.shtml" />

<!-- ========================= begin ======================== -->
<input type="hidden" name="RiskCode" id="RiskCode" value="${Article.RiskCode}" />
<input type="hidden" name="price" id="price" value="${Article.InitPrem}" />
<input type="hidden" name="pTypeName" id="pTypeName" value="${Article.RiskBreadcrumb}" />
<input id="ProductType" type="hidden" value="${Catalog.ProductType}" name="ProductType" />
<input id="isLcx" type="hidden" value="" name="isLcx" />
<div class="wrapper">

	<div class="daohang">
			<span class="daohang_home"></span>
			<cms:link type="currentPosition"></cms:link>
			<span class="separator">></span><span>${Article.RiskBreadcrumb}</span><span
				class="separator">></span><span class="separator1">
				${Article.title}</span><span class="separator">></span><span class="separator1">利益演示</span>
	</div>
	
	<div class="content_head">
		<h4 class="cash_title">利益演示</h4>
		<div class="cp_descon">
			<div id="content">
				     <%
		            	String tCalHTML = article.getString("CalHTML");
		            	String tRiskCode = article.getString("prop4");
		            	String tSplitRiskCode = article.getString("SplitRiskCode");
		            	if(tSplitRiskCode!=null && tSplitRiskCode!=""){
			            	String newPlanHTML = com.sinosoft.product.Filtrate.getCalHTML(tRiskCode,tSplitRiskCode,"1");
			            	if(tCalHTML.indexOf("sinosofttfosonis")!=-1){
			            	   tCalHTML=tCalHTML.replace("sinosofttfosonis",newPlanHTML);
			            	}
		            	}
		            	if (tCalHTML.indexOf("_ProductUrl")!=-1) {
		            		tCalHTML = com.sinosoft.product.Filtrate.getProductUrl(tCalHTML,"1");
		            	}
		            	
		            	write(tCalHTML);
		        	 %>
			</div>
			<div class="price_con clearfix">
				<em class="cp_title_ms cp_price">价格</em>
				<ul class="price">
					<li class="priceC"><span><em>￥</em>1000.00</span></li>
				</ul>
				<em class="cp_title_ms">基本保额</em>
				<ul class="price">
					<li class="priceM"><span>￥155.00</span></li>
				</ul>
			</div>
			<div class="tb_yh clearfix">
				<ul class="at_list" id="yhinfo">
					<li><span class="tb_icon active_01">积分</span><span id="pointdes" class="tb_text">购买您将获得<span id="productIntegral_${Article.RiskCode}">${Article.ProductInt}</span>个积分</span>
						<em id="demo-form-name" class="detail_sm_tip" title="购买产品按实际支付金额获得积分，在积分商城兑换商品或在开心保支付保费时抵值现金，10积分=1元">说明</em>
					</li>
				</ul>
			</div>
			<div class="button_b clearfix" id="button_b">
				<a class="button_b1" href="javascript:void(0);" vlpageid="toubao1" exturl="http://www.kaixinbao.com/toubao1" onClick="doBuy();return(VL_FileDL(this));return false;">立即投保</a>
				<p class="vip_logins" id="integer_login" style="display:none"><a id="PointShowLoginWindow" href="javascript:void(0);" onclick="return(VL_FileDL(this));return false;" exturl="http://www.kaixinbao.com/dltc01" vlpageid="dltc01">登录</a>可享受更多会员权益</p>
			</div>
			<div class="clear"></div>
		</div>
	<!-- end content_head --></div>
	<div class="content" style="display: none">
		<div class="content_left_up">
			<div class="cp_contents">
				<div class="cp_des">
					<div class="bx_area_cont">
						<!-- 保障权益 -->
						<div class="area_cont">
							<p class="ttl"><span>保障权益</span></p>
							${Article.DutyHTML1}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content_right_up">
			<div class="bnr_box">
				<p class="ttl"><em class="icon"></em><span>保费试算</span></p>
				<div class="bnr_price">
					<em>价格</em>
					<span id="txt_price"><em>￥</em>-</span>
				</div>
				<p class="btn"><a onClick="doBuy();return(VL_FileDL(this));return false;" exturl="http://www.kaixinbao.com/toubao2" href="javascript:void(0);" rel="nofollow" vlpageid="toubao2">立即投保</a></p>
			</div>
		</div>
	</div>
	<div class="xj_list" id="tag_box">
		<div class="info_cont">
			<ul>
				<li id="li_sexAndAge">男0周岁</li>
				<li id="li_period">保险期限终身</li>
				<li id="li_feeYear">缴费年限趸缴</li>
				<li id="li_prem">年缴保费1000元</li>
			</ul>
			<p class="money">基本保额<em>¥155</em></p>
		</div>
		<table class="xj_table">
			<colgroup>
				<col width="12.5%" />
				<col width="12.5%" />
				<col width="12.5%" />
				<col width="12.5%" />
				<col width="12.5%" />
				<col width="12.5%" />
				<col width="12.5%" />
				<col width="12.5%" />
			</colgroup>
			<thead>
			<tr>
				<th>保单年度</th>
				<th>年末年龄</th>
				<th>累计保费</th>
				<th>年末生存金</th>
				<th>身故保险金</th>
				<th>现金价值</th>
				<th>账户累计价值</th>
				<th>生存总利益</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="tip_box">
		<div class="tip_cont">
			<p class="title">风险提示：</p>
			<ol>
				<li>（1）以上利益演示中的所有数值均为四舍五入取整所得，与实际数值可能会略有差异。本资料为产品说明，仅供参考，具体内容以保险条款为准。</li>
				<li>（2）生存金包括生存保险金、祝寿金、品质养老金。</li>
				<li>（3）累积生存金是保单年度末应领未领生存金按生存金累积利率3.5%以年复利的方式累积而得，仅供参考，不能理解为对未来生存金累积利率的预期或保证，实际的生存金累积利率以保险公司宣布为准。</li>
				<li>（4）生存金、现金价值为保单年末的值，其中现金价值未满期保险金给付后的值。</li>
				<li>（5）本保障计划单位为人民币元，假定被保险人为标准体。所列产品、费率、基本保险金额等与保险合同不一定一致，请以保险合同为准。</li>
			</ol>
		</div>
	</div>
	<div class="btn_buy">
		<p><a href="javascript:void(0);" vlpageid="toubao3" exturl="http://www.kaixinbao.com/toubao3" onclick="doBuy();return(VL_FileDL(this));return false;">立即投保</a></p>
	</div>
	<!-- 现金价值结束 -->
</div>
<!-- 底部开始 -->
	<cms:include file="block/kxb_footer_new_common.shtml" />
<!-- 底部结束 -->
	<cms:include file="block/kxb_product_compare_v1.shtml" />
<!-- ========================= /end ========================= -->
<script type="text/javascript">VLTrace_custom_getparam='u1=productdetail';</script>
<script type="text/javascript" src="http://resource.kaixinbao.com/js/weixitrack.js"></script>
<script type="text/javascript" src="http://dl.ntalker.com/js/xn6/ntkfstat.js?siteid=kf_9401"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/wj_kxb/require.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/wj_kxb/require.config.js"></script>
<script type="text/javascript">
    require(["showBenefit"], function(index) {
        if(index && index.init) {
            index.init();
        }
    });
</script>
</body>
</html> 