<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找境外旅游险,就是选开心保,省心更省钱</title>

<link type="text/css" rel="stylesheet" href="${Site.URL}/style_index/new/main.css">

<link rel="stylesheet" type="text/css" href="../../active_file/css/outsidetravel/l_outsidetravel.css"/>
<script type="text/javascript" src="${Site.URL}/js/footer.js"></script>
</head>

<body>
		<!-- head 开始 -->
        <div class="header_bor_btn">
		<div class="head zt_head">
			<div class="logo"><a href="${Site.URL}/"><img height="52" width="245" title="开心保保险网，一站式服务，省钱更省心" alt="开心保保险网，一站式服务，省钱更省心" src="${Site.URL}/image/logo.gif"></a></div>
			
	  	 <div class="right header_rights">
         <a href="${Site.URL}">回到首页</a>|
         <a href="${Site.URL}/lvyou-baoxian/" target="_blank">旅游保险</a>|
         <a href="${Site.URL}/yiwai-baoxian/" target="_blank">意外保险</a>
         </div>
			
		</div>
        </div>
		<!-- head 结束 -->
  	    <div class="w_con">
        	<div class="w_cons w_con_bg1"></div>
        	<div class="w_cons w_con_bg2">
            <div class="jg_pd">
                	<div class="pd_price"><a href="${Site.URL}/lvyou-baoxian/jingwai/251815.shtml" class="pd_btn" target="_blank"></a></div>
                </div>
            </div>
        	<div class="w_cons w_con_bg3"></div>
        	<div class="w_cons w_con_bg4"></div>
        	<div class="w_cons w_con_bg5"></div>
            <div class="body_yw_con">
            <div class="body_top_bgs">
            	<div class="link_s_left"><span class="all_cse"><a href="${Site.URL}/lvyou-baoxian/">全部</a></span><span  class="all_cse1"><a href="${Site.URL}/lvyou-baoxian/9f1b1213b5438d5d1c8ffa80c29d5e96.shtml" target="_blank">东南亚</a></span>
            	<span  class="all_cse2"><a href="${Site.URL}/lvyou-baoxian/463d7956a9f1a3677a29fb67df5c5433.shtml" target="_blank">港澳台</a></span>
            	<span  class="all_cse3"><a href="${Site.URL}/lvyou-baoxian/shengenqianzheng/" target="_blank">申根签证险</a></span>      </div>
                <div class="lin_s_right"><a href="${Site.URL}/lvyou-baoxian/jingwai/" target="_blank">查看更多境外旅游险</a></div>

            </div>
                            <div class="clear"></div>
            	<div class="body_l">
                	<span class="span_font1"><a href="${Site.URL}/lvyou-baoxian/jingwai/" target="_blank">境外旅行</a></span>
                    <span class="span_font2"><a href="${Site.URL}/lvyou-baoxian/shengenqianzheng/" target="_blank">申根签证</a></span>
                    <span class="span_font3"><a href="${Site.URL}/lvyou-baoxian/jingwai/" target="_blank">出行地区</a></span>
                </div>
                <div class="body_c">
                		<div class="cp_boxs">
                        <span class="cp_gs_logo"><img src="${Site.URL}/active_file/images/outsideravel/pa_logo_24.gif" width="56" height="24" /></span>
                       	  <h2><a href="${Site.URL}/lvyou-baoxian/jingwai/251815.shtml" target="_blank">平安境外旅行保险</a></h2>
                            <p>适合有签证需求，有风险意识的出境人士</p>
                            <dl>
                            	<dt>主要保障责任</dt>
                                <dd>意外身故和残疾          <em>30万</em></dd>
                                <dd>公共交通双倍给付        <em>30万</em></dd>
                                <dd>亲属慰问探访            <em>0.2万</em></dd>
                            </dl>
                            <div class="cp_price">
                            	<div><em>RMB</em>155</div>
     
     
                        <a href="${Site.URL}/lvyou-baoxian/jingwai/251815.shtml"  target="_blank" class="gm_btns">查看详情</a>
                            </div>
                        </div>
                        <div class="cp_boxs">
                        <span class="cp_gs_logo"><img src="${Site.URL}/active_file/images/outsideravel/tpy_pa_18.gif"/></span>
                       	  <h2><a href="${Site.URL}/lvyou-baoxian/jingwai/256085.shtml"  target="_blank">太平洋境外旅行保险</a></h2>
                            <p>适合出境旅游、商务出差的人士</p>
                            <dl>
                            	<dt>主要保障责任</dt>
                                <dd>境外意外伤害保险责任          <em>8万</em></dd>
                                <dd>紧急医疗转运        <em> 100万</em></dd>
                                <dd>协助送回未满12周岁儿童             <em>2万</em></dd>
                            </dl>
                            <div class="cp_price">
                            	<div><em>RMB</em>16</div>
     
     
                        <a href="${Site.URL}/lvyou-baoxian/jingwai/256085.shtml" class="gm_btns"  target="_blank">查看详情</a>
                            </div>
                        </div>
                        <div class="cp_boxs">
                        <span class="cp_gs_logo"><img src="${Site.URL}/active_file/images/outsideravel/tpy_logo_21.gif" /></span>

                       	  <h2><a href="${Site.URL}/lvyou-baoxian/shengenqianzheng/255097.shtml"  target="_blank">泰康境外旅行保险</a></h2>
                            <p>适合商务、旅游人士</p>
                            <dl>


                                <dd>泰康e顺旅行意外伤害保险 <em>30万</em></dd>
                                <dd>境外旅行救援意外伤害保险<em>100万</em></dd>
                                <dd>境外旅游门诊、牙科保险<em>0.8万</em></dd>
                            </dl>
                            <div class="cp_price">
                            	<div><em>RMB</em>147.6</div>
     
     
                        <a href="${Site.URL}/lvyou-baoxian/shengenqianzheng/255097.shtml"  target="_blank" class="gm_btns">查看详情</a>
                            </div>
                        </div>
                        <div class="bord_dou_b clear"></div>
                        <div class="cp_boxs">
                        <span class="cp_gs_logo"><img src="${Site.URL}/active_file/images/outsideravel/pa_logo_24.gif" width="56" height="24" /></span>

                       	  <h2><a href="${Site.URL}/lvyou-baoxian/shengenqianzheng/251821.shtml"  target="_blank">平安申根签证保险
</a></h2>
                            <p>适合有签证需求，对保障额度要求高、<br />
保障责任全面的出境人士</p>
                            <dl>
                            	<dt>主要保障责任</dt>
                                <dd>意外身故和残疾          <em>50万</em></dd>
                                <dd>旅行缩短        <em>1万</em></dd>
                                <dd>旅程取消            <em>0.8万</em></dd>
                            </dl>
                            <div class="cp_price">
                            	<div><em>RMB</em>245</div>
     
     
                        <a href="${Site.URL}/lvyou-baoxian/shengenqianzheng/251821.shtml" class="gm_btns"  target="_blank">查看详情</a>
                            </div>
                        </div>
                        <div class="cp_boxs">
                        <span class="cp_gs_logo"><img src="${Site.URL}/active_file/images/outsideravel/tpy_pa_18.gif" /></span>
                       	  <h2><a href="${Site.URL}/lvyou-baoxian/shengenqianzheng/256352.shtml"  target="_blank">太平洋申根签证保险</a></h2>
                            <p>适合出境旅游、商务出差的人士</p>
                            <dl>
                            	<dt>主要保障责任</dt>
                                <dd>境外意外伤害保险责任 <em>10万</em></dd>
                                <dd>境外住院医疗费用        <em>20万</em></dd>
                                <dd>家长陪同住院            <em>0.3万</em></dd>
                            </dl>
                            <div class="cp_price">
                            	<div><em>RMB</em>54</div>
     
     
                        <a href="${Site.URL}/lvyou-baoxian/shengenqianzheng/256352.shtml" class="gm_btns"  target="_blank">查看详情</a>
                            </div>
                        </div>
                        <div class="cp_boxs">
                        <span class="cp_gs_logo"><img src="${Site.URL}/active_file/images/outsideravel/tpy_logo_21.gif" /></span>

                       	  <h2><a href="${Site.URL}/lvyou-baoxian/shengenqianzheng/255100.shtml"  target="_blank">泰康申根签证保险</a></h2>
                            <p>适合经常商务出差、旅行等人群</p>
                            <dl>
                            	<dt>主要保障责任</dt>
                                <dd>意外伤害身故/残疾/烧伤          <em>10万</em></dd>
                                <dd>紧急门诊和紧急牙科门诊        <em>40万</em></dd>
                                <dd>医疗转移和转运回国费用            <em>70万</em></dd>
                            </dl>
                            <div class="cp_price">
                            	<div><em>RMB</em>134.4</div>
     
     
                        <a href="${Site.URL}/lvyou-baoxian/shengenqianzheng/255100.shtml" class="gm_btns"  target="_blank">查看详情</a>
                            </div>
                        </div>
                        <div class="bord_dou_b clear"></div>
                        <div class="cp_boxs">
                        <span class="cp_gs_logo"><img src="${Site.URL}/active_file/images/outsideravel/pa_logo_24.gif" width="56" height="24" /></span>
                       	  <h2><a href="${Site.URL}/lvyou-baoxian/jingwai/251793.shtml"  target="_blank">平安（港澳台）旅游保险
</a></h2>
                            <p>适合出境至港澳台的人士</p>
                            <dl>
                            	<dt>主要保障责任</dt>
                                <dd>公共交通双倍给付          <em>10万</em></dd>
                                <dd>意外身故和残疾        <em>10万</em></dd>
                                <dd>旅行者个人责任            <em>10万</em></dd>
                            </dl>
                            <div class="cp_price">
                            	<div><em>RMB</em>50</div>
     
     
                        <a href="${Site.URL}/lvyou-baoxian/jingwai/251793.shtml" class="gm_btns"  target="_blank">查看详情</a>
                            </div>
                        </div>
                        <div class="cp_boxs">
                        <span class="cp_gs_logo"><img src="${Site.URL}/active_file/images/outsideravel/tpy_logo_21.gif"/></span>

                       	  <h2><a href="${Site.URL}/lvyou-baoxian/shengenqianzheng/255097.shtml"  target="_blank">泰康（东南亚）旅游保险</a></h2>
                            <p>适合商务、旅游人士</p>
                            <dl>
                            	<dt>主要保障责任</dt>
                                <dd>  泰康e顺旅行意外伤害保险           <em> 20万</em></dd>
                                <dd>境外旅行救援意外伤害保险        <em>40万</em></dd>
                            
                            </dl>
                            <div class="cp_price">
                            	<div><em>RMB</em>152</div>
     
     
                        <a href="${Site.URL}/lvyou-baoxian/shengenqianzheng/255097.shtml" class="gm_btns"  target="_blank">查看详情</a>
                            </div>
                        </div>
                        <div class="cp_boxs">
                        <span class="cp_gs_logo"><img src="${Site.URL}/active_file/images/outsideravel/pa_logo_24.gif" width="56" height="24" /></span>
                       	  <h2><a href="${Site.URL}/lvyou-baoxian/jingwai/251805.shtml"  target="_blank">平安（欧洲）旅游保险
</a></h2>
                            <p>适合有签证需求、基本保障需求不高
的欧洲出境人士</p>
                            <dl>
                            	<dt>主要保障责任</dt>
                                <dd>意外身故和残疾          <em>8万</em></dd>
                                <dd>公共交通双倍给付        <em>2万</em></dd>
                                <dd>亲属慰问探访            <em>1.2万</em></dd>
                            </dl>
                            <div class="cp_price">
                            	<div><em>RMB</em>125</div>
     
     
                        <a href="${Site.URL}/lvyou-baoxian/jingwai/251805.shtml"  target="_blank" class="gm_btns">查看详情</a>
                            </div>
                        </div>
              </div>
                <div class="body_r"></div>
                <div class="clear"></div>
                <div class="more_select">
                <a href="${Site.URL}/lvyou-baoxian/jingwai/" class="select_more" target="_blank">查看更多境外旅游险</a>
                <em class="piaodai_l"></em><em class="piaodai_r"></em>
                </div>
                <div class="body_bom_zs">
                	<div class="zs_left"></div>
                    <div class="zs_con">
                    	<div class="zs_con_box">
                    	<h3>境外旅游必备保障</h3>
                        <div class="border_dou">
                        	<h4 class="font_col1">紧急救援</h4>
                            <p>出境游与境内游有很大不同，由于语言不通、人地生疏等因素，一旦出现意外，选择带有全球紧急援助服务的境外旅行保险至关重要。无论是罹患急性病还是遗失物品，甚至是深陷困境都可以通过致电24小时救援热线获得及时救助。</p>
                        </div>
                        <div class="border_dou">
                        	<h4 class="font_col2">医疗垫付</h4>
                            <p>医疗垫付是境外签证保险的一大优势，签证必备。不仅包括境外门诊报销，更提供紧急治疗的费用垫付。考虑到被保险人外出旅游没有带大量现金，意外发生时医疗垫付可以保证被保险人得到及时的救助和医治。</p>
                        </div>
                        <div class="border_dou">
                        	<h4 class="font_col3">意外保障</h4>
                            <p>与境内旅游险相同，境外旅游最大的风险就是无时无刻的意外突发情况。境外旅游保险一般都提供高额的意外事故保额，很多产品还包括公共交通双倍给付，在，因意外事故导致身故、烧烫伤或残疾时，除意外保险金，将按同等金额给付交通工具意外保障金。</p>
                        </div>
                        </div>
                    </div>
                    <div class="zs_right"></div>
      
                </div>
                                 <div class="clear"></div>
                <div class="zs_btn_s"></div>
            </div>
        </div>					
                
				

<!--footer-->
<div class="footwrap">
<div class="authenticate">
   		<ul class="sl-floatcenter">
		      <cms:list item="Image"  name="信任网站" type="firstpublish"> 
		     	 <li class="sl-floatcenter-item"><a href="${Image.wangzhi}" target="_blank" rel="nofollow"><img src="${Site.URL}/${Image.Path}${Image.SrcFileName}"  width="${Image.kuandu}" height="${Image.gaodu}"/></a></li>
		    </cms:list> 
   		</ul>
    </div>
	<div class="copyright">		
		<div class="copyrightleft">Copyright 2012-2016  版权所有 网金保险销售服务有限公司</div>
	</div>

</div>
</body>
</html>
