<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>巴西旅游签证保险_巴西世界杯保险_巴西自助游保险【怎么买_哪家好】-开心保保险网</title>
</head>
    <link href="http://www.kaixinbao.com/style/new_header.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://www.kaixinbao.com/style/activity.css"/>
    <link rel="stylesheet" type="text/css" href="../../active_file/css/sjb/sjb.css"/>
    <script type="text/javascript" src="${Site.URL}/js/sjb_index.js"></script>
    <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzgwMDExODA2Nl8zMDEwNThfODAwMTE4MDY2Xw"></script>
    <style>

</style>
<body>
    <div class="sjb_header">
        <div class="sjb_header_w cf">
            <h2 class="header_logo">
                <a href="http://www.kaixinbao.com">开心保</a>
            </h2>
            <div class="header_tel"></div>
        </div>
    </div>
    <div class="sjb_banner">
     <input type="hidden" value="${Catalog.ID}" id="CatalogId">
        <div class="map_con">
            <ul class="map_ul">
                <li class="gj" id="WCup1" onclick="SetCookie('WCup1','WCup1');">${Catalog.WCup1}</li>
                <li class="gj" id="WCup2" onclick="SetCookie('WCup2','WCup2');">${Catalog.WCup2}</li>
                <li class="gj" id="WCup3" onclick="SetCookie('WCup3','WCup3');">${Catalog.WCup3}</li>
                <li class="gj up_s" id="WCup4" onclick="SetCookie('WCup4','WCup4');">${Catalog.WCup4}</li>
                <li class="gj" id="WCup5" onclick="SetCookie('WCup5','WCup5');">${Catalog.WCup5}</li>
                <li class="gj" id="WCup6" onclick="SetCookie('WCup6','WCup6');">${Catalog.WCup6}</li>
                <li class="gj" id="WCup7" onclick="SetCookie('WCup7','WCup7');">${Catalog.WCup7}</li>
                <li class="gj up_s" id="WCup8" onclick="SetCookie('WCup8','WCup8');">${Catalog.WCup8}</li>
                <li class="gj" id="WCup9" onclick="SetCookie('WCup9','WCup9');">${Catalog.WCup9}</li>
                <li class="gj" id="WCup10" onclick="SetCookie('WCup10','WCup10');">${Catalog.WCup10}</li>
                <li class="gj" id="WCup11" onclick="SetCookie('WCup11','WCup11');">${Catalog.WCup11}</li>
                <li class="gj up_s" id="WCup12" onclick="SetCookie('WCup12','WCup12');">${Catalog.WCup12}</li>
                <li class="gj" id="WCup13" onclick="SetCookie('WCup13','WCup13');">${Catalog.WCup13}</li>
                <li class="gj" id="WCup14" onclick="SetCookie('WCup14','WCup14');">${Catalog.WCup14}</li>
                <li class="gj" id="WCup15" onclick="SetCookie('WCup15','WCup15');">${Catalog.WCup15}</li>
                <li class="gj up_s" id="WCup16" onclick="SetCookie('WCup16','WCup16');">${Catalog.WCup16}</li>
                <li class="gj" id="WCup17" onclick="SetCookie('WCup17','WCup17');">${Catalog.WCup17}</li>
                <li class="gj" id="WCup18" onclick="SetCookie('WCup18','WCup18');">${Catalog.WCup18}</li>
                <li class="gj" id="WCup19" onclick="SetCookie('WCup19','WCup19');">${Catalog.WCup19}</li>
                <li class="gj up_s" id="WCup20" onclick="SetCookie('WCup20','WCup20');">${Catalog.WCup20}</li>
                <li class="gj" id="WCup21" onclick="SetCookie('WCup21','WCup21');">${Catalog.WCup21}</li>
                <li class="gj" id="WCup22" onclick="SetCookie('WCup22','WCup22');">${Catalog.WCup22}</li>
                <li class="gj" id="WCup23" onclick="SetCookie('WCup23','WCup23');">${Catalog.WCup23}</li>
                <li class="gj up_s" id="WCup24" onclick="SetCookie('WCup24','WCup24');">${Catalog.WCup24}</li>
                <li class="gj" id="WCup25" onclick="SetCookie('WCup25','WCup25');">${Catalog.WCup25}</li>
                <li class="gj" id="WCup26" onclick="SetCookie('WCup26','WCup26');">${Catalog.WCup26}</li>
                <li class="gj" id="WCup27" onclick="SetCookie('WCup27','WCup27');">${Catalog.WCup27}</li>
                <li class="gj up_s" id="WCup28" onclick="SetCookie('WCup28','WCup28');">${Catalog.WCup28}</li>
                <li class="gj" id="WCup29" onclick="SetCookie('WCup29','WCup29');">${Catalog.WCup29}</li>
                <li class="gj" id="WCup30" onclick="SetCookie('WCup30','WCup30');">${Catalog.WCup30}</li>
                <li class="gj" id="WCup31" onclick="SetCookie('WCup31','WCup31');">${Catalog.WCup31}</li>
                <li class="gj up_s" id="WCup32" onclick="SetCookie('WCup32','WCup32');">${Catalog.WCup32}</li>
            </ul>
        </div>
    </div>
    <div class="navs_box cf">
        <div class="sjb_navs">
           <a href="${Site.URL}/lvyou-baoxian/daogou/jingwai" class="nav_links1 nav_selects">巴西</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/ouzhou" class="nav_links2 ">欧洲</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/dongnanya" class="nav_links3">东南亚</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/rihan" class="nav_links4">日韩</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/gangaotai" class="nav_links5 ">港澳台</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/meijia" class="nav_links6">美加</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/quanqiu" class="nav_links7 ">全球</a>
        </div>
    </div>

    <div class="conbg">
        <div class="con_boxs cf">
            <div class="sjb_shopbox cf">
               <div class="sjb_hd"></div>
                <div class="shop_border">
                    <div class="sjb_img">
                        <a href="http://www.kaixinbao.com/lvyou-baoxian/265820.shtml" target="_blank">
                            <img src="../../active_file/images/sjb/bx_cp1.jpg" alt=""></a>
                    </div>
                    <div class="sjb_shop_con">
                        <h2>
                            <a href="http://www.kaixinbao.com/lvyou-baoxian/265820.shtml"  target="_blank" class="shop_linkss">美亚万国游踪境外旅行保障计划</a>
                        </h2>
                        <ul class="sjb_ul">
                            <li>适应人群：18-80周岁，全球旅游爱好者，经常往返国内外商旅人士。</li>
                            <li>推荐理由：全球旅游不受限 高额医疗补助 旅程延误可获赔 承保热门娱乐活动</li>
                            <li>紧急医疗运送和送返 50万</li>
                            <li>意外身故、烧伤及残疾保障 20万</li>
                            <li>双倍给付意外伤害（不适用于未成年人） 20万</li>
                            <li>医疗补偿 10万</li>
                            <li>个人责任 80万</li>
                        </ul>
                    </div>
                </div>
                <div class="shop_pays">
                    <a href="http://www.kaixinbao.com/lvyou-baoxian/265820.shtml" target="_blank" class="shop_linkssf"> <i class="pay_i1">￥</i> <i class="pay_i2">105</i>
                        <i class="pay_i3">元</i>
                    </a>
                </div>
            </div>
            
            <div class="sjb_shopbox cf">
               <!--  <div class="sjb_hd"></div> -->
                <div class="shop_border">
                    <div class="sjb_img">
                        <a href="http://www.kaixinbao.com/lvyou-baoxian/281483.shtml" target="_blank">
                            <img src="../../active_file/images/sjb/bx_cp1add.jpg" alt=""></a>
                    </div>
                    <div class="sjb_shop_con">
                        <h2>
                            <a href="http://www.kaixinbao.com/lvyou-baoxian/281483.shtml"  target="_blank" class="shop_linkss">大众众行天下海外旅行保障计划</a>
                        </h2>
                        <ul class="sjb_ul">
                            <li>适应人群：适合崇尚自由中短期海外旅行人士，满足携带宠物出游的人群购险需要。</li>
                            <li>推荐理由：中国市场保障最全面的产品 承保年龄最高到85岁提供宠物责任和伤害保障</li>
                            <li>自驾车意外事故 10万</li>
                            <li>医疗费用 30万</li>
                            <li>高尔夫设备保障 1万</li>
                            <li>宠物保障 500元</li>
                            <li>个人及宠物责任 50万</li>
                        </ul>
                    </div>
                </div>
                <div class="shop_pays">
                    <a href="http://www.kaixinbao.com/lvyou-baoxian/281483.shtml" target="_blank" class="shop_linkssf"> <i class="pay_i1">￥</i> <i class="pay_i2">110</i>
                        <i class="pay_i3">元</i>
                    </a>
                </div>
            </div>
            <div class="sjb_shopbox cf">
               <!--  <div class="sjb_hd"></div> -->
                <div class="shop_border">
                    <div class="sjb_img">
                        <a href="http://www.kaixinbao.com/lvyou-baoxian/285064.shtml" target="_blank">
                            <img src="../../active_file/images/sjb/bx_cp2add.jpg" alt=""></a>
                    </div>
                    <div class="sjb_shop_con">
                        <h2>
                            <a href="http://www.kaixinbao.com/lvyou-baoxian/285064.shtml"  target="_blank" class="shop_linkss">开心保安联境外旅游保险</a>
                        </h2>
                        <ul class="sjb_ul">
                            <li>适应人群：适合中短期境外随团游、自由行、自驾游人群，适合全球出行。</li>
                            <li>推荐理由：全球出行不受限 个人财产有保障 性价比超高 有高额医疗补助</li>
                            <li>意外身故、伤残 30万</li>
                            <li>公共交通工具意外 30万</li>
                            <li>医疗费用（含门诊和住院） 5万</li>
                            <li>紧急医疗运送 20万</li>
                            <li>个人及宠物责任 30万</li>
                        </ul>
                    </div>
                </div>
                <div class="shop_pays">
                    <a href="http://www.kaixinbao.com/lvyou-baoxian/285064.shtml" target="_blank" class="shop_linkssf"> <i class="pay_i1">￥</i> <i class="pay_i2">20</i>
                        <i class="pay_i3">元</i>
                    </a>
                </div>
            </div>
            
            
            <div class="sjb_shopbox cf">
               <!--  <div class="sjb_hd"></div> -->
                <div class="shop_border">
                    <div class="sjb_img">
                        <a href="http://www.kaixinbao.com/lvyou-baoxian/281498.shtml" target="_blank">
                            <img src="../../active_file/images/sjb/bx_cp2.jpg" alt=""></a>
                    </div>
                    <div class="sjb_shop_con">
                        <h2>
                            <a href="http://www.kaixinbao.com/lvyou-baoxian/281498.shtml" target="_blank" class="shop_linkss">安盛保险卓越优游乐申根签证旅游保险计划</a>
                        </h2>
                        <ul class="sjb_ul">
                            <li>适应人群：1-80周岁有出国旅游需求的旅行者，尤其适合申根国家。</li>
                            <li>推荐理由：理赔无免赔额 包含翻译服务24小时紧急救援 家居财物保障</li>
                            <li>旅行个人责任 100万</li>
                            <li>24小时全球紧急救助服务 75万</li>
                            <li>医药费用补偿 45万</li>
                            <li>意外事故身故、烧伤及残疾保险金 30万</li>
                            <li>翻译服务 0.3万</li>
                        </ul>
                    </div>
                </div>
                <div class="shop_pays">
                    <a href="http://www.kaixinbao.com/lvyou-baoxian/281498.shtml" target="_blank" class="shop_linkssf">
                        <i class="pay_i1">￥</i>
                        <i class="pay_i2">100</i>
                        <i class="pay_i3">元</i>
                    </a>
                </div>
            </div>
            <div class="sjb_shopbox cf">
                <!-- <div class="sjb_hd"></div> -->
                <div class="shop_border">
                    <div class="sjb_img">
                        <a href="http://www.kaixinbao.com/lvyou-baoxian/283301.shtml" target="_blank">
                            <img src="../../active_file/images/sjb/bx_cp3.jpg" alt=""></a>
                    </div>
                    <div class="sjb_shop_con">
                        <h2>
                            <a href="http://www.kaixinbao.com/lvyou-baoxian/283301.shtml" class="shop_linkss" target="_blank">太阳联合安心海外申根签证旅游保险</a>
                        </h2>
                        <ul class="sjb_ul">
                            <li>适应人群： 经常性出境旅游人士、高风险运动狂热爱好者。</li>
                            <li>推荐理由：高风险运动 全年多次出行 紧急医疗运送 高额医疗费用</li>
                            <li>海外紧急医疗费用 30万</li>
                            <li>医疗救援及遣送回国 30万</li>
                            <li>第三者责任 10万</li>
                            <li>旅程延迟（每4小时赔偿200元）</li>
                        </ul>
                    </div>
                </div>
                <div class="shop_pays">
                    <a href="http://www.kaixinbao.com/lvyou-baoxian/283301.shtml" target="_blank" class="shop_linkssf">
                        <i class="pay_i1">￥</i>
                        <i class="pay_i2">40</i>
                        <i class="pay_i3">元</i>
                    </a>
                </div>
            </div>
            
            <div class="sjb_shopbox cf">
                <!-- <div class="sjb_hd"></div> -->
                <div class="shop_border">
                    <div class="sjb_img">
                        <a href="http://www.kaixinbao.com/lvyou-baoxian/285006.shtml" target="_blank">
                            <img src="../../active_file/images/sjb/bx_cp4.jpg" alt=""></a>
                    </div>
                    <div class="sjb_shop_con">
                        <h2>
                            <a href="http://www.kaixinbao.com/lvyou-baoxian/285006.shtml" class="shop_linkss" target="_blank">安联美妙之旅美州境外旅游保险计划</a>
                        </h2>
                        <ul class="sjb_ul">
                            <li>适应人群：专为赴美洲旅游人士打造，随团行、自由行、蜜月行、探亲、留学全适用。</li>
                            <li>推荐理由：美洲专属产品 保热门娱乐活动 宠物责任保障 住院补贴高标准</li>
                            <li>意外身故、残疾及烧烫伤 30万</li>
                            <li>公共交通意外伤害 30万</li>
                            <li>紧急医疗运送和送返 20万</li>
                            <li>自驾车意外伤害 10万</li>
                            <li>个人及宠物责任 50万</li>
                        </ul>
                    </div>
                </div>
                <div class="shop_pays">
                    <a href="http://www.kaixinbao.com/lvyou-baoxian/285006.shtml" target="_blank" class="shop_linkssf">
                        <i class="pay_i1">￥</i>
                        <i class="pay_i2">120</i>
                        <i class="pay_i3">元</i>
                    </a>
                </div>
            </div>
        </div>

        <div class="sjb_tip">
            <div class="tip_con">
            <p>当四年一度的足球盛宴移至南美大陆，桑巴王国巴西将聚焦全世界的目光。巴西所在的南美洲，风光绝伦，但对爱好旅游的国人来说，却是名副其实的“新大陆”，既感陌生，又心神向往。在去巴西观赛旅游之前，有必要了解一下当地的风土人情。<br>

巴西自来水中含杂质及铁锈，最好不要生饮。当地所有宾馆都不会帮旅客准备一次性拖鞋、牙膏和牙刷，游客要自己准备。大多数餐厅通常会在账单上加10%的服务费。另外，巴西小偷较多，在上下公车时要十分注意。
</p></div>
        </div>

        <div class="qa_con">
            <div class="qa_uls">
                <ul>
                    <li><a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/A02A20130916064.shtml" target="_blank">[什么是申根签证保险？如何办理？]</a></li>
                    <li><a href="http://www.kaixinbao.com/zhishi/renshi/A03G20130725072.shtml" target="_blank">[办理申根签证保险需注意哪些问题？]</a></li>
                     <li><a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/C05G20140127007.shtml" target="_blank">[购买境外旅游险勿忘关注附加条款]</a></li>
                    <li><a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/A02A20130624046.shtml" target="_blank">[投保境外旅游医疗险 保费越高保障越丰富]</a></li>
                     <li><a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/C01A20130403128.shtml" target="_blank">[境外旅游保险如何购买]</a></li>
                    <li><a href="http://www.kaixinbao.com/zhishi/goumai/CA20121025018.shtml" target="_blank">[东南亚境外旅游保险购买注意事项]</a></li>
                     <li><a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/C05G20140318012.shtml" target="_blank">[巴西旅游签证如何办理？需要哪些材料？]</a></li>
                    <li><a href="http://www.kaixinbao.com/zhishi/renshi/CA20120925007.shtml" target="_blank">[申根签证保险误区解析]</a></li>
                </ul>
            </div>
            <div class="qa_dl">
                <dl>
                    <dt><a href="http://www.kaixinbao.com/wenda/baoxian/zhishi/284430.shtml" target="_blank">境外旅游，都需要哪些保障？</a></dt>
                    <dd>您好！一般情况下，境外旅游需要的保障主要是境外旅游险，购买时需要注意有些国家要求在办...</dd>
                </dl>
                <dl style="margin-bottom:20px;">
                    <dt><a href="http://www.kaixinbao.com/wenda/baoxian/zhishi/284431.shtml" target="_blank">跟团游，已经有旅行社保险了，还需要另外投保旅游保险吗？</a></dt>
                    <dd>您好！有旅行社责任险，最好还是要购买一份旅游意外险。</dd>
                </dl>
                <dl style="margin-bottom:22px;">
                    <dt><a href="http://www.kaixinbao.com/wenda/baoxian/zhishi/284434.shtml" target="_blank">患有先天性心脏病能够买保险吗？</a></dt>
                    <dd>您好！由于网上投保方便快捷而且价格优惠，现在网上购买旅游险成为很多实施旅游计划的...</dd>
                </dl>
                <dl>
                    <dt><a href="http://www.kaixinbao.com/wenda/baoxian/zhishi/284435.shtml" target="_blank">境外旅游保险怎样投保最合适？</a></dt>
                    <dd>您好！购买境外旅游保险，要从如下三方面考虑，才能买到合适的境外旅游意外险产品。</dd>
                </dl>
            </div>
            <a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/" target="_blank" class="mores_s1"></a>
            <a href="http://www.kaixinbao.com/wenda/xianzhong/lvyou/" target="_blank" class="mores_s2"></a>
        </div>

            <div class="ftrq">
                <ul>
                    <li class="ftrq_li"><a href="${Site.URL}/lvyou-baoxian/daogou/jingwai"><img src="../../active_file/images/sjb/lvs_03.jpg" alt=""><p class="alinks"><b>巴西 桑巴王国</b><br>
                        神秘大陆 激情狂欢<br>
                        没有哪个国家比巴西更爱足球<br>
音乐响起，与桑巴女郎一起热舞吧<br>
绵长海岸线，比基尼美女比比皆是<br>
当然，这里还有唇齿留香的烤肉<br>
</p></a></li>
                    <li class="ftrq_li"><a href="${Site.URL}/lvyou-baoxian/daogou/dongnanya"><img src="../../active_file/images/sjb/lvs_04.jpg" alt=""><p class="alinks alink2"><b>浪漫蜜月旅行</b><br>
                        临海听风 海边看日落 <br>
恋上东南亚，恋上那幽蓝的海<br>
与TA漫步自然简约之地<br>
在屋子里直接感受蓝天白云和大海<br>
日坠海岸，聆听古庙神话<br>
</p></a></li>
                     <li class="ftrq_li"><a href="${Site.URL}/lvyou-baoxian/daogou/gangaotai/"><img src="../../active_file/images/sjb/lvs_05.jpg" alt=""><p class="alinks alink3"><b>顶级美食路线</b><br>
                        舌尖上的港澳台之旅<br>
夜幕降临 各种香味冲击味蕾<br>
无论街边小摊 还是餐厅小店<br>
总有一种美食让你乐不思蜀<br>
美食者一生必访之地<br>
</p></a></li>
                    <li class="ftrq_li"><a href="${Site.URL}/lvyou-baoxian/daogou/ouzhou"><img src="../../active_file/images/sjb/lvs_06.jpg" alt=""><p class="alinks alink4"><b>梦幻欧洲之旅</b><br>
                        漫步西方日落的地方<br>
文艺复兴的光辉闪耀世界<br>
爱琴海的绝美，古希腊文明的神秘<br>
深厚的文化积淀成就多座历史名城<br>
购物天堂，名牌起源地<br>
</p></a></li>
                </ul>
            </div>
    </div>
<div class="wrapper"></div>
<div class="footwrap">
<div class="authenticate">
        <ul class="sl-floatcenter">
            
 
              <li class="sl-floatcenter-item"><a rel="nofollow" target="_blank" href="http://union.tenpay.com/cgi-bin/trust_mch/ShowTrustMchInfo.cgi?uin=1214035701&amp;uin_type=1"><img src="http://www.kaixinbao.com/upload/Image/xrwz/2012/12/2582941810.png"></a></li>
            
 
              <li class="sl-floatcenter-item"><a rel="nofollow" target="_blank" href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1594416088"><img src="../../active_file/images/sjb/foots_03.gif"></a></li>
            
 
              <li class="sl-floatcenter-item"><a rel="nofollow" target="_blank" href="http://www.circ.gov.cn/web/site0/tab4491/i210753.htm"><img src="../../active_file/images/sjb/foots_05.gif"></a></li>
             
                   <li class="sl-floatcenter-item"><script src="https://kxlogo.knet.cn/seallogo.dll?sn=e12112821020037255000000&amp;size=0"></script></li>
        </ul>
    </div>
    <div class="copyright">     
        <div class="copyrightleft">Copyright 2012 版权所有 网金保险销售服务有限公司</div>
    </div>
</div>


   <!-- 产品分类浮动层 开始 -->
<div class="ClassificationArea" id="ClassificationArea">
</div>

<!-- 客服类浮动层 开始 -->
<div class="servfloat" id="servfloat" style="_margin-right:0;">
<a  class="hd_link" href="javascript:void(0);" vlpageid="xiaoneng" exturl="http://www.kaixinbao.com/xiaoneng" id="qqwap1" onclick="return(VL_FileDL(this));return false;" rel="nofollow"> </a>
</div>

<div id="tbox" >
  <a href="javascript:void(0)" id="gotop" style="display: inline;"></a>
</div>
<script type="text/javascript" >
function getSupport(name,id){
	var CatalogId = jQuery("#CatalogId").val();
	jQuery.ajax({
		url: "${Site.prop6}/shop/activity!CountSupport.action?team="+name+"&CatalogId="+CatalogId,
		type: "post",
		dataType: "json",
		success: function(data){
			var obj = eval(data);
			 jQuery("#"+id).html(obj.Support) ;
	 	}			
	});
}
</script>

    <script type="text/javascript" src="http://www.kaixinbao.com/js/jquery-1.4.2.min.js"></script>、
    <script type="text/javascript">
 jQuery(function() {
        var fshover = jQuery(".ftrq_li");
        var shop_btn = jQuery(".shop_pays");
        var footboor = jQuery(".gj");
       fshover.hover(
          function () {jQuery(this).find("p").fadeIn();},
          function () {jQuery(this).find("p").fadeOut();}
          );
       shop_btn.hover(
         function () {jQuery(this).addClass("shop_payss");},
          function () {jQuery(this).removeClass("shop_payss");}
        );
       footboor.click(
        function(){jQuery(this).addClass("hovers"); }
        )
   });
   jQuery.ajax({
	url: "${Site.prop6}/shop/activity!initSupp.action?CatalogId="+CatalogId,
	type: "post",
	dataType: "json",
	success: function(data){
		var obj = eval(data);
		jQuery("#WCup1").html(obj.WCup1) ;
		jQuery("#WCup2").html(obj.WCup2) ;
		jQuery("#WCup3").html(obj.WCup3) ;
		jQuery("#WCup4").html(obj.WCup4) ;
		jQuery("#WCup5").html(obj.WCup5) ;
		jQuery("#WCup6").html(obj.WCup6) ;
		jQuery("#WCup7").html(obj.WCup7) ;
		jQuery("#WCup8").html(obj.WCup8) ;
		jQuery("#WCup9").html(obj.WCup9) ;
		jQuery("#WCup10").html(obj.WCup10) ;
		jQuery("#WCup11").html(obj.WCup11) ;
		jQuery("#WCup12").html(obj.WCup12) ;
		jQuery("#WCup13").html(obj.WCup13) ;
		jQuery("#WCup14").html(obj.WCup14) ;
		jQuery("#WCup15").html(obj.WCup15) ;
		jQuery("#WCup16").html(obj.WCup16) ;
		jQuery("#WCup17").html(obj.WCup17) ;
		jQuery("#WCup18").html(obj.WCup18) ;
		jQuery("#WCup19").html(obj.WCup19) ;
		jQuery("#WCup20").html(obj.WCup20) ;
		jQuery("#WCup21").html(obj.WCup21) ;
		jQuery("#WCup22").html(obj.WCup22) ;
		jQuery("#WCup23").html(obj.WCup23) ;
		jQuery("#WCup24").html(obj.WCup24) ;
		jQuery("#WCup25").html(obj.WCup25) ;
		jQuery("#WCup26").html(obj.WCup26) ;
		jQuery("#WCup27").html(obj.WCup27) ;
		jQuery("#WCup28").html(obj.WCup28) ;
		jQuery("#WCup29").html(obj.WCup29) ;
		jQuery("#WCup30").html(obj.WCup30) ;
		jQuery("#WCup31").html(obj.WCup31) ;
		jQuery("#WCup32").html(obj.WCup32) ;
 	}			
});
    </script>
    <script type="text/javascript" src="http://www.kaixinbao.com/wj/template/common/js/base.js"></script>
    <script type="text/javascript" src="http://www.kaixinbao.com/js/footer.js"></script>

</body>
</html>