<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>港澳台旅游_港澳台旅游签证保险-开心保保险网</title>
</head>
    <link href="http://www.kaixinbao.com/style/new_header.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://www.kaixinbao.com/style/activity.css"/>
    <link rel="stylesheet" type="text/css" href="../../active_file/css/sjb/sjb.css"/>
    <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzgwMDExODA2Nl8zMDEwNThfODAwMTE4MDY2Xw"></script>
    <style>

</style>
<body>
    <div class="sjb_header">
        <div class="sjb_header_w cf">
            <h2 class="header_logo">
                <a href="http://www.kaixinbao.com">开心保</a>
            </h2>
            <div class="header_tel"></div>
        </div>
    </div>
    <div class="xg_banner">
       
    </div>
    <div class="navs_box cf">
        <div class="sjb_navs">
            <a href="${Site.URL}/lvyou-baoxian/daogou/jingwai" class="nav_links1">巴西</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/ouzhou" class="nav_links2">欧洲</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/dongnanya" class="nav_links3">东南亚</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/rihan" class="nav_links4">日韩</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/gangaotai" class="nav_links5 nav_selects">港澳台</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/meijia" class="nav_links6">美加</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/quanqiu" class="nav_links7">全球</a>
        </div>
    </div>



    <div class="conbg_xg">
        <div class="con_boxs cf">
         <div class="sjb_shopbox cf">
               <div class="sjb_hd"></div> 
                <div class="shop_border">
                    <div class="sjb_img">
                        <a href="http://www.kaixinbao.com/lvyou-baoxian/265825.shtml" target="_blank">
                            <img src="../../active_file/images/sjb/hongkong3.jpg" alt=""></a>
                    </div>
                    <div class="sjb_shop_con">
                        <h2>
                            <a href="http://www.kaixinbao.com/lvyou-baoxian/265825.shtml" class="shop_linkss" target="_blank">美亚乐悠游海外旅行保障计划</a>
                        </h2>
                        <ul class="sjb_ul">
                                <li>适应人群：适合1-80周岁有亚洲行短期旅游计划的人群，支持潜水、骑马等风险娱乐活动。</li>
                                <li>推荐理由：综合保障很全面 住院津贴额度高 保热门娱乐活动 旅程延误有补偿</li>
                                <li>意外身故、烧伤及残疾保障 20万</li>
                                <li>紧急医疗运送和送返 40万</li>
                                <li>医疗补偿 5万</li>
                                <li>每日住院津贴 100元/天</li>
                                <li>个人随身财产 0.25万</li>
                        </ul>
                    </div>
                </div>
                <div class="shop_pays">
                    <a href="http://www.kaixinbao.com/lvyou-baoxian/265825.shtml" target="_blank" class="shop_linkssf">
                        <i class="pay_i1">￥</i>
                        <i class="pay_i2">45</i>
                        <i class="pay_i3">元</i>
                    </a>
                </div>
            </div>
            <div class="sjb_shopbox cf">
             <div class="sjb_hd"></div> 
                <div class="shop_border">
                    <div class="sjb_img">
                        <a href="http://www.kaixinbao.com/lvyou-baoxian/252421.shtml" target="_blank">
                            <img src="../../active_file/images/sjb/hongkong1.jpg" alt=""></a>
                    </div>
                    <div class="sjb_shop_con">
                        <h2>
                            <a href="http://www.kaixinbao.com/lvyou-baoxian/252421.shtml"  target="_blank" class="shop_linkss">平安畅行天下(港澳台)旅行保险</a>
                        </h2>
                        <ul class="sjb_ul">
                            <li>适应人群：专为港澳台出行人群准备，特别适合新婚蜜月度假，购物之旅。</li>
                            <li>推荐理由：出行天数自由选 交通工具双倍保 旅程延误给补偿 交通工具双倍保</li>
                            <li>意外身故和残疾 10万</li>
                            <li>公共交通双倍给付 10万</li>
                            <li>医疗运送送返 5万</li>
                            <li>紧急搜救 4万</li>
                            <li>旅行者个人责任 10万</li>
                        </ul>
                    </div>
                </div>
                <div class="shop_pays">
                    <a href="http://www.kaixinbao.com/lvyou-baoxian/252421.shtml" target="_blank" class="shop_linkssf"> <i class="pay_i1">￥</i> <i class="pay_i2">50</i>
                        <i class="pay_i3">元</i>
                    </a>
                </div>
            </div>
               <div class="sjb_shopbox cf">
               <!--  <div class="sjb_hd"></div> -->
                <div class="shop_border">
                    <div class="sjb_img">
                        <a href="http://www.kaixinbao.com/lvyou-baoxian/285064.shtml" target="_blank">
                            <img src="../../active_file/images/sjb/hongkongadd_03.jpg" alt=""></a>
                    </div>
                    <div class="sjb_shop_con">
                        <h2>
                            <a href="http://www.kaixinbao.com/lvyou-baoxian/285064.shtml" target="_blank" class="shop_linkss">开心保安联境外旅游保险</a>
                        </h2>
                        <ul class="sjb_ul">
                            <li>适应人群：适合中短期境外随团游、自由行、自驾游人群，适合全球出行。</li>
                            <li>适应人群：适合中短期境外随团游、自由行、自驾游人群，适合全球出行</li>
                            <li>意外身故、伤残 30万</li>
                            <li>公共交通工具意外 30万</li>
                            <li>医疗费用（含门诊和住院） 5万</li>
                            <li>紧急医疗运送 20万</li>
                            <li>个人及宠物责任 30万</li>
                        </ul>
                    </div>
                </div>
                <div class="shop_pays">
                    <a href="http://www.kaixinbao.com/lvyou-baoxian/285064.shtml" target="_blank" class="shop_linkssf">
                        <i class="pay_i1">￥</i>
                        <i class="pay_i2">20</i>
                        <i class="pay_i3">元</i>
                    </a>
                </div>
            </div>
            <div class="sjb_shopbox cf">
               <!--  <div class="sjb_hd"></div> -->
                <div class="shop_border">
                    <div class="sjb_img">
                        <a href="http://www.kaixinbao.com/lvyou-baoxian/261655.shtml" target="_blank">
                            <img src="../../active_file/images/sjb/hongkong2.jpg" alt=""></a>
                    </div>
                    <div class="sjb_shop_con">
                        <h2>
                            <a href="http://www.kaixinbao.com/lvyou-baoxian/261655.shtml" target="_blank" class="shop_linkss">安盛卓越亚洲行(港澳台)旅游保险计划</a>
                        </h2>
                        <ul class="sjb_ul">
                            <li>适应人群：满足1－80周岁出游人群的要求，为赴港澳台旅游人群量身打造。</li>
                            <li>推荐理由：保障周全价格便宜 承保恐怖行为 航班延误有保障 专项意外抚恤金</li>
                            <li>意外事故身故、烧伤及残疾保险金 20万</li>
                            <li>24小时全球紧急救助服务50万</li>
                            <li>医药费用补偿 6万</li>
                            <li>旅行个人责任10万</li>
                            <li>意外抚恤金 0.5万</li>
                        </ul>
                    </div>
                </div>
                <div class="shop_pays">
                    <a href="http://www.kaixinbao.com/lvyou-baoxian/261655.shtml" target="_blank" class="shop_linkssf">
                        <i class="pay_i1">￥</i>
                        <i class="pay_i2">35</i>
                        <i class="pay_i3">元</i>
                    </a>
                </div>
            </div>
            
         
           
            <div class="sjb_shopbox cf">
                <!-- <div class="sjb_hd"></div> -->
                <div class="shop_border">
                    <div class="sjb_img">
                        <a href="http://www.kaixinbao.com/lvyou-baoxian/284996.shtml" target="_blank">
                            <img src="../../active_file/images/sjb/hongkong4.jpg" alt=""></a>
                    </div>
                    <div class="sjb_shop_con">
                        <h2>
                            <a href="http://www.kaixinbao.com/lvyou-baoxian/284996.shtml" class="shop_linkss" target="_blank">安联安享宝岛台湾旅游保险计划</a>
                        </h2>
                        <ul class="sjb_ul">
                            <li>适应人群：专为赴台湾旅游人士打造，随团行、自由行、自驾游绝佳之选。</li>
                            <li>推荐理由：家庭财产有保障 保热门娱乐活动 旅程延误有补贴 紧急送返显关爱</li>
                            <li>意外身故、残疾及烧烫伤 10万</li>
                            <li>公共交通意外伤害 10万</li>
                            <li>紧急医疗运送和送返 10万</li>
                            <li>个人及宠物责任 10万</li>
                            <li>旅行延误（每4小时赔偿300元)</li>

                        </ul>
                    </div>
                </div>
                <div class="shop_pays">
                    <a href="http://www.kaixinbao.com/lvyou-baoxian/284996.shtml" target="_blank" class="shop_linkssf">
                        <i class="pay_i1">￥</i>
                        <i class="pay_i2">40</i>
                        <i class="pay_i3">元</i>
                    </a>
                </div>
            </div>
        </div>




        <div class="sjb_tip">
            <div class="tip_con">
            <p>对于看着港片长大的70后、80后，甚至90后来说，能够在旺角、铜锣湾、兰桂坊等既熟悉又经典的地方驻足漫游，会不会有种穿越到了儿时记忆的剧情中，如梦如幻？记不记得电影《海角七号》，其拍摄地台湾小镇恒春自然生态丰富，风光秀美，现已成为了赴台旅游的必游景点。除了美景，从街头吃到巷尾不重样精致美食，成为了无数吃货选择来香港台湾旅游的理由。<br>

在享受美食畅游美景的同时，也不要忘记买份保险哟。不会花费太多钱，但却可以让您的旅途全程无忧。
</p></div>
        </div>

        <div class="qa_con">
            <div class="qa_uls">
                <ul>
                    <li><a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/A02A20130916064.shtml" target="_blank">[什么是申根签证保险？如何办理？]</a></li>
                    <li><a href="http://www.kaixinbao.com/zhishi/renshi/A03G20130725072.shtml" target="_blank">[办理申根签证保险需注意哪些问题？]</a></li>
                     <li><a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/C05G20140127007.shtml" target="_blank">[购买境外旅游险勿忘关注附加条款]</a></li>
                    <li><a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/A02A20130624046.shtml" target="_blank">[投保境外旅游医疗险 保费越高保障越丰富]</a></li>
                     <li><a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/C01A20130403128.shtml" target="_blank">[境外旅游保险如何购买]</a></li>
                    <li><a href="http://www.kaixinbao.com/zhishi/goumai/CA20121025018.shtml" target="_blank">[东南亚境外旅游保险购买注意事项]</a></li>
                     <li><a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/C05G20140318012.shtml" target="_blank">[巴西旅游签证如何办理？需要哪些材料？]</a></li>
                    <li><a href="http://www.kaixinbao.com/zhishi/renshi/CA20120925007.shtml" target="_blank">[申根签证保险误区解析]</a></li>
                </ul>
            </div>
            <div class="qa_dl">
                <dl>
                    <dt><a href="http://www.kaixinbao.com/wenda/baoxian/zhishi/284430.shtml" target="_blank">境外旅游，都需要哪些保障？</a></dt>
                    <dd>您好！一般情况下，境外旅游需要的保障主要是境外旅游险，购买时需要注意有些国家要求在办...</dd>
                </dl>
                <dl style="margin-bottom:20px;">
                    <dt><a href="http://www.kaixinbao.com/wenda/baoxian/zhishi/284431.shtml" target="_blank">跟团游，已经有旅行社保险了，还需要另外投保旅游保险吗？</a></dt>
                    <dd>您好！有旅行社责任险，最好还是要购买一份旅游意外险。</dd>
                </dl>
                <dl style="margin-bottom:22px;">
                    <dt><a href="http://www.kaixinbao.com/wenda/baoxian/zhishi/284434.shtml" target="_blank">患有先天性心脏病能够买保险吗？</a></dt>
                    <dd>您好！由于网上投保方便快捷而且价格优惠，现在网上购买旅游险成为很多实施旅游计划的...</dd>
                </dl>
                <dl>
                    <dt><a href="http://www.kaixinbao.com/wenda/baoxian/zhishi/284435.shtml" target="_blank">境外旅游保险怎样投保最合适？</a></dt>
                    <dd>您好！购买境外旅游保险，要从如下三方面考虑，才能买到合适的境外旅游意外险产品。</dd>
                </dl>
            </div>
            <a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/" target="_blank" class="mores_s1"></a>
            <a href="http://www.kaixinbao.com/wenda/xianzhong/lvyou/" target="_blank" class="mores_s2"></a>
        </div>

            <div class="ftrq">
                <ul>
                    <li class="ftrq_li"><a href="${Site.URL}/lvyou-baoxian/daogou/jingwai"><img src="../../active_file/images/sjb/lvs_03.jpg" alt=""><p class="alinks"><b>巴西 桑巴王国</b><br>
                        神秘大陆 激情狂欢<br>
                        没有哪个国家比巴西更爱足球<br>
音乐响起，与桑巴女郎一起热舞吧<br>
绵长海岸线，比基尼美女比比皆是<br>
当然，这里还有唇齿留香的烤肉<br>
</p></a></li>
                    <li class="ftrq_li"><a href="${Site.URL}/lvyou-baoxian/daogou/dongnanya"><img src="../../active_file/images/sjb/lvs_04.jpg" alt=""><p class="alinks alink2"><b>浪漫蜜月旅行</b><br>
                        临海听风 海边看日落 <br>
恋上东南亚，恋上那幽蓝的海<br>
与TA漫步自然简约之地<br>
在屋子里直接感受蓝天白云和大海<br>
日坠海岸，聆听古庙神话<br>
</p></a></li>
                     <li class="ftrq_li"><a href="${Site.URL}/lvyou-baoxian/daogou/gangaotai/"><img src="../../active_file/images/sjb/lvs_05.jpg" alt=""><p class="alinks alink3"><b>顶级美食路线</b><br>
                        舌尖上的港澳台之旅<br>
夜幕降临 各种香味冲击味蕾<br>
无论街边小摊 还是餐厅小店<br>
总有一种美食让你乐不思蜀<br>
美食者一生必访之地<br>
</p></a></li>
                    <li class="ftrq_li"><a href="${Site.URL}/lvyou-baoxian/daogou/ouzhou"><img src="../../active_file/images/sjb/lvs_06.jpg" alt=""><p class="alinks alink4"><b>梦幻欧洲之旅</b><br>
                        漫步西方日落的地方<br>
文艺复兴的光辉闪耀世界<br>
爱琴海的绝美，古希腊文明的神秘<br>
深厚的文化积淀成就多座历史名城<br>
购物天堂，名牌起源地<br>
</p></a></li>
                </ul>
            </div>
    </div>

<div class="wrapper"></div>
<div class="footwrap">
<div class="authenticate">
        <ul class="sl-floatcenter">
            
 
              <li class="sl-floatcenter-item"><a rel="nofollow" target="_blank" href="http://union.tenpay.com/cgi-bin/trust_mch/ShowTrustMchInfo.cgi?uin=1214035701&amp;uin_type=1"><img src="http://www.kaixinbao.com/upload/Image/xrwz/2012/12/2582941810.png"></a></li>
            
 
              <li class="sl-floatcenter-item"><a rel="nofollow" target="_blank" href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1594416088"><img src="../../active_file/images/sjb/foots_03.gif"></a></li>
            
 
              <li class="sl-floatcenter-item"><a rel="nofollow" target="_blank" href="http://www.circ.gov.cn/web/site0/tab4491/i210753.htm"><img src="../../active_file/images/sjb/foots_05.gif"></a></li>
             
                   <li class="sl-floatcenter-item"><script src="https://kxlogo.knet.cn/seallogo.dll?sn=e12112821020037255000000&amp;size=0"></script></li>
        </ul>
    </div>
    <div class="copyright">     
        <div class="copyrightleft">Copyright 2012-2016 版权所有 网金保险销售服务有限公司</div>
    </div>

</div>

<!-- 产品分类浮动层 开始 -->
<div class="ClassificationArea" id="ClassificationArea">
</div>

<!-- 客服类浮动层 开始 -->
<div class="servfloat" id="servfloat" style="_margin-right:0;">
<a  class="hd_link" href="javascript:void(0);" vlpageid="xiaoneng" exturl="http://www.kaixinbao.com/xiaoneng" id="qqwap1" onclick="return(VL_FileDL(this));return false;" rel="nofollow"> </a>
</div>

<div id="tbox" >
  <a href="javascript:void(0)" id="gotop" style="display: inline;"></a>
</div>

    <script type="text/javascript" src="http://kaixinbao.com/js/jquery-1.4.2.min.js"></script>、
    <script type="text/javascript">
 jQuery(function() {
        var fshover = jQuery(".ftrq_li");
        var shop_btn = jQuery(".shop_pays");

       fshover.hover(
          function () {jQuery(this).find("p").fadeIn();},
          function () {jQuery(this).find("p").fadeOut();}
          );
       shop_btn.hover(
         function () {jQuery(this).addClass("shop_payss");},
          function () {jQuery(this).removeClass("shop_payss");}
        );
   })
    </script>
    <script type="text/javascript" src="http://www.kaixinbao.com/wj/template/common/js/base.js"></script>
    <script type="text/javascript" src="http://kaixinbao.com/js/footer.js"></script>


</body>
</html>