<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>东南亚旅游保险_东南亚自由行保险-开心保保险网</title>
</head>
    <link href="http://www.kaixinbao.com/style/new_header.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="http://www.kaixinbao.com/style/activity.css"/>
    <link rel="stylesheet" type="text/css" href="../../active_file/css/sjb/sjb.css"/>
    <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzgwMDExODA2Nl8zMDEwNThfODAwMTE4MDY2Xw"></script>
    <style>

</style>
<body>
    <div class="sjb_header">
        <div class="sjb_header_w cf">
            <h2 class="header_logo">
                <a href="http://www.kaixinbao.com">开心保</a>
            </h2>
            <div class="header_tel"></div>
        </div>
    </div>
    <div class="dny_banner">
       
    </div>
    <div class="navs_box cf">
         <div class="sjb_navs">
            <a href="${Site.URL}/lvyou-baoxian/daogou/jingwai" class="nav_links1">巴西</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/ouzhou" class="nav_links2 ">欧洲</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/dongnanya" class="nav_links3 nav_selects">东南亚</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/rihan" class="nav_links4">日韩</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/gangaotai" class="nav_links5 ">港澳台</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/meijia" class="nav_links6">美加</a>
            <a href="${Site.URL}/lvyou-baoxian/daogou/quanqiu" class="nav_links7 ">全球</a>
        </div>
    </div>

    <div class="conbg_dny">
        <div class="con_boxs cf">
            <div class="sjb_shopbox cf">
                 <div class="sjb_hd"></div> 
                <div class="shop_border">
                    <div class="sjb_img">
                        <a href="http://www.kaixinbao.com/lvyou-baoxian/265825.shtml" target="_blank">
                            <img src="../../active_file/images/sjb/dny_1.jpg" alt=""></a>
                    </div>
                    <div class="sjb_shop_con">
                        <h2>
                            <a href="http://www.kaixinbao.com/lvyou-baoxian/265825.shtml"  target="_blank" class="shop_linkss">美亚乐悠游海外旅行保障计划</a>
                        </h2>
                        <ul class="sjb_ul">
                            <li>适应人群：1-80周岁亚洲行超值保障计划，潜水、骑马、登山等风险娱乐活动首选。</li>
                            <li>推荐理由：综合保障很全面 住院津贴额度高 保热门娱乐活动 旅程延误有补偿</li>
                            <li>意外身故、烧伤及残疾保障 20万</li>
                            <li>紧急医疗运送和送返 40万</li>
                            <li>医疗补偿 5万</li>
                            <li>每日住院津贴 100元/天</li>
                            <li>个人随身财产 0.25万</li>
                        </ul>
                    </div>
                </div>
                <div class="shop_pays">
                    <a href="http://www.kaixinbao.com/lvyou-baoxian/265825.shtml" target="_blank" class="shop_linkssf"> <i class="pay_i1">￥</i> <i class="pay_i2">45</i>
                        <i class="pay_i3">元</i>
                    </a>
                </div>
            </div>
            
            <div class="sjb_shopbox cf">
              <!-- <div class="sjb_hd"></div>   -->
                <div class="shop_border">
                    <div class="sjb_img">
                        <a href="http://www.kaixinbao.com/lvyou-baoxian/285064.shtml" target="_blank">
                            <img src="../../active_file/images/sjb/dny_add_03.jpg" alt=""></a>
                    </div>
                    <div class="sjb_shop_con">
                        <h2>
                            <a href="http://www.kaixinbao.com/lvyou-baoxian/285064.shtml"  target="_blank" class="shop_linkss">开心保安联境外旅游保险</a>
                        </h2>
                        <ul class="sjb_ul">
                            <li>适应人群：适合中短期境外随团游、自由行、自驾游人群，适合全球出行。</li>
                            <li>推荐理由：全球出行不受限 个人财产有保障 性价比超高 有高额医疗补助</li>
                            <li>意外身故、伤残 30万</li>
                            <li>公共交通工具意外 30万</li>
                            <li>医疗费用（含门诊和住院） 5万</li>
                            <li>紧急医疗运送 20万</li>
                            <li>个人及宠物责任 30万</li>
                        </ul>
                    </div>
                </div>
                <div class="shop_pays">
                    <a href="http://www.kaixinbao.com/lvyou-baoxian/285064.shtml" target="_blank" class="shop_linkssf"> <i class="pay_i1">￥</i> <i class="pay_i2">20</i>
                        <i class="pay_i3">元</i>
                    </a>
                </div>
            </div>
            <div class="sjb_shopbox cf">
               <!--  <div class="sjb_hd"></div> -->
                <div class="shop_border">
                    <div class="sjb_img">
                        <a href="http://www.kaixinbao.com/lvyou-baoxian/281483.shtml" target="_blank">
                            <img src="../../active_file/images/sjb/dny_2.jpg" alt=""></a>
                    </div>
                    <div class="sjb_shop_con">
                        <h2>
                            <a href="http://www.kaixinbao.com/lvyou-baoxian/281483.shtml" target="_blank" class="shop_linkss">大众众行天下海外旅行保障计划</a>
                        </h2>
                        <ul class="sjb_ul">
                            <li>适应人群：适合崇尚自由中短期海外旅行人士，满足携带宠物出游的人群购险需要。</li>
                            <li>推荐理由：中国市场保障最全面的产品 承保年龄最高到85岁提供宠物责任和伤害保障</li>
                            <li>自驾车意外事故 10万</li>
                            <li>医疗费用 30万</li>
                            <li>高尔夫设备保障 1万</li>
                            <li>旅行期间—宠物保障 500元</li>
                            <li>个人及宠物责任 50万</li>
                        </ul>
                    </div>
                </div>
                <div class="shop_pays">
                    <a href="http://www.kaixinbao.com/lvyou-baoxian/281483.shtml" target="_blank" class="shop_linkssf">
                        <i class="pay_i1">￥</i>
                        <i class="pay_i2">110</i>
                        <i class="pay_i3">元</i>
                    </a>
                </div>
            </div>
            <div class="sjb_shopbox cf">
                <div class="sjb_hd"></div> 
                <div class="shop_border">
                    <div class="sjb_img">
                        <a href="http://www.kaixinbao.com/lvyou-baoxian/252424.shtml" target="_blank">
                            <img src="../../active_file/images/sjb/dny_3.jpg" alt=""></a>
                    </div>
                    <div class="sjb_shop_con">
                        <h2>
                            <a href="http://www.kaixinbao.com/lvyou-baoxian/252424.shtml" class="shop_linkss" target="_blank">平安畅行天下(东南亚、新马泰)境外旅行保险
</a>
                        </h2>
                        <ul class="sjb_ul">
                             <li>适应人群：适合0-80岁东南亚、新马泰出行需求，尤其适合新婚蜜月度假，购物之旅。</li>
                             <li>推荐理由：交通工具双倍保 个人责任20万元 出行天数自由选 24小时紧急搜救</li>
                            <li>公共交通双倍给付 10万</li>
                            <li>意外身故和残疾 10万</li>
                            <li>医疗运送送返 10万</li>
                            <li>医疗责任 5万</li>
                            <li>紧急搜救 4万</li>
                        </ul>
                    </div>
                </div>
                <div class="shop_pays">
                    <a href="http://www.kaixinbao.com/lvyou-baoxian/252424.shtml" target="_blank" class="shop_linkssf">
                        <i class="pay_i1">￥</i>
                        <i class="pay_i2">60</i>
                        <i class="pay_i3">元</i>
                    </a>
                </div>
            </div>
            <div class="sjb_shopbox cf">
                <!-- <div class="sjb_hd"></div> -->
                <div class="shop_border">
                    <div class="sjb_img">
                        <a href="http://www.kaixinbao.com/lvyou-baoxian/261655.shtml" target="_blank">
                            <img src="../../active_file/images/sjb/dny_4.jpg" alt=""></a>
                    </div>
                    <div class="sjb_shop_con">
                        <h2>
                            <a href="http://www.kaixinbao.com/lvyou-baoxian/261655.shtml" class="shop_linkss" target="_blank">安盛卓越亚洲行(港澳台、日本、泰国)旅游保险计划</a>
                        </h2>
                        <ul class="sjb_ul">
                            <li>适应人群：满足1－80周岁人群赴亚洲国家旅游需求，完美支持跟团游、购物游等出境目的。</li>
                            <li>推荐理由：保障周全价格便宜 出行天数自由选择 航班延误有保障 涵盖甲型H1N1流感</li>
                            <li>意外事故身故、烧伤及残疾保险金 20万</li>
                            <li>24小时全球紧急救助服务 50万</li>
                            <li>医药费用补偿 6万</li>
                            <li>旅行个人责任10万</li>
                            <li>意外抚恤金 0.5万</li>
                        </ul>
                    </div>
                </div>
                <div class="shop_pays">
                    <a href="http://www.kaixinbao.com/lvyou-baoxian/261655.shtml" target="_blank" class="shop_linkssf">
                        <i class="pay_i1">￥</i>
                        <i class="pay_i2">35</i>
                        <i class="pay_i3">元</i>
                    </a>
                </div>
            </div>
        </div>

        <div class="sjb_tip">
            <div class="tip_con">
            <p>在印尼的巴厘岛，你可以与心爱的人一起坐在沙滩看日落，聆听海神庙的古老传说；在菲律宾长滩那长达4公里的最细沙滩漫步，更能体会到别样的浪漫。清晨起床推开门便面朝大海，在海边吹着海风感受慵懒的黄昏，是每个上班族梦寐以求的放松方式。当然，东南亚物产丰足的热带水果和独特的烹饪技巧，更会让你享受饕餮大餐。<br>

带着心爱的人去旅行的同时，也不要忘记买份保险哟。不会花费太多钱，但却可以让您的旅途全程无忧。
</p></div>
        </div>

        <div class="qa_con">
            <div class="qa_uls">
                <ul>
                    <li><a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/A02A20130916064.shtml" target="_blank">[什么是申根签证保险？如何办理？]</a></li>
                    <li><a href="http://www.kaixinbao.com/zhishi/renshi/A03G20130725072.shtml" target="_blank">[办理申根签证保险需注意哪些问题？]</a></li>
                     <li><a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/C05G20140127007.shtml" target="_blank">[购买境外旅游险勿忘关注附加条款]</a></li>
                    <li><a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/A02A20130624046.shtml" target="_blank">[投保境外旅游医疗险 保费越高保障越丰富]</a></li>
                     <li><a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/C01A20130403128.shtml" target="_blank">[境外旅游保险如何购买]</a></li>
                    <li><a href="http://www.kaixinbao.com/zhishi/goumai/CA20121025018.shtml" target="_blank">[东南亚境外旅游保险购买注意事项]</a></li>
                     <li><a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/C05G20140318012.shtml" target="_blank">[巴西旅游签证如何办理？需要哪些材料？]</a></li>
                    <li><a href="http://www.kaixinbao.com/zhishi/renshi/CA20120925007.shtml" target="_blank">[申根签证保险误区解析]</a></li>
                </ul>
            </div>
            <div class="qa_dl">
                <dl>
                    <dt><a href="http://www.kaixinbao.com/wenda/baoxian/zhishi/284430.shtml" target="_blank">境外旅游，都需要哪些保障？</a></dt>
                    <dd>您好！一般情况下，境外旅游需要的保障主要是境外旅游险，购买时需要注意有些国家要求在办...</dd>
                </dl>
                <dl style="margin-bottom:20px;">
                    <dt><a href="http://www.kaixinbao.com/wenda/baoxian/zhishi/284431.shtml" target="_blank">跟团游，已经有旅行社保险了，还需要另外投保旅游保险吗？</a></dt>
                    <dd>您好！有旅行社责任险，最好还是要购买一份旅游意外险。</dd>
                </dl>
                <dl style="margin-bottom:22px;">
                    <dt><a href="http://www.kaixinbao.com/wenda/baoxian/zhishi/284434.shtml" target="_blank">患有先天性心脏病能够买保险吗？</a></dt>
                    <dd>您好！由于网上投保方便快捷而且价格优惠，现在网上购买旅游险成为很多实施旅游计划的...</dd>
                </dl>
                <dl>
                    <dt><a href="http://www.kaixinbao.com/wenda/baoxian/zhishi/284435.shtml" target="_blank">境外旅游保险怎样投保最合适？</a></dt>
                    <dd>您好！购买境外旅游保险，要从如下三方面考虑，才能买到合适的境外旅游意外险产品。</dd>
                </dl>
            </div>
            <a href="http://www.kaixinbao.com/zhishi/lvyoubaoxian/" target="_blank" class="mores_s1"></a>
            <a href="http://www.kaixinbao.com/wenda/xianzhong/lvyou/" target="_blank" class="mores_s2"></a>
        </div>

            <div class="ftrq">
                <ul>
                    <li class="ftrq_li"><a href="${Site.URL}/lvyou-baoxian/daogou/jingwai"><img src="../../active_file/images/sjb/lvs_03.jpg" alt=""><p class="alinks"><b>巴西 桑巴王国</b><br>
                        神秘大陆 激情狂欢<br>
                        没有哪个国家比巴西更爱足球<br>
音乐响起，与桑巴女郎一起热舞吧<br>
绵长海岸线，比基尼美女比比皆是<br>
当然，这里还有唇齿留香的烤肉<br>
</p></a></li>
                    <li class="ftrq_li"><a href="${Site.URL}/lvyou-baoxian/daogou/dongnanya"><img src="../../active_file/images/sjb/lvs_04.jpg" alt=""><p class="alinks alink2"><b>浪漫蜜月旅行</b><br>
                        临海听风 海边看日落 <br>
恋上东南亚，恋上那幽蓝的海<br>
与TA漫步自然简约之地<br>
在屋子里直接感受蓝天白云和大海<br>
日坠海岸，聆听古庙神话<br>
</p></a></li>
                     <li class="ftrq_li"><a href="${Site.URL}/lvyou-baoxian/daogou/gangaotai/"><img src="../../active_file/images/sjb/lvs_05.jpg" alt=""><p class="alinks alink3"><b>顶级美食路线</b><br>
                        舌尖上的港澳台之旅<br>
夜幕降临 各种香味冲击味蕾<br>
无论街边小摊 还是餐厅小店<br>
总有一种美食让你乐不思蜀<br>
美食者一生必访之地<br>
</p></a></li>
                    <li class="ftrq_li"><a href="${Site.URL}/lvyou-baoxian/daogou/ouzhou"><img src="../../active_file/images/sjb/lvs_06.jpg" alt=""><p class="alinks alink4"><b>梦幻欧洲之旅</b><br>
                        漫步西方日落的地方<br>
文艺复兴的光辉闪耀世界<br>
爱琴海的绝美，古希腊文明的神秘<br>
深厚的文化积淀成就多座历史名城<br>
购物天堂，名牌起源地<br>
</p></a></li>
                </ul>
            </div>
    </div>

<div class="wrapper"></div>
<div class="footwrap">
<div class="authenticate">
        <ul class="sl-floatcenter">
            
 
              <li class="sl-floatcenter-item"><a rel="nofollow" target="_blank" href="http://union.tenpay.com/cgi-bin/trust_mch/ShowTrustMchInfo.cgi?uin=1214035701&amp;uin_type=1"><img src="http://www.kaixinbao.com/upload/Image/xrwz/2012/12/2582941810.png"></a></li>
            
 
              <li class="sl-floatcenter-item"><a rel="nofollow" target="_blank" href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1594416088"><img src="../../active_file/images/sjb/foots_03.gif"></a></li>
            
 
              <li class="sl-floatcenter-item"><a rel="nofollow" target="_blank" href="http://www.circ.gov.cn/web/site0/tab4491/i210753.htm"><img src="../../active_file/images/sjb/foots_05.gif"></a></li>
             
                   <li class="sl-floatcenter-item"><script src="https://kxlogo.knet.cn/seallogo.dll?sn=e12112821020037255000000&amp;size=0"></script></li>
        </ul>
    </div>
    <div class="copyright">     
        <div class="copyrightleft">Copyright 2012-2016 版权所有 网金保险销售服务有限公司</div>
    </div>

</div>


   <!-- 产品分类浮动层 开始 -->
<div class="ClassificationArea" id="ClassificationArea">
</div>

<!-- 客服类浮动层 开始 -->
<div class="servfloat" id="servfloat" style="_margin-right:0;">
<a  class="hd_link" href="javascript:void(0);" vlpageid="xiaoneng" exturl="http://www.kaixinbao.com/xiaoneng" id="qqwap1" onclick="return(VL_FileDL(this));return false;" rel="nofollow"> </a>
</div>

<div id="tbox" >
  <a href="javascript:void(0)" id="gotop" style="display: inline;"></a>
</div>

    <script type="text/javascript" src="http://kaixinbao.com/js/jquery-1.4.2.min.js"></script>、
    <script type="text/javascript">
 jQuery(function() {
        var fshover = jQuery(".ftrq_li");
        var shop_btn = jQuery(".shop_pays");

       fshover.hover(
          function () {jQuery(this).find("p").fadeIn();},
          function () {jQuery(this).find("p").fadeOut();}
          );
       shop_btn.hover(
         function () {jQuery(this).addClass("shop_payss");},
          function () {jQuery(this).removeClass("shop_payss");}
        );
   })
    </script>
    <script type="text/javascript" src="http://www.kaixinbao.com/wj/template/common/js/base.js"></script>
    <script type="text/javascript" src="http://kaixinbao.com/js/footer.js"></script>

</body>
</html>