<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=8">
	<title>开心保2周年店庆主题月，全年最强回馈-开心保保险网</title>
	<meta name="description" content="喜迎开心保2周年庆，店庆月期间，开心保联手多家保险公司感恩回馈新老用户，让利幅度空前，旅游险、意外险5折起再满减，车险8.5折送油卡，抽大奖、赢好礼，优惠加倍诚意加倍。" />
	<link href="${Site.URL}/style/new_header.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="${Site.URL}/style/activity.css"/>
	<link rel="stylesheet" type="text/css" href="${Site.URL}/style/skins/default.css"/>
	<link rel="stylesheet" type="text/css" href="../../active_file/css/znq/znq.css"/>
	<script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzgwMDExODA2Nl8zMDEwNThfODAwMTE4MDY2Xw"></script>
	
</head>
<body>

	<!--header-->
	<div class="ste_nav">
		<div class="wrapper">
			<div class="mini_logo">
				<a href="${Site.URL}/"></a>
			</div>
			<ul class="ste_nav_list">
				<li class="ste_nav_home">
					<a href="${Site.URL}/">首页</a>
				</li>
				<li>
					<a href="${Site.URL}/lvyou-baoxian/" target="_blank">旅游险</a>
				</li>
				<li>
					<a href="${Site.URL}/yiwai-baoxian/" target="_blank">意外险</a>
				</li>
				<li>
					<a href="${Site.URL}/jiankang-baoxian/" target="_blank">健康险</a>
				</li>
				<li>
					<a href="${Site.URL}/renshou-baoxian/" target="_blank">人寿险</a>
				</li>
				<li>
					<a href="${Site.URL}/jiacai-baoxian/" target="_blank">家财险</a>
				</li>
				<li>
					<a href="${Site.URL}/tx/" target="_blank">团体险</a>
				</li>
				<li>
					<a href="${Site.URL}/touzi-licai/" target="_blank">理财险</a>
				</li>
				<li>
					<a href="${Site.URL}/chexian/" target="_blank">车险</a>
				</li>
			</ul>
		</div>
	</div>
	<!--header end-->
		
		<div class="znq_h znq_h1">
			<div class="warper_c po_conss">
				<img src="../../active_file/images/znq2/dq_logo_03.png" class="logo_znq" alt="">
			</div>
		</div>
		<div class="znq_h znq_h2"></div>
		<div class="znq_h znq_h3"></div>
		<div class="znq_h znq_h4"></div>
		<div class="znq_h znq_h5"></div>
		<div class="znq_h znq_h6"></div>
	<div class="znq_h znq_h7"><div class="warper_c"> <a href="${Site.URL}/yxhd/birth2014/gxyn/" target="_blank" class="go_kxblc" id="sfs"></a></div></div>
	<div class="zp_con" id="nav1">
		<div class="warper_c">
		<div class="w_cl"></div>
		<div class="w_cr"><a href="${Site.URL}/yxhd/birth2014/bnyj/" class="w_cr1" target="_blank" ></a> <a href="${Site.URL}/yxhd/birth2014/bnyj/" class="w_cr2" target="_blank"></a> </div>
		</div>
	</div>
	<div class="hr_s"></div>
	<div class="cp_con1" id="nav2">
		<div class="warper_c">
		<div class="znq_titile"><img src="../../active_file/images/znq2/znd_c_03.png" title="年庆卖场"></div>
		<ul class="yhj_img">
						<li><img src="../../active_file/images/znq2/znd_c_06.png" name="2,50"  id="lipin22"  title="2元优惠卷" ></li>
			<li><img src="../../active_file/images/znq2/znd_c_07.png" name="5,100" id="lipin23"  title="5元优惠卷"></li>
			<li><img src="../../active_file/images/znq2/znd_c_08.png" name="10,200" id="lipin24"  title="10元优惠卷"></li>
			<li><img src="../../active_file/images/znq2/znd_c_09.png" name="25,500" id="lipin25"  title="25元优惠卷"></li>
		</ul>
		<div class="clear h20"></div>
		<div class="lvzc_1">
			 <img src="../../active_file/images/znq2/znd_c_12.png" width="346px;"  height="344px" class="lvzc_1_img"  alt="">
			 <div class="lvzc_1_box">
			 	 <img src="../../active_file/images/znq2/znd_c_15.png" width="327px;"  height="151px" class="lvzc_1_img1"  alt="">
				<a href="${Site.URL}/yxhd/birth2014/lvyouxian/" target="_blank" class="go_to"></a>
			 </div>
		</div>
		<div class="clear"></div>
			
		<div class="lvzc_2">
			<img src="../../active_file/images/znq2/znd_c_20.png" width="166px;" height="166px;" class="lvzc_2img" alt="">
			<img src="../../active_file/images/znq2/znd_c_29.png"  width="323px"  height="144px;" style="padding-top:40px" alt="">
			<a href="${Site.URL}/yxhd/birth2014/yiwaixian/" target="_blank" class="go_to go_to1"></a>
		</div>
		<div class="lvzc_3">
		<img src="../../active_file/images/znq2/znd_c_23.png" width="166px;" height="166px;" class="lvzc_3img" alt="">
		<img src="../../active_file/images/znq2/znd_c_26.png"  width="323px"  height="144px;" style="padding-top:40px" alt="">
		<a href="${Site.URL}/yxhd/birth2014/chexian/" target="_blank" class="go_to go_to2"></a>
		</div>
	</div>
			
	</div>
	<div class="cp_con2" id="nav3">
		<div class="warper_c_d">
			<img src="../../active_file/images/znq2/znd_c_40.png" width="388px;" height="56px;" alt="" style="padding:40px 0px 10px 20px"> 
			<img src="../../active_file/images/znq2/znd_c_44.png" alt="" width="1030px" height="139px;" style="margin:0 auto; dispaly:block">
			<div class="cp_con2_box">
				<div class="cp_lc">
					<span>9.2-9.16</span>
					<p>单笔订单满300元<br>（车险、理财险除外）即送</p>	
				</div>
				<div class="cp_rc">
				<div class="clear h40"></div>
					<span>9.2-9.16</span>
					<p>转发微博，并@3位好友，限前30名</p>
					<div class="clear h20"></div>
					<span>9.17-9.19</span>
					<p>9.17 单笔订单满200元送，限前500名<br>
					9.18 单笔订单满100元送，限前1000名<br>
					9.19 单笔订单满50元送，限前2000名<br></p>
					<div class="clear h30"></div>
					<div class="clear h6"></div>
					<span>9.20-9.30</span>
					<p>关注开心保官方微信平台<br>并通过微信购买任意产品即送（限每天前50名）
				</p>	
				<span class="go_to3"></span>
				</div>
				<div class="cp_rr">
					<img src="../../active_file/images/znq2/znd_c_51.png" width="162px;" height="149px;" alt="">
				</div>
			</div>


			<div class="hdxz" id="hdxz" style="display:none;">
				<div id="pagebtns" class="closefd"></div>
				<h3 class="alert_tit">开心保抱枕发放细则</h3>
				<span class="step step1">STEP:1 订单满额送</span>
				<p class="hd_sms">1、9月17日有单笔订单满200元用户，限前500名<br>
				2、9月18日有单笔订单满100元用户，限前1000名<br>
				3、9月19日有单笔订单满50元用户，限前2000名<br>
				4、9月2日-9月16日、9月20日-9月30日 有单笔订单满300元用户<br>
				5、车险、理财险产品不参加此活动<br></p>
				<span class="step step2">STEP:2 微博转发送</span>
				<p class="hd_sms">1、9月2日-9月16日 转发指定新浪微博并@3位好友即送，限前30名<br>
				2、有作弊行为用户将视为放弃<br>
				3、活动后将通过微博私信向获赠用户索取邮寄地址<br></p>
				<span class="step step3">STEP:3 微信购买送</span>
				<p class="hd_sms">1、关注开心保官方微信平台，并通过开心保微信购买任意产品即送
   限每天前50名<br>2、每个微信账号限领一件<br>3、活动后将在开心保微信平台公布获赠用户名单，敬请关注<br></p>
   				<p class="hd_sms2">*本活动规则最终解释权归开心保网所有</p>
			</div>
		</div>
	</div>
	<div class="cp_con3" id="nav4">
		<div class="warper_c">
		<img src="../../active_file/images/znq2/znd_c_60.png" alt="" style="padding-top:55px; padding-bottom:20px;  padding-left:10px;">
		<div class="clear"></div>
		<a href="http://www.kaixinbao.com/gongsi/AH20130114133.shtml" target="_blank"><img src="../../active_file/images/znq2/znd_c_64.gif" width="457px;" height="128px;" alt="" style="margin-right:10px"></a>
		<a href="http://www.kaixinbao.com/gongsi/AH20130114011.shtml" target="_blank"><img src="../../active_file/images/znq2/znd_c_66.gif" width="232px;" height="128px;" alt="" style="margin-right:10px"></a>
		<div class="img_bo1">
			<a href="http://www.kaixinbao.com/gongsi/AG20131121037.shtml" target="_blank"><img src="../../active_file/images/znq2/znd_c_68.gif" width="280px;" height="63px;" alt=""></a>
			<div class="clear h8" ></div>	
			<a href="http://www.kaixinbao.com/gongsi/AH20130121003.shtml" target="_blank"><img src="../../active_file/images/znq2/znd_c_71.gif" width="280px;" height="56px;" alt=""></a>
		</div>
		
		<div class="clear h10"></div>
		<a href="http://www.kaixinbao.com/gongsi/AH20130111020.shtml" target="_blank"><img src="../../active_file/images/znq2/znd_c_76.gif" width="202px;" height="91px;" alt="" style="margin-right:10px"></a>
		<a href="http://www.kaixinbao.com/gongsi/AH20130114004.shtml" target="_blank"><img src="../../active_file/images/znq2/znd_c_78.gif" width="175px;" height="91px;" alt="" style="margin-right:10px"></a>
		<div class="img_bo2"><a href="http://www.kaixinbao.com/gongsi/AG20130121002.shtml" target="_blank"><img src="../../active_file/images/znq2/znd_c_80.gif" width="212px;" height="44px;" alt=""></a>
			<div class="clear" style="height:7px;"></div>
			<a href="http://www.kaixinbao.com/gongsi/AG20130121001.shtml" target="_blank"><img src="../../active_file/images/znq2/znd_c_86.gif" width="212px;" height="40px;" alt=""></a></div>

			<a href="http://www.kaixinbao.com/gongsi/AG20130522082.shtml" target="_blank"><img src="../../active_file/images/znq2/znd_c_82.gif" width="163px;" height="91px;" alt="" style="margin-right:8px"></a>

			<a href="http://www.kaixinbao.com/gongsi/AG20130710008.shtml" target="_blank"><img src="../../active_file/images/znq2/znd_c_84.gif" width="200px;" height="91px;" alt=""></a>

		<div class="clear h10"></div>
		<div class="cp_logo">
			<a href="http://www.kaixinbao.com/gongsi/AH20130118001.shtml" target="_blank"><img src="../../active_file/images/znq2/lpgp_10.gif" width="133px;" height="52px;" alt=""></a>
			<a href="http://www.kaixinbao.com/gongsi/AH20130118002.shtml" target="_blank"><img src="../../active_file/images/znq2/lpgp_12.gif" width="133px;" height="52px;" alt=""></a>
			<a href="http://www.kaixinbao.com/gongsi/AG20130514025.shtml" target="_blank"><img src="../../active_file/images/znq2/lpgp_14.gif" width="133px;" height="52px;" alt=""></a>
			<a href="http://www.kaixinbao.com/gongsi/AH20130111040.shtml" target="_blank"><img src="../../active_file/images/znq2/lpgp_16.gif" width="133px;" height="52px;" alt=""></a>
			<a href="http://www.kaixinbao.com/gongsi/AG20130111034.shtml" target="_blank"><img src="../../active_file/images/znq2/lpgp_18.gif" width="133px;" height="52px;"  alt=""></a>
			<a href="http://www.kaixinbao.com/gongsi/AG20130114017.shtml" target="_blank"><img src="../../active_file/images/znq2/lpgp_07.gif" width="133px;" height="52px;" alt="" class="clear_m"></a>
		</div>
		</div>
	</div>
	<input type="hidden" value="${Site.prop6}" id="frontURL">
<!-- alert -->
 <div class="alert_box" id="zjxx" style="display:none" >
 	<div id="pagebtn" class="closefd"></div>
 		<h3 class="alert_tit">恭喜您成功领取优惠券</h3>
 		<p class="alert_con">
 			面额：<span id="price_s"></span>.00元<br>
 			使用条件：订单满<span id="price_s_c">50</span>.00元<br>
使用时间：2014/09/02-2014/09/30<br>
 		</p>
 		<a href="${Site.URL}/wj/shop/coupon!queryCoupon.action" target="_blank" class="linka_go"></a>	<span  class="linka_to"></span>
 </div>
<!-- alert -->
<!-- alert 3-->
	<div class="alert_box" id="gxts" style="display:none" >
					<div id="pagebtns4" class="closefd"></div>
					<h3 class="alert_tit alert_tit2 alert_tit3">很抱歉，您今天点击机会已经用完了哦，明天请继续关注哦！</h3>
	</div>
	<!-- alert3 -->
<!-- alert2 -->
	<div class="alert_box" id="wbfx" style="display:none;">
				<div id="pagebtn2" class="closefd"></div>
					<h3 class="alert_tit alert_tit2">分享微博，为开心保生日送祝福</h3>
					<p class="alert_ps">额外获得一次领券机会</p>
<div class="idbsare">
<div class="bshare-custom icon-medium-plus" id="shares">
<div class="bsPromo bsPromo1"></div><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到腾讯微博" class="bshare-qqmb" href="javascript:void(0);"></a><a title="分享到QQ空间" class="bshare-qzone"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a></div>

<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><a class="bshareDiv" onclick="javascript:return false;"></a><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
<script type="text/javascript" charset="utf-8">
bShare.addEntry({
    title: "",
    url: "",
    summary: "#开心保2周年庆#本月是开心保周年庆，一大波给力活动来袭，近期买旅游意外险和车险的一定要去瞅瞅哦，不用懂得很多道理，也可以选好最实惠的保障，在此祝@开心保网 9.19生日快乐！全部活动狂戳>>>",
    pic: "${Site.URL}/active_file/images/znq2/wb/lv.jpg"
});
</script> 
</div>

	</div>
<!-- alert2 end -->
 



	<div class="footwrap">
		<div class="authenticate">
			<ul class="sl-floatcenter">
			<cms:list item="Image"  name="信任网站" type="firstpublish" > 
		      <li class="sl-floatcenter-item" ><a href="${Image.wangzhi}" target="_blank" rel="nofollow"><img src="${Site.URL}/${Image.Path}${Image.SrcFileName}" width="${Image.kuandu}" height="${Image.gaodu}"/></a></li>
		    </cms:list> 
			</ul>
		</div>
		<div class="copyright">
		<div class="copyrightleft">Copyright 2012-2016 版权所有 网金保险销售服务有限公司</div>
		</div>

	</div>

	<!-- 产品分类浮动层 开始 -->
	<div class="ClassificationArea" id="ClassificationArea">
			<div class="f_nav">
				<div class="f_nav_h"></div>
			<img src="../../active_file/images/znq2/dh_07.gif" id="nav_s" width="124px" height="26px;" alt="" >
				<div class="img_cosn" >
					<a href="#nav1" ><img src="../../active_file/images/znq2/dh_11.gif" width="98px" height="26px;" alt=""></a>
					<a href="#nav2" ><img src="../../active_file/images/znq2/dh_14.gif" width="98px" height="26px;" alt=""></a>
					<a href="#nav3" ><img src="../../active_file/images/znq2/dh_16.gif" width="98px" height="26px;" alt=""></a>
					<a href="#nav4" ><img src="../../active_file/images/znq2/dh_18.gif" width="98px" height="26px;" alt=""></a>
				</div>
				<a href="${Site.URL}/yxhd/birth2014/lvyouxian/" target="_blank"><img src="../../active_file/images/znq2/dh_20.gif" width="124px" height="26px;" alt=""></a>
				<a href="${Site.URL}/yxhd/birth2014/yiwaixian/" target="_blank"><img src="../../active_file/images/znq2/dh_22.gif" width="124px" height="26px;" alt=""></a>
				<a href="${Site.URL}/yxhd/birth2014/chexian/" target="_blank"><img src="../../active_file/images/znq2/dh_24.gif" width="124px" height="26px;" alt=""></a>
				<div class="f_nav_f"></div>
			</div>
	</div>

	<!-- 客服类浮动层 开始 -->
<div id="servfloat" class="servfloat">
   <span><a rel="nofollow" href="javascript:void(0);" vlpageid="xiaoneng" exturl="http://www.kaixinbao.com/xiaoneng" id="qqwap1" onclick="return(VL_FileDL(this));return false;"> </a></span>
</div>
	<div id="tbox" style="left: 1123.5px; bottom: 10px;">
		<a href="javascript:void(0)" id="gotop" style="display: inline;"></a>
	</div>

<script type="text/javascript" src="${Site.URL}/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="../../active_file/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="${Site.URL}/js/jquery.cookie.js"></script>
<script type="text/javascript" src="${Site.URL}/js/jquery.form.js"></script>
<script type="text/javascript" src="${Site.URL}/js/jqueryupdate.js"></script>
<script type="text/javascript" src="${Site.URL}/wj/template/common/js/base.js"></script>
<script type="text/javascript" src="${Site.URL}/js/header1.js"></script>
<script type="text/javascript" src="${Site.URL}/js/footer.js"></script>
<script type="text/javascript" src="${Site.URL}/js/artDialog.js"></script>
<script type="text/javascript" src="${Site.URL}/js/login.js"></script>
<script type="text/javascript" src="${Site.URL}/js/delayloadMethod.js"></script>
<script type="text/javascript" src="${Site.URL}/wj/template/shop/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${Site.URL}/js/iframeTools.js"></script>
<script type="text/javascript" src="${Site.URL}/js/jquery.qtip.js"></script>
<script type="text/javascript" src="${Site.URL}/js/jquery.poshytip.js"></script>
	<script src="../../active_file/js/layer/layer.min.js"></script>
	<script src="js/lotteryActivity.js"></script>
</body>
</html>