<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9">
	<title>【2周年庆】保你有奖-开心保保险网</title>
	<meta name="description" content="二周年店庆大抽奖，送精美礼品，百分百中奖！机会多多，绝不落空，开心保店庆就要豪爽。" />
	<link href="${Site.URL}/style/new_header.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="${Site.URL}/style/activity.css"/>
	<link rel="stylesheet" type="text/css" href="${Site.URL}/style/skins/default.css"/>
	<link rel="stylesheet" type="text/css" href="../../active_file/css/znq/znq.css"/>
	<script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php?key=XzgwMDExODA2Nl8zMDEwNThfODAwMTE4MDY2Xw"></script>
</head>
	<style>
body{ background:#C41438;}
</style>
<body>

	<!--header-->
	<div class="ste_nav">
		<div class="wrapper">
			<div class="mini_logo">
				<a href="${Site.URL}/"></a>
			</div>
			<ul class="ste_nav_list">
				<li class="ste_nav_home">
					<a href="${Site.URL}/">首页</a>
				</li>
				<li>
					<a href="${Site.URL}/lvyou-baoxian/" target="_blank">旅游险</a>
				</li>
				<li>
					<a href="${Site.URL}/yiwai-baoxian/" target="_blank">意外险</a>
				</li>
				<li>
					<a href="${Site.URL}/jiankang-baoxian/" target="_blank">健康险</a>
				</li>
				<li>
					<a href="${Site.URL}/renshou-baoxian/" target="_blank">人寿险</a>
				</li>
				<li>
					<a href="${Site.URL}/jiacai-baoxian/" target="_blank">家财险</a>
				</li>
				<li>
					<a href="${Site.URL}/tx/" target="_blank">团体险</a>
				</li>
				<li>
					<a href="${Site.URL}/touzi-licai/" target="_blank">理财险</a>
				</li>
				<li>
					<a href="${Site.URL}/chexian/" target="_blank">车险</a>
				</li>
			</ul>
		</div>
	</div>
	<!--header end-->
	<input type="hidden" value="${Site.prop6}" id="frontURL">
		<div class="zj_header"></div>
		<div class="warper_s pe_zjbg">
			<div class="light_top"></div>
			<div class="light_left"></div>
			<div class="light_right"></div>
			<div class="light_bottom"></div>
			<div class="cj_conss">
			<div class="rotaryArrow">
					<img src="../../active_file/images/znq2/arrow.png" alt="" id="rotaryArrow">
			</div>
			<div class="share_cs">
				<div class="bshare-custom">分享到：<div class="bsPromo bsPromo2"></div><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到QQ空间" class="bshare-qzone" href="javascript:void(0);"></a><a title="分享到豆瓣" class="bshare-douban" href="javascript:void(0);"></a><a title="分享到人人网" class="bshare-renren"></a></div> 
			 		<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
					<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
					<script type="text/javascript" charset="utf-8">
bShare.addEntry({
    title: "",
    url: "",
    summary: "我在参加#开心保二周年庆——保你有奖#转盘有奖活动，参与即可获奖，人人有奖，绝不落空。还等什么，赶快行动！",
    pic: "${Site.URL}/active_file/images/znq2/wb/cj2.jpg"
});
</script> 

			</div>
				<div id="result" class="result">
					<p id="resultTxt"></p>
					<a title="关闭" id="resultBtn" href="javascript:">关闭</a>
				</div>
				<div id="cj_btn" class="cj_btn"></div>
			</div>
			<div class="hd_r_box">
					<h3 class=" hd_titile">获奖名单</h3>
					<div class="md_con">
					<div class="md_hr"></div>
					<div class="txtMarquee-top">
						
						<div class="bd">
							<ul class="zj_list" id="awardInfo">
							</ul>
						</div>
					</div>
					</div>
					<div class="md_con md_con2">
						<h3 class="jp_sz">奖品设置</h3>
						<ul class="jp_lsti">
							<li ><img src="../../active_file/images/znq2/people_07.jpg" width="75px;" height="75px;" alt=""><span>iPad Air 3名</span></li>
							<li ><img src="../../active_file/images/znq2/people_09.jpg" width="75px;" height="75px;" alt=""><span>50元话费10名</span></li>
							<li ><img src="../../active_file/images/znq2/people_11.jpg" width="75px;" height="75px;" alt=""><span>开心保抱枕22名</span></li>
							<li ><img src="../../active_file/images/znq2/people_13.jpg" width="75px;" height="75px;" alt=""><span>500积分20名</span></li>
							<li ><img src="../../active_file/images/znq2/people_19.jpg" width="75px;" height="75px;" alt=""><span>不限</span></li>
							<li ><img src="../../active_file/images/znq2/people_20.jpg" width="75px;" height="75px;" alt=""><span>不限</span></li>
							<li ><img src="../../active_file/images/znq2/people_21.jpg" width="75px;" height="75px;" alt=""><span>不限</span></li>
							<li ><img src="../../active_file/images/znq2/people_22.jpg" width="75px;" height="75px;" alt=""><span>不限</span></li>

						</ul>
					</div>
			</div>

		</div>
		<div class="warper_s ">
	 		<div class="hd_xz">
	 			<div class="hd_header"></div>
	 			<div class="hd_bgs">
	 					<img src="../../active_file/images/znq2/people_33.gif" width="236px;" class="cp_titiles" height="53px;" alt="">
	 					<div class="hd_ss">
	 					<p><span class="cptitiles">2014.9.2—2014.9.30</span>开心保会员每天均有一次机会点击转盘，获得以下奖品中的一种，分享获奖信息后每天可多得一次参与机会。人人有奖，绝不落空，开心保就是这么豪爽。</p>
	 					<div class="h20"></div>
	 					<p>注：本活动获得的优惠劵不得与网站其他优惠劵同时使用<br>
※本活动最终解释权归开心保网所有</p>
</div>

	 			</div>
	 			<div class="hd_footer"></div>
	 		</div>
 		</div>

<!-- alert 3-->
	<div class="alert_box" id="gxts" style="display:none" >
					<div id="pagebtns4" class="closefd"></div>
					<h3 class="alert_tit alert_tit2 alert_tit3">很抱歉，您今天点击机会已经用完了哦，明天请继续关注哦！</h3>
	</div>
	<!-- alert3 -->
<!-- alert2 -->
	<div class="alert_box" id="wbfx" style="display:none;">
				<div id="pagebtn2" class="closefd"></div>
					<h3 class="alert_tit alert_tit2">分享微博，为开心保生日送祝福</h3>
					<p class="alert_ps">额外获得一次抽奖机会</p>
<div class="idbsare">
<div class="bshare-custom icon-medium-plus" id="shares">
<div class="bsPromo bsPromo1"></div><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到腾讯微博" class="bshare-qqmb" href="javascript:void(0);"></a><a title="分享到QQ空间" class="bshare-qzone"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a></div>

<!-- <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script> --><a class="bshareDiv" onclick="javascript:return false;"></a>
<!-- <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script> -->
<script type="text/javascript" charset="utf-8">
bShare.addEntry({
    title: "",
    url: "",
    summary: "我在参加#开心保二周年庆——保你有奖#转盘有奖活动，参与即可获奖，人人有奖，绝不落空。还等什么，赶快行动！",
    pic: "${Site.URL}/active_file/images/znq2/wb/cj1.jpg"
});
</script> 
</div>

	</div>
<!-- alert2 end -->


	<div class="footwrap">
		<div class="authenticate">
			<ul class="sl-floatcenter">
				<cms:list item="Image"  name="信任网站" type="firstpublish" > 
			      <li class="sl-floatcenter-item" ><a href="${Image.wangzhi}" target="_blank" rel="nofollow"><img src="${Site.URL}/${Image.Path}${Image.SrcFileName}" width="${Image.kuandu}" height="${Image.gaodu}"/></a></li>
			    </cms:list> 
			</ul>
		</div>
		<div class="copyright">
			<div class="copyrightleft">Copyright 2012-2016 版权所有 网金保险销售服务有限公司</div>
		</div>

	</div>

	<!-- 产品分类浮动层 开始 -->
	<div class="ClassificationArea" id="ClassificationArea">
			<div class="f_nav">
				<div class="f_nav_h"></div>
				<a href="${Site.URL}/yxhd/birth2014/ " target="_blank"><img src="../../active_file/images/znq2/dh_07.gif" id="nav_s" width="124px" height="26px;" alt="" ></a>
				<!-- <div class="img_cosn" >
					<a href="#nav1" ><img src="../../active_file/images/znq2/dh_11.gif" width="98px" height="26px;" alt=""></a>
					<a href="#nav2" ><img src="../../active_file/images/znq2/dh_14.gif" width="98px" height="26px;" alt=""></a>
					<a href="#nav3" ><img src="../../active_file/images/znq2/dh_16.gif" width="98px" height="26px;" alt=""></a>
					<a href="#nav4" ><img src="../../active_file/images/znq2/dh_18.gif" width="98px" height="26px;" alt=""></a>
				</div> -->
				<a href="${Site.URL}/yxhd/birth2014/lvyouxian/" target="_blank"><img src="../../active_file/images/znq2/dh_20.gif" width="124px" height="26px;" alt=""></a>
				<a href="${Site.URL}/yxhd/birth2014/yiwaixian/" target="_blank"><img src="../../active_file/images/znq2/dh_22.gif" width="124px" height="26px;" alt=""></a>
				<a href="${Site.URL}/yxhd/birth2014/chexian/" target="_blank"><img src="../../active_file/images/znq2/dh_24.gif" width="124px" height="26px;" alt=""></a>
				<div class="f_nav_f"> <img src="../../active_file/images/znq2/dh_27.png" id="gif_xx" alt=""></div>
			</div>
	</div>

	<!-- 客服类浮动层 开始 -->
<div id="servfloat" class="servfloat">
   <span><a rel="nofollow" href="javascript:void(0);" vlpageid="xiaoneng" exturl="http://www.kaixinbao.com/xiaoneng" id="qqwap1" onclick="return(VL_FileDL(this));return false;" id="callus"> </a></span>
</div>
	<div id="tbox" style="left: 1123.5px; bottom: 10px;">
		<a href="javascript:void(0)" id="gotop" style="display: inline;"></a>
	</div>

	

<script type="text/javascript" src="../../active_file/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="${Site.URL}/js/jquery.cookie.js"></script>
<script type="text/javascript" src="${Site.URL}/js/jquery.form.js"></script>
<script type="text/javascript" src="${Site.URL}/js/jqueryupdate.js"></script>
<script type="text/javascript" src="${Site.URL}/wj/template/common/js/base.js"></script>
<script type="text/javascript" src="${Site.URL}/js/header1.js"></script>
<script type="text/javascript" src="${Site.URL}/js/footer.js"></script>
<script type="text/javascript" src="${Site.URL}/js/artDialog.js"></script>
<script type="text/javascript" src="${Site.URL}/js/login.js"></script>
<script type="text/javascript" src="${Site.URL}/js/delayloadMethod.js"></script>
<script type="text/javascript" src="${Site.URL}/js/iframeTools.js"></script>
<script type="text/javascript" src="${Site.URL}/js/jquery.qtip.js"></script>
<script type="text/javascript" src="${Site.URL}/js/jquery.poshytip.js"></script>
<script type="text/javascript" src="../../active_file/js/jquery.rotate.min.js"></script>
<script type="text/javascript" src="../../active_file/js/jquery.SuperSlide.2.1.1.js"></script>
<script src="../../active_file/js/layer/layer.min.js"></script>
	
	
<script src="../../active_file/js/layer/layer.min.js"></script>
<script>
try{
$(function(){
	awardInfo();
    var $cj_btn = $('#cj_btn');
	var $result = $('#result');
	var $resultTxt = $('#resultTxt');
	var $resultBtn = $('#result');
	var $resultTxt2 = $('#resultTxt2');

	var timeOut = function(){  //超时函数
		$('#rotaryArrow').rotate({
			angle:0, 
			duration: 10000, 
			animateTo: 2160, //这里是设置请求超时后返回的角度，所以应该还是回到最原始的位置，2160是因为我要让它转6圈，就是360*6得来的
			callback:function(){
				$resultTxt.html("<em>网络超时了哦~请稍后再抽</em>");
				$result.show();
			}
		}); 
	}; 

	var rotateFunc = function(angle,text){  //awards:奖项，angle:奖项对应的角度
		$('#rotaryArrow').stopRotate();
		$('#rotaryArrow').rotate({
			angle: 0,
			duration: 5000,
			animateTo: angle + 1440,  //angle是图片上各奖项对应的角度，1440是让指针固定旋转4圈
			callback: function(){
				$resultTxt.html(text);
				$result.show();
				awardInfo();
			}
		});
	};
	
	jQuery("#shares>a").click(function(){
		shares();
	});
 	var lipin2;
 	var lipin4;
$('#rotaryArrow').rotate({ 
       bind: 
         { 
            click: function(){
            	var url = $("#frontURL").val();
          		 jQuery.ajax({
          				url: url+"/shop/lottery_activity!clickTurn.action?GotType=CJ",
          				type: "post",
          				dataType: "json",
          				success: function(data){
          					var obj = eval(data);
          					if (obj.status == 'notLogin') {
          						artLogin();// 使用弹出窗口登录
          					}else if(obj.status=="Y"){
          						if(obj.angle=="0" || obj.angle=="316"){
          							rotateFunc(obj.angle,obj.message);
          						}else{
          							rotateFunc(obj.angle,obj.text);
          						}
          					}else if(obj.status=="X"){
          						lipin2 = jQuery.layer({
          						    type: 1,
          						    //shade: [0],
          						    area: ['auto', 'auto'],
          						    title: false,
          						    border: [0],
          						    closeBtn: [0, false], 
          						    shadeClose: true, //开启点击遮罩关闭层
          						    page: {dom : '#wbfx'}
          							});
          					}else if(obj.status=="N"){
          						lipin4 = jQuery.layer({
          						    type: 1,
          						    //shade: [0],
          						    area: ['auto', 'auto'],
          						    title: false,
          						    border: [0],
          						    closeBtn: [0, false], 
          						    shadeClose: true, //开启点击遮罩关闭层
          						    page: {dom : '#gxts'}
          							});
          					}
          			 	}			
          			});
            }
         } 
       
    });
jQuery('#pagebtn2').on('click', function(){
	 layer.close(lipin2);
	});
	jQuery('#pagebtns4').on('click', function(){
	 layer.close(lipin4);
	});
// 关闭中奖信息
	$resultBtn.click(function(){
		$result.hide();
	});

// 底部抽奖按钮触发转盘抽奖事件
 	$("#cj_btn").click(function(){
 			$('#rotaryArrow').click();
 	})
 	function shares(){
		var url = $("#frontURL").val();
		 jQuery.ajax({
				url: url+"/shop/lottery_activity!shareTo.action?GotType=CJ",
				type: "post",
				dataType: "json",
				success: function(data){
					layer.close(lipin2);
			 	}			
			});
	}
	
	
	
function awardInfo(){
	var url = $("#frontURL").val();
	 jQuery.ajax({
			url: url+"/shop/lottery_activity!lotteryWinnerInfo.action",
			type: "post",
			dataType: "json",
			success: function(data){
				var obj = eval(data);
				jQuery("#awardInfo").html(data.content);
				zj_con();
		 	}			
		});
}

});


}catch(e){
	timeOut(); //网络超时
}


function zj_con(){
	/*中奖名单*/
	$(".txtMarquee-top").slide({mainCell:".bd ul",autoPlay:true,effect:"topMarquee",vis:8,interTime:200,pnLoop:false,trigger:"click"});
	 
}


</script>
</body>
</html>