<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
<meta name="robots" content="noindex, nofollow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
</title>
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/new_header.css"/>
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/car/car_style.css"/>
<link href="${Site.StaticResourcePath}/style/new_logo.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="${Site.JsResourcePath}/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/iframe.js"></script>
<style type="text/css">
.floatr {
	float: left;
}
</style> 
</head>

<body onload="mysethash()">
  <iframe id="iframeA" name="iframeA" src="" width="0" height="0" style="display:none;" ></iframe> 
       <div class="car_right floatr">
        <div class="car_border_q hzpp_main cf"> 
         <h1 class="car_l_title2 meihua_p">车险哪家好</h1>
			<table width="100%" border="0" class="service_duibi">
  <tr>                       
    <th scope="col" width="150px;">&nbsp;</th>
    <th scope="col" width="212px;">服务项目</th>
    <th scope="col">阳光车险</th>
    <th scope="col">太平洋车险</th>
    <th scope="col">平安车险</th>
    <th scope="col">大地车险</th>
  </tr>
  <tr class="lv_bgs">
    <td rowspan="6"><div class="serice_1"><img src="${Site.StaticResourcePath}/images/car/hao_img_03.png" width="131" height="150"></div></td>
    <td><span class="service_des">7X24小时车险服务</span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
  </tr>
  <tr class="lv_bgs">
    <td><span class="service_des">全国通赔</span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
  </tr>
  <tr class="lv_bgs">
    <td><span class="service_des">非伤人案件 无须单证 超快赔付</span></td>
    <td><span class="service_sel"></span></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><span class="service_sel"></span></td>
  </tr>
  <tr class="lv_bgs">
    <td><span class="service_des">万元以下 资料齐全 一天赔付</span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
  </tr>
  <tr class="lv_bgs">
    <td><span class="service_des">上门收取理赔资料</span></td>
    <td>&nbsp;</td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
  </tr>
  <tr class="lv_bgs">
    <td><span class="service_des">人伤事故专人跟进服务</span></td>
    <td>&nbsp;</td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
  </tr>
  <tr class="bs_bgs">
    <td rowspan="4"><div class="serice_2"><img src="${Site.StaticResourcePath}/images/car/hao_img_06.png" width="131" height="101"></div></td>
    <td><span class="service_des">全国非事故道路救援</span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
  </tr>
  <tr class="bs_bgs">
    <td><span class="service_des">异地救援后原地住宿</span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="bs_bgs">
    <td><span class="service_des">电瓶充电</span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
  </tr>
  <tr class="bs_bgs">
    <td><span class="service_des">送水加油</span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
  </tr>
  <tr class="fs_bgs">
    <td rowspan="4"><div class="serice_3"><img src="${Site.StaticResourcePath}/images/car/hao_img_08.png" width="131" height="104"></div></td>
    <td><span class="service_des">拖车牵引</span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
  </tr>
  <tr class="fs_bgs">
    <td><span class="service_des">故障现场维修</span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
  </tr>
  <tr class="fs_bgs">
    <td><span class="service_des">更换轮胎</span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
  </tr>
  <tr class="fs_bgs">
    <td><span class="service_des">轮胎充气</span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
    <td><span class="service_sel"></span></td>
  </tr>
  <tr class="clear_bnt_bo">
    <td colspan="2">&nbsp;</td>
    <cms:list item="article" level="all" name="阳光车险" >
        <td><a target="_blank" href="#" onclick="javascript:getNowCpslink('${catalog.Dlr_ServerContext}','${Article.comcode}','${Article.CpsLink}');return false;"  class="car_hdbj_btn" >获得报价</a></td>
    </cms:list>
    <cms:list item="article" level="all" name="太平洋车险" >
        <td><a target="_blank" href="#" onclick="javascript:getNowCpslink('${catalog.Dlr_ServerContext}','${Article.comcode}','${Article.CpsLink}');return false;"   class="car_hdbj_btn">获得报价</a></td>
    </cms:list>
    <cms:list item="article" level="all" name="平安车险" >
        <td><a target="_blank" href="#" onclick="javascript:getNowCpslink('${catalog.Dlr_ServerContext}','${Article.comcode}','${Article.CpsLink}');return false;"   class="car_hdbj_btn">获得报价</a></td>
    </cms:list>
    <cms:list item="article" level="all" name="大地车险" >
        <td><a target="_blank" href="#" onclick="javascript:getNowCpslink('${catalog.Dlr_ServerContext}','${Article.comcode}','${Article.CpsLink}');return false;"   class="car_hdbj_btn">获得报价</a></td>
    </cms:list>
  </tr>
</table>

            
</div>
           
</div>

		
<script type="text/javascript" src="${Site.JsResourcePath}/js/jquery.soChange-min.js"></script>
</body>
</html>
