<!-- 公共底部 -->
<div class="g-main-con">
    <div class="clear h20"></div>
    <!-- foot -->
    <div class="g-weaper">
        <div class="g-footer">
            <dl class="m-footer-dl">
                <dt class="f_mi"><em class="i-f-icon i-f-icon1 "></em>正品保险</dt>
                <dd>中国保监会监制</dd>
                <dd>保险公司专供</dd>
                <dd>高性价比产品</dd>
            </dl>
            <dl class="m-footer-dl">
                <dt class="f_mi"><em class="i-f-icon i-f-icon2 "></em>快捷投保</dt>
                <dd>全方位一键对比</dd>
                <dd>1对1保险顾问指导</dd>
            </dl>
            <dl class="m-footer-dl">
                <dt class="f_mi"><em class="i-f-icon i-f-icon3 "></em>省心服务</dt>
                <dd>电子保单快捷变更</dd>
                <dd>满200元发票包邮</dd>
                <dd>免费协助理赔无差异</dd>
            </dl>
            <dl class="m-footer-dl">
                <dt class="f_mi"><em class="i-f-icon i-f-icon4 "></em>安全可靠</dt>
                <dd>7x24小时客服不间断</dd>
                <dd>风险提示保障安全</dd>
            </dl>
            <dl class="m-footer-dl">
                <dt class="f_mi"><em class="i-f-icon i-f-icon5 "></em>品牌实力</dt>
                <dd>5年400万用户选择</dd>
                <dd>2013年最佳保险中介</dd>
                <dd>30家知名保险公司合作</dd>
            </dl>

            <div class="clear h20"></div>
        </div>
    </div>
    <div class="clear h20"></div>
    <div class="g-footer-bg">
        <div class="g-weaper">
        	<div class="g-footer2">
                <dl class="m-footer-dl">
                    <dt><em class="i-f-icon i-f-icon6 "></em>新手指南</dt>
                    <dd><a href="${Site.URL}/about/xszn/index.shtml#xszn1" target="_blank" rel="nofollow">如何注册</a>
                        <a href="${Site.URL}/about//xszn/index.shtml#xszn4" target="_blank" rel="nofollow">如何投保</a>
                        <a href="${Site.URL}/about/xszn/index.shtml#xszn3" target="_blank" rel="nofollow">找回密码</a></dd>
                </dl>
                <dl class="m-footer-dl">
                    <dt><em class="i-f-icon i-f-icon7 "></em>支付帮助</dt>
                    <dd><a href="${Site.URL}/about/4/index.shtml#zfbz2" target="_blank" rel="nofollow">支付方式</a><a
                            href="${Site.URL}/about/4/index.shtml#zfbz1" target="_blank" rel="nofollow">支付说明</a></dd>
                </dl>
                <dl class="m-footer-dl">
                    <dt><em class="i-f-icon i-f-icon8 "></em>保单服务</dt>
                    <dd><a href="${Site.URL}/ddkscx/" target="_blank" rel="nofollow">保单查询</a>
                        <a href="${Site.URL}/bdyz/" target="_blank" rel="nofollow">保单验真</a>
                        <a href="${Site.URL}/about/1/index.shtml#yxxg2" target="_blank" rel="nofollow">变更与取消</a>
                        <a href="${Site.URL}/about/1/index.shtml#yxxg1" target="_blank" rel="nofollow">保单寄送</a></dd>
                </dl>
                <dl class="m-footer-dl">
                    <dt><em class="i-f-icon i-f-icon9 "></em>理赔服务</dt>
                    <dd><a href="${Site.URL}/about/2/index.shtml#lpbz1" target="_blank" rel="nofollow">理赔指南</a><a
                            href="${Site.URL}/lpzs/index.shtml" target="_blank" rel="nofollow">理赔报案</a>
                        <a href="${Site.URL}/lpzs/index.shtml" target="_blank" rel="nofollow">理赔案例</a></dd>
                </dl>
                <dl class="m-footer-dl">
                    <dt><em class="i-f-icon i-f-icon10 "></em>服务中心</dt>
                    <dd><a href="${Site.Prop6}/shop/bill_query!queryBill.action" target="_blank" rel="nofollow">发票索取</a>
                        <a href="${Site.URL}/about/3/dayizonghui/index.shtml" target="_blank" rel="nofollow">常见问题</a>
                    </dd>
                </dl>
                <div class="m-WeChatImg">
                    <p><em class="icon_01"></em><span><img src="${Site.StaticResourcePath}/images/redesign/wechart.gif" alt="">关注微信了解新资讯</span></p>
                    <p><em class="icon_02"></em><span><img src="${Site.StaticResourcePath}/images/redesign/app.png" alt="">下载APP投保快捷省心</span></p>
                </div>
            </div>
            <div class="clear h20"></div>
            <div class="clear h20"></div>
        <!-- 热门专题 -->
        </div>
    </div>
    <!-- 底部 -->
    <div class="g-btn-footer">
        <div class="g-weaper">
            <div class="g-f-left">
                <div class="botlink02">
                    <ul class="clearfix">
                        <li><a href="${Site.URL}/other/about/" rel="nofollow">关于开心保</a></li>
                        <li>|</li>
                        <li><a href="${Site.URL}/other/news/" rel="nofollow">开心保要闻</a></li>
                        <li>|</li>
                        <!--<li><a href="${Site.URL}/other/jobs/" rel="nofollow">加入开心保</a></li>
                        <li>|</li>-->
                        <li><a href="${Site.URL}/other/sitemap/">网站地图</a></li>
                        <li>|</li>
                        <li><a href="${Site.URL}/other/legal/" rel="nofollow">法律声明</a></li>
                        <li>|</li>
                        <li><a href="${Site.URL}/other/contact/" rel="nofollow">联系我们</a></li>
                        <li>|</li>
                        <!-- 				<li><a href="http://u.kaixinbao.com/" target="_blank" rel="nofollow">分销联盟</a></li>
                                            <li>|</li> -->
                        <!-- <li><a href="http://kaixinbao.tmall.com/" target="_blank" rel="nofollow">开心保天猫店</a></li>
                        <li>|</li>
                        <li><a href="http://temai.kaixinbao.com/" target="_blank" rel="nofollow">特价机票</a></li>
                        <li><a href="http://wap.kaixinbao.com/" target="_blank" >移动版</a></li> -->
                        <li><a href="http://www.kaixinbao.com/yxhd/isl-tra/" target="_blank" rel="nofollow">微信版</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="copyright">
                    <div class="copyrightright"><a href="${Site.StaticResourcePath}/images/bxdlywxkz.jpg"
                                                   target="_blank" rel="nofollow">保险代理业务许可证</a>&nbsp;&nbsp;<a
                            href="http://www.miitbeian.gov.cn" target="_blank" rel="nofollow">辽ICP备12007009号-1</a>&nbsp;&nbsp;<a
                            href="${Site.StaticResourcePath}/images/qyfryyzz.jpg" target="_blank"
                            rel="nofollow">企业营业执照</a>&nbsp;&nbsp;<a href="${Site.StaticResourcePath}/images/icp.jpg"
                                                                    target="_blank" rel="nofollow">ICP经营许可证(辽B2-20120076)</a>
                    </div>
                    <div class="copyrightleft">Copyright 2012-2017 版权所有 网金保险销售服务有限公司</div>
                </div>
            </div>
            <div class="g-f-right">
                <ul class="sl-floatcenter">
                    <li class="sl-floatcenter-item">
                        <a href="https://v.pinpaibao.com.cn/cert/site/?site=www.kaixinbao.com&at=business"
                           target="_blank" rel="nofollow"><img
                                src="http://resource.kaixinbao.com/upload/Image/xrwz/2012/12/gw.png"
                                width="83"  height="30"/>
                        </a>
                    </li>

                    <li class="sl-floatcenter-item"><a
                            href="http://www.circ.gov.cn/tabid/5171/InfoID/210753/frtid/4491/Default.aspx"
                            target="_blank" rel="nofollow"><img
                            src="http://resource.kaixinbao.com/upload/Image/xrwz/2012/12/2582921308.png" width="90"
                            height="37"/></a></li>

                    <li class="sl-floatcenter-item"><a href="http://www.itrust.org.cn/yz/pjwx.asp?wm=1594416088"
                                                       target="_blank" rel="nofollow"><img
                            src="http://resource.kaixinbao.com/upload/Image/xrwz/2012/12/2582937061.png" width="37"
                            height="37"/></a></li>

                    <li class="sl-floatcenter-item"><a
                            href="http://wljg.lngs.gov.cn/iciaicweb/dzbscheck.do?method=change&id=E2014111300054343"
                            target="_blank" rel="nofollow"><img
                            src="http://resource.kaixinbao.com/upload/Image/xrwz/2014/12/298851182.png" width="37"
                            height="37"/></a></li>

                    <li class="sl-floatcenter-item"><a
                            href="http://si.trustutn.org/info?sn=618161121025629572164&certType=1" target="_blank"
                            rel="nofollow"><img
                            src="http://resource.kaixinbao.com/upload/Image/xrwz/2016/11/3061644601.png" width="90"
                            height="37"/></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div id="fix_nav" class="fix_nav">
    <a class="fix-onlineqq " href="javascript:void(0);" vlpageid="xiaoneng" rel="nofollow"
       exturl="http://www.kaixinbao.com/xiaoneng" id="qqwap1" onclick="return(VL_FileDL(this));return false;">
        <img class="anim_fade_image" src="${Site.StaticResourcePath}/images/wj_kxb/icon_isp_01.jpg"/>
        <img src="${Site.StaticResourcePath}/images/wj_kxb/icon_isp_01_on.jpg"/>
    </a>
    <span class="fix-RichScan">
                    <img class="anim_fade_image" src="${Site.StaticResourcePath}/images/wj_kxb/icon_isp_02.jpg"/>
                    <img src="${Site.StaticResourcePath}/images/wj_kxb/icon_isp_02_on.jpg"/>
                    <div style="display: none;" class="weixinDiv tagshow"><img
                            src="${Site.StaticResourcePath}/images/wxnew.png">微信查保单</div>
                </span>
    <span class="fix-top" id="gotop">
                    <img class="anim_fade_image" src="${Site.StaticResourcePath}/images/wj_kxb/icon_isp_03.jpg"/>
                    <img src="${Site.StaticResourcePath}/images/wj_kxb/icon_isp_03_on.jpg"/>
                </span>
</div>

<!-- 公共底部 -->