<div class="ste_nav">
	<div class="wrapper  g-weaper">
	<div class="mini_logo"><a href="${Site.URL}/"></a></div>
		<ul class="ste_nav_list">
			<li class="ste_nav_home"><a href="${Site.URL}/">首页</a></li>
			<li><a href="${Site.URL}/lvyou-baoxian/" target="_blank" >旅游险</a></li>
			<li><a href="${Site.URL}/yiwai-baoxian/" target="_blank" >意外险</a></li>
			<li><a href="${Site.URL}/jiankang-baoxian/" target="_blank" >健康险</a></li>
			<li><a href="${Site.URL}/renshou-baoxian/" target="_blank" >人寿险</a></li>
			<li><a href="${Site.URL}/jiacai-baoxian/" target="_blank" >家财险</a></li>
			<li><a href="${Site.URL}/tx/" target="_blank" >团体险</a></li>
			<li><a href="${Site.URL}/chexian/" target="_blank" >车险</a></li>
		</ul>
	</div>
</div>