<!DOCTYPE >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${catalog.Meta_Keywords}" />
<meta name="description" content="${catalog.Meta_Description}" />
<title>
<%
String title = article.getString("MetaTitle");
write(((null==title || "".equals(title)) ? article.getString("title"):title) + "-" + site.getString("Meta_Keywords"));
%>
</title>
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/base.css" />
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/reset-grids.css" />
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/main.css"/>
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/stencil.css"/>
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/redesign/re_header.css">
<cms:include file="block/kxb_custom_header.shtml" includetype="virtual"/>

</head>
<body >
<!--head 开始-->
<cms:include file="block/kxb_header_index_new_v2.shtml" includetype="virtual"/>
<!--head 结束-->
<div class="wcont_body">
	<h1  class="stencil_title">"${Article.Title|CharWidth=26}"</h1>
	<p class="stencil_min_des02">${Article.Content}</p>
	<ul class="stencil_nav_li sl-floatcenter clearfix">
            		<li class="sl-floatcenter-item"><a href="#part1"  >${Article.Section1}</a></li>
            		<li class="sl-floatcenter-item"><a href="#part2"  >${Article.Section2}</a></li>
            		<li class="sl-floatcenter-item"><a href="#part3"  >${Article.Section3}</a></li>
            		<li class="sl-floatcenter-item"><a href="#part4"  >${Article.Section4}</a></li>
                    <li class="sl-floatcenter-item"><a href="#part5"  >${Article.Section5}</a></li>
                    <li class="sl-floatcenter-item"><a href="#part6"  >${Article.Section6}</a></li>
                    <li class="sl-floatcenter-item"><a href="#part7"  >${Article.Section7}</a></li>           
    </ul>
	<h2 class="part_titles" id="part1">${Article.Section1}</h2>
	
	<div class="grid-c ">
		<div class="boder_h clearfix">
			<div class="fleft boder_h cp_dy_box03">
				<div class="fimage">
               		<a href="${Article.Section1ImgLink}" target="_blank"><img src="${Site.StaticResourcePath}/${Article.Section1Img}" width="360" height="260"  /> </a>
       			</div>
			</div>
            <div class="fright stencil_news_box3 bor_s_r">
				<h3 class="notetit">${Article.zhuyitimu1}：</h3>
				<p class="notetxt">${Article.zhuyishixiang1|CharWidth=195}</p>
				<div class="dashbor_b"></div>
				<h3 class="notetit">${Article.zhuyitimu2}：</h3>
				<p class="notetxt">${Article.zhuyishixiang2|CharWidth=195}</p>
			</div>
			<div class="clear"></div>
		</div>
        <div class="bor_shadow_980"></div>
	</div>
  	<div class="h10"></div>
	<h2 class="part_titles"  id="part2">${Article.Section2}</h2>
	<div class="clear"></div>
	<div class=" clearfix  fleft one_box02">
		<div class="bor_s h300 padding10">
			<span class="floatlpic"><a href="${Article.Section2question1href}" target="_blank" rel="nofollow"><img src="${Site.StaticResourcePath}/${Article.Section2image}" width="267" height="200" /></a></span>
			<h3 class="zx_news_title"><a href="${Article.Section2question1href}" target="_blank">${Article.Section2question1}</a></h3>
			<p class="p01"> ${Article.Section2question1answer|CharWidth=75}
			<span class="orange"><a href="${Article.Section2question1href}" target="_blank" rel="nofollow">更多</a></span>
			</p>
			<div class="dashbor_bnor"></div>
			<h3 class="zx_news_title"><a href="${Article.Section2question2href}" target="_blank">${Article.Section2question2}</a></h3>
			<p class="p01">${Article.Section2question2answer|CharWidth=75}
			<span class="orange"><a href="${Article.Section2question2href}" target="_blank" rel="nofollow">更多</a></span>
			</p>
			<div class="dashbor_bnor"></div>
			<h3 class="zx_news_title"><a href="${Article.Section2question3href}" target="_blank">${Article.Section2question3}</a></h3>
			<p class="p01"> ${Article.Section2question3answer|CharWidth=120}
			<span class="orange"><a href="${Article.Section2question3href}" target="_blank" rel="nofollow">更多</a></span>
			</p>
		</div>
		<div class="bor_shadow_660"></div>
	</div>
	
    <div class="clearfix  fright one_box03">
		<div class="bor_s h300">
			<h3 class="img_p_title">热销保险产品推荐</h3>
			<ul class="hotprodulist">
			  <cms:list item="article" level="current" type="rand" count="5" name="${Article.Section3product}">	
				<li><span class="produpic53"><a href="${Article.link}"><img src="${Site.ProductResourcePath}/${Article.Logo}" width="53" height="53" /></a></span>
				<h3 class="font14 rxtiti"><a href="${Article.link}">${Article.title|CharWidth=15}</a></h3>
				<p class="gray">${Article.AdaptPeopleInfo|CharWidth=16}</p>
				<div class="clear"></div></li>
			 </cms:list>	
			</ul>
		</div>
		<div class="bor_shadow_294"></div>
	</div>
    <div class="h20"></div>
	<h2 class="part_titles"  id="part3">${Article.Section3} <span class="orange"><a href="${Article.Section3href}" target="_blank">更多</a></span></h2>
	<div class="w980">
		<div class="bor_s padding10">
			<ul class="txtlist01 graytxt">
				<cms:list item="friendlink" group="${Article.Section3friendlink}" count=10>
					<li>                      	
						<span ><a href="${friendlink.Url}" title="${friendlink.name}" target="_blank">${friendlink.name|CharWidth=12}</a> </span>	                   
                    </li>
				</cms:list>
			</ul>
		</div>
		<div class="bor_shadow_980"></div>
	</div>
  
	
	<div class="w210 floatl">
		<h2 class="part_titles" id="part4">${Article.Section4}</h2>
		<div class="bor_s h310">
			<ul class="txtlist02 graytxt">
				<cms:list item="Article" level="all"  type="rand" tag="${Article.Section4tag}"count="15" name='保险知识,保险资讯'>	
					<li><a href="${Article.link}" target="_blank">${Article.title|CharWidth=16}</a></li>
				</cms:list>
			</ul>
		</div>
		<div class="bor_shadow_210"></div>
	</div>
		
	<div class="w210 floatl magl24">
		<h2 class="part_titles" id="part5">${Article.Section5}</h2>
		<div class="bor_s h310">
			<ul class="txtlist02 graytxt">
				<cms:list item="Article" level="all"  type="rand" tag="${Article.Section5tag}"count="15" name='保险知识,保险资讯'>	
					<li><a href="${Article.link}" target="_blank">${Article.title|CharWidth=16}</a></li>
				</cms:list>
			</ul>
		</div>
		<div class="bor_shadow_210"></div>
		
	</div>
			
	<div class="w510 floatr">
		<h2 class="part_titles" id="part6">${Article.Section6}</h2>
		<div class="bor_s h310">
			<div class="video"><span><img src="${Site.StaticResourcePath}/${Article.Section6img1}" width="256" height="192" /></span><p class="videotxt white"><a href="${Article.Section6link}" target="_blank">${Article.Section6zi}</a></p></div>
			<ul class="txtlist02 graytxt">
				<li>&nbsp;</li>
				<cms:list item="Article" level="all"  type="rand" tag="${Article.Section6tag}"count="13" name='保险知识,保险资讯'>	
					<li><a href="${Article.link}" target="_blank">${Article.title|CharWidth=16}</a></li>
				</cms:list>
			</ul>
		</div>
		<div class="bor_shadow_510"></div>
	</div>
			
	<div class="h20"></div>
    <h2 class="part_titles"  id="part7">${Article.Section7}</h2>
          <div class="wenda_box boder_h clearfix">
            <cms:list item="friendlink" name="${Article.Section7friendlink}">
          		<dl class="wenda_last">
            		<dt><a href="${friendlink.URL}" target="_blank">问：${friendlink.Name}</a></dt>
                   	<dd><b>答：</b>${friendlink.Prop3|CharWidth=120}</dd>
            	</dl>
            </cms:list> 
          </div>
	<div class="bor_shadow_980"></div>
	<div class="h30"></div>
    <ul class="orter_list">
		<cms:list item="article" level="none" condition="type = 1 and id in ( select id from (select id from (select distinct id from (select id from zcarticle where cataloginnercode like '002354%' and status = '30' and type = 1 and title like '%${Article.TitleKeyword1}%' limit 4) a1 union select distinct id from (select id from zcarticle where cataloginnercode like '002354%' and status = '30' and type = 1 and title like '%${Article.TitleKeyword2}%' limit 5) a2 union select id from ( select id from zcarticle where cataloginnercode like '002354%' and status = '30' and type = 1  order by rand() limit 9 ) a3)c1 limit 9)c2)" count="9" >
				<li><a href="${Article.Link}" target="_blank">${Article.Title} </a></li>
		</cms:list>
	</ul>
	<div class="h30"></div>
</div>
         
<!--foot 开始-->
<cms:include file="block/kxb_footer_new_common.shtml" includetype="virtual"/>
<cms:include file="block/community_v1.shtml" includetype="virtual"/>
<!--foot 结束-->
	<script language="JavaScript" src="${Site.JsResourcePath}/js/tabchange.js"></script>
</body>
</html>
