<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${catalog.Meta_Keywords}" />
<meta name="description" content="${catalog.Meta_Description}" />
<title><%
	String title = article.getString("CustomTitle");
	write(((null==title) ? article.getString("title"):title) + "-" + site.getString("Meta_Keywords"));
%></title>
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/reset-grids.css"/>
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/stencil.css"/>
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/product.css" />
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/listul.css" />
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/redesign/re_header.css">
<cms:include file="block/kxb_custom_header.shtml" includetype="virtual"/>
</head>
<body onload="initNewsImg();">
<cms:include file="block/kxb_header_index_new_v2.shtml" includetype="virtual"/>
<div class="wrapper">
		<!-- nav 结束 -->
		<div class="daohang">
			<span class="daohang_home"></span>
			<a href='../' target='_self' ><span class="orange">您的现在位置：首页</span></a><span class="separator">></span><a href="${Site.URL}/zhuanti/"><span class="separator1">保险专题</span></a>
		</div>
        	<div class="wcont_body">
            	<h1  class="stencil_title">${Article.Title}</h1>
                 <div >${Article.Content}</div>
            	<ul class="stencil_nav_li sl-floatcenter clearfix">
            		<li class="sl-floatcenter-item"><a href="#part1"  >${Article.Section1}</a></li>
            		<li class="sl-floatcenter-item"><a href="#part2"  >${Article.Section2}</a></li>
            		<li class="sl-floatcenter-item"><a href="#part3"  >${Article.Section3}</a></li>
            		<li class="sl-floatcenter-item"><a href="#part4"  >${Article.Section4}</a></li>
            	</ul>
                <h2 class="part_titles"  id="part1">${Article.Section1}</h2>
                <div class="grid-c2-s9f">
			<div class="col-main">
				<div class="main-wrap">
                	<div class="img_box2 fleft">
						<div class="img_230_150 clearfix">
   			    <a href="${Article.Section1Title1Link}" target="_blank"><img src="${Site.StaticResourcePath}/${Article.Section1Image1}" alt="${Article.Section1Image1Alt}" width="228" height="148" /></a></div>
                <div class="bor_shadow_230"></div>
                </div>
                <div class="clearfix fleft one_text">
                <div class="boder_h  des_box2 clearfix">
                		<h3 class="zx_news_title"><a href="${Article.Section1Title1Link}" target="_blank">${Article.Section1Title1}</a></h3>
                    <p class="zx_news_des p_h110">
						${Article.Section1Content1|CharWidth=100}<a href="${Article.Section1Title1Link}" rel="nofollow" target="_blank">更多</a> 
	</p>
    </div>
       <div class="bor_shadow_350 marig_leftsd"></div>
                </div>
      <div class="clear"></div>
             	<div class="img_box2 fleft">
						<div class="img_230_150 clearfix">
   			    <a href="${Article.Section1Title2Link}" target="_blank"><img src="${Site.StaticResourcePath}/${Article.Section1Image2}" alt="${Article.Section1Image2Alt}" width="228" height="148" /></a></div>
                <div class="bor_shadow_230"></div>
                </div>
 				<div class="clearfix fleft one_text">
                <div class="boder_h  des_box2 clearfix">
                		<h3 class="zx_news_title"><a href="${Article.Section1Title2Link}" target="_blank">${Article.Section1Title2}</a></h3>
                    <p class="zx_news_des p_h110">
						${Article.Section1Content2|CharWidth=100} <a href="${Article.Section1Title2Link}" rel="nofollow" target="_blank">更多</a> 
	</p>
    </div>
       <div class="bor_shadow_350 marig_leftsd"></div>
                </div>
				</div>
			</div>
			<div class="col-sub">
			 <div class="img_p_list boder_h">
                	<h3 class="img_p_title">${article.LanMuXG}</h3>
                	
	                 	<cms:list item="article" level="all" tag="${article.tag}" count="5"  type="rand">
							 <div class="up_xgzx_box">
	                  			<h3 class="fleft"><a href="${Site.URL}/${Article.Link}" target="_blank">${Article.title}</a><span><% if(i<5) write(i+1);%></span></h3>
	                  		</div>
						</cms:list>
              </div>
              <div class="bor_shadow_350"></div>
			</div>
		</div>
        <div class="h10"></div>
           <div class="grid-c">
				<div class="ad_980 boder_h">
           	     <a href="${Article.adLink}" target="_blank"><img src="${Site.StaticResourcePath}/${Article.ad}" alt="${Article.adAlt}" width="978" height="148" /></a>
                </div>
                <div class="bor_shadow_980"></div>
		   </div>
           
             <div class="h10"></div>
              <h2 class="part_titles"  id="part2">${Article.Section2}</h2>
              <div class="grid-c2-s12">
			<div class="col-main">
				<div class="main-wrap up_date_main-warp">
					<div class="boder_h clearfix">
               	    <a href="${Article.Section2ContentLink}" rel="nofollow" target="_blank"><img src="${Site.StaticResourcePath}/${Article.Section2Image}" alt="${Article.Section2ImageAlt}" class="fleft" width="234" height="198" /></a>
               	    
                    <div class="zx_news_des p_h150 p_w_110 fright">
                   <a href="${Article.Section2ContentLink}" class="up_zx_news_titile" target="_blank">${article.title1}</a>
					<p>${Article.Section2Content|CharWidth=100}</p><a href="${Article.Section2ContentLink}" rel="nofollow" target="_blank">更多</a> 
	</div>
                    </div>
                      <div class="bor_shadow_470"></div>
				</div>
			</div>
			<div class="col-sub">
			<div class=" boder_h cp_dy_box cp_dy_box_min">
			<cms:list item="article" level="all" condition="select * from ZCArticle where ZCArticle.cataloginnercode like '002313%' and  prop4 = '${Article.ProductId1}' and type='1' and status=30 limit 1"   >
	        	<div class="cp_stencil_title clearfix">
	            <div class="cp_box_logo"><span class="CInsuranceCompany icon_C${Article.SupplierCode2}"></span></div>
	            <div class="cp_title_s">
	            <h2><a href="${Site.URL}/${Article.Link}">${Article.title}</a></h2>
	            <p>${Article.AdaptPeopleInfo}</p>
	            </div>
	 	 		</div>
	            <ul class="stencil_td ">                     
	            	 ${Article.FEMRiskBrightSpot}
	            </ul>
	            <div class="stencil_cp_des_list">      
	            	${Article.DutyHTML}
	            </div>
	            <div class="cp_price_con">
				       <em>RMB</em><span name="Ajax_Prict_${Article.RiskCode}" class="nlist_pay moneys"><em>￥</em>${Article.InitPrem}</span><br/>
				       <span id="Clear_li_Ajax_Prict_${Article.RiskCode}" class="yj_pay" style="display:none" >原价</span>
				       <span class="yj_pay" style="display:none" name="Clear_Ajax_Prict_${Article.RiskCode}"></span>
	                <a href="${Site.URL}/${Article.Link}">查看详情</a>
	            </div>
            </cms:list>
            </div>
            <div class="bor_shadow_470"></div>
			</div>
		</div>
            	  <h2 class="part_titles"  id="part3">${Article.Section3}</h2> 
                  <div class="grid-c2-s12">
			<div class="col-main">
				<div class="main-wrap up_date_main-warp">
						 			<div class="boder_h clearfix">
               	    <a href="${Article.Section3Content2Link}" rel="nofollow" target="_blank"><img src="${Site.StaticResourcePath}/${Article.Section3Image2}" alt="${Article.Section3Image2Alt}" class="fleft" width="234" height="198" /></a>
                    <div class="zx_news_des p_h150 p_w_110 fright">
                     <a href="${Article.Section3Content2Link}" class="up_zx_news_titile" target="_blank">${article.title2}</a>
						<p>${Article.Section3Content2|CharWidth=100}</p><a href="${Article.Section3Content2Link}" rel="nofollow" target="_blank">更多</a> 
	</div>
                    </div>
                      <div class="bor_shadow_470"></div>
				</div>
			</div>
			<div class="col-sub">
				    			<div class="boder_h clearfix">
               	    <a href="${Article.Section3Content1Link}" rel="nofollow" target="_blank"><img src="${Site.StaticResourcePath}/${Article.Section3Image1}" alt="${Article.Section3Image1Alt}" class="fleft" width="234" height="198" /></a>
                    <div class="zx_news_des p_h150 p_w_110 fright">
                     <a href="${Article.Section3Content1Link}" class="up_zx_news_titile" target="_blank">${article.title3}</a>
						<p>${Article.Section3Content1|CharWidth=100}</p><a href="${Article.Section3Content1Link}"  rel="nofollow" target="_blank">更多</a> 
	</div>
                    </div>
                      <div class="bor_shadow_470"></div>
			</div>
		</div>
                <div class="grid-c">
					<div class="zdy_p boder_h">
                    	<ul class="stencil_ciyt_list clearfix">
	                    	<cms:list item="friendlink" name="${Article.OtherArea}">
								<li><a href="${Site.URL}/${friendlink.url}" target="_blank">${friendlink.Name}</a></li>
					 		</cms:list>
				 		</ul>
                    </div>
                     <div class="bor_shadow_980"></div>
		</div>
                  <h2 class="part_titles"  id="part4">${Article.Section4}</h2> 
                    <div class="grid-c ">
                    <div class="boder_h clearfix">
                    	<div class="img_470_200 fleft">
                        <a href="${Article.Section4ContentLink}" rel="nofollow" target="_blank"><img src="${Site.StaticResourcePath}/${Article.Section4Image}" alt="${Article.Section4ImageAlt}" width="469" height="198" /></a></div>
                        <div class="stencil_news_box fright">
                        	   <div class="zx_news_des p_h80 box_du_bor">
                        	   <a href="${Article.Section4ContentLink}" class="up_zx_news_titile" target="_blank">${article.title4}</a>
						<p>${Article.Section4Content|CharWidth=150}</p><a href="${Article.Section4ContentLink}"  rel="nofollow" target="_blank">更多</a> 
	</div>
    <h3 class="xg_zx_list_title">相关资讯列表</h3>
    <ul class="xg_zx_list">
    	<cms:list item="article" level="all" condition="type = 1 and (cataloginnercode like '002306%' or cataloginnercode like '002307%' or cataloginnercode like '002347%')and tag like '%${Article.tag2}%' and status in (30,60)" count="4" >
				<li><a href="${Site.URL}/${Article.Link}" target="_blank">${Article.Title|CharWidth=20} </a></li>
		</cms:list>
    </ul>
    </div>
                        </div>
                        <div class="bor_shadow_980"></div>
                    </div>
                     <div class="h30"></div>
        <ul class="orter_list">
        	 <cms:list item="article" level="all" condition="type = 1 and id in ( select id from (select id from (select distinct id from (select id from zcarticle where cataloginnercode like '002354%' and status = '30' and type = 1 and title like '%${Article.TitleKeyword1}%' limit 4) a1 union select distinct id from (select id from zcarticle where cataloginnercode like '002354%' and status = '30' and type = 1 and title like '%${Article.TitleKeyword2}%' limit 5) a2 union select id from ( select id from zcarticle where cataloginnercode like '002354%' and status = '30' and type = 1  order by rand() limit 9 ) a3)c1 limit 9)c2)" count="9" >
				<li><a href="${Site.URL}/${Article.Link}" target="_blank">${Article.Title} </a></li>
			</cms:list>
        </ul>
              <div class="h30"></div>
		</div>
 <div class="clear"></div>     
 </div>
<div class="part6">
	<ul>
	<cms:list item="hotopic"  name="专题二" >
		 <% if(i==0) write("<ul class=\"special_u1 clearfix special_li_21\" id=\"min_tag_hzpp1\" >");%> 
	</cms:list>	
		<cms:list item="hotopic"  name="专题二" >
			<li class="special_li" ><em class="<% if(i==0) write("select_tab_hzpp1 first");%>"><span class="">${hotopic.name}</span></em></li>	
		</cms:list>
	</ul>
	<div class="new_special_box clearfix" id="tag_box_hzpp1"  >
		<cms:list item="hotopic"  name="专题二" >
			<ul class="special_list clearfix" style="<% if(i!=0) write("display:none;");%>">
		 		<cms:sublist item="friendlink" count="50" >
			 		<li><a href="${Site.URL}/${friendlink.url}" target="_blank">${friendlink.name}</a></li>
				</cms:sublist>		
			</ul>
		</cms:list>
	</div>
</div>
<cms:include file="block/kxb_footer_new_common.shtml" includetype="virtual"/>
<cms:include file="block/community_v1.shtml" includetype="virtual"/>
<script type="text/javascript">
function initNewsImg(){
	document.getElementById('image1').src = "${Site.StaticResourcePath}/${Article.NewsImage1}";
	document.getElementById('image2').src = "${Site.StaticResourcePath}/${Article.NewsImage2}";
	document.getElementById('image3').src = "${Site.StaticResourcePath}/${Article.NewsImage3}";
	document.getElementById('image4').src = "${Site.StaticResourcePath}/${Article.NewsImage4}";
	document.getElementById('image5').src = "${Site.StaticResourcePath}/${Article.NewsImage5}";
}
</script>
</body>
</html>
