<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${catalog.Meta_Keywords}" />
<meta name="description" content="${catalog.Meta_Description}" />
<title>${catalog.meta_title}-${site.Meta_Keywords}</title>
<link href="${Site.StaticResourcePath}/style/new/global.css" rel="stylesheet" type="text/css"/>
<link href="${Site.StaticResourcePath}/style/car/base.css" rel="stylesheet" type="text/css"/>
<link href="${Site.StaticResourcePath}/style/car/information.css" rel="stylesheet" type="text/css"/>
<link href="${Site.StaticResourcePath}/style/car/howbuy.css" rel="stylesheet" type="text/css"/>
</head>    
<body onload="navHeight();">
<cms:include file="block/car_header.shtml" />
<!--mainbody start-->
<div class="mainbody">
	<div class="wrapper">
	<input id="type" type="hidden" value="B04"/>
    	<div class="your_site"><cms:link type="currentPositionList"></cms:link></div>
       <!--主体部分 左侧边栏 开始-->
        <div class="buyleftbar">
        	<!--获取报价 开始-->
        	<div class="price_pa">
                <ul>
                    <li><span class="bg07 white">车主姓名</span><input id="carUser" name="carUser" type="text" class="text" maxlength="30"/></li>
                    <li><span class="bg08 white">联系电话</span><input id="carPhone" name="carPhone" type="text" class="text" maxlength="11"/></li>
                    <li><span class="bg09 white">车牌号</span><input id="carNO" name="carNO" type="text" class="text" maxlength="9"/></li>
                    <li><input name="" type="checkbox" value="" id="guidtype" align="absmiddle"/><label for="guidtype">新车未上牌</label></li>
                    <li><input name="" type="button" onclick="getComNowCpslinkNew('${catalog.CpsUrl}','${catalog.ComName}','${Article.carGoto}')" class="btn" value="获取报价" /></li>
                </ul>
            </div>
            <div class="clear"></div>
            <!--获取报价 结束-->
            <div class="right_banner mt10 border_gray"><a href="${catalog.LeftHref}" target="_blank"><img src="${Site.StaticResourcePath}/${catalog.LeftAd}" width="223" height="113" /></a></div>
            <!--常见问题 开始-->
            <div class="hotnews">
            	<div class="hotnews_title">
                	<h2>常见问题</h2>
                    <h6><a href="${Site.URL}/chexian/club/wenda/" target="_blank">更多&gt;&gt;</a></h6>
                </div>
                <ul class="hotnews_list">
                	<cms:list item="article" name="车险问答" count="5" tag="${catalog.tag}">
				 		<li><a href="${Site.URL}/${Article.Link}" target="_blank" title="${Article.title|substrwidth=18}">${Article.title|substrwidth=18}</a></li>
					</cms:list>
                </ul>
            </div>
            <!--常见问题 结束-->
            <!--投保案例 开始-->
            <div class="hotnews">
            	<div class="hotnews_title">
                	<h2>投保案例</h2>
                    <h6><a href="${Site.URL}/chexian/club/anli/" target="_blank">更多&gt;&gt;</a></h6>
                </div>
                <ul class="hotnews_list">
                	<cms:list item="article" name="投保案例" count="5" tag="${catalog.tag}">
				 		<li><a href="${Site.URL}/${Article.Link}" target="_blank" title="${Article.title|substrwidth=18}">${Article.title|substrwidth=18}</a></li>
					</cms:list>
                </ul>
            </div>
            <!--投保案例 结束-->
            <!--理赔技巧 开始-->
            <div class="hotnews">
            	<div class="hotnews_title">
                	<h2>理赔技巧</h2>
                    <h6><a href="${Site.URL}/chexian/club/zhishi/" target="_blank">更多&gt;&gt;</a></h6>
                </div>
                <ul class="hotnews_list">
                	<cms:list item="article" name="理赔技巧" count="5" tag="${catalog.tag}">
				 		<li><a href="${Site.URL}/${Article.Link}" target="_blank" title="${Article.title|substrwidth=18}">${Article.title|substrwidth=18}</a></li>
					</cms:list>
                </ul>
            </div>
            <!--理赔技巧 结束-->
            <!--理赔案例 开始-->
            <div class="hotnews">
            	<div class="hotnews_title">
                	<h2>理赔案例</h2>
                    <h6><a href="${Site.URL}/chexian/club/anli/" target="_blank">更多&gt;&gt;</a></h6>
                </div>
                <ul class="hotnews_list">
                	<cms:list item="article" name="车险案例" count="5" tag="${catalog.tag}">
				 		<li><a href="${Site.URL}/${Article.Link}" target="_blank" title="${Article.title|substrwidth=18}">${Article.title|substrwidth=18}</a></li>
					</cms:list>
                </ul>
            </div>
            <!--理赔案例 结束--> 
        </div>
        <!--主体部分 左侧边栏 开始-->
        <!--主体部分 右侧 开始-->
    	<div class="buymain">
        	<!--焦点图片 end-->
        	<div class="pinganpic">
            	<cms:imageplayer code="com_dd" type="0" width="745" height="175" />
            </div>
            <!--焦点图片 end-->
   	    	<!--平安车险简介 开始-->
        	<div class="howbuy mt10">
            	<div class="pinganh2">
                    <h1>大地车险</h1>
                    <img src="${Site.StaticResourcePath}/images/new_car/pinganimg05.jpg" width="228" height="108" />
                </div>
                <div class="pingantit">
                	<img src="${Site.StaticResourcePath}/images/new_car/pinganimg10.jpg" width="282" height="43" />
                    <p>中国大地财产保险股份有限公司是一家专业财险公司，总部设在上海，注册资金47.2亿元人民币。大地财险拥有一批专业的管理队伍和业务精英，在车辆保险方面具有丰富的行业经验。公司遵循"技术领先、低成本扩张、总成本领先"的经营策略和"专业化定位、综合化经营、扁平化管理、差异化发展"的经营指导思想，积极开拓保险服务领域，大地车险也备受消费者好评，赢得了良好的经营业绩和社会口碑。</p>
                </div>
                <div class="clear"></div>
            </div>
            <!--平安车险简介 结束-->
        	<!--详细理赔步骤 开始-->
            <table width="100%" border="1" cellspacing="0" cellpadding="0" class="claimstable">
              <tr>
                <td colspan="2" class="claimstit center"><h2>大地车险无限次七星级非事故道路救援</h2></td>
              </tr>
              <tr>
                <td width="101" class="center claimsred dd_tit"><h2>大地车险<br />投保优势</h2></td>
                <td width="638">
                    <div class="youshi_list">
                        <p class="ys_ps"><span>快</span><em><i class="p_i_cuowei2">48小时内</i><i>免费送单上门</i></em></p>
                        <p class="ys_ps"><span>免</span><em><i class="p_i_cuowei1">免费享受</i><i class="p_i_cuowei2">非事故道路</i> <i>救援无限次</i></em></p>
                        <p class="ys_ps"><span>优</span><em><i class="p_i_cuowei1">网销客户专享</i><i class="p_i_cuowei2">优先勘察、优先定损、</i> <i>优先理赔</i></em></p>
                        <p class="ys_ps"><span>赔</span><em><i class="p_i_cuowei2">异地出险</i><i>全国通赔</i></em></p>
                        <p class="ys_ps"><span>代</span><em><i class="p_i_cuowei2">代办车辆</i><i>年审服务</i></em></p>
                        <p class="ys_ps"><span>援</span><em><i class="p_i_cuowei2">无限次道</i><i>路救援服务</i></em></p>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="center claimsred dd_tit"><h2>大地车险<br />专属服务</h2></td>
                <td>
                    <div class="youshi_list">
                        <dl class="fuwu_sf">
                            <dt class="meihua_p">全天投保<br>协助服务</dt>
                            <dd>95590车险理赔专线，7X24小时受理<br>客户报案、咨询、投诉、<br>查询、车辆救援及投保预约服务。</dd>
                        </dl>
                        <dl class="fuwu_sf fuwu_sf_s">
                            <dt class="meihua_p">RAS快速 <br>定损服务</dt>
                            <dd>小额案件现场打印定损单，最快<br>3分钟完成查勘、定损等全部<br>理赔操作。</dd>
                        </dl>
                        <dl class="fuwu_sf">
                            <dt class="meihua_p">车险理赔零单证<br>及上门收单服务</dt>
                            <dd>符合条件客户可享受上门收单服务，<br>同名转账即可完成赔付。</dd>
                        </dl>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="center claimsred dd_tit"><h2>大地车险<br />理赔服务</h2></td>
                <td>
                	<div class="youshi_list">                
                        <ul class="serivce_list">
                            <li>简单案件实时反应，迅速处理</li>
                            <li>移动查勘，理赔零单证</li>
                            <li>人伤案件免费救援</li>
                            <li>小额定损可现场赔付</li>
                            <li>一地投保，全国通赔</li>
                            <li>上门定损，提供客户出现维修指导</li>
                        </ul>
                        <div class="want_claims">
                        	<h2>我要理赔</h2>
                            <p><a href="http://www.kaixinbao.com/chexian/club/zhishi/A6F20140327029.shtml" target="_blank">了解理赔救援</a></p>
                            <p><a href="http://www.95590.cn/lpwd/index.shtml" target="_blank">理赔网点查询</a></p>
                            <p><a href="http://www.kaixinbao.com/chexian/club/zhishi/A07F20140328001.shtml" target="_blank">常见索赔单证下载</a></p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </td>
              </tr>
            </table>
            <!--详细理赔步骤 结束-->
            <!--平安车险理赔流程 开始-->
       	    <div class="howbuy">
                <div class="buymaintit"><h2>大地车险理赔流程</h2></div>
                <div class="claims_lc">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dd_lc">
                      <tr>
                        <td>报案</td>
                        <td>调度</td>
                        <td>查勘</td>
                        <td>定损</td>
                        <td>核价</td>
                        <td>核损</td>
                        <td>单证<br />收集</td>
                        <td>理算</td>
                        <td>核赔</td>
                        <td>结案</td>
                      </tr>
                    </table>
                </div>
            </div>
            <!--平安车险理赔流程 结束-->
            <!--专题解读 开始-->
       	    <div class="howbuy">
                <div class="buymaintit"><h2>专题解读</h2></div>
                <div class="topic">
                	<ul>
                    	<cms:list item="Image"  name="车险理赔" >
							<li><a href="${Image.wangzhi}" title="${Image.title}" target="_blank"><img src="${Site.StaticResourcePath}/${Image.Path}${Image.SrcFileName}" width="133" height="78" align="absmiddle" /><span>${Image.title}</span></a></li>
                        </cms:list> 
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <!--专题解读 结束-->
        </div>
        <!--主体部分 右侧 结束-->
        <div class="clear"></div>
    </div>
</div>
<!--mainbody end-->


<cms:include file="block/car_footer.shtml" /> 
<script type="text/javascript" src="${Site.JsResourcePath}/js/car/bigpicroll.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/car/car.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a.js"></script>
<script type="text/javascript">
    DD_belatedPNG.fix('div, ul, img, li, input , a');
</script>
<![endif]-->
</body>
</html>



