<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${article.MetaKeywords}" />
<meta name="description" content="${article.MetaDescription}" />
<title>
<%
String title = article.getString("MetaTitle");
write(((null==title || "".equals(title)) ? article.getString("title"):title) + "-" + site.getString("Meta_Keywords"));
%>
</title>
<link href="${Site.StaticResourcePath}/style/new/global.css" rel="stylesheet" type="text/css"/>
<link href="${Site.StaticResourcePath}/style/car/base.css" rel="stylesheet" type="text/css"/>
<link href="${Site.StaticResourcePath}/style/car/information.css" rel="stylesheet" type="text/css"/>
</head>
<body onload="navHeight();">
<cms:include file="block/car_header.shtml" />
<!--mainbody start-->
<div class="mainbody">
	<div class="wrapper">
	<input id="type" type="hidden" value="E"/>
    	<div class="your_site">
    	<cms:link type="currentPosition"></cms:link> >${Article.title}
    	</div>
        <!--主体部分 左侧 开始-->
    	<div class="leftmain">
        	<!--正文内容 开始-->
        	<div class="textmain">
            	<div class="textmain_title">
            		<h1>${article.title}</h1>
                	<h2><span>时间: ${Article.FirstPublishDate}</span><span>来源: 开心保网</span><span><a class="shareto_button" href="">我要分享</a></span></h2>
                </div>
                <div class="article">
                	${article.content} </div>
            </div>
            <!--正文内容 结束-->
				<!-- 车险计算器开始 -->
				<div class="counter_con">
					<div class="counter_title">车险计算器</div>
					<div class="counter_bor">
						<table width="100%" border="0" class="counter_table"
							cellpadding="0" cellspacing="0">
							<tr>
								<td>车主姓名：</td>
								<td><input type="text" class="counter2" id="CarOwner" /></td>
								<td>邮箱地址：</td>
								<td colspan="2"><input type="text" class="counter1"  id="ContactEmail" /></td>
								<td>车价(万)</td>
								<td><input type="text" class="counter3" id="CarValue" /></td>
								<td>购车时间:</td>
								<td>
									<input id="BuyDate" type="text" class="counter4"   name="car.InsuranceDate" onclick="WdatePicker({minDate:'%y-%M-{%d+1}'})" class="input-c input-t" />
								</td>
							</tr>
							<tr>
								<td>联系电话：</td>
								<td><input type="text" class="counter2" id="ContactPhone" /></td>
								<td>行驶城市：</td>
								<td>
								<select name="sdUser.Province" id="sltProvince" class="counter_sel">
										<option selected="selected" value="">省份</option>
										<option value="直辖市">直辖市</option>
										<option value="河北">河北</option>
										<option value="山西">山西</option>
										<option value="内蒙古">内蒙古</option>
										<option value="辽宁">辽宁</option>
										<option value="吉林">吉林</option>
										<option value="黑龙江">黑龙江</option>
										<option value="江苏">江苏</option>
										<option value="浙江">浙江</option>
										<option value="安徽">安徽</option>
										<option value="福建">福建</option>
										<option value="江西">江西</option>
										<option value="山东">山东</option>
										<option value="河南">河南</option>
										<option value="湖北">湖北</option>
										<option value="湖南">湖南</option>
										<option value="广东">广东</option>
										<option value="广西">广西</option>
										<option value="海南">海南</option>
										<option value="四川">四川</option>
										<option value="贵州">贵州</option>
										<option value="云南">云南</option>
										<option value="西藏">西藏</option>
										<option value="陕西">陕西</option>
										<option value="甘肃">甘肃</option>
										<option value="青海">青海</option>
										<option value="宁夏">宁夏</option>
										<option value="新疆">新疆</option>
										<option value="台湾">台湾</option>
								</select>
								</td>
								<td>
									<select name="sdUser.cityId" id="sltCity" class="counter_sel">
										<option selected="selected" value="">城市</option>
								   </select>
								</td>
								<td>车牌号码:</td>
								<td><input type="text" class="counter3" id="carnum" /></td>
								<td>保险到期:</td>
								<td>
									<input type="text" class="counter4"  onclick="WdatePicker({maxDate:'%y-%M',dateFmt:'yyyy-MM'})" name="car.BuyDate" id="InsuranceDate">
								</td>
							</tr>
							<tr>
								<td>车险品牌</td>
								<td colspan="7">
									<p class="counter_pp" id="counter_pplist">
										<a class="counter_cartag counter_sels" href="javascript:;" rel="pa">平安车险</a>
										<a class="counter_cartag" href="javascript:;" rel="tpy">太平洋车险</a> 
										<a class="counter_cartag" href="javascript:;" rel="yg">阳光车险</a> 
										<a class="counter_cartag" href="javascript:;" rel="dd">大地车险</a> 
										<a class="counter_cartag" href="javascript:;" rel="astp">安盛天平车险 </a>
									</p>
								</td>
								<td colspan="2" ><p id="error_message" style="display: none;" class="counter_error">这里是错误提示！</p>
									<input type="hidden"  id="CarProperty" name="CarProperty" value="2"></input>
								</td>
							</tr>
							<tr>
								<td colspan="8"><p class="counter_tip">请务必如实填写个人相关信息，以免造成报价误差过大！</p></td>
								<td colspan="3"><a href="##" onclick="offerPrice('${Site.URL}/cx/gd/')" class="conunt_btn"></a></td>
							</tr>
						</table>
					</div>
				</div>
				<!-- 车险计算器结束 -->
				<!--分享 开始-->
            <div class="share">
            	<div class="shareto_toolbox"><span>分享到：</span>
                    <a class="shareto_button_tsina"></a>
                    <a class="shareto_button_kaixin001"></a>
                    <a class="shareto_button_renren"></a>
                    <a class="shareto_button_douban"></a>
                    <a href="http://shareto.com.cn/share.html" class="shareto_button_compact"></a>
                </div>
                <script type="text/javascript" src="${Site.JsResourcePath}/js/car/shareto_button.js" charset="utf-8"></script>
                <div class="keyword">关键词：${Article.tag|taglink=Y}</div>
                <div class="clear"></div>
            </div>
            <!--分享 结束-->
            <div class="related_news">
            	<!--上一篇下一篇 开始-->
            	<div class="next_news">
                    <p>[上一篇]：<a href="${Article.PrevLink}" title="${Article.PrevTitle}">${Article.PrevTitle}</a></p>
                    <p>[下一篇]：<a href="${Article.NextLink}" title="${Article.NextTitle}">${Article.NextTitle}</a></p>
                    <div class="clear"></div>
                </div>
                <!--上一篇下一篇 结束-->
                <!--相关阅读 开始-->
            	<div class="related_block pr10">
                	<div class="related_title"><h2>相关阅读<a href="${Site.URL}/chexian/club/zixun/">更多&gt;&gt;</a></h2></div>
                    <ul class="related_list">
                       <cms:list item="article" cmsorder="1" name="车险俱乐部" count="5" level="child" tag="${Article.tag}" type="rand">
				 			<li><a href="${Site.URL}/${Article.URL}" target="_blank" >${Article.title|substrwidth=24}</a></li>
						</cms:list>
                    </ul>
                </div>
                <!--相关阅读 结束-->
                <!--相关搜索 开始-->
                <div class="related_block">
                	<div class="related_title"><h2>相关搜索</h2></div>
                    <ul class="search_list">
                        <cms:list item="hotlabels" cmsorder="2"  name="热门标签" count="5" tag="${Article.tag}">
				 			<li><a href="${Site.URL}/${hotlabels.linkurl}" target="_blank">
				 			${hotlabels.tag}</a></li>
					  </cms:list>
                    </ul>
                </div>
                <!--相关搜索 结束-->
                <div class="clear"></div>
            </div>
        </div>
        <!--主体部分 左侧 结束-->
        <!--主体部分 右侧边栏 开始-->
        <div class="rightbar">
        	<div class="right_banner"><cms:ad name="车险统一轮播广告位" size="223*223" type="1"> </cms:ad></div>
            <!--最新资讯 开始-->
            <div class="hotnews">
            	<div class="hotnews_title">
                	<h2>最新资讯</h2>
                </div>
                <ul class="hotnews_list">
                	<cms:list item="article" cmsorder="3" name="车险俱乐部" level="child" count="5" type="modifyzx">
				 			<li><a href="${Site.URL}/${Article.URL}" target="_blank" >${Article.title|substrwidth=24}</a></li>
					</cms:list>
                </ul>
            </div>
            <!--最新资讯 结束-->
            <div class="right_banner hotnews right_banup"><cms:ad name="车险统一广告位" size="223*140" type="1"> </cms:ad>
              </div>
            <style> 
            	.right_banup li{ display:inline;}
            </style>
            <!--猜你喜欢 开始-->
            <div class="hotnews">
            	<div class="hotnews_title">
                	<h2>猜你喜欢</h2>
                </div>
                <ul class="hotnews_list">
                	<cms:list item="article" cmsorder="4" name="车险俱乐部" level="child" count="6" tag="${Article.tag}" type="rand">
				 			<li><a href="${Site.URL}/${Article.URL}" target="_blank" >${Article.title|substrwidth=24}</a></li>
					</cms:list>
                </ul>
            </div>
            <!--猜你喜欢 结束-->
            <!--热门标签 开始-->
            <div class="hotnews">
            	<div class="hotnews_title">
                	<h2>热门标签</h2>
                </div>
                <div class="clear hotnews_tag">
                	<ul>
                	<cms:list item="hotlabels" cmsorder="5"  name="热门标签" count="12" type="hot" tag="车险">
						<% if(i%7==0){%>
								<li><a class="bg01" href="${Site.URL}${hotlabels.linkurl}" target="_blank">${hotlabels.tag}</a></li>
							<% }else if(i%7==1){%>
								<li><a class="bg02" href="${Site.URL}${hotlabels.linkurl}" target="_blank">${hotlabels.tag}</a></li>
							<% }else if(i%7==2){%>
								<li><a class="bg03" href="${Site.URL}${hotlabels.linkurl}" target="_blank">${hotlabels.tag}</a></li>
							<% }else if(i%7==3){%>
								<li><a class="bg04" href="${Site.URL}${hotlabels.linkurl}" target="_blank">${hotlabels.tag}</a></li>
							<% }else if(i%7==4){%>
								<li><a class="bg05" href="${Site.URL}${hotlabels.linkurl}" target="_blank">${hotlabels.tag}</a></li>
							<% }else if(i%7==5){%>
								<li><a class="bg06" href="${Site.URL}${hotlabels.linkurl}" target="_blank">${hotlabels.tag}</a></li>
							<% }else if(i%7==6){%>
								<li><a class="bg01" href="${Site.URL}${hotlabels.linkurl}" target="_blank">${hotlabels.tag}</a></li>
							<% } %>
						</cms:list>
                    </ul>
                </div>
            </div>
            <!--热门标签 结束-->
            <div class="right_banner mt10"><cms:ad name="车险问答右下" size="300*70" type="1"> </cms:ad></div>
            <div class="right_banner mt10"><a href="http://e.weibo.com/kaixinbao2012" target="_blank"><img src="${Site.StaticResourcePath}/images/new_car/imgages03.jpg" width="223" height="68" /></a></div>
            <div class="right_banner mt10"><img src="${Site.StaticResourcePath}/images/new_car/imgages04.jpg" width="223" height="68" /></div>
        </div>
        <!--主体部分 右侧边栏 开始-->
        <div class="clear"></div>
    </div>
</div>
<!--mainbody end-->


<cms:include file="block/car_footer.shtml" />
<script type="text/javascript" src="${Site.JsResourcePath}/js/template/shop/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/template/common/js/base.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/car/car.js"></script> 
<script type="text/javascript" src="${Site.JsResourcePath}/js/city_car.js"></script> 
</body>
</html>
