<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${catalog.Meta_Keywords}" />
<meta name="description" content="${catalog.Meta_Description}" />
<title>${catalog.meta_title}-${site.Meta_Keywords}</title>
<link href="${Site.StaticResourcePath}/style/new/global.css" rel="stylesheet" type="text/css"/>
<link href="${Site.StaticResourcePath}/style/car/base.css" rel="stylesheet" type="text/css"/>
<link href="${Site.StaticResourcePath}/style/car/information.css" rel="stylesheet" type="text/css"/>
<link href="${Site.StaticResourcePath}/style/car/howbuy.css" rel="stylesheet" type="text/css"/>
<style>
.ad_jiaodian { float:left; height:207px; overflow:hidden; padding-right:10px; position:relative; width:510px;  }
</style>
</head>
<body onload="navHeight();">
<cms:include file="block/car_header.shtml" />
<!--mainbody start-->
<div class="mainbody">
	<div class="wrapper">
	<input id="type" type="hidden" value="E"/>
    	<div class="your_site"><cms:link type="currentPositionList"></cms:link></div>
        <!--主体部分 左侧边栏 开始-->
        <div class="buyleftbar">
        	<!--获取报价 开始-->
        	<div class="price">
                <ul>
                    <li><span class="bg07 white">车主姓名</span><input id="carUser" name="carUser" type="text" class="text" maxlength="30"/></li>
                    <li><span class="bg08 white">联系电话</span><input id="carPhone" name="carPhone" type="text" class="text" maxlength="11"/></li>
                    <li><span class="bg09 white">车牌号</span><input id="carNO" name="carNO" type="text" class="text" maxlength="9"/></li>
                    <li><input name="" type="checkbox" value="" id="guidtype" align="absmiddle"/><label for="guidtype">新车未上牌</label></li>
                    <li><span class="mt_6">保险公司</span>
                        <div class="index_tb_right pr" id="corpBar">
                            <a href="javascript:;" class="car_tb_corp tb_active" rel="pa">平安</a>
                            <a href="javascript:;" class="car_tb_corp" rel="tpy">太平洋</a>
                            <a href="javascript:;" class="car_tb_corp" rel="yg">阳光</a>
                            <a href="javascript:;" class="car_tb_corp" rel="dd">大地</a>
                            <a href="javascript:;" class="car_tb_corp" rel="tp">安盛天平</a>
                        </div>
                    </li>
                    <li><input name="" onclick="guoduNew()" type="button" class="btn" value="获取报价" /></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <!--获取报价 结束-->
            <div class="right_banner mt10 border_gray"><a href="${Site.URL}/${catalog.Left_href1}" target="_blank"><img src="${Site.StaticResourcePath}/${catalog.Left_ad1}" width="223" height="113" /></a></div>
            <!--品牌推荐 开始-->
            <div class="hotnews">
            	<div class="hotnews_title">
                	<h2>品牌推荐</h2>
                </div>
                <div class="pptj">
                	<ul>
                        <li><a href="${Site.URL}/chexian/pingan.shtml" target="_blank" title="中国平安"><img src="${Site.StaticResourcePath}/images/new_car/pptj_01.jpg" width="92" height="32" align="absmiddle" /></a></li>
                        <li><a href="${Site.URL}/chexian/taipingyang.shtml" target="_blank" title="太平洋保险"><img src="${Site.StaticResourcePath}/images/new_car/pptj_02.jpg" width="92" height="32" align="absmiddle" /></a></li>
                        <li><a href="${Site.URL}/chexian/yangguang.shtml"  target="_blank" title="阳光保险集团"><img src="${Site.StaticResourcePath}/images/new_car/pptj_03.jpg" width="92" height="32" align="absmiddle" /></a></li>
                        <li><a href="${Site.URL}/chexian/dadi.shtml"  target="_blank" title="中国大地保险"><img src="${Site.StaticResourcePath}/images/new_car/pptj_04.jpg" width="92" height="32" align="absmiddle" /></a></li>
                        <li><a href="${Site.URL}/chexian/tianping.shtml" target="_blank" title="安盛天平汽车保险"><img src="${Site.StaticResourcePath}/images/new_car/pptj_05.jpg" width="92" height="32" align="absmiddle" /></a></li>
                    </ul>
                    <div class="clear"></div>
            	</div>
            </div>
            <!--品牌推荐 结束-->
            <!--车主服务 开始-->
            <div class="hotnews">
            	<div class="hotnews_title">
                	<h2>车主服务</h2>
                </div>
                <div class="rolelist">
                    <ul>
                        <li><strong>特征：</strong><a href="${Site.URL}/chexian/man.shtml" target="_blank">男性</a>｜<a href="${Site.URL}/chexian/woman.shtml" target="_blank">女性</a>｜<a href="${Site.URL}/chexian/oldman.shtml" target="_blank">老人</a></li>
                        <li><strong>技术：</strong><a href="${Site.URL}/chexian/newdrivers.shtml" target="_blank">新手</a>｜<a href="${Site.URL}/chexian/skilleddrivers.shtml" target="_blank">老手</a></li>
                        <li><strong>车况：</strong><a href="${Site.URL}/chexian/newcar.shtml" target="_blank">新车</a>｜<a href="${Site.URL}/chexian/usedcar.shtml" target="_blank">二手车</a></li>
                        <li><strong>场景：</strong><a href="${Site.URL}/chexian/forwork.shtml" target="_blank">上下班</a>｜<a href="${Site.URL}/chexian/business.shtml" target="_blank">商务</a>｜<a href="${Site.URL}/chexian/longdistancedriving.shtml" target="_blank">自驾游</a></li>
                        <li><strong>环境：</strong><a href="${Site.URL}/chexian/severecold.shtml" target="_blank">高寒</a>｜<a href="${Site.URL}/chexian/heat.shtml" target="_blank">酷暑</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <!--车主服务 结束-->
            <!--商业车险种类 开始-->
            <div class="hotnews">
            	<div class="hotnews_title">
                	<h2>商业车险种类</h2>
                </div>
                <ul class="cartype">
                	<li class="mr10"><a href="${Site.URL}/chexian/huahenxian.shtml" target="_blank" title="划痕险">划痕险</a></li>
                    <li><a href="${Site.URL}/chexian/sheshuixian.shtml" target="_blank" title="涉水险">涉水险</a></li>
                    <li class="mr10"><a href="${Site.URL}/chexian/chesunxian.shtml" target="_blank" title="车辆损失险">车辆损失险</a></li>
                    <li><a href="${Site.URL}/chexian/ziranxian.shtml"  target="_blank" title="自燃损失险">自燃损失险</a></li>
                    <li class="mr10"><a href="${Site.URL}/chexian/daoqiangxian.shtml" target="_blank" title="车辆盗抢险">车辆盗抢险</a></li>
                    <li><a href="${Site.URL}/chexian/bolixian.shtml" target="_blank" title="玻璃单独破碎险">玻璃单独破碎险</a></li>
                    <li class="mr10"><a href="${Site.URL}/chexian/sanzexian.shtml" target="_blank" title="第三者责任险">第三者责任险</a></li>
                    <li><a href="${Site.URL}/chexian/chezexian.shtml" target="_blank" title="车上人员责任险">车上人员责任险</a></li>
                    <li class="mr10"><a href="${Site.URL}/chexian/bujimianpeixian.shtml" target="_blank" title="不计免赔特约险">不计免赔特约险</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <!--商业车险种类 结束-->
            <div class="right_banner mt10 border_gray"><a href="${catalog.Left_href2}" target="_blank"><img src="${Site.StaticResourcePath}/${catalog.Left_ad2}" width="223" height="113" /></a></div>
            <!--友情链接 开始-->
            <div class="hotnews">
            	<div class="hotnews_title">
                	<h2>友情链接</h2>
                </div>
                <ul class="linklist">
                	<cms:list item="friendlink" name="车险理赔">
						<li class="<% if(i%2==0) write("mr10");%>"><a href="${friendlink.URL}" target="_blank" title="${friendlink.Name}">［${friendlink.Name}］</a></li>
			 		</cms:list>
                </ul>
                <div class="clear"></div>
            </div>
            <!--友情链接 结束-->
        </div>
        <!--主体部分 左侧边栏 开始-->
        <!--主体部分 右侧 开始-->
    	<div class="buymain">
        	<div class="picmain_207">
            	<!--焦点图片 开始-->
            	<div class="picscroll_207">
                    <cms:imageplayer code="CarClub" type="0" width="510" height="207" />
                </div>
                <!--焦点图片 结束-->
                <!--最新资讯 开始-->
                <div class="rightbar">
                    <div class="hotnews_mt0">
                        <div class="hotnews_title">
                            <h2>最新资讯</h2>
                        </div>
                        <ul class="hotnews_list">
                        	<cms:list item="Article" level="child" type="firstpublish" count="5"  name="车险俱乐部" >	
								<li><a href="${article.link}" title="${Article.title}" target="_blank">${Article.title|CharWidth=15}</a></li>
			        		</cms:list>
                        </ul>
                    </div>
                </div>
                <!--最新资讯 结束-->
            </div>

        	<div class="club_index_bg">
                <!--车险问答 start-->
                <div class="club_index pright10 mt10">
                    <div class="indexnewstit">
                        <h2><a href="${Site.URL}/chexian/club/wenda" target="_blank">车险问答</a></h2>
                        <div class="club_main">
                        	<cms:list item="Article" level="all" hasAttribute="hot,newRecommend" count="1"  name="车险问答" >	
	                        	 <h3><a href="${article.link}" title="${Article.title}" target="_blank">${Article.title|CharWidth=14}</a></h3>
	                             <h4>${article.summary|CharWidth=80}</h4>
			        		</cms:list>
                        </div>
                        <div class="indexnewslist">
                            <ul>
                               <cms:list item="Article" level="all" type="modifyzx" count="4"  name="车险问答" >	
									 <li><a href="${article.link}" title="${Article.title}" target="_blank">${Article.title}</a></li>
			        			</cms:list>
                            </ul>
                        </div>
                        <h6><a href="${Site.URL}/chexian/club/wenda/" rel="nofollow" target="_blank">更多&gt;&gt;</a></h6>
                    </div>
                </div>
                <!--车险问答 end-->
                <!--车险资讯 start-->
                <div class="club_index mt10">
                    <div class="indexnewstit">
                        <h2><a href="${Site.URL}/chexian/club/zixun" target="_blank">车险资讯</a></h2>
                        <div class="club_main">
                         		<cms:list item="Article" level="all" hasAttribute="hot,newRecommend" count="1"  name="车险资讯" >	
		                        	 <h3><a href="${article.link}" title="${Article.title}" target="_blank">${Article.title|CharWidth=14}</a></h3>
		                             <h4>${article.summary|CharWidth=80}</h4>
			        			</cms:list>
                        </div>
                        <div class="indexnewslist">
                            <ul>
	                            <cms:list item="Article" level="all" type="rand" count="4"  name="车险资讯" >	
									 <li><a href="${article.link}" title="${Article.title}" target="_blank">${Article.title}</a></li>
			        			</cms:list>
                            </ul>
                        </div>
                        <h6><a href="${Site.URL}/chexian/club/zixun/" rel="nofollow" target="_blank">更多&gt;&gt;</a></h6>
                    </div>
                </div>
                <!--车险资讯 end-->
                <!--车险案例 start-->
                <div class="club_index pright10 mt10">
                    <div class="indexnewstit">
                        <h2><a href="${Site.URL}/chexian/club/anli" target="_blank">车险案例</a></h2>
                        <div class="club_main">
                         		<cms:list item="Article" level="all" hasAttribute="hot,newRecommend" count="1"  name="车险案例" >	
		                        	 <h3><a href="${article.link}" title="${Article.title}" target="_blank">${Article.title|CharWidth=14}</a></h3>
		                             <h4>${article.summary|CharWidth=80}</h4>
			        			</cms:list>
                        </div>
                        <div class="indexnewslist">
                            <ul>
	                            <cms:list item="Article" level="all" type="modifyzx" count="4"  name="车险案例" >	
									 <li><a href="${article.link}" title="${Article.title}" target="_blank">${Article.title}</a></li>
			        			</cms:list>
                            </ul>
                        </div>
                        <h6><a href="${Site.URL}/chexian/club/anli/" rel="nofollow" target="_blank">更多&gt;&gt;</a></h6>
                        <div class="clear"></div>
                    </div>
                </div>
                <!--车险案例 end-->
                <!--车险知识 start-->
                <div class="club_index mt10">
                    <div class="indexnewstit">
                        <h2><a href="${Site.URL}/chexian/club/zhishi" target="_blank">车险知识</a></h2>
                        <div class="club_main">
                         		<cms:list item="Article" level="all" hasAttribute="hot,newRecommend" count="1"  name="车险知识" >	
		                        	 <h3><a href="${article.link}" title="${Article.title}" target="_blank">${Article.title|CharWidth=14}</a></h3>
		                             <h4>${article.summary|CharWidth=80}</h4>
			        			</cms:list>
                        </div>
                        <div class="indexnewslist">
                            <ul>
	                            <cms:list item="Article" level="all" type="modifyzx" count="4"  name="车险知识" >	
									 <li><a href="${article.link}" title="${Article.title}" target="_blank">${Article.title}</a></li>
			        			</cms:list>
                            </ul>
                        </div>
                        <h6><a href="${Site.URL}/chexian/club/zhishi/" rel="nofollow" target="_blank">更多&gt;&gt;</a></h6>
                    </div>
                </div>
                <!--车险知识 end-->
                <div class="clear"></div>
            </div>

            <!--专题解读 开始-->
        	<div class="howbuy">
                <div class="buymaintit"><h2>专题解读</h2></div>
                <div class="topic">
                	<ul>
                    	<cms:list item="Image" name="车险理赔" >
							<li><a href="${Image.wangzhi}" title="${Image.title}" target="_blank" ><img src="${Site.StaticResourcePath}/${Image.Path}${Image.SrcFileName}"  width="133" height="78" align="absmiddle" /><span>${Image.title}</span></a></li>
                        </cms:list>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <!--专题解读 结束-->
            <!--优惠活动 开始-->
        	<div class="howbuy">
                <div class="buymaintit"><h2>优惠活动</h2></div>
                <div class="topic">
                	<ul>
                    	<cms:list item="Image" name="优惠活动" >
							<li><a href="${Image.href}" title="${Image.title}" target="_blank" ><img src="${Site.StaticResourcePath}/${Image.Path}${Image.SrcFileName}"  width="133" height="78" align="absmiddle" /><span>${Image.title}</span></a></li>
                        </cms:list>
                    </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <!--优惠活动 结束-->
        </div>
        <!--主体部分 右侧 结束-->
        <div class="clear"></div>
    </div>
</div>
<!--mainbody end-->


<cms:include file="block/car_footer.shtml" />
<script type="text/javascript" src="${Site.JsResourcePath}/js/car/bigpicroll.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/car/car.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a.js"></script>
<script type="text/javascript">
    DD_belatedPNG.fix('div, ul, img, li, input , a');
</script>
<![endif]-->
</body>
</html>
