<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${article.MetaKeywords}" />
<meta name="description" content="${article.MetaDescription}" />
<title>
<%
String title = article.getString("MetaTitle");
write(((null==title || "".equals(title)) ? article.getString("title"):title) + "-" + site.getString("Meta_Keywords"));
%>
</title>
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/new_header.css">
<link href="${Site.StaticResourcePath}/style/new_logo.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/car/car_style.css">
<cms:include file="block/kxb_custom_header.shtml" />

</head>

<body>
<cms:include file="block/kxb_header_index_new.shtml" />
<div class="wrapper cf">
<ul class="car_mininav clearfix lyg_nav">                                                       
			<li><a href="${Site.URL}/chexian/" title="车辆保险首页">车辆保险首页</a></li>
			<li><a href="${Site.URL}/chexian/chexianduibi.shtml" title="车险哪家好">车险哪家好</a></li>
			<li><a class="s_car_nav" href="${Site.URL}/chexian/chexianzhishi.shtml"  title="车险知识学堂">车险知识学堂</a></li>
			<li><a href="${Site.URL}/chexian/lipei.shtml"  title="车险理赔指南">车险理赔指南</a></li>
	</ul>
<div class="car_index_s"><div class="meihua_p">买车险 首选开心保 <b>直降15%</b></div></div>
<div class="car_gs_box car_border_q no_top_bor cf">
	<div class="car_bxgs floatl">
    
      	<div class="search_bxgs"><div class="car_bxzscon">保险公司:</div>  <div class="car_select_box">
            	<span class="car_select_txt">请选择</span><a class="car_selet_open"><b></b></a>
            	<div class="car_option" id="car_tag">
                	<cms:list item="article"  level="all" name="车险对接保险公司" >
                        <a onclick="getlink('${Article.CpsLink}','${Article.title}')">${Article.title}</a>
                    </cms:list>
                </div>
            </div>
             </div>
          
             	<ul  id="car_tag_con" class="car_lipin  cf">
				   <cms:list item="article" level="all" name="车险对接保险公司" >
		             <li style="display:none">${Article.Gift}</li>
		           </cms:list>
             	</ul>
            
                <div class="ljbj_sc"> <input name="" type="button" value="开始报价" onclick="guodu('${Site.URL}/cx/gd/')" class="input_ksbj"></div>
    </div>
   <div class="car_adjd floatr">
     <div class="changeBox_a1" id="change_33">
     <cms:imageplayer code="CarFlash" type="0" width="700" height="246"  />
     </div>
  </div>
</div>
<div class="h10 clear"></div>

<div class="car_border_q cf">
  <div class="car_miaoshu floatl ">
	<div class="car_des_con cf">
    	<div class="car_imgss floatl"><img src="${Site.StaticResourcePath}/images/car/zsxt_img_03.jpg" width="100" height="75"></div>
        <dl class="floatl lipei_list">
        	<dt><a href="${Site.URL}/chexian/shangyechexian.shtml">商业车险险种介绍</a></dt>
          <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商业车险是指除国家强制规定购买的交强险外，有保险公司提供、车主自愿购买的商业保险。商业车险主要分为两大类：基本险和附加险。基本险也称为主险，包括车辆损失险、第三者责任、全车盗抢险与车上人员责任险。附加险主要包括划痕险、玻璃单独破碎险、自燃损失险、不计免赔特约险、涉水险、新增加设备损失险等险种。车主可以根据自己的需要，投保不同种类的车险。</dd>
        </dl>
       
    </div>
    <div class="bor_xian"></div>
    <div class="car_des_con cf">
    	<div class="car_des_con cf">
    	<div class="car_imgss floatl"><img src="${Site.StaticResourcePath}/images/car/zsxt_img_06.jpg" width="100" height="75"></div>
        <dl class="floatl lipei_list">
        	<dt><a href="${Site.URL}/zhishi/renshi/CF20120927017.shtml">交强险与商业车险的区别</a></dt>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交强险是国家规定的强制保险制度，只要购车必须要买交强险，并且保险公司不能拒绝承保。而商业车险不做强制规定，投保与否可以由车主进行选择，并且险种较多，具有一定的自愿性与灵活性。</dd>
             <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在保障范围上，交强险不设免赔限额，但有一定的责任限额，而商业车险可以补偿交强险超出责任限额的部分。可以说商业车险是交强险的有效补充。</dd>
        </dl>
       
    </div>
       
    </div>
  </div>
  <div class="news_tag floatl">
  
            <ul class="car_zx_title zs_list cf">
            	<li class="tag_1 "  ><span class="hover" id="hot1" onclick="setTab('hot',1,2)">车险专题 </span></li>
            	<li class="tag_2"> <span  id="hot2"  onclick="setTab('hot',2,2)">车险标签</span></li>
            </ul>
               <ul class="special_list lipei_lists" id="con_hot_1">
				<cms:list item="article" level="all" type="rand" tag="车险" count="8" name="保险专题">
					<li><a href="${Article.link}" target="_blank">${Article.title|CharWidth=13}</a></li>
				</cms:list>               
           </ul>
            <ul class="special_list lipei_lists" id="con_hot_2" style="display:none;">
				<cms:list item="friendlink" count="8" name="车险标签">
					<li><a href="${friendlink.URL}" target="_blank">${friendlink.Name|CharWidth=15}</a></li>
		        </cms:list>
            </ul>
  </div>
</div>
<div class="h10 clear"></div>
<div class="car_border_q cf">
  <div class="car_miaoshu floatl ">
	<div class="car_des_con cf">
    	<div class="car_imgss floatl"><img src="${Site.StaticResourcePath}/images/car/zsxt_img_08.jpg" width="100" height="75"></div>
        <dl class="floatl lipei_list">
        	<dt><a href="${Site.URL}/zhishi/cheliangbaoxian/A03G20130520080.shtml">购买车险注意事项</a></dt>
          <dd>在购买车险的时候，车主需注意以下几点：</dd>
<dd>1、了解车险保障范围，包括保险的责任范围和免责范围。</dd>
<dd>2、了解商业车险内容，根据车子使用情况不同，合理搭配险种。</dd>
<dd>3、控制出险次数。无论是交强险还是商业车险，头一年的出险情况都影响到次年的保费。因此车主需要控制出险次数，一些小的剐蹭可以选择不报案。</dd>

        </dl>
       
    </div>
    <div class="bor_xian"></div>
    <div class="car_des_con cf">
    	<div class="car_des_con cf">
    	<div class="car_imgss floatl"><img src="${Site.StaticResourcePath}/images/car/zsxt_img_11.jpg" width="100" height="75"></div>
        <dl class="floatl lipei_list">
        	<dt><a href="${Site.URL}/zixun/zhuanlan/AF20130903027.shtml">车险保费与违章的关系</a></dt>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日前，国家对现行车险产品进行了费率改革，优化和简化了车险费率浮动因素，车辆违章情况与车险保险直接挂钩。据介绍，三年未出现违章赔款的车辆，保费最高可打4.75折，而违章违法行驶一项，可使保费最高上浮50%。经过此次调整，车险保费与违章的关系更加紧密，而通过各项因素累积保费上线，最高可达现行车险价格的9倍以上，也为车辆违章行为上了一个"紧箍咒"。</dd>
        </dl>
       
    </div>
       
    </div>
  </div>
  <div class="news_tag floatl">
 
            <ul class="car_zx_title zs_list cf">
            	<li class="zslist_1"><span class="hover" id="zslist1" onclick="setTab('zslist',1,3)">资讯</span></li>
            	<li class="zslist_1"> <span  id="zslist2"  onclick="setTab('zslist',2,3)">知识</span></li>
                <li class="zslist_1"> <span  id="zslist3"  onclick="setTab('zslist',3,3)">问答</span></li>
            </ul>
            
             <ul class="special_list lipei_lists"  id="con_zslist_1" >
				<cms:list item="article" level="all" type="rand" tag="车险" count="6" name="保险资讯">
					<li><a href="${Article.link}" target="_blank">${Article.title|CharWidth=15}</a></li>
				</cms:list>  
             </ul>
                
             <ul class="special_list lipei_lists"  id="con_zslist_2" style="display:none;">
				<cms:list item="article" level="all" type="rand" tag="车险" count="6" name="保险知识">
					<li><a href="${Article.link}" target="_blank">${Article.title|CharWidth=15}</a></li>
				</cms:list> 
            </ul>
             
             <ul class="special_list lipei_lists"  id="con_zslist_3" style="display:none;">
				<cms:list item="article" level="all" type="rand" tag="车险" count="6" name="保险问答">
					<li><a href="${Article.link}" target="_blank">${Article.title|CharWidth=15}</a></li>
				</cms:list> 
            </ul>
            
  </div>
</div>
<div class="h10 clear"></div>
<div class="car_border_q cf">
  <div class="car_miaoshu floatl ">
	<div class="car_des_con car_des_con2 cf">
    	<div class="car_imgss floatl"><img src="${Site.StaticResourcePath}/images/car/zsxt_img_14.jpg" width="100" height="75"></div>
        <dl class="floatl lipei_list">
        	<dt><a href="${Site.URL}/chexian/lipei.shtml">车险理赔</a></dt>
            <dd>标准的车险理赔，主要分为以下四个步骤：</dd>
<dd>1、及时报案。发生事故之后，第一时间拨打保险公司电话进行报案，并填写出险事故索赔单。</dd>
<dd>2、准备相关资料。协助理赔快速通过。一般需要被保险人提供保单、驾驶证、身份证、交警提供的事故现场证明，到承保的公司办理索赔手续。</dd>
<dd>3、车辆维修。定损结束后，受损汽车到指定的4S店进行维修。</dd>
<dd>4、领取索赔款。保存好修理所用的发票，办理保险索赔所需资料，按时领取索赔款。</dd>
        </dl>
       
    </div>
    <div class="bor_xian"></div>
    <div class="car_des_con car_des_con2 cf">
    	<div class="car_des_con cf">
    	<div class="car_imgss floatl"><img src="${Site.StaticResourcePath}/images/car/zsxt_img_16.jpg" width="100" height="75"></div>
        <dl class="floatl lipei_list">
        	<dt><a href="${Site.URL}/zixun/zhuanlan/AF20130903028.shtml">车险理赔服务哪家好</a></dt>
            <dd>要比较车险理赔服务哪家好，要从以下几点对保险公司进行考量。</dd>
	        <dd>一、理赔反应速度。车险公司的报案反应速度和处理速度是考核车险服务的重要途径。在这方面，平安、大地、太平洋、阳光车险反应速度都不错，深受用户信赖。</dd>
	        <dd>二、理赔服务好。不少公司为了吸引客户，都推出许多理赔附加服务，如平安车险推出的"异地出险，全国通赔"服务，也为车主带来了不少便利。</dd>
        </dl>
       
    </div>
       
    </div>
  </div>
  <div class="news_tag floatl">
  	  	 <h2 class="car_l_title">车险理赔案例</h2>
         <ul class="special_list lipei_lists">
			<cms:list item="article" level="all" type="rand" tag="车险案例" count="3" name="保险知识">
				<li><a href="${Article.link}" target="_blank">${Article.title|CharWidth=13}</a></li>
			</cms:list> 
			<cms:list item="article" level="all" type="rand" tag="车险案例" count="3" name="保险资讯">
				<li><a href="${Article.link}" target="_blank">${Article.title|CharWidth=13}</a></li>
			</cms:list> 
         </ul>
         
  </div>
</div>
        <div class="clear"></div>
        
 			<div class="part6">
				<ul>
				<cms:list item="hotopic"  name="车险知识" >
					 <% if(i==0) write("<ul class=\"special_u1 clearfix special_li_21\" id=\"min_tag_hzpp1\" >");%> 
				</cms:list>	
					<cms:list item="hotopic"  name="车险知识" >
						<li class="special_li" ><em class="<% if(i==0) write("select_tab_hzpp1 first");%>"><span class="">${hotopic.name}</span></em></li>	
					</cms:list>
				</ul>
				<div class="new_special_box clearfix" id="tag_box_hzpp1"  >
					<cms:list item="hotopic"  name="车险知识" >
						<ul class="special_list clearfix" style="<% if(i!=0) write("display:none;");%>">
					 		<cms:sublist item="friendlink" count="50" >
						 		<li><a href="${friendlink.url}" >${friendlink.name}</a></li>
							</cms:sublist>		
						</ul>
					</cms:list>
				</div>
			</div>
</div>

	<div class="clear"></div>
		
		<cms:include file="block/kxb_footer_new.shtml" />
		<cms:include file="block/community.shtml" />
<script type="text/javascript" src="${Site.JsResourcePath}/js/jquery.soChange-min.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/car.js"></script>
</body>
</html>
