<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="${article.MetaKeywords}" />
<meta name="description" content="${article.MetaDescription}" />
<title>
<%
String title = article.getString("MetaTitle");
write(((null==title || "".equals(title)) ? article.getString("title"):title) + "-" + site.getString("Meta_Keywords"));
%>
</title>
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/new_header.css">
<link href="${Site.StaticResourcePath}/style/new_logo.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/car/car_style.css">
<cms:include file="block/kxb_custom_header.shtml" />

</head>

<body>
<cms:include file="block/kxb_header_index_new.shtml" />
<div class="wrapper cf">
     <ul class="car_mininav clearfix lyg_nav">                                                       
			<li><a href="${Site.URL}/chexian/" title="车辆保险首页">车辆保险首页</a></li>
			<li><a href="${Site.URL}/chexian/chexianduibi.shtml" title="车险哪家好">车险哪家好</a></li>
			<li><a href="${Site.URL}/chexian/chexianzhishi.shtml"  title="车险知识学堂">车险知识学堂</a></li>
			<li><a class="s_car_nav" href="${Site.URL}/chexian/lipei.shtml"  title="车险理赔指南">车险理赔指南</a></li>
	</ul>
<div class="car_index_s"><div class="meihua_p">买车险 首选开心保 <b>直降15%</b></div></div>
<div class="car_gs_box car_border_q no_top_bor cf">
	<div class="car_bxgs floatl">
      	<div class="search_bxgs"><div class="car_bxzscon">保险公司:</div>  
      	  <div class="car_select_box">
            	<span class="car_select_txt">请选择</span><a class="car_selet_open"><b></b></a>
            	<div class="car_option" id="car_tag">
                	<cms:list item="article"  level="all" name="车险对接保险公司" >
                        <a onclick="getlink('${Article.CpsLink}','${Article.title}')">${Article.title}</a>
                    </cms:list>
                </div>
           </div>
         </div>
          
           	<ul  id="car_tag_con" class="car_lipin  cf">
			   <cms:list item="article" level="all" name="车险对接保险公司" >
	             <li style="display:none">${Article.Gift}</li>
	           </cms:list>
           	</ul>
        <div class="ljbj_sc"><input name="" type="button" value="开始报价" onclick="guodu('${Site.URL}/cx/gd/')" class="input_ksbj"></div>
    </div>
    <div class="car_adjd floatr">
    <img src="${Site.StaticResourcePath}/images/car/cxnjh_ad_03.jpg" width="700" height="250" alt="对比更清楚 选择更轻松">
    </div>
</div>
<div class="h10 clear"></div>
<div class="car_border_q cf">
    <h1 class="car_l_title">车险理赔流程</h1>
    <img src="${Site.StaticResourcePath}/images/car/lipei_03.gif" width="977" height="55" class="lc_img">
  </div>
<div class="h10 clear"></div>
<div class="cx_js_box">
	<ul class="cf">
	    <li class="car_logo icon_C1008"><span class="hover" id="car_s1" onclick="setTab('car_s',1,4)"></span></li>
		<li class="car_logo icon_C2011 "><span class="" id="car_s2" onclick="setTab('car_s',2,4)"></span></li>
		<li class="car_logo icon_C2021"><span class="" id="car_s3" onclick="setTab('car_s',3,4)"></span></li>
		<li class="car_logo icon_C2019"><span class="" id="car_s4" onclick="setTab('car_s',4,4)"></span></li>
    </ul>
    <div class=" car_border_q car_caliao">
     <table width="100%" border="0"   class="car_cailiaob"  id="con_car_s_1" >
          <tbody><tr>
            <th>报案电话：</th>
            <td>95511</td>
          </tr>
          <tr>
            <th>理赔材料：</th>
            <td>
               <cms:list item="attachment"  name="平安保险公司"> 
				   <span class="${attachment.geshi}"><a href="${Site.URL}/${attachment.Path}${attachment.SrcFileName}">${attachment.Name}.${attachment.geshi}</a></span>
		       </cms:list>
            </td>
          </tr>
          <tr>
            <th>理赔查询：</th>
            <td><a  target="_blank" rel="nofollow" href="http://chexian.pingan.com/fuwu/service/lipei.jsp"  class="car_linksss">查询地址&gt;</a></td>
          </tr>
          <tr>
            <th>理赔特色：</th>
            <td>1、7×24小时车险理赔报案电话95511；</td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td>2、专家现场迅速查勘定损；</td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td>3、全国通赔，单证齐全即可当地理赔；</td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td>4、平安承诺，1万元以内车险责任事故，资料齐全，一个工作日内完成赔付。</td>
          </tr>
        </tbody>
      </table>
    <table width="100%" border="0" style="display: none;"  class="car_cailiaob"  id="con_car_s_2">
          <tbody><tr>
            <th>报案电话：</th>
            <td>95500</td>
          </tr>
          <tr>
            <th>理赔材料：</th>
            <td>
               <cms:list item="attachment"  name="太平洋保险公司"> 
				   <span class="${attachment.Suffix}"><a href="${Site.URL}/${attachment.Path}${attachment.SrcFileName}">${attachment.Name}.${attachment.geshi}</a></span>
		       </cms:list>
            </td>
          </tr>
          <tr>
            <th>理赔查询：</th>
            <td><a class="car_linksss" target="_blank" rel="nofollow" href="http://www.cpic.com.cn/cx/ho/servicehall/claimsguide/">查询地址&gt;</a></td>
          </tr>
          <tr>
            <th>理赔特色：</th>
            <td>1、无限次免费道路救援；</td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td>2、非事故100公里内拖车免费；</td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td>3、3G现场快速定损；</td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td>4、专享"快易赔"上门收取理赔资料服务；</td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td>5、1万元以下、无人伤案件，资料齐全1天内结案赔付。</td>
          </tr>
        </tbody></table>
        
        <table width="100%" border="0" style="display: none;" class="car_cailiaob"  id="con_car_s_3">
          <tbody><tr>
            <th>报案电话：</th>
            <td>95590</td>
          </tr>
          <tr>
            <th>理赔材料：</th>
            <td>
               <cms:list item="attachment"  name="大地保险公司"> 
				   <span class="${attachment.Suffix}"><a href="${Site.URL}/${attachment.Path}${attachment.SrcFileName}">${attachment.Name}.${attachment.geshi}</a></span>
		       </cms:list>
            </td>
          </tr>

          <tr>
            <th>理赔查询：</th>
            <td><a target="_blank" rel="nofollow" href="http://www.95590.cn/ebiz/view/onlineBusiness/onlineServiceMain.jsp?page=sguide" class="car_linksss">查询地址&gt;</a></td>
          </tr>
          <tr>
            <th>理赔特色：</th>
            <td>1、理赔实时查询；</td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td>2、RAS快速定损；</td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td>3、全国通赔；</td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td>4、零单证理赔。</td>
          </tr>
        </tbody>
       </table>
        
        <table width="100%" border="0" class="car_cailiaob"  id="con_car_s_4" style="display: none;">
          <tbody><tr>
            <th>报案电话：</th>
            <td>95510</td>
          </tr>
          <tr>
            <th>理赔材料：</th>
            <td>
               <cms:list item="attachment"  name="阳光保险公司"> 
				   <span class="${attachment.Suffix}"><a href="${Site.URL}/${attachment.Path}${attachment.SrcFileName}">${attachment.Name}.${attachment.geshi}</a></span>
		       </cms:list>
             </td>
          </tr>
          <tr>
            <th>理赔查询：</th>
            <td><a  target="_blank" rel="nofollow" class="car_linksss" href="http://chexian.sinosig.com/service/1966.shtml">查询地址&gt;</a></td>
          </tr>
          <tr>
            <th>理赔特色：</th>
            <td>1、报案后，理赔倒计时，真快真无忧阳光"闪赔"保证金，真心承诺，全国通赔；</td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td>2、10分钟内专职理赔员联系客户；结案100%回访；</td>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <td>3、5000元以下小额案件定损时间不超过30分钟；不限制送修地点。</td>
          </tr>

        </tbody>
       </table>
    </div>
</div>
<div class="car_border_q cf">
  <div class="car_miaoshu floatl ">
	<div class="car_des_con cf">
    	<div class="car_imgss floatl"><img src="${Site.StaticResourcePath}/images/car/lc5_07.jpg" width="100" height="75"></div>
        <dl class="floatl lipei_list">
        	<dt>车险理赔注意事项</dt>
            <dd>1、及早报案。应在24小时之内通知派出所或者刑警队，在48小时内通知保险公司。</dd>
	        <dd>2、多种方式报案。可以采用电话报案、网上报案、理赔员转达报案或直接到保险公司报案。</dd>
	        <dd>3、备齐理赔资料。理赔材料准备越完善，越容易尽早获得赔偿。</dd>
	        <dd>4、保管维修票据。无论是到指定4S店进行维修还是其他维修厂，都要妥善保管维修发票。</dd>
	        <dd>5、严重交通事故需要借助权威部门的事故认定。</dd>
        </dl>
       
    </div>
    <div class="bor_xian"></div>
    <div class="car_des_con cf">
    	<div class="car_des_con cf">
    	<div class="car_imgss floatl"><img src="${Site.StaticResourcePath}/images/car/lc5_07-02.jpg" width="100" height="75"></div>
        <dl class="floatl lipei_list">
        	<dt>车险理赔技巧</dt>
            <dd>1、定损单是车险理赔依据，要妥善保管。</dd>
	        <dd>2、异地出险要及时报案，不要拖延报案时间。</dd>
	        <dd>3、发生车辆事故不要私了，尽早通过交警及保险公司解决。</dd>
	        <dd>4、小剐蹭、损失尽量不要报案。车险有一定赔付率，出险过多会影响次年保费。</dd>
	        <dd>5、熟悉车险条款，了解哪些是免赔范围，以防出险之后得不到保障。</dd>
        </dl>
       
    </div>
       
    </div>
  </div>
  <div class="news_tag floatl">
  	  	 <h2 class="car_l_title">车险理赔案例</h2>
         <ul class="special_list lipei_lists">
			<cms:list item="article" level="all" type="rand" tag="车险" count="8" name="保险理赔">
				<li><a href="${Article.link}" target="_blank">${Article.title|CharWidth=15}</a></li>
			</cms:list>
         </ul>
         
  </div>
</div>

        <div class="clear"></div>
        
			<div class="part6">
				<ul>
				<cms:list item="hotopic"  name="车险理赔指南" >
					 <% if(i==0) write("<ul class=\"special_u1 clearfix special_li_21\" id=\"min_tag_hzpp1\" >");%> 
				</cms:list>	
					<cms:list item="hotopic"  name="车险理赔指南" >
						<li class="special_li" ><em class="<% if(i==0) write("select_tab_hzpp1 first");%>"><span class="">${hotopic.name}</span></em></li>	
					</cms:list>
				</ul>
				<div class="new_special_box clearfix" id="tag_box_hzpp1"  >
					<cms:list item="hotopic"  name="车险理赔指南" >
						<ul class="special_list clearfix" style="<% if(i!=0) write("display:none;");%>">
					 		<cms:sublist item="friendlink" count="50" >
						 		<li><a href="${friendlink.url}" >${friendlink.name}</a></li>
							</cms:sublist>		
						</ul>
					</cms:list>
				</div>
			</div>
</div>

	<div class="clear"></div>
		
		<cms:include file="block/kxb_footer_new.shtml" />
		<cms:include file="block/community.shtml" />
<script type="text/javascript" src="${Site.JsResourcePath}/js/jquery.soChange-min.js"></script>
<script type="text/javascript" src="${Site.JsResourcePath}/js/car.js"></script>
</body>
</html>
