<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>申根签证首页</title>
</head>
  <link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/redesign/re_header.css">
  <link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/reset-grids.css"/>
  <link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/stencil.css"/>
  <link rel="stylesheet" type="text/css" href="${Site.StaticResourcePath}/style/new_logo.css"/>
  <style type="text/css">
  .n_footwrap{ margin-top: 0px;}
  </style>

<body>

    <div class="visa_in_bg1">
      <div class="visa_pos_box">
        <h1 class="visa_i_tit">签证保险办理全攻略</h1>
          <a href="${Site.URL}/60000102/" class="visa_a_1 visa_linkss"></a>
          <a href="${Site.URL}/60000602/" class="visa_a_2 visa_linkss"></a>
          <a href="${Site.URL}/60000702/" class="visa_a_3 visa_linkss"></a>
          <a href="${Site.URL}/60000502/" class="visa_a_4 visa_linkss"></a>
          <a href="${Site.URL}/60000202/" class="visa_a_5 visa_linkss"></a>
          <a href="${Site.URL}/60000302/" class="visa_a_6 visa_linkss"></a>
          <a href="${Site.URL}/60000402/" class="visa_a_7 visa_linkss"></a>
      </div>   
    </div>

<cms:include file="block/kxb_footer_new_common.shtml" />
<cms:include file="block/community_v1.shtml" />
<!--通用footer-->
<script type="text/javascript" src="${Site.JsResourcePath}/js/jquery.soChange-min.js"></script>
</body>
</html>